/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-ValueCheckers/isDimensionalOrDimensionlessAmount.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-ValueCheckers/isDimensionalOrDimensionlessAmount.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


p(isDimensionalOrDimensionlessAmount(2px))  // => true
p(isDimensionalAmount(2px, { considerDimensionlessZeroAsDimensionalAmount: true }))      // => true
p(isDimensionlessAmount(2px, { considerDimensionlessZeroAsDimensionlessAmount: true }))  // => false

p("-------------------------------------------------------------------------------------------------------------------")
p(isDimensionalOrDimensionlessAmount(2))    // => true
p(isDimensionalAmount(2, { considerDimensionlessZeroAsDimensionalAmount: true }))    // => false
p(isDimensionlessAmount(2 ))  // => true

p("-------------------------------------------------------------------------------------------------------------------")
p(isDimensionalAmount(0, { considerDimensionlessZeroAsDimensionalAmount: true }))    // => true
p(isDimensionalAmount(0, { considerDimensionlessZeroAsDimensionalAmount: false }))   // => false
p(isDimensionlessAmount(0))  // => true
p(isDimensionlessAmount(0))  // => true
