/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-ValueCheckers/isDimensionalOrDimensionlessAmount.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-ValueCheckers/isDimensionalOrDimensionlessAmount.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


p(isDimensionalOrDimensionlessAmount(2px))  // => true
p(isDimensionalQuantity(2px, "MUST_CONSIDER_DIMEMSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY"))  // => true
p(isDimensionlessAmount(2px, { considerDimensionlessZeroAsDimensionlessAmount: true }))  // => false

p("-------------------------------------------------------------------------------------------------------------------")
p(isDimensionalOrDimensionlessAmount(2))    // => true
p(isDimensionalQuantity(2, "MUST_CONSIDER_DIMEMSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY"))    // => false
p(isDimensionlessAmount(2))  // => true

p("-------------------------------------------------------------------------------------------------------------------")
p(isDimensionalQuantity(0, "MUST_CONSIDER_DIMEMSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY"))      // => true
p(isDimensionalQuantity(0, "MUST_NOT_CONSIDER_DIMEMSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY"))  // => false
p(isDimensionlessAmount(0))  // => true
p(isDimensionlessAmount(0))  // => true
