/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-ValueCheckers/isNaturalNumber.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-ValueCheckers/isNaturalNumber.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


p("--------")
p(isNaturalNumber(1))

p(isNaturalNumber(1.1))
p(isNaturalNumber(1e+1))
p(isNaturalNumber(-1))
p(isNaturalNumber(0))
p(isNaturalNumber(null))
p(isNaturalNumber("null"))
