extends ../../../../../PagesTemplates/RegularWebPageTemplate.pug


block append Requirements

  include ../../../../../GUI_Components.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "NumberBox Component Testing"
      },
      stylesSheetsURIs: [ "@StylesAndComponentsTesting/GUI_Components/NumberBox/NumberBox.test" ],
      scriptsURIs: {
        atEndOfBody: [ "@StylesAndComponentsTesting/GUI_Components/NumberBox/NumberBox.test" ]
      }
    });


block append PageContent

  +NumberBox--YDF({
    label: "Sample",
    minimalValue: 0,
    maximalValue: 100,
    step: 1,
    orientation: NumberBox__YDF.Orientations.horizontal
  })#SAMPLE

  +NumberBox--YDF({
    orientation: NumberBox__YDF.Orientations.vertical
  })
