@require "../../../../../Functionality.styl"
@require "../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideNumberBoxYDF_Component()
provideButtonYDF_Component()
