-

  // TODO Change first letter to lowercase
  // TODO Move this file to localization package
  const ${NAME}YDF_ComponentEnglishLocalization = {
    dismissingButton: { accessibilityGuidance: "このメッセージを隠す" }
  }
