@require "Themes/Regular/GeometricVariations/AdmonitionBlock-RegularTheme-RegularGeometry.styl"
@require "Themes/Regular/GeometricVariations/AdmonitionBlock-RegularTheme-StickyNoteLikeGeometry.styl"

@require "Themes/Regular/DecorativeVariations/AdmonitionBlock-RegularTheme-NoticeDecoration.styl"
@require "Themes/Regular/DecorativeVariations/AdmonitionBlock-RegularTheme-ErrorDecoration.styl"
@require "Themes/Regular/DecorativeVariations/AdmonitionBlock-RegularTheme-WarningDecoration.styl"
@require "Themes/Regular/DecorativeVariations/AdmonitionBlock-RegularTheme-SuccessDecoration.styl"
@require "Themes/Regular/DecorativeVariations/AdmonitionBlock-RegularTheme-GuidanceDecoration.styl"
@require "Themes/Regular/DecorativeVariations/AdmonitionBlock-RegularTheme-QuestionDecoration.styl"


AdmonitionBlock--YDF = {

  CSS_NAMESPACE: "AdmonitionBlock--YDF",

  defaultProperties: {

    themes: {
      regular: {

        componentIndependentCSS_Class: "RegularTheme--YDF",

        geometricVariations: {
          regular: AdmonitionBlock-RegularTheme-RegularGeometry--YDF,
          stickyNoteLike: AdmonitionBlock-RegularTheme-StickyNoteLikeGeometry--YDF
        },

        decorativeVariations: {
          notice: AdmonitionBlock-RegularTheme-NoticeDecoration--YDF,
          error: AdmonitionBlock-RegularTheme-ErrorDecoration--YDF,
          warning: AdmonitionBlock-RegularTheme-WarningDecoration--YDF,
          success: AdmonitionBlock-RegularTheme-SuccessDecoration--YDF,
          guidance: AdmonitionBlock-RegularTheme-GuidanceDecoration--YDF,
          question: AdmonitionBlock-RegularTheme-QuestionDecoration--YDF
        }

      }
    }

  },

  defaultOptions: {
    themeIndependentStylesOnly: false,
    areThemesCSS_ClassesCommon: false,
    themeIndependentGeometricVariations: true,
    typographyAssimilation: false
  }

}


provideAdmonitionBlockYDF_Component(
  preset = AdmonitionBlock--YDF.defaultProperties,
  overrides = {},
  options = AdmonitionBlock--YDF.defaultOptions,
  restParameters__MUST_NOT_BE...
)

  properties = deeplyCloneAndOverrideObject(preset, overrides)

  validateObjectTypeParameter({
    mixinOrFunctionName: "provideAdmonitionBlockYDF_Component",
    targetParameterNumber: 3,
    targetParameter: options,
    schema: {
      themeIndependentStylesOnly: {
        type: DataTypes--YDF.boolean,
        defaultValue: AdmonitionBlock--YDF.defaultOptions.themeIndependentStylesOnly
      },
      areThemesCSS_ClassesCommon: {
        type: DataTypes--YDF.boolean,
        defaultValue: AdmonitionBlock--YDF.defaultOptions.areThemesCSS_ClassesCommon
      },
      themeIndependentGeometricVariations: {
        type: DataTypes--YDF.boolean,
        defaultValue: AdmonitionBlock--YDF.defaultOptions.themeIndependentGeometricVariations
      },
      typographyAssimilation: {
        type: DataTypes--YDF.boolean,
        defaultValue: AdmonitionBlock--YDF.defaultOptions.typographyAssimilation
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  //- ━━━ Methods ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  applyBasicRules()

    .AdmonitionBlock--YDF

      display grid
      grid-template-areas\
          "PREPENDED_SVG_ICON TITLE DISMISSING_BUTTON"\
          "PREPENDED_SVG_ICON MAIN_CONTENT DISMISSING_BUTTON"
      grid-template-rows auto 1fr
      grid-template-columns auto minmax(0, 1fr) auto
      align-items center

      border-width 0 //* [ Why ? ] There is browser-dependent default border-width applied when set `border-style`. */


      &-SVG_Icon

        grid-area PREPENDED_SVG_ICON


      &-Title

        grid-area TITLE


      &-MainContent

        grid-area MAIN_CONTENT


      &-DismissingButton

        ButtonLikeElementsPrimer()

        cursor pointer

        grid-area DISMISSING_BUTTON


        &:focus

          outline none


        &-Icon

          display block   // [ Why? ] Te remove the extra space at bottom causes by line-height


      &-CenteredButton

        centerHorizontallyWithoutWrapper({
          targetElementType: HorizontalCenteringWithoutWrapper.TargetElementTypes.inlineBlock
        })


      &-ActionBar

        display flex
        justify-content center
        align-items center


  // ─── Geometry ──────────────────────────────────────────────────────────────────────────────────────────────────────
  applyGeometricVariation(themeName, variationName, variation)

    VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING = buildString(
      "AdmonitionBlock.${ themeName }Theme.${ variationName }Geometry",
      { themeName: themeName, variationName: variationName }
    )

    CONTEXT_SELECTOR = selector() == "&" ? null : selector()


    +provideDefaultSelectorWhenRootAndApply("." + AdmonitionBlock--YDF.CSS_NAMESPACE)

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          borders: {
            dotSeparatedPath: "rootElement.borders",
            required: false,
            applier: BordersSizing
          },
          paddings: {
            dotSeparatedPath: "rootElement.paddings",
            required: false,
            applier: Paddings
          }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.rootElement.customDeclarations)


    .AdmonitionBlock--YDF-SVG_Icon

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          width: { dotSeparatedPath: "SVG_Icon.width", required: false },
          height: {
            dotSeparatedPath: "SVG_Icon.height",
            requiredIf: {
              predicate: @(variation) { return isNull(getObjectValueByDotSeparatedPathSafely(variation, "SVG_Icon.width")) },
              conditionDescription: "'SVG_Icon.width' icon is null"
            }
          }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.SVG_Icon.customDeclarations)


    .AdmonitionBlock--YDF-Title

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight(
        merge(
          extractAndValidateObjectProperties({
            targetObject: variation,
            targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
            extracts: {
              fontSize: { dotSeparatedPath: "title.text.size", required: true },
              lineSpacing: { dotSeparatedPath: "title.text.lineSpacing", required: false },
              lineHeight: { dotSeparatedPath: "title.text.lineHeight", mustBeInsteadOf: "title.text.lineSpacing" }
            }
          }),
          { mustAllowWordsBreakingAnywhere: true }
        )
      )

      retireFrom({
        targetElementSelector: ".AdmonitionBlock--YDF-SVG_Icon",
        referenceElementSelector: ".AdmonitionBlock--YDF-Title",
        contextSelector: CONTEXT_SELECTOR,
        x: extractAndValidateObjectProperties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          extracts: {
            spacingAfterSVG_Icon: { dotSeparatedPath: "title.spacing.afterSVG_Icon", required: true }
          }
        }).spacingAfterSVG_Icon
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.title.customDeclarations)


    .AdmonitionBlock--YDF-MainContent

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight(
        extractAndValidateObjectProperties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          extracts: {
            fontSize: { dotSeparatedPath: "mainContent.text.size", required: true },
            lineSpacing: { dotSeparatedPath: "mainContent.text.lineSpacing", required: false },
            lineHeight: { dotSeparatedPath: "mainContent.text.lineHeight", mustBeInsteadOf: "mainContent.text.lineSpacing" }
          }
        })
      )

      retireFrom({
        targetElementSelector: ":is(.AdmonitionBlock--YDF-SVG_Icon, .AdmonitionBlock--YDF-SVG_Icon + .AdmonitionBlock--YDF-Title)",
        referenceElementSelector: ".AdmonitionBlock--YDF-MainContent",
        contextSelector: CONTEXT_SELECTOR,
        x: extractAndValidateObjectProperties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          extracts: {
            afterSVG_Icon: { dotSeparatedPath: "mainContent.spacing.afterSVG_Icon", required: true }
          }
        }).afterSVG_Icon
      })

      retireFrom({
        targetElementSelector: ".AdmonitionBlock--YDF-Title",
        referenceElementSelector: ".AdmonitionBlock--YDF-MainContent",
        contextSelector: CONTEXT_SELECTOR,
        y: extractAndValidateObjectProperties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          extracts: {
            afterTitle: { dotSeparatedPath: "mainContent.spacing.afterTitle", required: true }
          }
        }).afterTitle
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.mainContent.customDeclarations)


    .AdmonitionBlock--YDF-DismissingButton

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          margin-left: {
            dotSeparatedPath: "dismissingButton.spacing.afterMainContent",
            required: true
          }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.dismissingButton.customDeclarations)


    .AdmonitionBlock--YDF-DismissingButton-Icon

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          width: { dotSeparatedPath: "dismissingButton.SVG_Icon.width", required: false },
          height: {
            dotSeparatedPath: "dismissingButton.SVG_Icon.height",
            requiredIf: {
              predicate: @(variation) {
                return isNull(getObjectValueByDotSeparatedPathSafely(variation, "dismissingButton.SVG_Icon.width"))
              },
              conditionDescription: "'dismissingButton.SVG_Icon.width' icon is null"
            }
          }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.dismissingButton.SVG_Icon.customDeclarations)


    .AdmonitionBlock--YDF-CenteredButton

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          margin-top: { dotSeparatedPath: "centeredButton.spacing.top", required: true }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.centeredButton.customDeclarations)


    .AdmonitionBlock--YDF-ActionBar

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          margin-top: { dotSeparatedPath: "actionBar.spacing.top", required: true },
          column-gap: { dotSeparatedPath: "actionBar.spacing.betweenChildrenElements", required: true }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.actionBar.customDeclarations)


  // ─── Decoration ────────────────────────────────────────────────────────────────────────────────────────────────────
  applyDecorativeVariation(themeName, variationName, variation)

    VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING = buildString(
      "AdmonitionBlock.${ themeName }Theme.${ variationName }Decoration",
      { themeName: themeName, variationName: variationName }
    )


    +provideDefaultSelectorWhenRootAndApply("." + AdmonitionBlock--YDF.CSS_NAMESPACE)

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          border-style: { dotSeparatedPath: "rootElement.borders.style", required: false },
          border-color: { dotSeparatedPath: "rootElement.borders.color", required: false },
          background-color: { dotSeparatedPath: "rootElement.background.color", required: false },
          background-image: { dotSeparatedPath: "rootElement.background.image", required: false }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.rootElement.customDeclarations)


    .AdmonitionBlock--YDF-SVG_Icon

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          fill: { dotSeparatedPath: "SVG_Icon.color", required: false },
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.SVG_Icon.customDeclarations)


    .AdmonitionBlock--YDF-Title

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          font-weight: { dotSeparatedPath: "title.text.fontWeight", required: false },
          color: { dotSeparatedPath: "title.text.color", required: false }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.title.customDeclarations)


    .AdmonitionBlock--YDF-MainContent

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          font-weight: { dotSeparatedPath: "mainContent.font.weight", required: false },
          color: { dotSeparatedPath: "mainContent.font.color", required: false }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.mainContent.customDeclarations)


    DismissingButtonStyles(state)

      statePseudoClass = null

      if (state == "hoverState")

        statePseudoClass = ":hover"

      else if (state == "focusVisibleState")

        statePseudoClass = ":focus-visible"

      else if (state == "activeState")

        statePseudoClass = ":active"


      .AdmonitionBlock--YDF-DismissingButton{statePseudoClass}

        validateAndAssignStoredInObjectCSS_Properties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          assigments: {
            box-shadow: {
              dotSeparatedPath: "dismissingButton." + state + ".shadow",
              required: false,
              applier: applyObjectTypeBoxShadowDefinition
            }
          }
        })


      SVG_IconStyles()

        validateAndAssignStoredInObjectCSS_Properties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          assigments: {
            fill: { dotSeparatedPath: "dismissingButton." + state + ".iconColor", required: true }
          }
        })


      if (isNull(statePseudoClass))

        .AdmonitionBlock--YDF-DismissingButton-Icon

          SVG_IconStyles()

      else

        .AdmonitionBlock--YDF-DismissingButton{statePseudoClass} .AdmonitionBlock--YDF-DismissingButton-Icon

          SVG_IconStyles()


    for state in variation.dismissingButton

      DismissingButtonStyles(state)


    // ─── Typography Assimilation (Experimental) ──────────────────────────────────────────────────────────────────────
    if isNotNull(variation.typographyAssimilation)

      assimilatedTypography = {
        elements: {}
      }

      for elementKey, elementDecorationOverridings in variation.typographyAssimilation

        assimilatedTypography.elements[elementKey] = deeplyCloneAndOverrideObject(
          YDF_TypographyDefaultDefinitions.elements[elementKey], { decoration: elementDecorationOverridings }
        )


      +provideDefaultSelectorWhenRootAndApply("." + AdmonitionBlock--YDF.CSS_NAMESPACE)

        provideYDF_Typography(
          preset: assimilatedTypography,
          options: { decorationOnly: true }
        )


  //- ━━━ Applying ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  applyBasicRules()

  applyComponentThemes({
    CSS_Namespace: AdmonitionBlock--YDF.CSS_NAMESPACE,
    themes: properties.themes,
    applyGeometricVariation: applyGeometricVariation,
    applyDecorativeVariation: applyDecorativeVariation
  })
