mixin ArticleAbstract--YDF(properties)

  -

    properties = properties ?? {}

    const {

    } = properties

  section.ArticleAbstract--YDF&attributes(attributes)(
    role="doc-abstract"
    aria-label="Abstract"
  )
    block
