mixin ArticleAbstract--YDF(properties, statesSimulations)

  -

    properties = properties ?? {} // TODO 必須プロパティが有る場合削除
    statesSimulations = statesSimulations ?? {} // TODO 必須シミュレーションが有る場合削除

    const {

    } = properties

    const {

    } = statesSimulations


  .ArticleAbstract&attributes(attributes)
