/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/04-Quantities/computeTotalHeightByTextElementHeightSizingSpecification.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/04-Quantities/computeTotalHeightByTextElementHeightSizingSpecification.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


// [ Explanation ]
// For the natural height sizing type, the font size and line height (or line spacing) are required.
// If `fixedLinesCount` has not been specified, it assumed to be 1.
// Although we can say that in this case the total height will be 14px, generally it could not be definitively calculated
//   thus the returned value is always the calc expression (in this case - calc(14px)),
// The PostCSS optimization could simplify it to `14px`.
testForEquality(
  "In 'fontSize: 10px' and 'lineHeight: 14px' only has been specified, the total hegiht will be 14px.",
  computeTotalHeightByTextElementHeightSizingSpecification({
    type: TextElementHeightSizingTypes--YDF.natural,
    fontSize: 10px,
    lineHeight: 14px
  }),
  "calc(14px)"
)

testForEquality(
  "Vertical symmetric bordres has been included correctly",
  computeTotalHeightByTextElementHeightSizingSpecification({
    type: TextElementHeightSizingTypes--YDF.natural,
    fontSize: 10px,
    lineHeight: 14px,
    borders: {
      verticalSymmetric: 1px
    }
  }),
  "calc(2px + 14px)"
)

testForEquality(
  "Vertical asymmetric bordres has been included correctly",
  computeTotalHeightByTextElementHeightSizingSpecification({
    type: TextElementHeightSizingTypes--YDF.natural,
    fontSize: 10px,
    lineHeight: 14px,
    borders: {
      top: 1px,
      bottom: 2px
    }
  }),
  "calc(1px + 2px + 14px)"
)

testForEquality(
  "Vertical symmetric paddings has been included correctly",
  computeTotalHeightByTextElementHeightSizingSpecification({
    type: TextElementHeightSizingTypes--YDF.natural,
    fontSize: 10px,
    lineHeight: 14px,
    borders: {
      verticalSymmetric: 1px
    },
    paddings: {
      verticalSymmetric: 6px
    }
  }),
  "calc(2px + 12px + 14px)"
)

testForEquality(
  "Vertical assymetic paddings has been included correctly",
  computeTotalHeightByTextElementHeightSizingSpecification({
    type: TextElementHeightSizingTypes--YDF.natural,
    fontSize: 10px,
    lineHeight: 14px,
    borders: {
      verticalSymmetric: 1px
    },
    paddings: {
      top: 8px,
      bottom: 10px
    }
  }),
  "calc(2px + 8px + 10px + 14px)"
)
