-

  generatePageTableOfContents = localizedHeadings => {

    return {

      problematics: {
        $heading: localizedHeadings.problematics,
        $anchor: "PROBLEMATICS",
        get $URI() { return `${ localizedRouting.coreLibrary.$children.components.$URI }#${ this.$anchor }`; }
      },

      example: {
        $heading: localizedHeadings.example,
        $anchor: "EXAMPLE",
        get $URI() { return `${ localizedRouting.coreLibrary.$children.components.$URI }#${ this.$anchor }`; }
      }

    };

  };
