include DummyImagesURIs.toc.pug


-

  localizedRouting.coreLibrary.$children.
      markup.$children.
      functionality.$children.
      inlineJavaScript.$children.
      assets.$children.
      DummyImagesURIs.$sectioning = generatePageTableOfContents(
        {
          problematics: "Problematics",
          example: "Example"
        }
      );
