extends ../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPageTemplate.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "Badge Component Testing"
      },
      scriptsURIs: {
        atEndOfBody: [ "@Workbenches/GUI_Components/Badge/Badge.workbench" ]
      }
    });


block append PageContent

  #APPLICATION
