extends ../../PagesTemplates/StaticPreviewAnywherePageTemplate.pug


block append Metadata

  -

    StaticPreviewAnywherePage__YDF.configure({

      metadata: {
        title: "Workbenches"
      },

      topHeading: "Workbenches",

      tableOfContents: [

        {

          heading: "Assets",

          pages: [

            {
              title: "YDF Color Palette",
              URI: "@Workbenches/Assets/Colors/YDF_ColorPalette.workbench",
              progressStatus: StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted
            }

          ]

        },

        {

          heading: "GUI Components",

          pages: [

            {
              title: "AdmonitionBlock",
              URI: "@Workbenches/GUI_Components/AdmonitionBlock/AdmonitionBlock.workbench",
              progressStatus: StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted
            },

            {
              title: "Badge",
              URI: "@Workbenches/GUI_Components/Badge/Badge.workbench",
              progressStatus: StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted
            }

          ],

          sections: [

            {

              heading: "Controls",

              pages: [

                {
                  title: "DateTimePicker",
                  URI: "@Workbenches/GUI_Components/Controls/DateTimePicker/DateTimePicker.workbench",
                  progressStatus: StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationInProgress
                }

              ]

            }

          ]

        },

        {

          heading: "Pages Templates",

          pages: [

            {
              title: "Static Preview Anywhere Page",
              URI: "@Workbenches/PagesTemplates/StaticPreviewAnywherePage.workbench.pug",
              progressStatus: StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted
            }

          ]

        }

      ]
    });
