@require "../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


TableDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//tableDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================

provideTableYDF_Component(
  overridings: tableDemoDefaultPropertiesOverriding
)

provideTableYDF_Component()


@require "../../../../Galleries/GUI_Components/Typography/Table/TableGallery.styl"
