provideConsoleOutputYDF_Component()

  .ConsoleOutput--YDF

    overflow-x auto

    background-color: ShadesOfGray__39ColorsW3C_Palette[12]


    samp

      font-family Consolas, monaco, SmoothJapaneseFontsForMonospaceFontStacks, monospace

      color white
