ConsoleOutput--YDF = {

  CSS_NAMESPACE: "ConsoleOutput--YDF"

}


provideConsoleOutputYDF_Component()

  .ConsoleOutput--YDF

    padding 0.6rem
    overflow-x auto

    background-color: ShadesOfGray__39ColorsW3C_Palette[12]


    samp

      font-family Consolas, monaco, SmoothJapaneseFontsForMonospaceFontStacks, monospace
      font-size 1rem
      line-height 1.4
      color white
