extends ../../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../../../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = buildHTML_PageTitle("buildEmailLinkHrefAttributeValue");
    HTML_PageMetaData = {
      description: MetaDescriptionTemplates.pugFunction({
        functionName: "buildEmailLinkHrefAttributeValue",
        whatFunctionDoes:
            "単一の引数として渡されたメールアドレスを使用して、HTMLのaタグのhref属性の値を生成する。" +
            "描画されたリンクをクリックまたはタップすると、新規メールの送信を提案するような状態で、メールソフトウェアが起動する。"
      }),
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Layouts/TwoColumns/TwoColumnsLayout", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "$CommonLogic" ];

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.markup.functionality.inlineJavaScript.functionsAndClasses.$children.buildEmailLinkHrefAttributeValue"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./buildEmailLinkHrefAttributeValue.english.html",
      russian: "./buildEmailLinkHrefAttributeValue.russian.html"
    });


block append HeadScriptsLinks

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "buildEmailLinkHrefAttributeValue",
      localizedDescriptiveHeading: "メールアドレスのリンクの、「href」属性の値を構築する",
      headingTag: "h1",
      parametersSpecification: [
        {
          genericTechnicalName: "emailAddress",
          localizedName: "メールアドレス",
          type: "string",
          required: true
        }
      ],
      returnedValue: "string"
    })

    p.Article-Paragraph.
      #[+Keyword--YDID 単一の]#[+Term--YDID 引数]として渡されたメールアドレス宛に、メールソフトウェアが新規メールを送信する事を提案する様な、
        #[+Term--YDID HTML]の#[+ImportantEntity__Code--YDID a]#[+Term--YDID タグ]の#[+ImportantEntity__Code--YDID href]
        #[+Term--YDID 属性]の値を生成する。
      描画される#[+Term--YDID リンク]をクリック又はタップすると、メールソフトウェアが起動する。

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }).

        - const targetEmailAddress = "sample@example.com";

        a(
          href=buildEmailLinkHrefAttributeValue(targetEmailAddress)
        )= targetEmailAddress

    p.Article-Paragraph.
      此の#[+Term--YDID 関数]が行うのは、適切なメールアドレスと期待される、指定された#[+Term--YDID 文字列]の前に、
        #[+ImportantEntity__Code--YDID mailto:]を追加する#[+Keyword--YDID のみ]である。
      使用しているコードエディター、又は#[+Term--YDID 統合開発環境]で、原型に応じたオートコンプリート機能が利用出来ない場合は、此の#[+Term--YDID 関数]は
        役に立たないかもしれない。
      #[+ImportantEntity__Code--YDID mailto:]にしろ、#[+ImportantEntity__Code--YDID buildEmailLinkHrefAttributeValue]
        #[+Term--YDID 関数]名にしろ、暗記してしまうか、毎回リファレンスを参照する事が必要に成る為だ。

    p.Article-Paragraph
      | 原型に応じたオートコンプリート機能が利用出来る場合は、#[+SecondaryEntity__Code--YDID buildE...]と入力し始めると、ポップアップヒントが表示される。
      | 其れ以降の手順は、コードエディターや#[+Term--YDID 統合開発環境]に依って異なる。
      | #[+Term--YDID 統合開発環境]
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }).Article-Link.
        IntelliJ IDEA ファミリー
      |   で、
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDF_Plugin }).Article-Link YDFの正式なプラグイン
      |   として提供される
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }).Article-Link Live Template
      |   と言う機能の場合、#[+Keyword--YDID 予め]#[+Term--YDID クリップボード]にコピーされた値が、#[+Keyword--YDID 単一の]#[+Term--YDID 引数]
      |   の位置に代入される為、#[+ImportantEntity__Code--YDID href]#[+Term--YDID 属性]の値はキーを3～4回程度押すだけで済むはずである
      |   （他のオートコンプリートの数に依る）。

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/CoreLibrary/Markup/Functionality/InlineJavaScript/FunctionsAndClasses/" +
          "buildEmailLinkHrefAttributeValue/Images/buildEmailLinkHrefAttributeValue-LiveTemplate",
      imageAlternateText:
          "統合開発環境「IntelliJ IDEA」ファミリーの機能、「Live Templates」を利用した、「Yamato Daiwa Frontend」（略：「YDF」）ライブラリの" +
          "「buildEmailLinkHrefAttributeValue」関数呼び出し表現の入力支援",
      maximalWidth__anyValidCSS_Value: "600px",
      autoAspectRatioByYDA: true
    })
