extends ../../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../../../../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("buildEmailLinkHrefAttributeValue"),
        description: MetaDescriptionTemplates.pugFunction({
          functionName: "buildEmailLinkHrefAttributeValue",
          whatFunctionDoes:
              "generates such value of the HTML attribute \"href\" for the\"a\" tag as once final link has been " +
                "clicked or tapped, the email software will be opened and it will be suggested to compose the new " +
                "email to the address specified via single parameter."
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.markup.functionality.inlineJavaScript.functionsAndClasses.buildEmailLinkHrefAttributeValue"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.coreLibrary.$children.markup.$children.functionality.$children.
          inlineJavaScript.$children.functionsAndClasses.$children.buildEmailLinkHrefAttributeValue.$URI,
      russian: routing.russian.coreLibrary.$children.markup.$children.functionality.$children.
          inlineJavaScript.$children.functionsAndClasses.$children.buildEmailLinkHrefAttributeValue.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "buildEmailLinkHrefAttributeValue",
      headingTag: "h1",
      parametersSpecification: [
        {
          genericTechnicalName: "emailAddress",
          type: "string",
          required: true
        }
      ],
      returnedValue: "string"
    })

    +PageNotReadyApology--YDPD({ currentState: PageNotReadyApology__YDPD.States.notCheckedByNativeSpeakers })

    p.Article-Paragraph.
      Generates the value for the #[+ImportantEntity__Code--YDID href] #[+Term--YDID HTML attribute] of an
        #[+Term--YDID anchor] (#[+ImportantEntity__Code--YDID a]) #[+Term--YDID tag].
      When the resulting link is clicked or tapped, it opens the email software and suggests composing a new email
        to the specified address passed as a #[+Keyphrase--YDID single] #[+Term--YDID parameter].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }).

        - const targetEmailAddress = "sample@example.com";

        a(
          href=buildEmailLinkHrefAttributeValue(targetEmailAddress)
        )= targetEmailAddress

    p.Article-Paragraph.
      This #[+Term--YDID function] appends #[+ImportantEntity__Code--YDID "mailto:"] to the provided
        #[+Term--YDID string value], which is expected to be a valid email address.
      If your code editor or #[+Term--YDID Integrated Development Environment] (#[+Term--YDID IDE]) lacks template
        autocompletion functionality, this #[+Term--YDID function] may not&nbsp;be as convenient.
      Without autocompletion, you would need to memorize either #[+ImportantEntity__Code--YDID "mailto:"] or the
        #[+Term--YDID function] name #[+ImportantEntity__Code--YDID buildEmailLinkHrefAttributeValue].
      If you forget, which is common, you will need to refer to the documentation each time.


    p.Article-Paragraph
      | If your code editor or #[+Term--YDID IDE] supports template autocompletion, entering
      |   #[+ImportantEntity__Code--YDID "buildE..."] is usually sufficient to trigger a popup hint.
      | The subsequent actions depend on how autocomplete is implemented.
      | For instance, with the
      |
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }) Live Templates
      |   from the
      |
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDF_Plugin }) official YDF plugin
      |   for the
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs
      }) IntelliJ IDEA family IDEs
      |
      |   the value, previously copied to the clipboard, is automatically inserted into the position of the
      |   single #[+Term--YDID parameter].
      | Thus, completing the input of the #[+ImportantEntity__Code--YDID href] #[+Term--YDID attribute] using the
      |   #[+ImportantEntity__Code--YDID buildEmailLinkHrefAttributeValue] #[+Term--YDID function] typically requires
      |   only 3-4 keystrokes (depending on the number of other suggested autocompletions):

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/CoreLibrary/Markup/Functionality/InlineJavaScript/FunctionsAndClasses/" +
          "buildEmailLinkHrefAttributeValue/Images/buildEmailLinkHrefAttributeValue-LiveTemplate",
      imageAlternateText:
          "Efficiently calling 'buildEmailLinkHrefAttributeValue' in the Yamato Daiwa Frontend (YDF) library using " +
            "'Live Templates functionality' in IntelliJ IDEA family Integrated Development Environments.",
      maximalWidth__anyValidCSS_Value: "600px",
      autoAspectRatioByYDA: true
    })
