retireFrom(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "retireFrom",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      targetElementSelector: {
        type: DataTypes--YDF.string,
        requiredIf: {
          predicate: @(compoundParameter) { return isNull(compoundParameter.definitions) },
          descriptionForLogging: "The 'definitions' are not specified"
        }
      },
      x: {
        type: DataTypes--YDF.dimensionalQuantity,
        required: false
      },
      y: {
        type: DataTypes--YDF.dimensionalQuantity,
        required: false
      },
      usePaddingsInsteadOfMargins: {
        type: DataTypes--YDF.boolean
      },
      definitions: {
        type: DataTypes--YDF.string,
        required: false,
        incompatibleWith: "targetElementSelector" "x" "y" "usePaddingsInsteadOfMargins"
      },
      contextSelector: {
        type: DataTypes--YDF.string,
        required: false
      },
      referenceElementSelector: {
        type: DataTypes--YDF.string,
        defaultValue: selector()
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  if (isNotNull(compoundParameter.definitions)) {

    iterateAssociativeArray(compoundParameter.definitions, @(targetElementSelector, definition) {

      definition.retireFromIt = {
        x: definition.x,
        y: definition.y,
        usePaddingsInsteadOfMargins: definition.usePaddingsInsteadOfMargins
      }

      // [ Approach ] Delete became unnecessary properties
      definition.x = null
      definition.y = null
      definition.usePaddingsInsteadOfMargins = null
    });

    definitions = compoundParameter.definitions

  } else {
    definitions = (\
      compoundParameter.targetElementSelector\
      {
        retireFromIt: { x: compoundParameter.x, y: compoundParameter.y },
        usePaddingsInsteadOfMargins: compoundParameter.usePaddingsInsteadOfMargins
      }
    )
  }

  PositionalRelationship({
    definitions: definitions,
    contextSelector: compoundParameter.contextSelector,
    referenceElementSelector: compoundParameter.referenceElementSelector
  })
