whenItGoingLast(compoundParameter = {}, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "whenItGoingLast",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
      schema: {
        verticalSpaceBelow: {
        type: DataTypes.dimensionalQuantity
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  &:last-child

    {block}

    applyIfNotNull({ margin-bottom: compoundParameter.verticalSpaceBelow })
