whenItGoingFirst(compoundParameter = {}, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "whenItGoingFirst",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
      schema: {
        verticalSpaceAbove: {
        type: DataTypes.dimensionalAmount
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  &:first-child

    {block}

    applyIfNotNull({ margin-top: compoundParameter.verticalSpaceAbove })
