-

  const AdmonitionBlockComponentPropertiesSpecification = {

    typeName: "Properties",

    propertiesSpecification: {

      ...AdmonitionBlock__YDF.propertiesSpecification,

      SVG_Icon: {

        type: RawObjectDataProcessor.ValuesTypesIDs.oneOf,
        required: false,

        alternatives: [
          { type: Boolean },
          {
            type: "React.ElementType<{ className: string; }>",
            required: false
          }
        ]

      },

      theme: {
        ...AdmonitionBlock__YDF.propertiesSpecification.theme,
        defaultValue: "AdmonitionBlock.Themes.regular",
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.theme.allowedAlternatives.map(
          ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      areThemesCSS_ClassesCommon: {
        ...AdmonitionBlock__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
        defaultValue: "AdmonitionBlock.areThemesCSS_ClassesCommon"
      },

      geometricVariation: {
        ...AdmonitionBlock__YDF.propertiesSpecification.geometricVariation,
        defaultValue: "AdmonitionBlock.GeometricVariations.regular",
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.geometricVariation.allowedAlternatives.map(
          ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      decorativeVariation: {
        ...AdmonitionBlock__YDF.propertiesSpecification.decorativeVariation,
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.decorativeVariation.allowedAlternatives.map(
                ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      className: {
        type: String,
        required: false
      },

      actionBarContent: {
        type: "React.ReactNode",
        required: false
      },

      rootElementAttributes: {
        type: RawObjectDataProcessor.ValuesTypesIDs.associativeArrayOfUniformTypeValues,
        defaultValue: {},
        value: {
          type: String,
          minimalCharactersCount: 1
        }
      }

    },

    /** @param { Object<string, string> } localizedInterpretations */
    setPropertiesLocalizedInterpretations(localizedInterpretations) {
      for (const [propertyName, localizedInterpretation] of Object.entries(localizedInterpretations)) {
        this.propertiesSpecification[propertyName].localizedInterpretation = localizedInterpretation;
      }
    }

  };
