extends ../PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  - HTML_PAGE_TITLE = "Tests";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  +PageLink({
    label: "Typography",
    URI: "./05-Typography/Typography.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  h2.AnywherePage-PagesGroupHeading Assets

  +PageLink({
    label: "YDF Color palette",
    URI: "./Assets/Colors/YDF_ColorPalette.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  h2.AnywherePage-PagesGroupHeading Mixins

  h2.AnywherePage-PagesGroupHeading Components

  +PageLink({
    label: "AttentionBox",
    URI: "./Components/AttentionBox/AttentionBox.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "Badge",
    URI: "./Components/Badge/Badge.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "OverflowSafeSingleLineLabel",
    URI: "./Components/OverflowSafeSingleLineLabel/OverflowSafeSingleLineLabel.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  +PageLink({
    label: "Button",
    URI: "./Components/Controls/Buttons/Plain/Button.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "DropDownList",
    URI: "./Components/Controls/DropDownList/DropDownList.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "TextBox",
    URI: "./Components/Controls/TextBox/TextBox.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "Snackbar",
    URI: "./Components/Snackbar/Snackbar.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "CodeViewer",
    URI: "./Components/Viewers/CodeViewer/CodeViewer.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })


  h2.AnywherePage-PagesGroupHeading Pages templates

  +PageLink({
    label: "StaticPreviewAnywherePageDemo",
    URI: "./PagesTemplates/StaticPreviewAnywherePageDemo.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })


  h2.AnywherePage-PagesGroupHeading YDEE (BrowserJS)

  +PageLink({
    label: "getExpectedToBeSingleChildOfTemplateElement",
    URI: "../Components/YDEE/getExpectedToBeSingleChildOfTemplateElement/getExpectedToBeSingleChildOfTemplateElement.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

