extends ../PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  - HTML_PAGE_TITLE = "Tests";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  +PageLink({
    label: "Typography",
    URI: "./05-Typography/Typography.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })


  h2.AnywherePage-PagesGroupHeading Mixins

  h2.AnywherePage-PagesGroupHeading Components

  +PageLink({
    label: "AttentionBox",
    URI: "./Components/AttentionBox/AttentionBox.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  +PageLink({
    label: "OverflowSafeSingleLineLabel",
    URI: "./Components/OverflowSafeSingleLineLabel/OverflowSafeSingleLineLabel.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  +PageLink({
    label: "Button",
    URI: "./Components/Controls/Buttons/Plain/Button.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  h2.AnywherePage-PagesGroupHeading Pages templates

  +PageLink({
    label: "StaticPreviewAnywherePageDemo",
    URI: "./PagesTemplates/StaticPreviewAnywherePageDemo.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })
