mixin Triangle__Rightward__Circled__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20ZM7.5 14.5v-9l7 4.5-7 4.5Z")
