mixin Triangle__Leftward__Circled__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M0 10a10 10 0 1 0 20 0 10 10 0 0 0-20 0Zm5.5 0 7-4.5v9l-7-4.5Z")
