/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/01-Sizing/01-Width/WidthSizing.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/01-Sizing/01-Width/WidthSizing.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Element1

  WidthSizing({
    fixedWidth: 120px
  })


.Element2-1

  WidthSizing({
    minimalWidth: 120px,
    maximalWidth: 240px
  })


.Element2-2

  WidthSizing({
    minimalWidth: 120px,
    maximalWidth: 240px,
    takeMaximumSpaceAsPossible: true
  })


.Element3

  WidthSizing({
    leftOrRightSymmetricBordersWidths: 1px,
    leftOrRightSymmetricPaddings: 8px
  })


.Element4

  WidthSizing({
    leftBorderWidth: 1px,
    rightBorderWidth: 2px,
    leftPadding: 8px,
    rightPadding: 12px
  })


.Element5-1

  WidthSizing({
    fixedWidth: 200px,
    isExplicitBorderNoneDeclarationRequired: true,
    isExplicitPaddingZeroDeclarationRequired: true
  })


.Element5-2

  WidthSizing({
    leftBorderWidth: 1px,
    isExplicitBorderNoneDeclarationRequired: true,
    rightPadding: 12px,
    isExplicitPaddingZeroDeclarationRequired: true
  })


.Element5-3

  WidthSizing({
    leftBorderWidth: 1px,
    rightBorderWidth: 2px,
    isExplicitBorderNoneDeclarationRequired: true,
    leftPadding: 8px,
    rightPadding: 12px,
    isExplicitPaddingZeroDeclarationRequired: true
  })
