extends ../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../Components/LoadingIndicator/LoadingIndicatorDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "LoadingIndicator component demo";
    styleSheetsURIs = [ "@Demos/Components/LoadingIndicator/LoadingIndicator" ]


block append PageContent

  .ComponentTestingPageContent

    +LoadingIndicatorDemo
