/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/02-Positioning/VerticallyCenteredAbsolutelyPositionedBlock.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/02-Positioning/VerticallyCenteredAbsolutelyPositionedBlock.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Test1

  VerticallyCenteredAbsolutelyPositionedBlock()


.Test2

  VerticallyCenteredAbsolutelyPositionedBlock({ upwardShifting: 1px })
