// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/06-ParametersValidation/validateSingleParametersObject.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/06-ParametersValidation/validateSingleParametersObject.test.css --include Styles


@require "../../../../../../Functionality.styl"


// --- Wrong parameter type test
// buildBEM_Class("ALPHA")

// --- Forbid subsequent parameters test
// buildBEM_Class({}, "ALPHA")

// --- Required property absence
// buildBEM_Class({ element: "Icon" })

// --- Conditional requirement
//.Sample
//
//  textBoxLikeElementsHeightSizing({
//    type: TextBoxLikeElementsHeightSizing.Types.fixed,
//    //fixedHeight: 40px
//  })


// --- Default values
//p(buildBEM_Class({
//  block: "Component",
//  element: "Element",
//  modifier: "Modifier",
//  elementSeparator: "--",
//  modifierSeparator: "_"
//}))
//
//
//p(buildBEM_Class({
//  block: "Component",
//  element: "Element",
//  modifier: "Modifier"
//}))

// --- Required property absence
//buildBEM_Class({ block: 1 })


// --- Incompatible parameters
//widthSizing({
//  fixedWidth: 100px,
//  minimalWidth: 80px
//})


// --- Allowed values
//.Sample
//
//  textBoxLikeElementsHeightSizing({
//    type: "FOO",
//    fixedHeight: 40px
//  })

//
//computeTotalHeight = TextBoxLikeElementsHeightSizing.computeTotalHeight
//
//p("----")
//p(computeTotalHeight({
//  type: TextBoxLikeElementsHeightSizing.Types.fixed,
//  fixedHeight: 40px
//}))
