-

  class Blockquote__YDF {

    static CSS_NAMESPACE = "Blockquote--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    static defineThemes(themesNames) {
      return ComponentsAuxiliaries.defineThemes(themesNames, Blockquote__YDF);
    }

    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    static considerThemesAsCommon() {
      Blockquote__YDF.areThemesCSS_ClassesCommon = true;
      return Blockquote__YDF;
    }


    /* ─── Geometric Variations ───────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = { regular: "REGULAR" };

    static defineGeometricVariations(geometricVariationsNames) {
      return ComponentsAuxiliaries.defineGeometricVariations(geometricVariationsNames, Blockquote__YDF);
    }


    /* ─── Decorative Variations ──────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = { regular: "REGULAR" };

    static defineDecorativeVariations(decorativeVariationsNames) {
      return ComponentsAuxiliaries.defineDecorativeVariations(decorativeVariationsNames, Badge__YDF);
    }


    /* ━━━ Properties Specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      authorPhotoURI: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      authorPhotoAlternatingText: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      publicationPhotoURI: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      publicationPhotoAlternatingText: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      theme: {
        type: String,
        defaultValue: Blockquote__YDF.Themes.regular,
        allowedAlternatives: Object.
            entries(Blockquote__YDF.Themes).
            map(([ key, value ]) => ({ key: `Blockquote__YDF.Themes.${ key }`, value }))
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        defaultValue: Blockquote__YDF.areThemesCSS_ClassesCommon
      },

      geometricVariation: {
        type: String,
        defaultValue: Blockquote__YDF.GeometricVariations.regular,
        allowedAlternatives: Object.
            entries(Blockquote__YDF.GeometricVariations).
            map(([ key, value ]) => ({ key: `Blockquote__YDF.GeometricVariations.${ key }`, value }))
      },

      decorativeVariation: {
        type: String,
        defaultValue: Blockquote__YDF.DecorativeVariations.regular,
        allowedAlternatives: Object.
            entries(Blockquote__YDF.DecorativeVariations).
            map(([ key, value ]) => ({ key: `Blockquote__YDF.DecorativeVariations.${ key }`, value }))
      },

    }

  }
