Table-RegularTheme-RegularGeometry--YDF = {

  rootElement: {

    customDeclarations: null

  },

  rows: {

    all: {

    },

    head: {

    },

    body: {

    },

    foot: {

    }

  },

  cells: {

    all: {
      paddings: {
        horizontalSymmetric: 0.2rem,
        verticalSymmetric: 0.3rem
      }
    },

    head: {

    },

    body: {

    },

    foot: {

    }

  }

}
