extends ../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Data

  -

    const ParameterMetadataJapaneseLocalization = {
      buildParametersNumberLabel: ({ parameterNumber }) => `${ parameterNumber }パラメーター目`,
      requirementLabels: {
        required: "必須",
        optional: "任意",
        hasDefaultValue: "規定値有り"
      },
      tableKeys: {
        genericTechnicalName: "一般技術名",
        localizedName: "Localized name",
        type: "型"
      }
    };

    const ParameterMetadataRussianLocalization = {
      buildParametersNumberLabel: ({ parameterNumber }) => `Параметр №${ parameterNumber }`,
      requirementLabels: {
        required: "Обязательный",
        optional: "Необязательный",
        hasDefaultValue: "Имеется значение по умолчанию"
      },
      tableKeys: {
        genericTechnicalName: "Общее техническое наименование",
        localizedName: "Localized name",
        type: "Тип"
      }
    };



block append Requirements

  include ../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../Components.pug


block append Metadata

  - styleSheetsURIs = [ "./CallableExpressionScheme.test.css" ]


block append PageContent

  .CallableExpressionSchemeTestSite

    h1.Heading1 CallableExpressionScheme
    h2.Heading2 Simplest case

    +CallableExpressionScheme--YDF_DK({
      technicalName: "areStringifiedDigitsOnly",
      parametersSpecification: [
        {
          genericTechnicalName: "targetString",
          type: "string",
          required: true
        }
      ],
      returnedValue: "boolean"
    })


    - ParameterMetadata__YDF_DK.localization = ParameterMetadataJapaneseLocalization

    +CallableExpressionScheme--YDF_DK({
      technicalName: "areStringifiedDigitsOnly",
      localizedDescriptiveHeading: "文字列化した数字ばかりであるか",
      parametersSpecification: [
        {
          genericTechnicalName: "targetString",
          localizedName: "目標的文字列",
          type: "string",
          required: true
        }
      ],
      returnedValue: "boolean"
    })(lang="ja")


    - ParameterMetadata__YDF_DK.localization = ParameterMetadataRussianLocalization

    +CallableExpressionScheme--YDF_DK({
      technicalName: "areStringifiedDigitsOnly",
      localizedDescriptiveHeading: "Включает ли в себя строка только цифры",
      parametersSpecification: [
        {
          genericTechnicalName: "targetString",
          localizedName: "Целевая строка",
          type: "string",
          required: true
        }
      ],
      returnedValue: "boolean"
    })(lang="ru")


    h2.Heading2 Complex parameter

    +CallableExpressionScheme--YDF_DK({
      technicalName: "addElementsToArray",
      localizedDescriptiveHeading: "Добавить элементов в массив",
      parametersSpecification: [
        {
          genericTechnicalName: "sourceData",
          localizedName: "Входные данные",
          type: "SourceData",
          required: true
        }
      ],
      returnedValue: "Array&gt;ArrayElement&gt;"
    })(lang="ru")
      //- TODO 再開点
      +ObjectTypeAbstract--YDF_DK({
        typeName: "SourceData",
        localizedDescriptiveHeading: "Входные данные",
        propertiesSpecification: {
          $intersection: [
            {
              newElements: {
                localizedInterpretation: "Новые элементы",
                type: "ReadonlyArray",
                required: true
              }
            }
          ]
        }
      })

      //-
        Readonly<
          { newElements: ReadonlyArray<ArrayElement>; } &
          (
            {
              mutably: true;
              targetArray: Array<ArrayElement>;
            } |
            {
              mutably: false;
              targetArray: ReadonlyArray<ArrayElement>;
            }
          ) &
          (
            { toStart: true; } |
            { toEnd: true; } |
            { toPosition__numerationFrom0: number; } |
            { toPosition__numerationFrom1: number; }
          )
        >

    h2.Heading2 Overloading

    +CallableExpressionScheme--YDF_DK({
      technicalName: "getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne",
      localizedDescriptiveHeading: "Получить элемент массива удовлетворяющего предикату если такой элемент ровно 1",
      signatures: [

        {
          localizedDescriptiveHeading: "Если искомого элемента нет либо таковых больше 1, то будет возвращён null",
          genericParameters: [ { genericTechnicalName: "ArrayElement" } ],
          parametersSpecification: [
            {
              genericTechnicalName: "targetArray",
              localizedName: "Целевой массив",
              type: "ReadonlyArray&lt;ArrayElement&gt;",
              required: true
            },
            {
              genericTechnicalName: "predicate",
              localizedName: "Предикат",
              type: "Predicate",
              required: true
            }
          ],
          returnedValue: "ArrayElement | null"
        },

        {
          localizedDescriptiveHeading: "Если искомого элемента нет либо таковых больше 1, будет брошено исключение",
          genericParameters: [ { genericTechnicalName: "ArrayElement" } ],
          parametersSpecification: [
            {
              genericTechnicalName: "targetArray",
              localizedName: "Целевой массив",
              type: "ReadonlyArray&lt;ArrayElement&gt;",
              required: true
            },
            {
              genericTechnicalName: "predicate",
              localizedName: "Предикат",
              type: "Predicate",
              required: true
            },
            {
              genericTechnicalName: "options",
              localizedName: "Опции",
              type: "Options",
              required: true
            }
          ],
          returnedValue: "ArrayElement | null"
        }

      ]
    })(lang="ru")
      +ObjectTypeAbstract--YDF_DK({
        typeName: "Options",
        localizedDescriptiveHeading: "Опции",
        propertiesSpecification: {
          mustThrowErrorIfElementNotFoundOrMoreThan1: {
            localizedInterpretation: "Должен бросить ошибку если элемент не найден либо результатов поиска больше 1",
            typeName: "Boolean (только true)",
            required: true
          }
        }
      })
