Button-RegularTheme-LinkLikeDecoration--YDF = {

  defaultState: {

    rootElement: {

      text: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor,
        underline: {
          position: underline,
          thickness: 1px,
          offset: 3px,
          style: solid,
          color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
        }
      },

      background: {
        color: null,
        image: null
      },

      borders: {
        style: null,
        color: null
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor,
      customDeclarations: null
    }

  },

  hoverState: {

    rootElement: {

      text: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.background,
        underline: {
          color: rgba(JQueryUI_BaseTheme.clickableElements.activeState.background, 0.75)
        }
      },

      background: {
        color: null,
        image: null
      },

      borders: {
        style: null,
        color: null
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.background,
      customDeclarations: null
    }

  },

  focusVisibleState: {

    rootElement: {

      text: {
        color: null,
        underline: null
      },

      background: {
        color: null,
        image: null
      },

      borders: {
        style: null,
        color: null
      },

      outline: {
        thickness: 2px,
        type: solid,
        color: #007fff,
        offset: 3px
      },

      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: null,
      customDeclarations: null
    }

  },

  activeState: {

    rootElement: {

      text: {
        color: alpha(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 0.75),
        underline: {
          type: solid,
          thickness: 1px,
          color: alpha(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 0.75)
        }
      },

      background: {
        color: null,
        image: null
      },

      borders: {
        style: null,
        color: null
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor,
      customDeclarations: null
    }

  },

  disabledState: {

    rootElement: {

      text: {
        color: W3C_39_ShadesOfGray--YDF[24],
        underline: null
      },

      background: {
        color: W3C_39_ShadesOfGray--YDF[36],
        image: null
      },

      borders: {
        style: null,
        color: W3C_39_ShadesOfGray--YDF[32]
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: W3C_39_ShadesOfGray--YDF[24],
      customDeclarations: null
    }

  }
}
