extends ../../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "Button component testing";

    styleSheetsURIs = [ "@Tests/Components/Controls/Buttons/Plain/Button.test.styl" ]
    scriptsURIs.endOfBody = [ "@Tests/Components/Controls/Buttons/Plain/Button.test.ts" ]

block append PageContent

  #APPLICATION
