mixin Achievement__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18.3")&attributes(attributes)
    path(d="M20 1.97c-.25.89-.42 1.81-.76 2.67a8.1 8.1 0 0 1-4.56 4.71c-.1.04-.2.07-.33.08.37-.62.49-1.33 1.22-1.77 1.78-1.09 2.7-2.8 3.15-4.85h-2.23l.11-1.17H20v.33ZM11.14 14.14h-2.3c-.25-1.43-1.01-2.63-1.73-3.85a19.18 19.18 0 0 1-2.66-6.82C4.28 2.34 4.2 1.19 4.08 0h11.8c-.08.99-.13 1.97-.26 2.94a18.92 18.92 0 0 1-2.49 6.93c-.63 1.12-1.19 2.29-1.76 3.44-.12.24-.15.53-.23.83Zm-1.16-2.08 1.83-3.26c.9-1.59 1.63-3.25 1.98-5.05.13-.68.22-1.38.33-2.08H5.84c.15.87.28 1.7.45 2.52.61 2.91 2.4 5.27 3.68 7.87ZM13.31 17.18v1.12H6.68v-1.11c.56-.05 1.16-.14 1.49-.64.3-.45.48-.98.75-1.56h2.09c.07 0 .18.11.21.19.06.15.07.32.11.48.28 1 .8 1.4 1.97 1.52ZM0 1.66h3.37l.12 1.13H1.25l.3 1.07a7 7 0 0 0 3.21 4.05c.1.06.22.14.27.24.22.42.41.84.62 1.28C2.99 8.75.33 5.62 0 1.66Z")
    path(d="M9.8 9.3a16.01 16.01 0 0 1-2.51-6.8h1.16c.03 2.35.53 4.61 1.35 6.8Z")
