AttentionBox-RegularTheme-StickyNoteLikeGeometry--YDF = {

  rootElement: {

    borders: specifyBordersSizing({
      thickness: { left: 8px }
    }),

    paddings: specifyPaddings({
      horizontalSymmetric: 12px,
      verticalSymmetric: 10px
    })

  },

  SVG_Icon: {
    width: null,
    height: 18px
  },

  title: {
    text: {
      size: 1.6rem,
      lineSpacing: 0.4rem,
      lineHeight: null
    },
    spacing: {
      afterSVG_Icon: 1rem
    }
  },

  mainContent: {

    text: {
      size: 1rem,
      lineSpacing: 0.4rem,
      lineHeight: null
    },

    spacing: {
      afterSVG_Icon: 1rem,
      afterTitle: 0.4rem
    }

  },

  dismissingButton: {

    SVG_Icon: {
      width: null,
      height: 1.5rem
    },

    spacing: {
      afterMainContent: 0.2rem
    }

  },

  centeredButton: {
    spacing: {
      top: 0.2rem
    }
  },

  actionBar: {
    spacing: {
      top: 0.2rem,
      betweenChildrenElements: 0.2rem
    }
  }

}
