-

  const codeViewerYDF_ComponentLocalization__russian = {
    actionBar: { codeCopyingButton: { label: "Копировать код" } },
    tabsFlow: { accessibilityGuidance: "Вкладки для каждого файла с исходным кодом" },
    tab: { languageKeyLabel: "Язык" }
  };
