-

  const singleImageViewerYDF_ComponentLocalization__russian = {
    buttons: {
      fullScreenViewActivating: { label: "Во весь экран" },
      fullScreenViewDeactivating: { label: "Закрыть" },
      zoomingIn: { label: "Приближение" },
      zoomingOut: { label: "Отдаление" },
      widthFitting: { label: "Вписать по ширине" },
      heightFitting: { label: "Вписать по высоте" },
      fitting: { label: "Вписать" }
    }
  };
