@using YamatoDaiwa.Frontend.SVG_Icons.Checkmark
@using YamatoDaiwa.Frontend.SVG_Icons.ExclamationMark
@using YamatoDaiwa.Frontend.SVG_Icons.InfoSign
@using YamatoDaiwa.Frontend.SVG_Icons.MultiplicationSign
@using YamatoDaiwa.Frontend.SVG_Icons.Pencil
@using YamatoDaiwa.Frontend.SVG_Icons.QuestionMark


<div
  class=@composeClassAttributeValueForRootElement(namespaceCSS_Class: "AdmonitionBlock--YDF")
  role="alert"
  id=@HTML_ID
>

  @if (hasPrependedSVG_Icon)
  {
    @if (_decorativeVariation == StandardDecorativeVariations.notice.ToString())
    {
      <Pencil__Circled__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-SVG_Icon"/>
    } 
    else if (_decorativeVariation == StandardDecorativeVariations.error.ToString())
    {
      <ExclamationMarkIcon__Circled__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-SVG_Icon" />  
    } 
    else if (_decorativeVariation == StandardDecorativeVariations.warning.ToString())
    {
      <ExclamationMarkIcon__Triangled__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-SVG_Icon"/>     
    }
    else if (_decorativeVariation == StandardDecorativeVariations.success.ToString())
    {
      <Checkmark__Circled__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-SVG_Icon"/>    
    }
    else if (_decorativeVariation == StandardDecorativeVariations.guidance.ToString())
    {
      <InfoSignIcon__Circled__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-SVG_Icon"/>
    }
    else if (_decorativeVariation == StandardDecorativeVariations.question.ToString())
    {
      <QuestionMark__Circled__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-SVG_Icon" />  
    } 
    else if (customSVG_Icon is not null)
    {
      @customSVG_Icon  
    }
  }

  @if (title is not null)
  {
    <div
      class="AdmonitionBlock--YDF-Title"
      id=@TITLE_HTML_ID
    >
      @title  
    </div>  
  }
  
  <div 
    class="AdmonitionBlock--YDF-MainContent"
    aria-labelledby=@(title is not null ? TITLE_HTML_ID : null)
  >
    @ChildContent
  </div>
 
  @if (hasDismissingButton)
  {
    <button
      class="AdmonitionBlock--YDF-DismissingButton"
      type="button"
      aria-label=@localization.dismissingButton.accessibilityGuidance
      @onclick="onClickDismissingButton"
    >
      <MultiplicationSignIcon__Boxed__Filled rootElementModifierCSS_Class="AdmonitionBlock--YDF-DismissingButton-Icon" />
    </button>  
  }
  
</div>
