Button-RegularTheme-LargeGeometry--YDF = {

  rootElement: {
    minimalWidth: 8rem,
    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    })
  },

  label: {
    text: {
      size: 1.2rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },
    spacing: {
      left: 1.2rem,
      right: 1.2rem,
      top: 0.8rem,
      upwardShifting: null
    }
  },

  SVG_Icon: {

    standard: {
      width: null,
      height: 1.2rem,
      spacing: {
        top: 0.6rem,
        bottom: 0.6rem,
        beforeLabel: 0.6rem,
        afterLabel: 0.7rem,
        leftWhenGoingFirst: 0.75rem,
        rightWhenGoingLast: 0.75rem
      }
    },

    specials: {
      Button--YDF-SVG_Icon__Menu__ThreeDots__Horizontal: {
        width: 1rem
      }
    }
  }
}
