.ButtonDemo

  &-ButtonSubtypesPseudoTable

    display grid
    grid-auto-flow column
    grid-template-rows auto 1fr
    grid-template-columns repeat(3, minmax(0, 1fr));
    column-gap 6px
    row-gap 4px
    justify-items center
    align-items center

    margin-top 6px


    dt

      font-weight bold
