provideHamburgerMenuButtonYDF_Component()

  .HamburgerMenuButton--YDF

    ButtonLikeElementsPrimer()

    display flex
    flex-direction column
    align-items center

    Paddings({
      horizontalSymmetric: 8px,
      verticalSymmetric: 6px
    })

    cursor pointer


    &:focus

      outline outline 3px solid JQueryUI_BaseTheme.warning.borderColor


    &-Icon

      height 20px
      flex-shrink 0

      fill: white
      //fill: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor


      /.HamburgerMenuButton--YDF-Icon:hover &

        fill: JQueryUI_BaseTheme.clickableElements.hoverState.iconsColor


      /.HamburgerMenuButton--YDF-Icon:active &

        fill: JQueryUI_BaseTheme.clickableElements.activeState.iconsColor


    &-Label

      font-size 10px
      font-weight bold
      user-select none

      color: white
      //color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor

      flex-shrink 0
      margin-top 4px


      /.HamburgerMenuButton--YDF-Icon:hover &

        fill: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor


      /.HamburgerMenuButton--YDF-Icon:active &

        fill: JQueryUI_BaseTheme.clickableElements.activeState.fontColor
