ImprovedBlockquote--YDF = {

  CSS_NAMESPACE: "ImprovedBlockquote--YDF",

  defaultProperties: {}
}


provideImprovedBlockquoteYDF_Component(preset = ImprovedBlockquote--YDF.defaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(ImprovedBlockquoteComponentDefaultProperties, customProperties)


  .ImprovedBlockquote--YDF

    WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH = 2*NARROWEST_SCREEN_WIDTH_UNIT

    WideScreensConfiguration()
      @media screen and (min-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH)
        {block}

    NarrowScreensConfiguration()
      @media screen and (max-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH - 1)
        {block}


    border-top: 1px solid JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
    border-bottom: 1px solid JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
    padding 12px 4px
    color ShadesOfGray__39ColorsW3C_Palette[16]


    +WideScreensConfiguration()

      display grid
      grid-template-columns auto 1fr
      column-gap 12px


    &:before,
    &:after

      display none


    &-LeftSection

      display grid


      +WideScreensConfiguration()

        grid-template-columns auto auto
        align-self start
        column-gap 6px


      +NarrowScreensConfiguration()

        grid-template-columns auto auto auto
        column-gap 12px
        align-items start
        justify-content start


    &-Icon

      width 48px
      height 48px
      fill: JQueryUI_BaseTheme.content.iconsColor


      +WideScreensConfiguration()

        grid-column 1 / span 2


    &-ImageHolder

      aspect-ratio 3 / 4
      width 100px

      background-position center
      background-repeat no-repeat
      background-size contain


    &-MainSection

      +WideScreensConfiguration()

        align-self center


      +NarrowScreensConfiguration()

        margin-top 12px


    &-Source

      text-align right
      margin-top 12px


    &-InformationSourceReference

      margin-top 12px
