Button-RegularTheme-AccentedDecoration--YDF = {

  defaultState: {

    rootElement: {

      text: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor,
        underline: null
      },

      background: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.background,
        image: null
      },

      borders: {
        style: solid,
        color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor,
      customDeclarations: null
    }

  },

  hoverState: {

    rootElement: {

      text: {
        color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor,
        underline: null
      },

      background: {
        color: JQueryUI_BaseTheme.clickableElements.hoverState.background,
        image: null
      },

      borders: {
        style: null,
        color: JQueryUI_BaseTheme.clickableElements.hoverState.borderColor
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor,
      customDeclarations: null
    }

  },

  focusVisibleState: {

    rootElement: {

      text: {
        color: null,
        underline: null
      },

      background: {
        color: null,
        image: null
      },

      borders: {
        style: null,
        color: null
      },

      outline: null,

      shadow: {
        blurRadius: 3px,
        spreadRadius: 1px,
        color: #007fff
      },

      customDeclarations: null

    },

    SVG_Icon: {
      color: null,
      customDeclarations: null
    }

  }

  activeState: {

    rootElement: {

      text: {
        color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor,
        underline: null
      },

      background: {
        color: JQueryUI_BaseTheme.clickableElements.defaultState.background,
        image: null
      },

      borders: {
        style: null,
        color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor,
      customDeclarations: null
    }

  },

  disabledState: {

    rootElement: {

      text: {
        color: ShadesOfGray__39ColorsW3C_Palette[24],
        underline: null
      },

      background: {
        color: ShadesOfGray__39ColorsW3C_Palette[36],
        image: null
      },

      borders: {
        style: null,
        color: ShadesOfGray__39ColorsW3C_Palette[32]
      },

      outline: null,
      shadow: null,

      customDeclarations: null

    },

    SVG_Icon: {
      color: ShadesOfGray__39ColorsW3C_Palette[24],
      customDeclarations: null
    }

  }

}
