Button-LinkLikeDecoration--YDF = {

  rootElement: {
    borders: {
      style: null,
      color: null
    },
    background: {
      color: TemporaryHighlighting.red.o10
    },
    text: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
    }
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
  },

  stateDependent: {

    hover: {

      rootElement: {
        borders: {
          style: null,
          color: null
        },
        background: {
          color: JQueryUI_BaseTheme.clickableElements.focusState.shadow
        },
        text: {
          color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor
        }
      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor
      }
    },

    active: {

      rootElement: {
        borders: {
          style: null,
          color: null
        },
        background: {
          color: null
        },
        text: {
          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor
        }
      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor
      }
    },

    disabled: {

      rootElement: {
        borders: {
          style: null,
          color: null
        },
        background: {
          color: null
        },
        text: {
          color: ShadesOfGray__39ColorsW3C_Palette[24]
        }
      },

      SVG_Icon: {
        color: ShadesOfGray__39ColorsW3C_Palette[24]
      }
    }
  }
}
