Button-LinkLikeDecoration--YDF = {

  rootElement: {
    text: {
      color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor,
      underline: {
        type: solid,
        thickness: 1px,
        color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
      }
    },
    background: {
      color: null
    },
    borders: {
      style: null,
      color: null
    },
    outline: null,
    shadow: null
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
  },


  stateDependent: {

    hover: {

      rootElement: {
        text: {
          color: null,
          underline: {
            type: solid,
            thickness: 1px,
            color: alpha(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 0.75)
          }
        },
        background: {
          color: null
        },
        borders: {
          style: null,
          color: null
        },
        outline: null,
        shadow: null
      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor
      }
    },

    focus: {
      rootElement: {
        text: {
          color: null,
          underline: null
        },
        background: {
          color: null
        },
        borders: {
          style: null,
          color: null
        },
        outline: null,
        shadow: {
          blurRadius: 3px,
          spreadRadius: 1px,
          color: #007fff
        }
      }
    },

    active: {

      rootElement: {
        text: {
          color: alpha(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 0.75),
          underline: {
            type: solid,
            thickness: 1px,
            color: alpha(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 0.75)
          }
        },
        background: {
          color: null
        },
        borders: {
          style: null,
          color: null
        },
        outline: null
      },

      SVG_Icon: {
        color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor
      }
    },

    disabled: {

      rootElement: {
        text: {
          color: ShadesOfGray__39ColorsW3C_Palette[24]
        },
        background: {
          color: ShadesOfGray__39ColorsW3C_Palette[36]
        },
        borders: {
          style: null,
          color: ShadesOfGray__39ColorsW3C_Palette[32]
        }
      },

      SVG_Icon: {
        color: ShadesOfGray__39ColorsW3C_Palette[24]
      }
    }
  }
}
