Button-RegularDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
    },
    background: {
      color: JQueryUI_BaseTheme.clickableElements.defaultState.background
    },
    text: {
      color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor
    }
  },

  stateDependent: {

    hover: {
      rootElement: {
        borders: {
          style: null,
          color: JQueryUI_BaseTheme.clickableElements.hoverState.borderColor
        },
        background: {
          color: JQueryUI_BaseTheme.clickableElements.hoverState.background
        },
        text: {
          color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor
        }
      }
    },

    active: {
      rootElement: {
        borders: {
          style: null,
          color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
        },
        background: {
          color: JQueryUI_BaseTheme.clickableElements.activeState.background
        },
        text: {
          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor
        }
      }
    },

    disabled: {
      rootElement: {
        borders: {
          style: null,
          color: ShadesOfGray__39ColorsW3C_Palette[32]
        },
        background: {
          color: ShadesOfGray__39ColorsW3C_Palette[36]
        },
        text: {
          color: ShadesOfGray__39ColorsW3C_Palette[24]
        }
      }
    }
  }
}
