include MenuList.class.pug


mixin MenuList--YDF(properties, statesSimulations)

  -

    const {

      /** @var { string } [ theme = MenuList__YDF.Themes.regular ] */
      theme,

      /** @var { boolean } [ areThemesCSS_ClassesCommon = MenuList__YDF.areThemesCSS_ClassesCommon ] */
      areThemesCSS_ClassesCommon,

      /** @var { string } [ geometricVariation = MenuList__YDF.GeometricVariations.regular ] */
      geometricVariation,

      /** @var { Array<string> } [ geometricModifiers = [] ] */
      geometricModifiers,

      // TODO Delete one
      /** @var { string } */
      /** @var { string } [ geometricVariation = MenuList__YDF.DecorativeVariations.regular ] */
      decorativeVariation,

      /** @var { Array<string> } [ decorativeModifiers = [] ] */
      decorativeModifiers

    } = processObjectTypeParameterOfPugMixin({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: MenuList__YDF.propertiesSpecification,
      mixinName: MenuList__YDF.CSS_NAMESPACE
    });

    /** @var { Array<string> } */
    const rootElementModifierCSS_Classes = [

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: MenuList__YDF.Themes,
        CSS_Namespace: MenuList__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometricVariation,
        allGeometricVariations: MenuList__YDF.GeometricVariations,
        CSS_Namespace: MenuList__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decorativeVariation,
        allDecorativeVariations: MenuList__YDF.DecorativeVariations,
        CSS_Namespace: MenuList__YDF.CSS_NAMESPACE
      })

    ];

  ul.MenuList--YDF&attributes(attributes)(class=rootElementModifierCSS_Classes)

    block


mixin MenuList-Item--YDF(properties)

  li.MenuList--YDF-Item

    +Button--YDF({
      label: properties.label,
      geometricModifiers: [ Button__YDF.GeometricModifiers.noRoundings ],
      decorativeModifiers: [
        Button__YDF.DecorativeModifiers.bordersDisguising,
        Button__YDF.DecorativeModifiers.noBackgroundInDefaultState
      ]
    }).MenuList--YDF-Button
