extends ../../../../CompletePages/Components/Controls/FilesUploader/_FilesUploaderGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("Uploading Status");

    FilesUploaderGalleryOptions.
        renderSinglePartial(FilesUploaderGalleryOptions.Partials.uploadingStatus).
        visuallyHideAllHeadings();
