extends ../../../../CompletePages/Components/Controls/FilesUploader/_FilesUploaderGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("No Drag And Drop");

    FilesUploaderGalleryOptions.
        renderSinglePartial(FilesUploaderGalleryOptions.Partials.noDragAndDrop).
        visuallyHideAllHeadings();
