extends ../../../../CompletePages/Components/Controls/FilesUploader/_FilesUploaderGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("No File Picking Button");

    FilesUploaderGalleryOptions.
        renderSinglePartial(FilesUploaderGalleryOptions.Partials.noFilePickingButton).
        visuallyHideAllHeadings();
