/*  === Execution
stylus Tests/Source/OutputCheckOnly/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/whenItGoingLast.test.styl `
    --out Tests/Build/OutputCheckOnly/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/whenItGoingLast.test.css
 */

@require "../../../../../../../Functionality.styl"


.Test1

  +whenItGoingLast()

    border-bottom 1px solid gray


.Test2

  +whenItGoingLast({ verticalSpaceBelow: 36px })

    border-bottom 2px solid gray


.Test3

  whenItGoingLast({ verticalSpaceBelow: 4px })
