/*  === Execution
stylus Tests/Source/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/whenItGoingFirst.test.styl `
    --out Tests/Output/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/whenItGoingFirst.test.css
 */

@require "../../../../../../../Functionality.styl"


.Test1

  +whenItGoingFirst()

    border-top 1px solid gray


.Test2

  +whenItGoingFirst({ verticalSpaceAbove: 2px })

    border-top 1px solid gray


.Test3

  whenItGoingFirst({ verticalSpaceAbove: 4px })
