/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/04-Layout/Centerer.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/04-Layout/Centerer.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Centerer

  &-Case1

    Centerer()


  &-Case2

    Centerer({ minimalWidth: 400px })


  &-Case3

    Centerer({ minimalWidth: 500px, maximalWidth: 700px })
