InitialGlobalCSS_Rules()

  *

    box-sizing border-box


  html,
  body

    height 100%


  html

    font-family MAIN_FONT_STACK
    font-size BASIC_FONT_SIZE
    line-height BASIC_LINE_HEIGHT


  sub

    margin-left 1px
    vertical-align sub
    font-size 10px


  sup

    margin-left 1px
    vertical-align super
    font-size 10px
