InitialGlobalCSS_Rules()

  *

    box-sizing border-box


  html,
  body

    height 100%


  html

    font-family: YDF_Configuration.fontsStacks.mainSansSerif
    font-size: YDF_Configuration.textGeometry.basicFontSize
    line-height: YDF_Configuration.textGeometry.basicLineHeight


  sub

    margin-left 1px
    vertical-align sub
    font-size 10px


  sup

    margin-left 1px
    vertical-align super
    font-size 10px
