LinkDefaultProperties--YDF = {

  decoration: {

    underlineStyle: solid,
    fontWeight: null,

    coloration: {
      hoverState: {
        font: JQueryUI_BaseTheme.clickableElements.activeState.background,
        underline: rgba(JQueryUI_BaseTheme.clickableElements.activeState.background, 0.75),
        boxShadow: null,
        outline: null,
        customDeclarations: {}
      },
      activeState: {
        font: JQueryUI_BaseTheme.warning.fontColor,
        underline: JQueryUI_BaseTheme.warning.fontColor,
        boxShadow: null,
        outline: null,
        customDeclarations: {}
      },
      tabbedState: {
        font: JQueryUI_BaseTheme.clickableElements.activeState.background,
        underline: rgba(JQueryUI_BaseTheme.clickableElements.activeState.background, 0.75),
        boxShadow: null,
        outline: none,
        customDeclarations: {}
      },
      disabledState: {
        CSS_Class: "Link__DisabledState",
        font: JQueryUI_BaseTheme.clickableElements.activeState.background,
        underline: rgba(JQueryUI_BaseTheme.clickableElements.activeState.background, 0.5),
        boxShadow: null,
        outline: null,
        customDeclarations: {}
      }
    }
  },

  customDeclarations: {}

}
