mixin DoubleChevronIcon__Rightward--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 13.76")&attributes(attributes)
    path(d="M14.64 6.86 7.78 0h-2.4l6.86 6.86-6.9 6.9h2.45l-.03-.02 6.88-6.88z" style="fill:none;stroke-width:0")
    path.cls-1(d="m14.64 6.86-6.88 6.88.03.02h5.31l6.9-6.9L13.14 0H7.78l6.86 6.86z" style="stroke-width:0")
    path.cls-1(d="M12.24 6.86 5.38 0H.02l6.86 6.86L0 13.74l.03.02h5.31l6.9-6.9z" style="stroke-width:0")
