mixin FileAdding--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.26 20")&attributes(attributes)
    path(d="M13.4 19.6v-.73H1.81a.8.8 0 0 1-.79-.79V6.83h4.84c.16 0 .31-.04.44-.11a.9.9 0 0 0 .43-.43.92.92 0 0 0 .11-.43V1.02h7.07c.33 0 .61.2.73.48.04.1.06.2.06.31v9.41h1.02V1.81c0-.1 0-.21-.03-.31A1.81 1.81 0 0 0 13.91 0H6.57c-.53 0-1.03.21-1.4.58L.58 5.16C.21 5.54 0 6.04 0 6.57v11.52c0 .99.81 1.81 1.81 1.81h11.63a.92.92 0 0 1-.04-.29ZM5.92 1.26v4.06c0 .44-.17.61-.61.61H1.25l4.67-4.67Z")
    path(d="M18.86 14.81h-2.13a.4.4 0 0 1-.4-.4v-2.13a.4.4 0 0 0-.4-.4h-1.47a.4.4 0 0 0-.4.4v2.13a.4.4 0 0 1-.4.4h-2.13a.4.4 0 0 0-.4.4v1.47c0 .22.18.4.4.4h2.13c.22 0 .4.18.4.4v2.13c0 .22.18.4.4.4h1.47a.4.4 0 0 0 .4-.4v-2.13c0-.22.18-.4.4-.4h2.13a.4.4 0 0 0 .4-.4v-1.47a.4.4 0 0 0-.4-.4Z")
