mixin File__TestCode--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.43 20")&attributes(attributes)
    path(d="M7.9 16.13H1.55a.68.68 0 0 1-.68-.68V5.84h4.14c.46 0 .83-.37.83-.83V.87h6.05c.37 0 .68.3.68.68v11.21c.3.1.57.25.79.48l.07.09V1.55C13.43.7 12.74 0 11.88 0H5.61c-.45 0-.88.18-1.2.5L.5 4.41c-.32.32-.5.75-.5 1.2v9.84C0 16.3.69 17 1.55 17h5.81l.55-.87ZM5.06 1.07v3.47c0 .38-.15.52-.52.52H1.06l4-4Z")
    path(d="m13.3 18.73-1.23-1.97a.84.84 0 0 1-.13-.46v-1.65h-1.93v1.65c0 .16-.05.32-.14.46l-1.24 1.97a.84.84 0 0 0-.03.84c.15.26.42.43.73.43H12.78v-.02a.83.83 0 0 0 .51-1.25Zm-2.57-2.44v-.91h.47v.92c0 .3.08.59.24.85l1.23 1.97.01.05-.01.05s-.05.05-.09.05H9.32s-.07-.02-.09-.06l-.01-.05c0-.02 0-.04.02-.05l1.24-1.97c.16-.25.25-.55.25-.85Z")


