mixin AttentionBoxDemo(options)

  -

    options = options ?? {
      headings: true,
      partials: {
        minimal: true,
        titles: true,
        prependedSVG_Icons: true,
        titlesAndPrependedSVG_Icons: true,
        centeredButton: true,
        actionBar: true
      }
    }

    ThemesShowcase__YDF.
        setDefaultThemeKeyLabelPrefix("AttentionBox__YDF.Themes.").
        setDefaultGeometricVariationLabelPrefix("AttentionBox__YDF.GeometricVariations.").
        setDefaultDecorativeVariationLabelPrefix("AttentionBox__YDF.DecorativeVariations.");

    const themeShowcaseCurrentIterationData = ThemesShowcase__YDF.initializeCurrentIterationData()


  if options.headings

    h1.Heading1 AttentionBox component testing


    //- === Minimal ====================================================================================================
    if options.partials.minimal

      if options.headings

        h2.Heading2 Minimal

      +ThemesShowcase--YDF({
        themes: AttentionBox__YDF.Themes,
        geometricVariations: AttentionBox__YDF.GeometricVariations,
        decorativeVariations: AttentionBox__YDF.DecorativeVariations,
        iterationData: themeShowcaseCurrentIterationData
      })
        +AttentionBox--YDF({
          theme: themeShowcaseCurrentIterationData.theme.value,
          geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
          decoration: themeShowcaseCurrentIterationData.decorativeVariation.value
        }).AttentionBoxDemo-AttentionBox(lang="es").
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      //- === Titles ===================================================================================================
      if options.partials.titles

        if options.headings

          h2.Heading2 Titles

        +ThemesShowcase--YDF({
          themes: AttentionBox__YDF.Themes,
          geometricVariations: AttentionBox__YDF.GeometricVariations,
          decorativeVariations: AttentionBox__YDF.DecorativeVariations,
          iterationData: themeShowcaseCurrentIterationData
        })
          +AttentionBox--YDF({
            title: "Titolo",
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value
          }).AttentionBoxDemo-AttentionBox(lang="es").
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      //- === Prepended SVG Icons ======================================================================================
      if options.partials.prependedSVG_Icons

        if options.headings

          h2.Heading2 Prepended SVG Icons

        +ThemesShowcase--YDF({
          themes: AttentionBox__YDF.Themes,
          geometricVariations: AttentionBox__YDF.GeometricVariations,
          decorativeVariations: AttentionBox__YDF.DecorativeVariations,
          iterationData: themeShowcaseCurrentIterationData
        })
          +AttentionBox--YDF({
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value,
            hasPrependedSVG_Icon: true
          }).AttentionBoxDemo-AttentionBox(lang="es").
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      //- === Titles and prepended SVG icons ===========================================================================
      if options.partials.titlesAndPrependedSVG_Icons

        if options.headings

          h2.Heading2 Titles and prepended SVG Icons

        +ThemesShowcase--YDF({
          themes: AttentionBox__YDF.Themes,
          geometricVariations: AttentionBox__YDF.GeometricVariations,
          decorativeVariations: AttentionBox__YDF.DecorativeVariations,
          iterationData: themeShowcaseCurrentIterationData
        })
          +AttentionBox--YDF({
            title: "Titolo",
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value,
            hasPrependedSVG_Icon: true
          }).AttentionBoxDemo-AttentionBox(lang="es").
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      //- === Titles and prepended SVG icons ===========================================================================
      if options.partials.titlesAndPrependedSVG_Icons

        if options.headings

          h2.Heading2 Dismissing button

        +ThemesShowcase--YDF({
          themes: AttentionBox__YDF.Themes,
          geometricVariations: AttentionBox__YDF.GeometricVariations,
          decorativeVariations: AttentionBox__YDF.DecorativeVariations,
          iterationData: themeShowcaseCurrentIterationData
        })
          +AttentionBox--YDF({
            title: "Titolo",
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value,
            hasPrependedSVG_Icon: true,
            hasDismissingButton: true
          }).AttentionBoxDemo-AttentionBox(lang="es").
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      //- === Centered button ==========================================================================================
      if options.partials.centeredButton

        if options.headings

          h2.Heading2 Centered button

        +ThemesShowcase--YDF({
          themes: AttentionBox__YDF.Themes,
          geometricVariations: AttentionBox__YDF.GeometricVariations,
          decorativeVariations: AttentionBox__YDF.DecorativeVariations,
          iterationData: themeShowcaseCurrentIterationData
        })
          +AttentionBox--YDF({
            title: "Titolo",
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value,
            hasPrependedSVG_Icon: true
          }).AttentionBoxDemo-AttentionBox(lang="es")
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            +Button--YDF({ label: "Alklaku min" }).AttentionBox--YDF-CenteredButton


      //- === Centered button ==========================================================================================
      if options.partials.actionBar

        if options.headings

          h2.Heading2 Action bar

        +ThemesShowcase--YDF({
          themes: AttentionBox__YDF.Themes,
          geometricVariations: AttentionBox__YDF.GeometricVariations,
          decorativeVariations: AttentionBox__YDF.DecorativeVariations,
          iterationData: themeShowcaseCurrentIterationData
        })
          +AttentionBox--YDF({
            title: "Titolo",
            theme: themeShowcaseCurrentIterationData.theme.value,
            geometry: themeShowcaseCurrentIterationData.geometricVariation.value,
            decoration: themeShowcaseCurrentIterationData.decorativeVariation.value,
            hasPrependedSVG_Icon: true
          }).AttentionBoxDemo-AttentionBox(lang="es")
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .AttentionBox--YDF-ActionBar
              +Button--YDF({ label: "Ago 1" })
              +Button--YDF({ label: "Ago 2" })
