Badge-RegularTheme-NeutralPastelDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: YDF_ColorPalette.skyBlue.slightlyDark
    },

    background: {
      color: YDF_ColorPalette.skyBlue.pastelMediumLight
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: YDF_ColorPalette.skyBlue.slightlyDark,
    customDeclarations: null
  },

  keyLabel: {

    text: {
      fontWeight: null,
      color: YDF_ColorPalette.skyBlue.slightlyDark
    },

    customDeclarations: null

  },

  valueLabel: {

    text: {
      fontWeight: bold,
      color: YDF_ColorPalette.skyBlue.slightlyDark
    },

    customDeclarations: null

  }

}
