extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_TITLE = "DropDownList Component Testing";
    styleSheetsURIs = [ "./DropDownList.test.css" ];
    scriptsURIs.endOfBody = [ "./DropDownList.test.js" ];


block append Requirements

  include ../../../../Components.pug


block append PageContent

  //-

    DropDownList__YDF.
        defineThemes({
          redmond: {
            compoundControlShell: "REDMOND",
            button: "REDMOND"
          },
          cupertino: {
            compoundControlShell: "CUPERTINO",
            button: "CUPERTINO"
          }
        }).
        defineGeometricVariations({
          large: {
            compoundControlShell: "LARGE",
            button: "LARGE"
          }
        }).
        defineDecorativeVariations({
          catchy: {
            compoundControlShell: "CATCHY",
            button: "CATCHY"
          }
        });

  +DropDownList--YDF({
    inputElementAccessibilityGuidance: "Select something",
    buttonElementAccessibilityGuidance: "Open list",
    listBoxElementAccessibilityGuidance: "List"
  })
