/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/06-PositionalRelationship/retireFromElementWithSameSelector.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/06-PositionalRelationship/retireFromElementWithSameSelector.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Block

  &-ElementA

    retireFromElementWithSameSelector({ x: 2px, y: 4px })


  ul

    li

      retireFromElementWithSameSelector({ y: 8px, contextSelector: ".Block ul", referenceElementSelector: "li" })


  ol

    li

      retireFromElementWithSameSelector({
        x: 4px,
        y: 8px,
        usePaddingsInsteadOfMargins: true,
        contextSelector: ".Block ol",
        referenceElementSelector: "li"
      })
