/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/06-PositionalRelationship/whenItGoingFirst.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/06-PositionalRelationship/whenItGoingFirst.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Test1

  +whenItGoingFirst()

    border-top 1px solid gray


.Test2

  +whenItGoingFirst({ verticalSpaceAbove: 2px })

    border-top 1px solid gray


.Test3

  whenItGoingFirst({ verticalSpaceAbove: 4px })
