mixin ConfirmationModalDialog--YDF(properties, statesSimulations)

  -

    properties = properties ?? {}
    statesSimulations = statesSimulations ?? {}

    const {
      title,
      question,
      confirmationButtonLabel = "Yes",
      cancellationButtonLabel = "No"
    } = properties


  +ModalDialog--YDF(
    {
      title,
      noDismissingButton: true
    },
    statesSimulations
  ).ConfirmationModalDialog--YDF&attributes(attributes)

    if block

      block

    else

      .ConfirmationModalDialog--YDF-Question= question

    .ConfirmationModalDialog--YDF-ActionBar

      +Button--YDF(
        {
          label: confirmationButtonLabel,
          decorativeVariation: Button__YDF.DecorativeVariations.accented
        }
      )

      +Button--YDF(
        {
          label: cancellationButtonLabel
        }
      )
