provideConfirmationModalDialogYDF_Component()

  .ConfirmationModalDialog--YDF

    &-Question

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 14px,
        lineSpacing: 6px,
        mustAllowWordsBreakingAnywhere: true
      })

      margin-top 6px


    &-ActionBar

      display flex
      flex-direction row-reverse
      column-gap 6px

      border-top-width 1px
      padding-top 6px

      border-top-style solid
      border-top-color #dddddd

      margin-top 16px
      margin-bottom 8px
