mixin QuoteMark__Upward__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15.03")&attributes(attributes)
    path(d="M0 8.62h4.21l-2.47 6.41h3.53l3.35-6.41V0H0v8.62zM11.38 0v8.62h4.21l-2.48 6.41h3.54L20 8.62V0h-8.62z")
