mixin QuoteMark__Downward__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15.03")&attributes(attributes)
    path(d="M20 6.41h-4.21L18.26 0h-3.53l-3.35 6.41v8.62H20V6.41zM8.62 15.03V6.41H4.41L6.89 0H3.35L0 6.41v8.62h8.62z")
