mixin QuoteMark__Upward__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15.03")&attributes(attributes)
    path(d="M7.12 1.5v6.75l-2.76 5.28h-.44l1.69-4.37.79-2.04H1.5V1.5h5.62M8.62 0H0v8.62h4.21l-2.47 6.41h3.53l3.35-6.41V0ZM18.5 1.5v6.75l-2.76 5.28h-.44l1.69-4.37.79-2.04h-4.9V1.5h5.62M20 0h-8.62v8.62h4.21l-2.47 6.41h3.53L20 8.62V0Z")
