/*!
 * @yamato-daiwa/frontend v0.0.9
 * (c) 2021 Sole proprietorship "Yamato Daiwa" Takeshi Tokugawa
 * Released under the MIT License.
 */

@require "Styles/01-Assets.styl"
@require "Styles/02-Kernel.styl"
