extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("v2d0");
    HTML_PageMetaData = {
      description: MetaDescriptionTemplates.realiseNotes({ version: "2.0" }),
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Layouts/TwoColumns/TwoColumnsLayout", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("realiseNotes.v2d0");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./v2d0.english.html",
      japanese: "./v2d0.japanese.html"
    });


block append HeadScriptsLinks

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1 Версия 2.0

    h2.Article-Heading2 Основной пакет (@yamato-daiwa/frontend)

    h3.Article-Heading3 Новая функциональность

    h4.Article-Heading4 Разметка

    h5.Article-Heading5 Внутренний JavaScript в Pug

    h6.Article-Heading6 Функции и классы

    ul.Article-UnorderedList

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            YDEE_Integration.$URI
      }).Article-Link Интеграция с @yamato-daiwa/es-extensions (YDEE)

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            functionsAndClasses.$children.
            buildEmailLinkHrefAttributeValue.$URI
      }).Article-Link buildEmailLinkHrefAttributeValue

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            functionsAndClasses.$children.
            buildPhoneNumberLinkHrefAttributeValue.$URI
      }).Article-Link buildPhoneNumberLinkHrefAttributeValue

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            functionsAndClasses.$children.
            processPugMixinsObjectTypeParameter.$URI
      }).Article-Link processPugMixinsObjectTypeParameter

      //-
        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              markup.$children.
              functionality.$children.
              inlineJavaScript.$children.
              functionsAndClasses.$children.
              RoutingEmulator.$URI
        }).Article-Link RoutingEmulator


    h6.Article-Heading6 Ассеты

    //-
      ul.Article-UnorderedList

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              markup.$children.
              functionality.$children.
              inlineJavaScript.$children.
              assets.$children.
              textOverflowSafetyTest.$URI
        }).Article-Link textOverflowSafetyTest

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              markup.$children.
              functionality.$children.
              inlineJavaScript.$children.
              assets.$children.
              DummyImagesURIs.$URI
        }).Article-Link DummyImagesURIs


    h5.Article-Heading5 Pug-примеси

    //-
      ul.Article-UnorderedList

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.
              $children.markup.
              $children.functionality.
              $children.pugMixins.
              $children.dummies.$URI
        }).Article-Link WideDummy и HighDummy

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.
              $children.markup.
              $children.functionality.
              $children.pugMixins.
              $children.SVG_Icons.$URI
        }).Article-Link SVG-иконки


    h4.Article-Heading4 Стили

    //-
      h5.Article-Heading5 Ассеты

      h6.Article-Heading6 Цветовые палитры

      ul.Article-UnorderedList

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              styles.$children.
              assets.$children.
              colors.$children.
              YDF_ColorPalette.$URI
        }).Article-Link YDF_ColorPalette


    h3.Article-Heading3 Критические изменения

    h4.Article-Heading4 Стили

    h5.Article-Heading5 Ассеты

    h6.Article-Heading6 Изменение элементов перечисления #[code DataTypes]

    p.Article-Paragraph.
      #[+Term--YDID Элемент] #[+ImportantEntity__Code--YDID dimensionalAmount] #[+Term--YDID перечисления]
        #[+ImportantEntity__Code--YDID DataTypes] был переименован в #[+ImportantEntity__Code--YDID dimensionalQuantity],
        а #[+ImportantEntity__Code--YDID dimensionlessAmount] — в #[+ImportantEntity__Code--YDID dimensionlessQuantity].

    dl.Article-DescriptionList

      dt Причина
      dd Приведение к канонической научной терминологии

      dt Понадобится редактирование Вашего кода, если
      dd.
        Вы обращались к #[+Term--YDID элементам] #[+ImportantEntity__Code--YDID dimensionalAmount] и/или
          #[+ImportantEntity__Code--YDID dimensionlessAmount] #[+Term--YDID элементам перечисления]
          #[+ImportantEntity__Code--YDID DataTypes]

      dt Миграция
      dd.
        Используя соответствующую функциональнсоть редактора кода или интегрированной среды разработки,
          замените #[+ImportantEntity__Code--YDID DataTypes.dimensionalAmount] на
          #[+ImportantEntity__Code--YDID DataTypes.dimensionalQuantity], а
          #[+ImportantEntity__Code--YDID DataTypes.dimensionlessAmount] — на
          #[+ImportantEntity__Code--YDID DataTypes.dimensionlessQuantity] во всех #[+Term--YDID Stylus-файлах].
        Например, в интегрированных средах разработки семейства IntelliJ IDEA такая функциональностью доступна с
          помощью сочетания клавиш #[+SecondaryEntity__Code--YDID Ctrl + Shift + R].

    h6.Article-Heading6 Изменение свойств в объекте #[code TemporaryHighlighting]

    p.Article-Paragraph.
      Теперь сверхкороткие свойства типа #[+SecondaryEntity__Code--YDID o25], смысл которых не&nbsp;может быть понятен
        без документации или проверки выходного #[+Term--YDID CSS кода] заменены на более содержательные, такие как
        #[+SecondaryEntity__Code--YDID opacity25Percent].

    dl.Article-DescriptionList

      dt Причина
      dd.
        Все библиотеки поставщика #[+ImportantEntity--YDID Ямато Дайва] не&nbsp;приемлют имён, смысл которых не&nbsp;может
          быть раскрыт обычным переводом с английского на русской, и вот теперь это правило распространилось
          на объект #[+ImportantEntity--YDID TemporaryHighlighting], который не&nbsp;должен использоваться в
          окончательном варианте стилей.

      dt Понадобится редактирование Вашего кода, если
      dd.
        Вы, вопреки рекомендации не&nbsp;использовать этот объект с чистовом коде использовали его,
          либо обновили #[+ImportantEntity--YDID YDF] во время написания черного кода, в котором использовали
          #[+Term--YDID объект] #[+ImportantEntity--YDID TemporaryHighlighting].

      dt Миграция
      dd
        | Используя соответствующую функциональнсоть редактора кода или интегрированной среды разработки,
        |   выполните следующие замены во всех #[+Term--YDID Stylus-файлах].
        ul.Article-UnorderedList
          li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity10Percent]
          li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity25Percent]
          li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity50Percent]
          li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity75Percent]
        | Например, в интегрированных средах разработки семейства IntelliJ IDEA такая функциональностью доступна с
        |    помощью сочетания клавиш #[+SecondaryEntity__Code--YDID Ctrl + Shift + R].

    h5.Article-Heading5 Базовые переменные

    h6.Article-Heading6 Удаление переменной #[code BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS]

    dl.Article-DescriptionList

      dt Причина
      dd.
        Принят единый размер шрифта для однострочных и многострочных текстовый элементов — это значение переменной
          #[+ImportantEntity__Code--YDID BASIC_FONT_SIZE].


      dt Понадобится редактирование Вашего кода, если
      dd.
        Вы, используете переменную #[+ImportantEntity__Code--YDID BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS]

      dt Миграция
      dd
        | Замените переменную #[+ImportantEntity__Code--YDID BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS] на другую,
        |   лучше всего на #[+ImportantEntity__Code--YDID BASIC_FONT_SIZE].
