extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Realise Notes - v2d0"),
        description: MetaDescriptionTemplates.realiseNotes({ version: "2.0" })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("realiseNotes.v2d0");

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.realiseNotes.$children.v2d0.$URI,
      russian: routing.russian.realiseNotes.$children.v2d0.$URI
    });

    const {
      $sectioning: localizedSectioning,
      $heading: topHeading
    } = routing.english.realiseNotes.$children.v2d0;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1 Version 2.0 (Beta)

    +AdmonitionBlock--YDF({ decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning, SVG_Icon: true }).
      Major version 2 is under development.
      New functionality and other changes will be declared here when ready.

    h2.Article-Heading2 Core Package (@yamato-daiwa/frontend)

    h3.Article-Heading3 New Functionality

    h4.Article-Heading4 Markup

    h5.Article-Heading5 Pug's Inline JavaScript

    h6.Article-Heading6 Functions and Classes

    ul.Article-UnorderedList

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            YDEE_Integration.$URI
      }).Article-Link @yamato-daiwa/es-extensions (YDEE) integration

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            functionsAndClasses.$children.
            buildEmailLinkHrefAttributeValue.$URI
      }).Article-Link buildEmailLinkHrefAttributeValue

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            functionsAndClasses.$children.
            buildPhoneNumberLinkHrefAttributeValue.$URI
      }).Article-Link buildPhoneNumberLinkHrefAttributeValue

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            functionsAndClasses.$children.
            processObjectTypeParameterOfPugMixin.$URI
      }).Article-Link processObjectTypeParameterOfPugMixin

      //-
        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              markup.$children.
              functionality.$children.
              inlineJavaScript.$children.
              functionsAndClasses.$children.
              RoutingEmulator.$URI
        }).Article-Link RoutingEmulator


    h6.Article-Heading6 Assets

    ul.Article-UnorderedList

      //-
        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              markup.$children.
              functionality.$children.
              inlineJavaScript.$children.
              assets.$children.
              textOverflowSafetyTest.$URI
        }).Article-Link textOverflowSafetyTest

      li: +Link--YDF({
        internalURI: localizedRouting.coreLibrary.$children.
            markup.$children.
            functionality.$children.
            inlineJavaScript.$children.
            assets.$children.
            DummyImagesURIs.$URI
      }).Article-Link DummyImagesURIs


    //- h5.Article-Heading5 Pug mixins

    //-
      ul.Article-UnorderedList

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.
              $children.markup.
              $children.functionality.
              $children.pugMixins.
              $children.dummies.$URI
        }).Article-Link WideDummy and HighDummy

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.
              $children.markup.
              $children.functionality.
              $children.pugMixins.
              $children.SVG_Icons.$URI
        }).Article-Link SVGアイコン


    h4.Article-Heading4 Styles

    h5.Article-Heading5 Assets

    h5.Article-Heading6 Fundamental Constants and Enumerations

    ul.Article-UnorderedList

      li: +Link--YDF({
        unendorsedExternalURI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Frontend/blob/%40v2.0/CoreLibrary/" +
            "Package/Documentation/Styles/01-Assets/01-FundamentalConstantsAndEnums/" +
            "FundamentalConstantsAndEnums.md#smallest_division_of_css_pixel--ydf---the-smallest-division-of-css-pixel"
      }).Article-Link SMALLEST_DIVISION_OF_CSS_PIXEL--YDF


      h6.Article-Heading6 Color palettes

      ul.Article-UnorderedList

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              styles.$children.
              assets.$children.
              colors.$children.
              YDF_ColorPalette.$URI
        }).Article-Link YDF_ColorPalette

    //-
      h5.Article-Heading5 Core

      h6.Article-Heading6 Specification schemas

    //-
      ul.Article-UnorderedList

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              styles.$children.
              kernel.$children.
              specificationsSchemas.$children.
              bordersSizing.$URI
        }).Article-Link BordersSizingSpecificationSchema--YDF

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              styles.$children.
              kernel.$children.
              specificationsSchemas.$children.
              paddings.$URI
        }).Article-Link PaddingsSpecificationSchema--YDF

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              styles.$children.
              kernel.$children.
              specificationsSchemas.$children.
              textElementHeightSizing.$URI
        }).Article-Link TextElementHeightSizingSpecificationSchema--YDF

        li: +Link--YDF({
          internalURI: localizedRouting.coreLibrary.$children.
              styles.$children.
              kernel.$children.
              specificationsSchemas.$children.
              widthSizing.$URI
        }).Article-Link WidthSizingSpecificationSchema--YDF

    h3.Article-Heading3 Breaking Changes

    h4.Article-Heading4 Styles

    h5.Article-Heading5 Assets

    h5.Article-Heading6 Renaming of #[code NARROWEST_SCREEN_WIDTH_UNIT] Constant

    p.Article-Paragraph.
      #[+Term--YDID Constant] #[+ImportantEntity__Code--YDID NARROWEST_SCREEN_WIDTH_UNIT] has been renamed to
        #[+ImportantEntity__Code--YDID NARROWEST_SCREEN_WIDTH_UNIT--YDF].

    dl.Article-DescriptionList

      dt Reason
      dd.
        To significantly reduce the probability of name conflict, the #[+ImportantEntity__Code--YDID --YDF]
          #[+Term--YDID verndor postfix] has been appended.

      dt Changes in your code will required if
      dd.
        Your code has explicit usages of #[+ImportantEntity__Code--YDID NARROWEST_SCREEN_WIDTH_UNIT]
          #[+Term--YDID constant].

      dt Migration
      dd.
        Using the appropriate functionality of your code editor or IDE, replace all occurrences of
          #[+ImportantEntity__Code--YDID NARROWEST_SCREEN_WIDTH_UNIT] with
          #[+ImportantEntity__Code--YDID mustThrowErrorIfElementNotFoundOrMatchesAreMultiple]
          in all #[+Term--YDID Stylus files] of your project.
        For example, in #[+ImportantEntity--YDID IntelliJ IDEA] family IDEs, such functionality could be invoked
          by #[+SecondaryEntity__Code--YDID Ctrl + Shift + R] as default.


    h6.Article-Heading6 Renaming of #[code DataTypes] Enumeration and Some of its Elements

    ol.Article-OrderedList

      li.
        #[+ImportantEntity__Code--YDID DataTypes] #[+Term--YDID enumeration] has been renamed to
          #[+ImportantEntity__Code--YDID DataTypes--YDF].

      li.
        #[+ImportantEntity__Code--YDID dimensionalAmount] #[+Term--YDID element] has been renamed to
          #[+ImportantEntity__Code--YDID dimensionalQuantity] and its value to
          #[+ImportantEntity__Code--YDID "DIMENSIONAL_QUANTITY"].

      li.
        #[+ImportantEntity__Code--YDID dimensionlessAmount] #[+Term--YDID element] has been renamed to
          #[+ImportantEntity__Code--YDID dimensionlessQuantity] and its value to
          #[+ImportantEntity__Code--YDID "DIMENSIONLESS_QUANTITY"].

    dl.Article-DescriptionList

      dt Reason
      dd
        ul.Article-UnorderedList

          li.
            The #[+ImportantEntity__Code--YDID --YDF] #[+Term--YDID vendor postfix] has been appended to
              #[+Term--YDID enumeration] name to significantly reduce the probability of name conflict.

          li #[+Term--YDID Elements] has been renamed to unify to the canonical scientific terminology.

      dt Changes in your code will required if
      dd Your code has explicit usages of #[+ImportantEntity__Code--YDID DataTypes] #[+Term--YDID enumeration].


      dt Миграция
      dd

        p.Article-Paragraph.
          Using the appropriate functionality of your code editor or IDE, in all #[+Term--YDID Stylus files] of your
            project, replace all occurrences of:

        ul.Article-UnorderedList

          li.
            #[+ImportantEntity__Code--YDID DataTypes] #[+Term--YDID enumeration] to
              #[+ImportantEntity__Code--YDID DataTypes--YDF].

          li.
            #[+ImportantEntity__Code--YDID dimensionalAmount] #[+Term--YDID enumeration element] to
              #[+ImportantEntity__Code--YDID dimensionalQuantity].

          li.
            #[+ImportantEntity__Code--YDID dimensionlessAmount] #[+Term--YDID enumeration element] to
              #[+ImportantEntity__Code--YDID dimensionlessQuantity].

        p.Article-Paragraph.
          For example, in #[+ImportantEntity--YDID IntelliJ IDEA] family IDEs, such functionality could be invoked
            by #[+SecondaryEntity__Code--YDID Ctrl + Shift + R] as default.
    //-

      h6.Article-Heading6 Changed of the properties in #[code TemporaryHighlighting] object

      p.Article-Paragraph.
        Now the ultrashort properties line #[+SecondaryEntity__Code--YDID o25], which meaning could not&nbsp;be understood
          without the documentation of checking of the output #[+Term--YDID CSS code] has been replaces with meaningful,
          such as #[+SecondaryEntity__Code--YDID opacity25Percent].

      dl.Article-DescriptionList

        dt Reason
        dd.
          Basically, all libraries of #[+ImportantEntity--YDID Yamato Daiwa] vendor does&nbsp;not accept the names which
            meaning could&nbsp;not&nbsp;be understood wihtout the documentation, and now this rule has been applied to
            #[+ImportantEntity--YDID TemporaryHighlighting] object, which should&nbsp;not be used in the clean copy
            of the stylesheets.

        dt Changes of your code will require if
        dd.
          You, contrary to the recommendation to not&nbsp;use this object in the clean copy of stylesheet did it,
            or you has updated the #[+ImportantEntity--YDID YDF] during the writing of the draft #[+Term--YDID CSS code]
            where used the #[+ImportantEntity--YDID TemporaryHighlighting] #[+Term--YDID object].

        dt Migration
        dd
          | Using the appropriate functionality of your code editor or IDE, execute the following replacements in
          |   all #[+Term--YDID Stylus files].
          ul.Article-UnorderedList
            li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity10Percent]
            li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity25Percent]
            li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity50Percent]
            li #[+ImportantEntity__Code--YDID o10] ➝ #[+ImportantEntity__Code--YDID opacity75Percent]
          | For example, in the IDEs of IntelliJ IDEA family such functionality is available via
          |   #[+SecondaryEntity__Code--YDID Ctrl + Shift + R] shortcut.


      h5.Article-Heading5 Replacing of the basic variables to YDF configuration object
