extends ../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../Components/Badge/BadgeDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "Badge component demo";
    styleSheetsURIs = [ "@Demos/Components/Badge/Badge" ]


block append PageContent

  //- <== [ Testing ] Comment out if need to display standard themes only ==============================================
  //-

    Badge__YDF.
        defineNewThemes([ "Cupertino" ]).
        defineNewGeometricVariations([ "Small" ]).
        defineNewDecorativeVariations([ "Glamour" ]);
  // ==> ===============================================================================================================

  .ComponentTestingPageContent

    +BadgeDemo
