.AdmonitionBlockGallery

  &-LoneAdmonitionBlock

    retireFrom({ targetElementSelector: ".AdmonitionBlockGallery-PreRenderedInvisibleCustomSVG_Icon", y: 0.4rem })
    pushTargetFromSelf({ targetElementSelector: ".Heading2", y: 1.2rem })
