-

  class AdmonitionBlockGalleryOptions {

    static mustVisuallyHideTopHeading = false;

    static visuallyHideTopHeadingIf(condition) {
      AdmonitionBlockGalleryOptions.mustVisuallyHideTopHeading = condition;
      return AdmonitionBlockGalleryOptions;
    }


    static mustVisuallyHideAllHeadings = false;

    static visuallyHideAllHeadings() {
      AdmonitionBlockGalleryOptions.mustVisuallyHideAllHeadings = true;
      AdmonitionBlockGalleryOptions.mustVisuallyHideTopHeading = true;
      return AdmonitionBlockGalleryOptions;
    }


    static Partials = {
      minimal: "MINIMAL",
      titles: "TITLES",
      defaultSVG_Icons: "DEFAULT_SVG_ICONS",
      customSVG_Icons: "CUSTOM_SVG_ICONS",
      titlesAndSVG_Icons: "TITLES_AND_SVG_ICONS",
      dismissingButton: "DISMISSING_BUTTON",
      centeredButton: "CENTERED_BUTTON",
      actionBar: "ACTION_BAR"
    };

    static partialsRenderingFlags =
        Object.values(AdmonitionBlockGalleryOptions.Partials).
        reduce(
          (objectWorkpiece, partialValue) => {
            objectWorkpiece[partialValue] = true;
            return objectWorkpiece;
          },
          {}
        );

    static renderSinglePartial(targetPartialValue) {

      for (const [ partialKey, partialValue ] of Object.entries(AdmonitionBlockGalleryOptions.Partials)) {
        AdmonitionBlockGalleryOptions.partialsRenderingFlags[partialValue] =
            AdmonitionBlockGalleryOptions.Partials[partialKey] === targetPartialValue;
      }

      return AdmonitionBlockGalleryOptions;

    }

  }
