-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        tableOfContentsTitle: localization.topPage.tableOfContentsTitle,
        URI: localization.topPage.URI
      },

      coreLibrary: {

        tableOfContentsTitle: localization.coreLibrary.tableOfContentsTitle,

      },

      frameworksAdaptations: {

        tableOfContentsTitle: localization.frameworksAdaptations.tableOfContentsTitle,

        children: {

          vue: {

            tableOfContentsTitle: "Vue",

            children: {

              components: {

                tableOfContentsTitle: "Components",
                children: {

                  controls: {

                    tableOfContentsTitle: "Controls",

                    children: {

                      validatable: {

                        tableOfContentsTitle: "Validatable",
                        URI: "@All/Components/Controls/Validatable/ValidatableControls.russian"

                      }

                    }

                  }

                }


              }

            }

          }

        }

      }

    };

    return localizedRouting;

  }
