-

  class DateTimePicker__YDF {

    static CSS_NAMESPACE = "DateTimePicker--YDF";

    static Matrices = {
      days: "DAYS",
      months: "MONTHS",
      years: "YEARS",
      hours: "HOURS",
      minutes: "MINUTES"
    };

    static Modes = {
      dateWithTime: "DATE_WITH_TIME",
      dateOnly: "DATE_ONLY",
      datesRange: "DATES_RANGE",
      datesWithTimeRange: "DATES_WITH_TIME_RANGE"
    };


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } | null } */
    static _selfAndChildrenComponentsThemesCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } } */
    static get selfAndChildrenComponentsThemesCorrespondence() {
      return DateTimePicker__YDF._selfAndChildrenComponentsThemesCorrespondence ?? (
        DateTimePicker__YDF._selfAndChildrenComponentsThemesCorrespondence = {
          compoundControlShell: { [DateTimePicker__YDF.Themes.regular]: CompoundControlShell__YDF.Themes.regular },
          button: { [DateTimePicker__YDF.Themes.regular]: Button__YDF.Themes.regular }
        }
      );
    }

    /**
     * @param {
     *   { [ ownThemeKey: string ]: { [ childrenComponentKey: string ]: string; } }
     * } ownAndCorrespondingCompoundControlShellThemesDefinition
     * @example
     * DateTimePicker__YDF.defineThemes({
     *   redmond: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.redmond,
     *     button: Button__YDF.Themes.redmond
     *   },
     *   cupertino: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.cupertino,
     *     button: Button__YDF.Themes.cupertino
     *   }
     * });
     */
    static defineThemes(ownAndCorrespondingCompoundControlShellThemesDefinition) {
      return ComponentsAuxiliaries.defineThemesAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellThemesDefinition, DateTimePicker__YDF
      );
    }

    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    static considerThemesAsCommon() {
      DateTimePicker__YDF.areThemesCSS_ClassesCommon = true;
      return DateTimePicker__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = {
      regular: "REGULAR",
      small: "SMALL"
    };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } | null } */
    static _selfAndChildrenComponentsGeometricVariationsCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } } */
    static get selfAndChildrenComponentsGeometricVariationsCorrespondence() {
      return DateTimePicker__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence ?? (
        DateTimePicker__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence = {
          compoundControlShell: {
            [DateTimePicker__YDF.GeometricVariations.regular]: CompoundControlShell__YDF.GeometricVariations.regular,
            [DateTimePicker__YDF.GeometricVariations.small]: CompoundControlShell__YDF.GeometricVariations.small
          },
          button: {
            [DateTimePicker__YDF.GeometricVariations.regular]: Button__YDF.GeometricVariations.regular,
            [DateTimePicker__YDF.GeometricVariations.small]: Button__YDF.GeometricVariations.small
          }
        }
      );
    }

    static defineGeometricVariations(ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition) {
      return ComponentsAuxiliaries.defineGeometricVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition, DateTimePicker__YDF
      );
    }


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } | null } */
    static _selfAndChildrenComponentsDecorativeVariationsCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } } */
    static get selfAndChildrenComponentsDecorativeVariationsCorrespondence() {
      return DateTimePicker__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence ?? (
        DateTimePicker__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence = {
          compoundControlShell: {
            [DateTimePicker__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          },
          button: {
            [DateTimePicker__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          }
        }
      );
    }

    static defineDecorativeVariations(ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition) {
      return ComponentsAuxiliaries.defineDecorativeVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition, DateTimePicker__YDF
      );
    }


    /* ━━━ Properties Specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      label: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      accessibilityGuidance: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      externalLabelHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      guidance: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      mode: {
        type: String,
        required: true,
        allowedAlternatives: Object.values(DateTimePicker__YDF.Modes)
      },

      value: {
        type: RawObjectDataProcessor.ValuesTypesIDs.oneOf,
        required: false,
        alternatives: [
          {
            type: String,
            minimalCharactersCount: 1
          },
          {
            type: Number,
            numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger
          }
        ]
      },

      disabled: {
        type: Boolean,
        required: false
      },

      readonly: {
        type: Boolean,
        required: false
      },

      required: {
        type: Boolean,
        required: false
      },

      mustDisplayAppropriateBadgeIfInputIsRequired: {
        type: Boolean,
        required: false
      },

      mustDisplayAppropriateBadgeIfInputIsOptional: {
        type: Boolean,
        required: false
      },

      mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge: {
        type: Boolean,
        required: false
      },

      minimalCharactersCount: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
        required: false
      },

      maximalCharactersCount: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
        required: false,
        customValidators: {
          validationFunction: ({ currentPropertyValue: maximalCharactersCount, rawData__currentObjectDepth }) =>
              isUndefined(rawData__currentObjectDepth.minimalCharactersCount) ||
              (
                Number.isInteger(rawData__currentObjectDepth.minimalCharactersCount) &&
                maximalCharactersCount >= rawData__currentObjectDepth.minimalCharactersCount
              ),
          descriptionForLogging: "\"maximalCharactersCount\" could not be less than \"minimalCharactersCount\"."
        }
      },

      minimalNumericValue: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
        required: false
      },

      maximalNumericValue: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
        required: false,
        customValidators: {
          validationFunction: ({ currentPropertyValue: maximalNumericValue, rawData__currentObjectDepth }) =>
              isUndefined(rawData__currentObjectDepth.minimalNumericValue) ||
              (
                Number.isInteger(rawData__currentObjectDepth.minimalNumericValue) &&
                maximalNumericValue >= rawData__currentObjectDepth.minimalNumericValue
              ),
          descriptionForLogging: "\"maximalNumericValue\" could not be less than \"minimalNumericValue\"."
        }
      },

      // TODO If such property is required, replace it with more specific name, for example "inputOrTextAreaElementHTML_ID". | TODO Delete this comment
      coreElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      labelElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      theme: {
        type: String,
        defaultValue: DateTimePicker__YDF.Themes.regular,
        allowedAlternatives: Object.
            entries(DateTimePicker__YDF.Themes).
            map(([ key, value ]) => ({ key: `DateTimePicker__YDF.Themes.${ key }`, value }))
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        defaultValue: DateTimePicker__YDF.areThemesCSS_ClassesCommon
      },

      geometricVariation: {
        type: String,
        defaultValue: DateTimePicker__YDF.GeometricVariations.regular,
        allowedAlternatives: Object.
            entries(DateTimePicker__YDF.GeometricVariations).
            map(([ key, value ]) => ({ key: `DateTimePicker__YDF.GeometricVariations.${ key }`, value }))
      },

      decorativeVariation: {
        type: String,
        defaultValue: DateTimePicker__YDF.DecorativeVariations.regular,
        allowedAlternatives: Object.
            entries(DateTimePicker__YDF.DecorativeVariations).
            map(([ key, value ]) => ({ key: `DateTimePicker__YDF.DecorativeVariations.${ key }`, value }))
      }

    };


    /* ━━━ State simulations specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static statesSimulationsSpecification = {

      expanded: {
        type: Boolean,
        defaultValue: false
      },

      activeMatrix: {
        type: String,
        defaultValue: DateTimePicker__YDF.Matrices.days,
        allowedAlternatives: Object.values(DateTimePicker__YDF.Matrices)
      },

      invalidInputHighlightingIfAnyValidationErrorsMessages: ComponentsAuxiliaries.
          validatableControlGeneralStatesSimulationsSpecification.invalidInputHighlightingIfAnyValidationErrorsMessages,

      validValueHighlightingIfNoValidationErrorsMessages: ComponentsAuxiliaries.
          validatableControlGeneralStatesSimulationsSpecification.validValueHighlightingIfNoValidationErrorsMessages,

      validationErrorsMessages: ComponentsAuxiliaries.validatableControlGeneralStatesSimulationsSpecification.
          validationErrorsMessages,

      asynchronousValidationsStatuses: ComponentsAuxiliaries.validatableControlGeneralStatesSimulationsSpecification.
          asynchronousValidationsStatuses

    };


    /* ━━━ Routines ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    /* ─── ID generating ──────────────────────────────────────────────────────────────────────────────────────────── */
    static counterForID_Generating = 0;

    static generateComponentID() {
      DateTimePicker__YDF.counterForID_Generating++;
      return `DATE_TIME_PICKER--YDF-${ DateTimePicker__YDF.counterForID_Generating }`;
    }


    /* ━━━ Localization ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static localization = dateTimePickerYDF_ComponentLocalization__english;

  }
