// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/06-ParametersValidation/validateSingleParametersObject.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/06-ParametersValidation/validateSingleParametersObject.test.css --include Styles


@require "01-Assets.styl"
@require "02-Kernel.styl"


// --- Wrong parameter type test
// buildBEM_Class("ALPHA")

// --- Forbid subsequent parameters test
// buildBEM_Class({}, "ALPHA")

// --- Required property absence
// buildBEM_Class({ element: "Icon" })

// --- Default values
//p(buildBEM_Class({
//  block: "Component",
//  element: "Element",
//  modifier: "Modifier",
//  elementSeparator: "--",
//  modifierSeparator: "_"
//}))
//
//
//p(buildBEM_Class({
//  block: "Component",
//  element: "Element",
//  modifier: "Modifier"
//}))

// --- Required property absence
//buildBEM_Class({ block: 1 })


// --- Incompatible parameters
//widthSizing({
//  fixedWidth: 100px,
//  minimalWidth: 80px
//})
