@require "../../node_modules/@yamato-daiwa/frontend/Functionality.styl"


//* [ Warning ] Do not use `CrossBrowserStylesReset` and `InitialGlobalCSS_Rules` because it makes unable to check are
//*    components displaying correctly without it.
h1, h2, h3, h4, h5, h6

  margin 0
