// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/04-Objects/getObjectNonNullValuesCount.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/04-Objects/getObjectNonNullValuesCount.test.css --include Styles


@require "../../../../../../../Functionality.styl"


sample = {
  themes: {
    redmond: {}
    sunny: null
  }
}


p(getObjectNonNullValuesCount(sample))
p(length(values(sample)))
