mixin Unlike__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19.19")&attributes(attributes)
    path(d="M19.99 9.69H20V0h-4.86v9.69h4.85zM0 7.52c.03.37.28.7.6.88l.68.38c.16.09.17.31.03.42l-.67.51a1.06 1.06 0 0 0-.11 1.61c.23.23.54.36.86.36h5.83c.21 0 .37.19.34.4l-.49 3.21c-.03.2-.05.41-.05.62 0 1.44.96 3.29 1.99 3.29.37 0 .66-.31.63-.68l-.02-.31c-.07-.92.06-2.4.28-3.3.07-.26.17-.52.31-.76 0 0 .45-1.21 1.05-2.43l.14-.26.17-.31c.1-.18.21-.36.33-.53l.17-.25.39-.51.21-.25.38-.41.34-.33.16-.15V1.89A4.74 4.74 0 0 0 10.77.63H3.32a1.1 1.1 0 0 0-1.01 1.1 1 1 0 0 0 .13.5l.35.67a.25.25 0 0 1-.18.36l-.68.11c-.54.09-.97.53-.98 1.08 0 .24.07.48.22.67l.47.63c.1.14.04.34-.13.39l-.74.23A1.1 1.1 0 0 0 0 7.52Z")
