include AdmonitionBlock-React.toc.pug


-

  localizedRouting.frameworksIntegrations.blazor.components.AdmonitionBlock.$sectioning = generatePageTableOfContents({
    synopsis: { $heading: "Synopsis" },
    usage: {
      $heading: "Usage",
      markup: {
        $heading: "Markup",
        includingToProject: {
          $heading: "Including to project"
        },
        pugMixin: {
          $heading: "Pug mixin <code>AdmonitionBlock--YDF</code>",
          minimalExample: { $heading: "Minimal example (required properties only)" },
          title: { $heading: "Title (<code>title</code> property)" }
        }
      }
    }
  });
