/* === Execution
stylus Tests/Source/Styles/02-Kernel/02-Functions/03-Arrays/getStringsOrNumbersArrayLength.test.styl `
  --out Tests/Output/Styles/02-Kernel/02-Functions/03-Arrays/getStringsOrNumbersArrayLength.test.css
*/

@require "../../../../../../Functionality.styl"


sample = "ALPHA"

p(length(sample)); // => 5 (For V0.54.8)
p(getStringsOrNumbersArrayLength(sample)); // => 1

sample2 = "ALPHA" "BRAVO"

p(length(sample2)); // => 2 (For V0.54.8)
p(getStringsOrNumbersArrayLength(sample2)); // => 2
