mixin ConfirmationModalDialog--YDF(properties)

  -

    const {
      title = "",
      question = "",
      confirmationButtonLabel = "Yes",
      cancellationButtonLabel = "No"
    } = properties ?? {};


  +ModalDialog--YDF(
    {
      title,
      noDismissingButton: true
    },
    statesSimulations
  ).ConfirmationModalDialog--YDF&attributes(attributes)

    if block

      block

    else

      p.ConfirmationModalDialog--YDF-Question= question

    .ConfirmationModalDialog--YDF-ActionBar

      +Button--YDF(
        {
          label: confirmationButtonLabel,
          decorativeVariation: Button__YDF.DecorativeVariations.danger
        }
      ).ConfirmationModalDialog--YDF-ConfirmationButton

      +Button--YDF(
        {
          label: cancellationButtonLabel
        }
      ).ConfirmationModalDialog--YDF-CancellingButton
