provideRadioButtonYDF_Component()

  .RadioButton--YDF
    
    display inline-flex
    justify-content center
    align-items center
  
    border-radius 3px
    border-width 1px
    min-width 6rem
  
    border-style solid
    
    
    &__UncheckedState
    
      background-color #f6f6f6
      border-color #c5c5c5
      color #454545
      cursor pointer
      
      
    &__CheckedState
  
      background-color #007fff
      border-color #003eff
      color white
    
    
    &-Ring
    
      width 1.2rem
      height 1.2rem
      border-radius 50%
  
      background-color white
      
      flex-shrink 0
      
      
      ../.RadioButton--YDF__UncheckedState &
  
        box-shadow inset 1px 1px 0 0 alpha(black, 25%)
        
        
      ../.RadioButton--YDF__CheckedState &
  
        box-shadow inset 0 0 0 4px #003eff
      
      
    &-Label
    
      Paddings({ verticalSymmetric: 0.6rem })
  
      margin-left 0.6rem
  
  
    &-HiddenInputElement
      
      display none
      