@require "Themes/Regular/GeometricVariations/Table-RegularTheme-RegularGeometry.styl"
@require "Themes/Regular/GeometricVariations/Table-RegularTheme-SmallGeometry.styl"

@require "Themes/Regular/DecorativeVariations/Pastel/Solid/Table-RegularTheme-AchromaticPastelSolidDecoration.styl"
@require "Themes/Regular/DecorativeVariations/Pastel/Solid/Table-RegularTheme-CalmingPastelSolidDecoration.styl"
@require "Themes/Regular/DecorativeVariations/Pastel/Solid/Table-RegularTheme-ModestlyCalmingPastelSolidDecoration.styl"
@require "Themes/Regular/DecorativeVariations/Pastel/Solid/Table-RegularTheme-NeutralPastelSolidDecoration.styl"


Table--YDF = {

  componentIndependentCSS_Class: "RegularTheme--YDF",

  defaultProperties: {

    themes: {
      regular: {

        geometricVariations: {
          regular: Table-RegularTheme-RegularGeometry--YDF,
          small: Table-RegularTheme-SmallGeometry--YDF
        },

        decorativeVariations: {
          achromaticPastelSolid: Table-RegularTheme-AchromaticPastelSolidDecoration--YDF,
          calmingPastelSolid: Table-RegularTheme-CalmingPastelSolidDecoration--YDF,
          modestlyCalmingPastelSolidDecoration: Table-RegularTheme-ModestlyCalmingPastelSolidDecoration--YDF,
          neutralPastelSolid: Table-RegularTheme-NeutralPastelSolidDecoration--YDF
          modestlyCalmingPastelSolid: Table-RegularTheme-ModestlyCalmingPastelSolidDecoration--YDF
        }

      }
    }
  },

  defaultOptions: {
    themeIndependentStylesOnly: false,
    areThemesCSS_ClassesCommon: false,
    loadingPlaceholder: true,
    geometricModifiers: {
      borderless: true,
      verticalBordersOnly: true,
      horizontalBordersOnly: true
    },
    decorativeModifiers: {
      noBackground: true
    }
  }

}


provideTableYDF_Component(
  preset = Table--YDF.defaultProperties,
  overridings = {},
  options = Table--YDF.defaultOptions,
  restParameters__MUST_NOT_BE...
)

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  validateObjectTypeParameter({
    mixinOrFunctionName: "provideTableYDF_Component",
    targetParameterNumber: 3,
    targetParameter: options,
    schema: {
      themeIndependentStylesOnly: {
        type: DataTypes--YDF.boolean,
        defaultValue: Table--YDF.defaultOptions.themeIndependentStylesOnly
      },
      areThemesCSS_ClassesCommon: {
        type: DataTypes--YDF.boolean,
        defaultValue: Table--YDF.defaultOptions.externalThemes
      },
      loadingPlaceholder: {
        type: DataTypes--YDF.boolean,
        defaultValue: Table--YDF.defaultOptions.loadingPlaceholder
      },
      geometricModifiers: {
        type: DataTypes--YDF.object,
        properties: {
          borderless: {
            type: DataTypes--YDF.boolean,
            defaultValue: Table--YDF.defaultOptions.geometricModifiers.borderless
          },
          verticalBordersOnly: {
            type: DataTypes--YDF.boolean,
            defaultValue: Table--YDF.defaultOptions.geometricModifiers.verticalBordersOnly
          },
          horizontalBordersOnly: {
            type: DataTypes--YDF.boolean,
            defaultValue: Table--YDF.defaultOptions.geometricModifiers.horizontalBordersOnly
          }
        },
        defaultValue: Table--YDF.defaultOptions.geometricModifiers
      },
      decorativeModifiers: {
        type: DataTypes--YDF.object,
        properties: {
          noBackground: {
            type: DataTypes--YDF.boolean,
            defaultValue: Table--YDF.defaultOptions.decorativeModifiers.noBackground
          }
        },
        defaultValue: Table--YDF.defaultOptions.decorativeModifiers
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  // ━━━ Methods ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  applyBasicRules()

    .Table--YDF

       display flex


    .Table--YDF-TableElement

      min-width 100%


  // ─── Geometry ──────────────────────────────────────────────────────────────────────────────────────────────────────
  applyGeometricVariation(themeName, variationName, variation)

    VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING = buildString(
      "Table.${ themeName }Theme.${ variationName }Geometry",
      { themeName: themeName, variationName: variationName }
    )

    CONTEXT_SELECTOR = selector() == "&" ? null : selector()

    +provideDefaultSelectorWhenRootAndApply(ROOT_ELEMENT_SELECTOR)

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          min-width: {
            dotSeparatedPath: "rootElement.minimalWidth",
            required: false
          }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.rootElement.customDeclarations)


  // ─── Decoration ────────────────────────────────────────────────────────────────────────────────────────────────────
  applyDecorativeVariation(themeName, variationName, variation)

    VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING = buildString(
      "Table.${ themeName }Theme.${ variationName }Decoration",
      { themeName: themeName, variationName: variationName }
    )

    CONTEXT_SELECTOR = selector() == "&" ? null : selector()

    +provideDefaultSelectorWhenRootAndApply(".Table--YDF")

      validateAndAssignStoredInObjectCSS_Properties({
        targetObject: variation,
        targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
        assigments: {
          background-color: { dotSeparatedPath: "rootElement.background.color", required: false }
        }
      })

      applyMixinStoredInObjectIfItIsNotNull(variation.rootElement.customDeclarations)


      thead

        validateAndAssignStoredInObjectCSS_Properties({
          targetObject: variation,
          targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
          assigments: {
            background-color: { dotSeparatedPath: "head.background.color", required: false },
            background-image: { dotSeparatedPath: "head.background.image", required: false }
          }
        })


      tbody

        tr

          &:nth-child(odd)

            validateAndAssignStoredInObjectCSS_Properties({
              targetObject: variation,
              targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
              assigments: {
                background-color: { dotSeparatedPath: "bodyRow.odd.background.color", required: false },
                background-image: { dotSeparatedPath: "bodyRow.odd.background.image", required: false }
              }
            })


          &:nth-child(even)

            validateAndAssignStoredInObjectCSS_Properties({
              targetObject: variation,
              targetObjectName: VARIATION_FULLY_QUALIFIED_NAME_FOR_LOGGING,
              assigments: {
                background-color: { dotSeparatedPath: "bodyRow.even.background.color", required: false },
                background-image: { dotSeparatedPath: "bodyRow.even.background.image", required: false }
              }
            })


  // ━━━ Applying ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  applyBasicRules()

  applyComponentThemes({
    CSS_Namespace: "Table--YDF",
    themes: properties.themes,
    applyGeometricVariation: applyGeometricVariation,
    applyDecorativeVariation: applyDecorativeVariation
  })
