extends ../../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../../../../../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("buildPhoneNumberLinkHrefAttributeValue"),
        description: MetaDescriptionTemplates.pugFunction({
          functionName: "buildPhoneNumberLinkHrefAttributeValue",
          whatFunctionDoes:
              "単一の引数として渡された電話番号を使用して、HTMLのaタグのhref属性の値を生成する。" +
              "リンクをクリックまたはタップすると、電話をかけることを提案するような状態で、音声通話アプリケーションが起動する。"
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.markup.functionality.inlineJavaScript.functionsAndClasses.buildPhoneNumberLinkHrefAttributeValue"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.markup.$children.functionality.$children.
          inlineJavaScript.$children.functionsAndClasses.$children.buildPhoneNumberLinkHrefAttributeValue.$URI,
      russian: routing.russian.coreLibrary.$children.markup.$children.functionality.$children.
          inlineJavaScript.$children.functionsAndClasses.$children.buildPhoneNumberLinkHrefAttributeValue.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "buildPhoneNumberLinkHrefAttributeValue",
      localizedDescriptiveHeading: "電話番号のリンクの、「href」属性の値を構築する",
      headingTag: "h1",
      parametersSpecification: [
        {
          genericTechnicalName: "phoneNumber",
          localizedName: "電話番号",
          type: "string",
          required: true
        }
      ],
      returnedValue: "string"
    })

    p.Article-Paragraph.
      #[+Keyword--YDID 単一の]#[+Term--YDID 引数]として渡された電話番号宛に、音声通話アプリケーションが電話をかける事を提案する様な、
        #[+ImportantEntity__Code--YDID a]#[+Term--YDID タグ]用の#[+ImportantEntity__Code--YDID href]と言う
        #[+Term--YDID HTML属性]の値を生成する。
      スマートフォンには、此の様な音声通話アプリケーションが必ず存在するが、其の他のデバイスの場合には、#[+SecondaryEntity--YDID Skype]や
        #[+SecondaryEntity--YDID People]等の通話専用のアプリケーションが、選択肢として表示される可能性が有る。
      其の場合、電話番号に電話を発信する場合は、料金がかかると思われる。

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }).
        a(
          href=buildPhoneNumberLinkHrefAttributeValue("+818012345678")
        ) 080-1234-5678

    p.Article-Paragraph.
      此の#[+Term--YDID 関数]がしている事は、適切な電話番号である事を要求される、指定された#[+Term--YDID 文字列]の値の前に、
        #[+ImportantEntity__Code--YDID tel:]を追加するのみである。
      使用しているコードエディター、又は#[+Term--YDID 結合開発環境]で、原型に応じたオートコンプリート機能が利用出来ない場合は、此の#[+Term--YDID 関数]は
        役に立たないかもしれない。
      #[+ImportantEntity__Code--YDID tel:]にしろ、#[+ImportantEntity__Code--YDID buildPhoneNumberLinkHrefAttributeValue]
        #[+Term--YDID 関数]名にしろ、暗記してしまうか、毎回リファレンスを参照する事が必要になる為だ。
      （多くの情報を扱っている時には、たった4文字しかない「tel:」ですら、忘れてしまう可能性がある。）

    p.Article-Paragraph
      | 原型に応じたオートコンプリート機能が利用出来る場合は、#[+SecondaryEntity__Code--YDID buildP...]と入力し始めると、ポップアップヒントが表示される。
      | 其れ以降の手順は、コードエディターや#[+Term--YDID 結合開発環境]に依って異なる。
      | 統合開発環境
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }).
        IntelliJ IntelliJ IDEAファミリー
      |   で、
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDF_Plugin }) YDFの正式なプラグイン
      |   として提供される
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }) Live Template
      | と言う機能の場合、#[+Keyword--YDID 予め]クリップボードにコピーされた値が、#[+Keyword--YDID 単一の]#[+Term--YDID 引数]の位置に代入される為、
      |  #[+ImportantEntity__Code--YDID href]#[+Term--YDID 属性]の値はキーを3~4回程度押すだけで済むはずである
      | （他のオートコンプリートの数に依る）。

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/CoreLibrary/Markup/Functionality/InlineJavaScript/FunctionsAndClasses/" +
          "buildPhoneNumberLinkHrefAttributeValue/Images/buildPhoneNumberLinkHrefAttributeValue-LiveTemplate",
      imageAlternateText:
          "統合開発環境「IntelliJ IDEA」ファミリーの機能、「Live Templates」を利用した、「Yamato Daiwa Frontend」（略：「YDF」）ライブラリの" +
          "「buildPhoneNumberLinkHrefAttributeValue」関数呼び出し表現の入力支援",
      maximalWidth__anyValidCSS_Value: "600px",
      autoAspectRatioByYDA: true
    })
