extends ../../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../../../../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("buildPhoneNumberLinkHrefAttributeValue"),
        description: MetaDescriptionTemplates.pugFunction({
          functionName: "buildPhoneNumberLinkHrefAttributeValue",
          whatFunctionDoes:
              "generates such value of the HTML attribute \"href\" for the\"a\" tag as once final link has been " +
                "clicked or tapped, the telephony software will be opened and it will be suggested to call to the " +
                "phone number specified via single parameter."
        })
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "coreLibrary.markup.functionality.inlineJavaScript.functionsAndClasses.buildPhoneNumberLinkHrefAttributeValue"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.coreLibrary.$children.markup.$children.functionality.$children.
          inlineJavaScript.$children.functionsAndClasses.$children.buildPhoneNumberLinkHrefAttributeValue.$URI,
      russian: routing.russian.coreLibrary.$children.markup.$children.functionality.$children.
          inlineJavaScript.$children.functionsAndClasses.$children.buildPhoneNumberLinkHrefAttributeValue.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    +CallableExpressionScheme--YDF_DK({
      technicalName: "buildPhoneNumberLinkHrefAttributeValue",
      headingTag: "h1",
      parametersSpecification: [
        {
          genericTechnicalName: "phoneNumber",
          type: "string",
          required: true
        }
      ],
      returnedValue: "string"
    })

    +PageNotReadyApology--YDPD({ currentState: PageNotReadyApology__YDPD.States.notCheckedByNativeSpeakers })

    p.Article-Paragraph.
      Generates the value of the #[+Term--YDID HTML attribute] #[+ImportantEntity__Code--YDID href] for the
        #[+ImportantEntity__Code--YDID a] #[+Term--YDID tag], so that once the final link has been clicked or tapped,
        the telephony software will open, suggesting to call the specified phone number passed as a
        #[+Keyword--YDID single] #[+Term--YDID parameter].
      On smartphones, such software is readily available; on other types of devices, users may be prompted to select
        telephony software such as #[+SecondaryEntity--YDID Skype], #[+SecondaryEntity--YDID People], etc., however,
        it's likely that charges may apply for calling the phone number.

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Pug }).
        a(
          href=buildPhoneNumberLinkHrefAttributeValue("+447975777666")
        ) 79757-77666

    p.Article-Paragraph.
      This #[+Term--YDID function] appends #[+ImportantEntity__Code--YDID tel:] to the specified #[+Term--YDID string value],
        expected to be a valid phone number.
      If your code editor or #[+Term--YDID Integrated Development Environment] (#[+Term--YDID IDE]) lacks template
        autocompletion functionality, this #[+Term--YDID function] may be less convenient.
      Without autocompletion, you may need to either memorize #[+ImportantEntity__Code--YDID "tel:"] or the
        #[+Term--YDID function] name #[+ImportantEntity__Code--YDID buildPhoneNumberLinkHrefAttributeValue], or
        refer to the reference guide each time (though #[+ImportantEntity__Code--YDID "tel:"] consists of just three
        alphabetic letters, it might be forgotten amidst a large volume of other information).

    p.Article-Paragraph
      | If autocompletion by template functionality is present, starting to input
      |   #[+SecondaryEntity__Code--YDID "buildP..."] should trigger a popup hint.
      | The subsequent actions depend on how autocompletion is implemented in the code editor or #[+Term--YDID IDE].
      | In the case of
      |
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }) Live Templates
      |   from the
      |
      +Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDF_Plugin }) official YDF plugin
      |   for
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs
      }) IntelliJ IDEA family IDEs
      |   , the automatic insertion of the value, previously copied to the clipboard, into the position of the
      |   #[+Keyword--YDID single] #[+Term--YDID parameter] is executed.
      | Thus, entering the #[+ImportantEntity__Code--YDID href] #[+Term--YDID attribute] using the
      |   #[+ImportantEntity__Code--YDID buildPhoneNumberLinkHrefAttributeValue] #[+Term--YDID function] could be
      |   completed by 3-4 key presses, depending on the number of other autocompletions suggested:

    +SingleImageViewer--YDF({
      imageURI: "@AssociatedWithPages/CoreLibrary/Markup/Functionality/InlineJavaScript/FunctionsAndClasses/" +
          "buildPhoneNumberLinkHrefAttributeValue/Images/buildPhoneNumberLinkHrefAttributeValue-LiveTemplate",
      imageAlternateText:
          "Efficiently calling 'buildPhoneNumberLinkHrefAttributeValue' in the Yamato Daiwa Frontend (YDF) library using " +
            "'Live Templates functionality' in IntelliJ IDEA family Integrated Development Environments.",
      maximalWidth__anyValidCSS_Value: "600px",
      autoAspectRatioByYDA: true
    })
