extends ../../../../../CompletePages/Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("Loading Placeholder");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.loadingPlaceholder).
        visuallyHideAllHeadings();
