extends ../../../../../CompletePages/Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("Square Shape Unless Overflowed Geometric Modifier");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.squareShapeUnlessOverflowedGeometricModifier).
        visuallyHideAllHeadings();
