extends ../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePageTemplate.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "YDF React — Demos"
      }
    });


block append TableOfContents

  h1.AnywherePage-TopHeading YDF React — Demos

  h2.AnywherePage-PagesGroupHeading Components

  +PageLink({
    label: "AdmonitionBlock",
    URI: "@CompletePages/GUI_Components/AdmonitionBlock/AdmonitionBlockGalleryPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  //-

    +PageLink({
      label: "Badge",
      URI: "@CompletePages/GUI_Components/Badge/BadgeGalleryPage",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })

  //-
    h3.AnywherePage-PagesSubgroupHeading Controls

    +PageLink({
      label: "Button",
      URI: "@CompletePages/GUI_Components/Controls/Buttons/Plain/ButtonGalleryPage.pug",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })
