@require "../../Functionality.styl"
@require "../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideYDF_Typography()


.ComponentTestingPageContent

  padding 12px 16px

  Centerer({ maximalWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT })
