mixin RoundBracket__Closing--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 20")&attributes(attributes)
    path(d="M5.34 10A13.25 13.25 0 00.93.12L1 0h2.05c.07 0 .15.09.2.15.21.25.41.5.6.76a.21.21 0 000 .06l.38.54a14.73 14.73 0 012.34 4.93l.06.21.17.9c0 .13 0 .26.06.4s.07.53.09.8L7 9v2.29c0 .27 0 .54-.09.8s0 .27-.06.4c0 .3-.11.6-.17.9l-.06.21a14.64 14.64 0 01-2.25 4.87l-.43.53v.11c-.19.26-.39.51-.6.76 0 .07-.13.15-.2.15H1.06v-.08A13.23 13.23 0 005.34 10z")
