mixin SquareBracket__Opening--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 20")&attributes(attributes)
    path(d="M0 10V.46C0 0 0 0 .45 0H5c.29 0 .39.08.39.38 0 .93 0 .93-.93.93H2.18c-.36 0-.43.11-.43.45v16.59c0 .3.07.41.4.4H5c.27 0 .38.06.39.36 0 .95 0 .95-.94.95h-4C.09 20 0 19.9 0 19.58V10z")
