extends ../../../CompletePages/GUI_Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("Single Line Geometric Modifier");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.singleLineGeometricModifier).
        visuallyHideAllHeadings();
