extends ../../../CompletePages/GUI_Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("No Background Decorative Modifier");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.noBackgroundDecorativeModifier).
        visuallyHideAllHeadings();
