extends ../../../CompletePages/GUI_Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("Keys And Values");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.keysAndValues).
        visuallyHideAllHeadings();
