BordersSizingSpecificationSchema = {

  thickness: {

    type: DataTypes.object,
    required: false,
    properties: {

      all: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      horizontalSymmetric: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all"
      },
      left: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.horizontalSymmetric"
      },
      right: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.horizontalSymmetric"
      },

      verticalSymmetric: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all"
      },
      top: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.verticalSymmetric"
      },
      bottom: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.verticalSymmetric"
      }
    }
  },

  radius: {

    type: DataTypes.object,
    required: false,
    properties: {
      all: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      topLeft: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      topRight: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      bottomLeft: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      bottomRight: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      leftFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.topLeft" "radius.bottomLeft"
      },

      rightFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.topRight" "radius.bottomRight"
      },

      topFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.topLeft" "radius.topRight" "radius.leftFillets" "radius.rightFillets"
      },

      bottomFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.bottomLeft" "radius.bottomRight" "radius.leftFillets" "radius.rightFillets"
      }
    }
  }
}
