WidthSizingSpecificationSchema = {

  fixedWidth: {
    type: DataTypes.dimensionalAmount,
    incompatibleWith: "minimalWidth" "maximalWidth"
  },
  minimalWidth: {
    type: DataTypes.dimensionalAmount
  },
  maximalWidth: {
    type: DataTypes.dimensionalAmount
  },
  takeMaximumSpaceAsPossible: {
    type: DataTypes.boolean,
    incompatibleWith: "fixedWidth"
  },

  truncateOnOverflow: {
    type: DataTypes.boolean
  },
  displayEllipsisOnOverflow: {
    type: DataTypes.boolean
  },

  leftOrRightSymmetricBordersWidths: {
    type: DataTypes.dimensionalAmount,
    incompatibleWith: "leftBorderWidth" "rightBorderWidth"
  },
  leftBorderWidth: {
    type: DataTypes.dimensionalAmount
  },
  rightBorderWidth: {
    type: DataTypes.dimensionalAmount
  },
  isExplicitBorderNoneDeclarationRequired: {
    type: DataTypes.boolean
  },

  leftOrRightSymmetricPaddings: {
    type: DataTypes.dimensionalAmount,
    incompatibleWith: "leftPadding" "rightPadding"
  },
  leftPadding: {
    type: DataTypes.dimensionalAmount
  },
  rightPadding: {
    type: DataTypes.dimensionalAmount
  },
  isExplicitPaddingZeroDeclarationRequired: {
    type: DataTypes.boolean
  }
}
