@require "Themes/Regular/GeometricVariations/DateTimePicker-RegularTheme-RegularGeometry.styl"
@require "Themes/Regular/GeometricVariations/DateTimePicker-RegularTheme-SmallGeometry.styl"

@require "Themes/Regular/DecorativeVariations/DateTimePicker-RegularTheme-RegularDecoration.styl"


DateTimePicker--YDF = {

  componentIndependentCSS_Class: "RegularTheme--YDF",

  defaultProperties: {

    themes: {
      regular: {

        geometricVariations: {
          regular: DateTimePicker-RegularTheme-RegularGeometry--YDF,
          small: DateTimePicker-RegularTheme-SmallGeometry--YDF
        },

        decorativeVariations: {
          regular: DateTimePicker-RegularTheme-RegularDecoration--YDF
        }

      }
    }
  },

  defaultOptions: {
    themeIndependentStylesOnly: false,
    areThemesCSS_ClassesCommon: false,
    loadingPlaceholder: true,
    themeIndependentGeometricVariations: true
  }

}


provideDateTimePickerYDF_Component(
  preset = DateTimePicker--YDF.defaultProperties,
  overridings = {},
  options = DateTimePicker--YDF.defaultOptions,
  restParameters__MUST_NOT_BE...
)

  properties = deeplyCloneAndOverrideObject(preset, overridings)

  validateObjectTypeParameter({
    mixinOrFunctionName: "provideDateTimePickerYDF_Component",
    targetParameterNumber: 3,
    targetParameter: options,
    schema: {
      themeIndependentStylesOnly: {
        type: DataTypes.boolean,
        defaultValue: DateTimePicker--YDF.defaultOptions.themeIndependentStylesOnly
      },
      areThemesCSS_ClassesCommon: {
        type: DataTypes.boolean,
        defaultValue: DateTimePicker--YDF.defaultOptions.externalThemes
      },
      loadingPlaceholder: {
        type: DataTypes.boolean,
        defaultValue: DateTimePicker--YDF.defaultOptions.loadingPlaceholder
      },
      themeIndependentGeometricVariations: {
        type: DataTypes.boolean,
        defaultValue: DateTimePicker--YDF.defaultOptions.themeIndependentGeometricVariations
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  .DateTimePicker--YDF

    min-width 120px


    ClickableCellsCommonDecorations()

      color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor

      cursor pointer


      @media (hover: hover)

        &:hover

          background-color: JQueryUI_BaseTheme.clickableElements.hoverState.background


      &:focus

        box-shadow inset 0 0 3px 1px #007fff


      &:active

        background-color: JQueryUI_BaseTheme.clickableElements.activeState.background


      &:disabled

        color: ShadesOfGray__39ColorsW3C_Palette[28]
        background: ShadesOfGray__39ColorsW3C_Palette[36]

        cursor not-allowed


      &__Selected

        color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor
        background: JQueryUI_BaseTheme.clickableElements.activeState.background

        pointer-events none


    MatrixDividerLine()

      border-top 1px solid #ebebeb


    &-SelectedDateTimeDisplaying

      ButtonLikeElementsPrimer()

      display flex
      align-items center
      width 100%

      border-width 1px
      BorderLeftFilletsRadius(3px)
      padding: calc(.45rem - 2px) .5rem calc(.45rem + 1px)
      font-size 1rem

      border-color #c5c5c5
      border-style solid
      color #454545

      cursor pointer

      &:hover

        opacity 75%


      &:focus

        border-color #7B828E
        box-shadow 0 0 6px rgba(black, 0.16)


      &:active

        border-color #7B828E
        box-shadow none


      &:disabled

        opacity 25%


      /.DateTimePicker--YDF__InvalidValueState &

        border-color #C82A1C


      /.DateTimePicker--YDF__ValidValueState &

        border-color #0D47A1


      &-Icon

        width 24px

        fill #7B828E

        flex-shrink 0


      &-Label

        font-size 14px

        margin-left 12px


    &-DialogRelativePositioner

      position relative


    &-Dialog

      width 100%

      position absolute
      z-index YDF_Configuration.zIndexes.lowermostLayer + 1
      border-radius 3px

      background-color white
      box-shadow 0 3px 10px rgba(black, 0.1)


    &-TopActionBar

      display flex
      flex-wrap wrap
      align-items center
      column-gap 6px
      row-gap 4px

      Paddings({ horizontalSymmetric: 6px })

      margin-top 4px


      >*

        flex-shrink 0


    &-ContextGuidance

      Paddings({ horizontalSymmetric: 6px })
      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 1rem, lineSpacing: 4px })

      color: ShadesOfGray__39ColorsW3C_Palette[16]

      margin-top 4px


    &-CurrentScopeTitle

      font-size 13px

      color #abb1ba

      margin-left 12px


    &-DayMatrixActions

      width 100%


      th

        color: ShadesOfGray__39ColorsW3C_Palette[16]
        font-weight bold


      td

        text-align center
        vertical-align middle


    &-DaysMatrix

      table-layout fixed
      width 100%
      MatrixDividerLine()

      margin-top 4px


    &-DayTitleCell

      width percentage(1/7)

      Paddings({
        verticalSymmetric: 10px,
        verticalUpwardShifting: 1px
      })

      font-size 1rem

      text-align center
      color: JQueryUI_BaseTheme.clickableElements.hoverState.fontColor


      &__Holiday

        color: YDF_ColorPalette.red.slightlyDark


    &-SelectDayButton

      ButtonLikeElementsPrimer()

      width 100%
      Paddings({
        verticalSymmetric: 10px,
        verticalUpwardShifting: 1px
      })
      font-size 1rem

      ClickableCellsCommonDecorations()


      &__Today

        box-shadow inset 0 0 1px 1px #0D47A1


    &-MonthsMatrix

      display grid
      grid-template-columns repeat(4, 1fr)
      MatrixDividerLine()

      margin-top 4px


    &-MonthSelectingButton

      ButtonLikeElementsPrimer()

      Paddings({
        verticalSymmetric: 10px,
        verticalUpwardShifting: 1px
      })
      font-size 14px

      ClickableCellsCommonDecorations()


      &:disabled

        pointer-events none


    &-YearsMatrix

      display grid
      grid-template-columns repeat(5, 1fr)
      MatrixDividerLine()

      margin-top 4px


    &-SelectYearButton

      ButtonLikeElementsPrimer()

      Paddings({
        verticalSymmetric: 10px,
        verticalUpwardShifting: 1px
      })
      font-size 14px

      ClickableCellsCommonDecorations()


    &-HoursMatrix

      table-layout fixed
      width 100%


      &-HeaderCell

        Paddings({
          verticalSymmetric: 6px,
          verticalUpwardShifting: 1px
        })


    &-SelectHourButton

      ButtonLikeElementsPrimer()

      width 100%
      Paddings({
        verticalSymmetric: 10px,
        verticalUpwardShifting: 1px
      })
      font-size 14px

      ClickableCellsCommonDecorations()


      &:disabled

        pointer-events none


    &-MinutesMatrix

      display grid
      grid-template-columns repeat(10, 1fr)
