-

  const parameterMetadataYDF_DK_ComponentLocalization__japanese = {
    buildParametersNumberLabel: ({ parameterNumber }) => `${parameterNumber}パラメーター目`,
    requirementLabels: {
      required: "必須",
      optional: "任意",
      hasDefaultValue: "規定値有り"
    },
    metadataKeys: {
      genericTechnicalName: "一般技術名",
      localizedName: "日本語名",
      type: "型"
    }
  };
