-

  const propertyMetadataYDF_DK_ComponentLocalization__japanese = {
    localizedInterpretation: "日本語名",
    type: "型",
    defaultValue: "規定値",
    required: "必須",
    yes: "はい",
    no: "いいえ",
    allowedAlternatives: "利用可能な選択肢"
  };
