-

  const propertyMetadataYDF_DK_ComponentLocalization__japanese = {
    localizedInterpretation: "日本語名",
    type: "型",
    typesAlternatives: "型の選択肢",
    defaultValue: "規定値",
    required: "必須",
    requiredIf: "いつ必要",
    yes: "はい",
    no: "いいえ",
    minimalCharactersCount: "最小文字数",
    maximalCharactersCount: "最大文字数",
    minimalValue: "最小限",
    maximalValue: "最大限",
    allowedAlternatives: "利用可能な選択肢"
  };
