.HamburgerMenuButton.HamburgerMenuButton__DefaultTheme(
  role="button"
  tabindex="0"
  @click="$emit('click')"
)

  +HamburgerMenuIcon.HamburgerMenuButton-Icon

  span.HamburgerMenuButton-Label MENU
