-

  const PrismJS_Integration = {

    SupportedLanguagesNotations: {
      Bash: "bash",
      CSS: "css",
      CPP: "cpp",
      CSharp: "cs",
      Handlebars: "handlebars",
      HTML: "html",
      Java: "java",
      JavaScript: "js",
      JSON: "json",
      JSON5: "json5",
      Markdown: "md",
      PHP: "php",
      Pug: "pug",
      SASS: "sass",
      SCSS: "scss",
      Stylus: "stylus",
      TypeScript: "ts",
      YAML: "yaml"
    },

    get languageNotationsAndTitlesMap() {
      return {
        [this.SupportedLanguagesNotations.Bash]: "Bash",
        [this.SupportedLanguagesNotations.CSS]: "CSS",
        [this.SupportedLanguagesNotations.CPP]: "C++",
        [this.SupportedLanguagesNotations.CSharp]: "C#",
        [this.SupportedLanguagesNotations.HTML]: "HTML",
        [this.SupportedLanguagesNotations.Handlebars]: "Handlebars",
        [this.SupportedLanguagesNotations.Java]: "Java",
        [this.SupportedLanguagesNotations.JavaScript]: "JavaScript",
        [this.SupportedLanguagesNotations.JSON]: "JSON",
        [this.SupportedLanguagesNotations.JSON5]: "JSON5",
        [this.SupportedLanguagesNotations.Markdown]: "Markdown",
        [this.SupportedLanguagesNotations.PHP]: "PHP",
        [this.SupportedLanguagesNotations.Pug]: "Pug",
        [this.SupportedLanguagesNotations.SASS]: "SASS",
        [this.SupportedLanguagesNotations.SCSS]: "SCSS",
        [this.SupportedLanguagesNotations.Stylus]: "Stylus",
        [this.SupportedLanguagesNotations.TypeScript]: "TypeScript",
        [this.SupportedLanguagesNotations.YAML]: "YAML"
      }
    }
  }
