-

  const filesUploaderYDF_ComponentLocalization__japanese = {
    uploadSingleFileByDragAndDropGuidance: "ここにファイルをドラッグアンドドロップしてください。",
    buttons: {
      filePicking: { label: "ファイルを選ぶ" },
      fileDeleting: { label: "ファイルを削除" }
    }
  };
