Chip-RegularTheme-CalmingBrightDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: YDF_ColorPalette.mint.slightlyDark
    },

    background: {
      color: YDF_ColorPalette.mint.slightlyDark,
      image: null
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: white,
    customDeclarations: null
  },

  keyLabel: {

    text: {
      fontWeight: null,
      color: white
    },

    customDeclarations: null

  },

  valueLabel: {

    text: {
      fontWeight: bold,
      color: white
    },

    customDeclarations: null

  }

}
