extends ../../../CompletePages/Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Minimal");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.minimal).
        visuallyHideAllHeadings();
