extends ../../../CompletePages/Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("Pill Shape Geometric Modifier");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.pillShapeGeometricModifier).
        visuallyHideAllHeadings();
