fillBodyVertically(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "fillBodyVertically",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      verticalScrolling: {
        required: true,
        type: DataTypes.boolean
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  height 100%
  max-height 100%


  if compoundParameter.verticalScrolling

    overflow-y auto

  else

    overflow-y hidden
