FixedTranslucentDimLayer(compoundParameter = {}, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "FixedTranslucentDimLayer",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      ZIndex: {
        type: DataTypes--YDF.dimensionlessQuantity,
        defaultValue: YDF_Configuration.zIndexes.modalsUnderlay
      },
      backgroundColor: {
        type: DataTypes--YDF.colorDefinition,
        defaultValue: rgba(black, 0.25)
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index: compoundParameter.ZIndex

  background-color: compoundParameter.backgroundColor
