extends ../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../../../Components/Controls/Buttons/Plain/ButtonDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "Button component demo";
    styleSheetsURIs = [ "@Demos/Components/Controls/Buttons/Plain/Button" ]


block append PageContent

  //- <== [ Testing ] Comment out if need to display standard themes only ==============================================
  //-

    Button__YDF.
        defineNewThemes([ "Cupertino" ]).
        defineNewGeometricVariations([ "Large" ]).
        defineNewDecorativeVariations([ "Danger" ]);
  // ==> ===============================================================================================================

  .ComponentTestingPageContent

    +ButtonDemo
