@require "../../../../_ComponentTestingPage.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend-additional_themes/RegularTheme.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend-additional_themes/CupertinoTheme.styl"


buttonComponentDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
buttonComponentDefaultPropertiesOverriding = {
  themes: {
    regular: {
      geometricVariations: {
        large: Button-RegularTheme-LargeGeometry--YDF
      },
      decorativeVariations: {
        danger: Button-RegularTheme-DangerDecoration--YDF
      }
    },
    cupertino: {
      decorativeVariations: {
        regular: Button-CupertinoTheme-RegularDecoration--YDF,
        accented: Button-CupertinoTheme-AccentedDecoration--YDF,
        linkLike: Button-CupertinoTheme-LinkLikeDecoration--YDF
      }
    }
  }
}
// ==> =================================================================================================================


provideButtonYDF_Component(
  overridings: buttonComponentDefaultPropertiesOverriding
)


@require "../../../../../Components/Controls/Buttons/Plain/ButtonDemo.styl"
