/*  === Execution
stylus Tests/Source/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/PositionalRelationship.test.styl `
    --out Tests/Output/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/PositionalRelationship.test.css
*/

@require "../../../../../../../Functionality.styl"


.Article1

  &-Paragraph

    PositionalRelationship({
      definitions: (".Article-Heading" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })
    })


.Article2

  p

    PositionalRelationship({
      definitions: ("h2" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })
      contextSelector: ".Article2",
      referenceElementSelector: "p"
    })


.ExampleA

  &-Element2

    PositionalRelationship({
      definitions: (".ExampleA-Element1" { retireFromIt: { x: 2px }, pushItFromSelf: { y: 4px } })
    })


.Article3

  &-Paragraph

    PositionalRelationship({
      definitions:\
          (".Article3-Heading" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })\
          (".Article3-OrderedList" { retireFromIt: { y: 4px }, pushItFromSelf: { y: 8px } })
    })


.EmailMagazine

  &-Paragraph

    MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 14px, lineHeight: 17px, doNotUsePseudoElements: true })

    PositionalRelationship({
      definitions:\
          (".EmailMagazine-Heading" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px }, usePaddingsInsteadOfMargins: true })
    })
