/*  === Execution
stylus Tests/Source/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/retireFromElementWithSameSelector.test.styl `
    --out Tests/Output/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/retireFromElementWithSameSelector.test.css
*/


@require "../../../../../../../Functionality.styl"

.Block

  &-ElementA

    retireFromElementWithSameSelector({ x: 2px, y: 4px })


  ul

    li

      retireFromElementWithSameSelector({ y: 8px, contextSelector: ".Block ul", referenceElementSelector: "li" })


  ol

    li

      retireFromElementWithSameSelector({
        x: 4px,
        y: 8px,
        usePaddingsInsteadOfMargins: true,
        contextSelector: ".Block ol",
        referenceElementSelector: "li"
      })
