/*  === Execution
stylus Tests/Source/OutputCheckOnly/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/whenTargetWithSameSelectorGoingJustAfterIt.test.styl `
    --out Tests/Build/OutputCheckOnly/Styles/02-Kernel/03-Mixins/05-PositionalRelationship/whenTargetWithSameSelectorGoingJustAfterIt.test.css
 */

@require "../../../../../../../Functionality.styl"


.Block

  &-ElementA

    +whenTargetWithSameSelectorGoingJustAfterIt()

      background goldenrod


  p

    +whenTargetWithSameSelectorGoingJustAfterIt({ referenceElementSelector: "p", contextSelector: ".Block" })

      border-top 1px solid black
