/* === Execution
stylus Tests/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-1ThemeAnd1GeometricVariation.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-1ThemeAnd1GeometricVariation.test.css `
    --include Styles
*/


@require "../../../../../Functionality.styl"
@require "../../../../../Components.styl"
@require "../_StylesApplyingTest-SampleComponent.test.styl"


provideSampleYDF_Component()
