/* === Execution
stylus Tests/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-MultipleThemesAndThemeIndependentGeometricVariations.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-MultipleThemesAndThemeIndependentGeometricVariations.test.css `
    --include Styles
*/

@require "../../../../../Functionality.styl"
@require "../../../../../Components.styl"
@require "../_StylesApplyingTest-SampleComponent.test.styl"


provideSampleYDF_Component(

  overrides: {

    themes: {

      regular: {
        geometricVariations: {
          another: {
            rootElement: {
              borderWidth: 2px
            },
            child: {
              fontSize: 16px
            }
          }
        },

        decorativeVariations: {
          regular: {}
        }

      },

      another: {

        geometricVariations: {
          regular: {
            rootElement: {
              borderWidth: 1px
            },
            child: {
              fontSize: 14px
            }
          },
          another: {
            rootElement: {
              borderWidth: 2px
            },
            child: {
              fontSize: 16px
            }
          }
        },

        decorativeVariations: {
          regular: {}
        }

      }

    }
  }

)
