/* === Execution
stylus Tests/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-MultipleThemesAnd1ThemeDependentGeometricVariation.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-MultipleThemesAnd1ThemeDependentGeometricVariation.test.css `
    --include Styles
*/


@require "../../../../../Functionality.styl"
@require "../../../../../Components.styl"
@require "../_StylesApplyingTest-SampleComponent.test.styl"


provideSampleYDF_Component(

  overrides: {
    themes: {

      another: {
        geometricVariations: {
          regular: {
            rootElement: {
              borderWidth: 2px
            },
            child: {
              fontSize: 14px
            }
          }
        },
        decorativeVariations: {
          regular: {}
        }
      }

    }
  },

  options: {
    themeIndependentGeometricVariations: false
  }

)
