// === Execution =======================================================================================================
// stylus Tests/Source/Styles/02-Kernel/02-Functions/03-Arrays/arrayConstructor__POLYFILL.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/03-Arrays/arrayConstructor__POLYFILL.test.css --include Styles


@require "01-Assets.styl"
@require "02-Kernel/02-Functions/01-ValueCheckers.styl"
@require "02-Kernel/02-Functions/02-ValueConverters.styl"
@require "02-Kernel/02-Functions/03-Arrays.styl"

borderRadiusSpecification = {
  all: null,
  topSideFillets: null,
  leftSideFillets: null,
}

p(borderRadiusSpecification.all borderRadiusSpecification.topSideFillets borderRadiusSpecification.leftSideFillets)

p(arrayConstructor__POLYFILL(borderRadiusSpecification.all, borderRadiusSpecification.topSideFillets, borderRadiusSpecification.leftSideFillets))


sample = ("one" 11 "ALPHA") ("two" 22 "BRAVO") ("three" 33 "CHARLIE")

p(sample)
p(keys(sample))
p(values(sample))

