// === Execution =======================================================================================================
// stylus Tests/Source/Styles/02-Kernel/02-Functions/03-Arrays/getFirstNonNullArrayElement.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/03-Arrays/getFirstNonNullArrayElement.test.css --include Styles


@require "01-Assets.styl"
@require "02-Kernel/02-Functions/01-ValueCheckers.styl"
@require "02-Kernel/02-Functions/02-ValueConverters.styl"
@require "02-Kernel/02-Functions/03-Arrays.styl"


sample1 = null null "ALPHA" null "BRAVO"
p(getFirstNonNullArrayElement(sample1)); // => "ALPHA"

sample2 = null null null
p(getFirstNonNullArrayElement(sample2)); // => null
