Snackbar-RegularTheme-WarningDecoration--YDF = {

  rootElement: {

    borders: {
      style: null,
      color: null
    },

    background: {
      color: JQueryUI_BaseTheme.warning.borderColor,
      image: null
    },

    shadow: {
      blurRadius: 8px,
      YOffset: 2px,
      color: rgba(black, 0.25)
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: YDF_ColorPalette.amber.mediumDark,
    customDeclarations: null
  },

  message: {

    text: {
      fontWeight: null,
      color: YDF_ColorPalette.amber.mediumDark
    },

    customDeclarations: null

  },

  dismissingButton: {

    defaultState: {

      iconColor: YDF_ColorPalette.amber.slightlyDark,
      shadow: null,

      customDeclarations: null

    },

    hoverState: {

      iconColor: YDF_ColorPalette.amber.mediumDark,
      shadow: null,

      customDeclarations: null

    },


    focusState: {

      iconColor: YDF_ColorPalette.amber.mediumDark,
      shadow: {
        blurRadius: 5px,
        spreadRadius: 1px,
        color: YDF_ColorPalette.amber.mediumDark
      },

      customDeclarations: null

    },

    activeState: {

      iconColor: YDF_ColorPalette.amber.slightlyDark,
      shadow: null,

      customDeclarations: null

    }

  }

}
