component.Badge--YDF(
  :is="rootElementTag"
  :class="rootElementModifierCSS_Classes"
)

  slot(name="SVG_Icon")

  span.Badge--YDF-KeyLabel(
    v-if="keyLabel"
  ) {{ keyLabel }}

  span.Badge--YDF-ValueLabel {{ valueLabel }}
