-

  const parameterMetadataYDF_DK_ComponentRussianLocalization = {
    buildParametersNumberLabel: ({ parameterNumber }) => `Параметр №${parameterNumber}`,
    requirementLabels: {
      required: "Обязательный",
      optional: "Необязательный",
      hasDefaultValue: "Имеется значение по умолчанию"
    },
    tableKeys: {
      genericTechnicalName: "Общее техническое наименование",
      type: "Тип"
    }
  };
