-

  const parameterMetadataYDF_DK_ComponentLocalization__russian = {
    buildParametersNumberLabel: ({ parameterNumber }) => `Параметр №${parameterNumber}`,
    requirementLabels: {
      required: "Обязательный",
      optional: "Необязательный",
      hasDefaultValue: "Имеется значение по умолчанию"
    },
    metadataKeys: {
      genericTechnicalName: "Общее техническое наименование",
      localizedName: "Русскоязычное имя",
      type: "Тип"
    }
  };
