-

  const propertyMetadataYDF_DK_ComponentLocalization__russian = {
    localizedInterpretation: "Русскоязычное наименование",
    type: "Тип",
    defaultValue: "Значение по умолчанию",
    required: "Обязательный",
    yes: "Да",
    no: "Нет",
    allowedAlternatives: "Допустимые варианты"
  };
