-

  const propertyMetadataYDF_DK_ComponentLocalization__russian = {
    localizedInterpretation: "Русскоязычное наименование",
    type: "Тип",
    typesAlternatives: "Варианты типов",
    defaultValue: "Значение по умолчанию",
    required: "Обязательное",
    requiredIf: "Обязательное если",
    yes: "Да",
    no: "Нет",
    minimalCharactersCount: "Минимум символов",
    maximalCharactersCount: "Максимум символов",
    minimalValue: "Минимальное значение",
    maximalValue: "Максимальное значение",
    allowedAlternatives: "Допустимые варианты"
  };
