@require "../../../Functionality.styl"
@require "../../../GUI_Components.styl"

CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


.TempNS

  &-CardsFlow

    retireFrom({ targetElementSelector: ".AnywherePage-PagesGroupHeading", y: 8px })
    retireFrom({ targetElementSelector: ".AnywherePage-PagesSubgroupHeading", y: 12px })


    &-Item

      display flex
      align-items center
      padding 4px 8px
      column-gap 6px

      box-shadow 0 0 4px 1px alpha(black, 0.25)

      retireFromElementWithSameSelector({ y: 8px })


  &-Badge

    padding 4px 8px

    background-color #00A583
    color white
    border-radius 100px
