mixin AdmonitionBlockComponent-Abstract

  p.Article-Paragraph.
    The framed text was used long before computerization, in the books and other printed products.
    Although mainly the important text being framed, sometimes the notices and other secondary information also being.

  p.Article-Paragraph.
    In the development of web sites and web applications, the text framing became more advanced and frequent.
