/*  === Execution
stylus Tests/Source/Styles/02-Kernel/03-Mixins/01-Sizing/02-HeightSizing/textBoxLikeElementsHeightSizing.test.styl `
    --out Tests/Output/Styles/02-Kernel/03-Mixins/01-Sizing/02-HeightSizing/textBoxLikeElementsHeightSizing.test.css
 */

// stylus Tests/Source/Styles/02-Kernel/03-Mixins/01-Sizing/02-HeightSizing/textBoxLikeElementsHeightSizing.test.styl

@require "../../../../../../../Functionality.styl"


.TestSite

  display flex
  flex-direction column
  align-items center
  row-gap 12px

  padding 12px 0 16px



/* The height expected be equal to BASIC_FONT_SIZE */
.Element1

  textBoxLikeElementsHeightSizing({
    type: TextBoxLikeElementsHeightSizing.Types.natural
  })

  background #3498db


/* The height will be equal to BASIC_FONT_SIZE */
.Element2

  textBoxLikeElementsHeightSizing({
    type: TextBoxLikeElementsHeightSizing.Types.natural,
    linesCount: 2
  })

  background #3498db

// Define fixed height, borders and compute paddings
.Element3

  textBoxLikeElementsHeightSizing({
    type: TextBoxLikeElementsHeightSizing.Types.fixed,
    fixedHeight: 40px,
    topBorderWidth: 1px,
    bottomBorderWidth: 2px
  })

  background #2980b9
  border-top-style solid
  border-bottom-style solid
  border-top-color #f1c40f
  border-bottom-color #f1c40f
