-

  class Badge__YDF {

    static CSS_NAMESPACE = "Badge--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    static defineCustomThemes(themesNames) {
      return ComponentsAuxiliaries.defineNewThemes(themesNames, Badge__YDF);
    }

    static areThemesCSS_ClassesCommon = ARE_YDF_COMPONENTS_THEMES_COMMON_BY_DEFAULT;

    static considerThemesAsCommon() {
      Badge__YDF.areThemesCSS_ClassesCommon = true;
      return Badge__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = { regular: "REGULAR" };

    static defineCustomGeometricVariations(geometricVariationsNames) {
      return ComponentsAuxiliaries.defineNewGeometricVariations(geometricVariationsNames, Badge__YDF);
    }

    static GeometricModifiers = {
      pillShape: "PILL_SHAPE",
      singleLine: "SINGLE_LINE"
    };


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = {
      veryCatchyBright: "VERY_CATCHY_BRIGHT",
      catchyBright: "CATCHY_BRIGHT",
      modestlyCatchyBright: "MODESTLY_CATCHY_BRIGHT",
      neutralBright: "NEUTRAL_BRIGHT",
      modestlyCalmingBright: "MODESTLY_CALMING_BRIGHT",
      calmingBright: "CALMING_BRIGHT",
      achromaticBright: "ACHROMATIC_BRIGHT",
      veryCatchyPastel: "VERY_CATCHY_PASTEL",
      catchyPastel: "CATCHY_PASTEL",
      modestlyCatchyPastel: "MODESTLY_CATCHY_PASTEL",
      neutralPastel: "NEUTRAL_PASTEL",
      modestlyCalmingPastel: "MODESTLY_CALMING_PASTEL",
      calmingPastel: "CALMING_PASTEL",
      achromaticPastel: "ACHROMATIC_PASTEL"
    };

    static defineCustomDecorativeVariations(decorativeVariationsNames) {
      return ComponentsAuxiliaries.defineNewDecorativeVariations(decorativeVariationsNames, Badge__YDF);
    }

    static DecorativeModifiers = {
      bordersDisguising: "BORDERS_DISGUISING",
      noBackground: "NO_BACKGROUND"
    };


    /* ━━━ Properties specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      key: {
        type: String,
        required: false
      },

      value: {
        type: String,
        required: true
      },

      theme: {
        type: String,
        required: false,
        allowedAlternatives: Object.values(Badge__YDF.Themes)
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        required: false
      },

      geometry: {
        type: String,
        required: false,
        allowedAlternatives: Object.values(Badge__YDF.GeometricVariations)
      },

      geometricModifiers: {
        type: Array,
        required: false,
        element: {
          type: String,
          allowedAlternatives: Object.values(Badge__YDF.GeometricModifiers)
        }
      },

      decoration: {
        type: String,
        required: true,
        allowedAlternatives: Object.values(Badge__YDF.DecorativeVariations)
      },

      decorativeModifiers: {
        type: Array,
        required: false,
        element: {
          type: String,
          allowedAlternatives: Object.values(Badge__YDF.DecorativeModifiers)
        }
      }

    }

  }
