-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    top: {
      tableOfContentsTitle: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    coreLibrary: {

      tableOfContentsTitle: "主要ライブラリ",

      components: {
        tableOfContentsTitle: "GUIコンポーネント",
        badge: { tableOfContentsTitle: "Badge (バッジ)" },
        controls: {
          tableOfContentsTitle: "操作用"
        }
      }

    },

    frameworksAdaptations: {
      tableOfContentsTitle: "Frameworks adaptations"
    }

  };
