-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    topPage: {
      tableOfContentsTitle: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    coreLibrary: {

      tableOfContentsTitle: "主要ライブラリ"

    },

    frameworksAdaptations: {
      tableOfContentsTitle: "Frameworks adaptations"
    }

  };
