-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    top: {
      $tableOfContentsTitle: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    coreLibrary: {

      $tableOfContentsTitle: "主要ライブラリ",

      markup: {

        $tableOfContentsTitle: "Pugマークアック",

        functionality: {

          $tableOfContentsTitle: "機能",

          inlineJavaScript: {

            $tableOfContentsTitle: "内部JavaScript",

            YDEE_Integration: {
              $tableOfContentsTitle: "YDEE結合"
            },

            functionsAndClasses: {
              $tableOfContentsTitle: "関数・クラス"
            },

            assets: { $tableOfContentsTitle: "アセット" }

          },

          pugMixins: {
            $tableOfContentsTitle: "Pug混入",
            dummies: { $tableOfContentsTitle: "<code>WideDummy</code>と<code>HighDummy</code>" },
            SVG_Icons: { $tableOfContentsTitle: "SVGアイコン" },
            yamatoDaiwaInformationDesign: { $tableOfContentsTitle: "やまとダイワ情報デザイン" }
          },

          pagesTemplates: { $tableOfContentsTitle: "ページの原型" },

          usageOnServerSide: { $tableOfContentsTitle: "サーバ側での利用" }

        }
      },

      styles: {

        $tableOfContentsTitle: "スタイル",

        assets: {

          $tableOfContentsTitle: "アセット",

          fundamentalConstantsAndEnums: {
            $tableOfContentsTitle: "基礎定数・列挙"
          },

          colors: {

            PracticalColorCoordinateSystem: {
              $tableOfContentsTitle: "PCCSパレット（<code>PracticalColorCoordinateSystem</code>）"
            },

            ShadesOfGray__39ColorsW3C_Palette: {
              $tableOfContentsTitle: "グレースケール39色パレット（<code>ShadesOfGray__39ColorsW3C_Palette</code>）"
            },

            YDF_ColorPalette: {
              $tableOfContentsTitle: "YDFカラーパレット（<code>YDF_ColorPalette</code>）"
            }

          }

        },

        kernel: {

          $tableOfContentsTitle: "基礎機能",

          basicVariables: {
            $tableOfContentsTitle: "基本変数",
            fontsStacks: { $tableOfContentsTitle: "フォントスタック" },
            dimensions: { $tableOfContentsTitle: "大小変数" },
            zIndexes: { $tableOfContentsTitle: "Zインデックス" },
            BEM: { $tableOfContentsTitle: "BEM系" }
          },

          functions: {

            $tableOfContentsTitle: "関数",

            typeCheckers: {
              $tableOfContentsTitle: "値の型を確認",
              strings: { $tableOfContentsTitle: "文字列" },
              quantities: { $tableOfContentsTitle: "量" }
            },

            strings: { $tableOfContentsTitle: "文字列弄り" },
            objects: { $tableOfContentsTitle: "オブジェクト弄り" },
            arrays: { $tableOfContentsTitle: "配列の弄り" },
            parametersValidation: { $tableOfContentsTitle: "引数の妥当性確認" },
            other: { $tableOfContentsTitle: "其の他の関数" }
          },

          mixins: {
            $tableOfContentsTitle: "補助混入",
            general: { $tableOfContentsTitle: "一般" },
            sizing: {
              $tableOfContentsTitle: "大小指定",
              width: { $tableOfContentsTitle: "幅" }
            },
            positioning: { $tableOfContentsTitle: "配置" },
            positionalRelationship: { $tableOfContentsTitle: "相対配置" },
            layout: { $tableOfContentsTitle: "構成" },
            typography: { $tableOfContentsTitle: "タイポグラフィ" },
            other: { $tableOfContentsTitle: "其の他" }
          },

          stylesInitialization: { $tableOfContentsTitle: "スタイルの初期化" }

        },

        buildInPlugins: {
          $tableOfContentsTitle: "付きプラグイン",
          additionalColorPalettes: {
            $tableOfContentsTitle: "追加カラーパレット"
          }
        }

      },

      components: {
        $tableOfContentsTitle: "GUIコンポーネント",
        badge: { $tableOfContentsTitle: "Badge (バッジ)" },
        controls: {
          buttons: {
            $tableOfContentsTitle: "ボタン",
            plain: {$tableOfContentsTitle: "Button（標準）"}
          },
          $tableOfContentsTitle: "操作用"
        }
      }

    },

    frameworksAdaptations: {
      $tableOfContentsTitle: "第三者フレームワークの対応"
    },

    realiseNotes: {
      $tableOfContentsTitle: "リリースノート"
    }

  };
