-

  const sharedExternalLinksJapaneseLocalization = {

    vue: {
      officialSite: {
        slots: "https://ja.vuejs.org/guide/components/slots"
      }
    },

    wikipedia: {
      Base64: "https://w.wiki/5Nqn"
    },

    mdn: {
      javaScript: {
        string: {
          ES6TemplateLiteral: "https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Template_literals"
        }
      }
    },

    jetBrains: {
      liveTemplates: "https://pleiades.io/help/idea/using-live-templates.html"
    },

    YamatoDaiwaES_Extensions: {

      RawObjectDataProcessor: {
        PropertiesSpecification: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/RawObjectDataProcessor/RawObjectDataProcessor.md#subtype-and-dependent-properties"
      }

    }

  };
