extends ../../../../CompletePages/GUI_Components/Controls/FilesUploader/_FilesUploaderGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("Multiple Images Preview");

    FilesUploaderGalleryOptions.
        renderSinglePartial(FilesUploaderGalleryOptions.Partials.multipleImagesPreview).
        visuallyHideAllHeadings();
