mixin BellIcon__Filled
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.53 20")&attributes(attributes)
    path(d="M18.28 16.5c-1.49-2.33-1.74-4.78-2.18-8.19-.53-4.05-2.5-6.26-5.54-6.73a1.15 1.15 0 000-.26 1.32 1.32 0 00-2.56 0 1.14 1.14 0 000 .26c-3 .47-5 2.68-5.53 6.73C2 11.72 1.74 14.17.25 16.5c-.53.83-.2 1 .79 1h16.45c.99-.01 1.32-.17.79-1zM9.27 20a2.94 2.94 0 002.54-1.47H6.72A2.94 2.94 0 009.27 20z")
