-

  class RadioButton__YDF {

    static CSS_NAMESPACE = "RadioButton--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    static defineThemes(themesNames) {
      return ComponentsAuxiliaries.defineThemes(themesNames, RadioButton__YDF);
    }

    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    static considerThemesAsCommon() {
      RadioButton__YDF.areThemesCSS_ClassesCommon = true;
      return RadioButton__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = {
      regular: "REGULAR",
      small: "SMALL"
    }

    static defineGeometricVariations(geometricVariationsNames) {
      return ComponentsAuxiliaries.defineGeometricVariations(geometricVariationsNames, RadioButton__YDF);
    }

    static GeometricModifiers = {
      pillShape: "PILL_SHAPE",
      squareShape: "SQUARE_SHAPE",
      singleLine: "SINGLE_LINE",
      noLeftBorderAndRoundings: "NO_LEFT_BORDER_AND_ROUNDINGS",
      noRightBorderAndRoundings: "NO_RIGHT_BORDER_AND_ROUNDINGS"
    };


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = {
      regular: "REGULAR"
    };

    static defineDecorativeVariations(decorativeVariationsNames) {
      return ComponentsAuxiliaries.defineDecorativeVariations(decorativeVariationsNames, RadioButton__YDF);
    }

    static DecorativeModifiers = {
      bordersDisguising: "BORDERS_DISGUISING",
      noBackground: "NO_BACKGROUND"
    };


    /* ━━━ Properties specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      label: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      HTML_Name: {
        type: String,
        required: true,
        minimalCharactersCount: 1
      },

      HTML_Value: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      inputElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      checked: {
        type: Boolean,
        defaultValue: false
      },

      disabled: {
        type: Boolean,
        defaultValue: false
      },

      readonly: {
        type: Boolean,
        defaultValue: false
      },

      theme: {
        type: String,
        defaultValue: RadioButton__YDF.Themes.regular,
        allowedAlternatives: Object.values(RadioButton__YDF.Themes)
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        defaultValue: ComponentsAuxiliaries.areComponentsThemesCommon
      },

      geometricVariation: {
        type: String,
        defaultValue: RadioButton__YDF.GeometricVariations.regular,
        allowedAlternatives: Object.values(RadioButton__YDF.GeometricVariations)
      },

      geometricModifiers: {
        type: Array,
        defaultValue: [],
        element: {
          type: String,
          allowedAlternatives: Object.values(RadioButton__YDF.GeometricModifiers)
        }
      },

      decorativeVariation: {
        type: String,
        defaultValue: RadioButton__YDF.DecorativeVariations.regular,
        allowedAlternatives: Object.values(RadioButton__YDF.DecorativeVariations)
      },

      decorativeModifiers: {
        type: Array,
        defaultValue: [],
        element: {
          type: String,
          allowedAlternatives: Object.values(RadioButton__YDF.DecorativeModifiers)
        }
      }

    }


    //- ━━━ ID generating ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    static counterForID_Generating = 0;

    static generateComponentID() {
      RadioButtonsGroup__YDF.counterForID_Generating++;
      return `RADIO_BUTTON--YDF-${ RadioButtonsGroup__YDF.counterForID_Generating }`;
    }

  }
