/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/01-Sizing/03-Borders/BordersFilletsRadius.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/01-Sizing/03-Borders/BordersFilletsRadius.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.BordersFilletsRadius

  &-Top

    BorderTopFilletsRadius(2px)


  &-Bottom

    BorderBottomFilletsRadius(3px)


  &-Left

    BorderLeftFilletsRadius(4px)


  &-Right

    BorderRightFilletsRadius(5px)
