Table-RegularTheme-NeutralPastelSolidDecoration--YDF = {

  rootElement: {
    background: {
      color: aliceblue
    },
    customDeclarations: null
  },

  tableElement: {
    text: {
      color: gray
    },
    customDeclarations: null
  }

}
