Table-RegularTheme-CalmingPastelSolidDecoration--YDF = {

  rootElement: {
    background: {
      color: aliceblue
    },
    customDeclarations: null
  },

  head: {
    background: {
      color: YDF_ColorPalette.mint.light,
      image: null
    },
    customDeclarations: null
  },

  bodyRow: {

    all: {

    },

    odd: {
      background: {
        color: YDF_ColorPalette.mint.pastelSlightlyLight,
        image: null
      }
    },

    even: {
      background: {
        color: YDF_ColorPalette.mint.pastelLight,
        image: null
      }
    }

  }

}
