extends _AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle();
    AdmonitionBlockGalleryOptions.visuallyHideTopHeadingIf(__IS_PRODUCTION_BUILDING_MODE__);
