@require "../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../node_modules/@yamato-daiwa/frontend/GUI_Components.styl"


admonitionBlockDemoDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//attentionBoxDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================

provideAdmonitionBlockYDF_Component(
  overridings: admonitionBlockDemoDefaultPropertiesOverriding
)

provideButtonYDF_Component()


@require "../../../Galleries/GUI_Components/AdmonitionBlock/AdmonitionBlockGallery.styl"
