extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_TITLE = "RadioButtonsGroup Component Testing";
    styleSheetsURIs = [ "./RadioButtonsGroup.test.css" ];
    scriptsURIs.endOfBody = [ "./RadioButtonsGroup.js" ];


block append Requirements

  include ../../../../Components.pug


block append PageContent

  +RadioButtonsGroup--YDF({
    label: "Who are you?",
    selectingOptions: [
      { key: "INDIVIDUAL", label: "Individual" },
      { key: "CORPORATION", label: "Corporation" }
    ]
  })#SAMPLE
