getFirstNonNullArrayElement(targetArray)

  // Array of single object-type element special case
  if (isObject(targetArray) && isNull(targetArray[1])) {
    return targetArray
  }


  for element in targetArray

    if isNotNull(element)

      return element


  return targetArray[length(targetArray) - 1]
