DateTimePicker-RegularTheme-RegularDecoration--YDF = {

  rootElement: {
    background: {
      color: aliceblue
    },
    customDeclarations: null
  },

  childElement: {
    text: {
      color: gray
    },
    customDeclarations: null
  }

}
