mixin Header

  header.Header&attributes(attributes)

    a.Header-LogoAndTitleLink(
      href="index.html"
    )

      img.Header-Logo(
        src="@Shared/Icons/YDF_Icon__White.svg"
        alt="The icon of &quot;Yamato-Daiwa Frontend&quot; (abbreviation: &quot;YDF&quot;) libraries."
      )

      .Header-Title
        span.Header-Title-Company Yamato Daiwa
        span.Header-Title-LibraryName Frontend

    +LanguageDropDownList.Header-DropDownList
