mixin MenuIcon__ThreeDots__Vertical__Circled__Filled
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M10 0A10 10 0 110 10 10 10 0 0110 0zM8.5 10A1.5 1.5 0 1010 8.5 1.5 1.5 0 008.5 10zm0-5.81a1.5 1.5 0 101.5-1.5 1.5 1.5 0 00-1.5 1.5zm0 11.62a1.5 1.5 0 101.5-1.5 1.5 1.5 0 00-1.5 1.5z")
