mixin MenuIcon__ThreeDots__Horizontal__Circled__Outlined
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M10 1.5A8.5 8.5 0 111.5 10 8.51 8.51 0 0110 1.5M10 0a10 10 0 1010 10A10 10 0 0010 0z")
    circle(cx="10" cy="10" r="1.5")
    circle(cx="15.81" cy="10" r="1.5")
    circle(cx="4.19" cy="10" r="1.5")
