mixin MenuIcon__ThreeDots__Horizontal__Circled__Filled
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M20 10A10 10 0 1110 0a10 10 0 0110 10zM10 8.5a1.5 1.5 0 101.5 1.5A1.5 1.5 0 0010 8.5zm5.81 0a1.5 1.5 0 101.5 1.5 1.5 1.5 0 00-1.5-1.5zm-11.62 0a1.5 1.5 0 101.5 1.5 1.5 1.5 0 00-1.5-1.5z")
