ImprovedUnorderedListComponentDefaultProperties = {

  geometry: {
    markerIndendation: {
      level1: 0
    },
    horizontalSpaceBetweenMakerAndListItemTargetContent: 8px,
    verticalSpaceBetweenItems: 8px,
    verticalSpaceBetweenItemAndNestedList: 6px
  },

  positionalRelationship: {

    verticalSpaceBetweenOtherSelfInstances: 16px,

    withOtherComponents: {},

    withTypographyElements: {
      defaultPreset:{
        typographySpecification: null,
        definitions: {
          heading1: { whenItJustBefore: 12px },
          heading2: { whenItJustBefore: 12px, whenItJustAfter: 16px },
          heading3: { whenItJustBefore: 12px },
          heading5: { whenItJustBefore: 12px, whenItJustAfter: 16px },
          heading6: { whenItJustBefore: 8px, whenItJustAfter: 12px },
          paragraph: { whenItJustBefore: 16px, whenItJustAfter: 16px }
        }
      }
    }
  }
}


provideImprovedListComponent(preset = ImprovedUnorderedListComponentDefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  .ImprovedList

    retireFromElementWithSameSelector({ y: properties.positionalRelationship.verticalSpaceBetweenOtherSelfInstances })


    &-Item

      display grid
      grid-template-columns auto minmax(0, 1fr)
      align-items baseline
      grid-column-gap: properties.geometry.horizontalSpaceBetweenMakerAndListItemTargetContent

      retireFromElementWithSameSelector({ y: properties.geometry.verticalSpaceBetweenItems })


      &-Marker

        justify-self end


        &.ImprovedList-Item-Marker__SVG

          width 8px
          height 8px /* [ Theory ] Must be explicitly specified in addition to "width" to prevent of the stretching inside the grid. */


        &.ImprovedList-Item-Marker__Lettering

          font-family ArialBlack--FontsStack


      &-TargetContent

        MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
          fontSize: BASIC_FONT_SIZE,
          lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS
        })


        >.ImprovedUnorderedList

          margin-top: -2.5px


    .ImprovedList

      margin-top: properties.geometry.verticalSpaceBetweenItemAndNestedList


  providePositionalRelationshipWithTypographyElements({
    positionalRelationshipWithTypographyElementsSettings: properties.positionalRelationship.withTypographyElements,
    componentRootElementSelector: ".ImprovedList"
  })
