-

  /* [ Theory ] Simultaneous rendering of multiple Improved lists is seems to be unlikely, but to exclude it logically,
  *   it is required the deep understanding of Pug pre-processor. */
  const YDF_ImprovedUnorderedListsCoordinator = {

    counterForUniqueID_generation: 0,
    currentMasterListID: null,

    /*
     * {
     *   [masterListID]: {
     *
     *     currentDepthLevel: number;
     *     currentItemCompoundNumber: Array<number>;
     *
     *     [depthLevel: number]: {
     *       listType: string;
     *       customMakerGenerationFunction: (currentItemCompoundNumber: Array<number>) => string;
     *     }
     *   }
     * }
     * */
    listsAbstractions: {}
  }

  const ImprovedList__YDF = {
    Types: {
      unordered: "unordered",
      ordered: "ordered"
    }
  }


mixin ImprovedList--YDF(properties)

  -

    properties = properties || {}

    const { type: listType } = properties;

    const isTopDepthLevel = YDF_ImprovedUnorderedListsCoordinator.currentMasterListID === null;

    let currentMasterListID;
    let currentDepthLevel;


    if (isTopDepthLevel) {

      currentMasterListID = YDF_ImprovedUnorderedListsCoordinator.counterForUniqueID_generation;

      YDF_ImprovedUnorderedListsCoordinator.currentMasterListID = currentMasterListID

      YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID] = {
        currentDepthLevel: 1,
        currentItemCompoundNumber: [ 0 ]
      };

      YDF_ImprovedUnorderedListsCoordinator.counterForUniqueID_generation++;
      currentDepthLevel = 1;

    } else {

      currentMasterListID = YDF_ImprovedUnorderedListsCoordinator.currentMasterListID;
      currentDepthLevel = YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID].currentDepthLevel + 1;

      YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID].currentDepthLevel = currentDepthLevel;
      YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID].currentItemCompoundNumber.push(0);
    }

    YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID][currentDepthLevel] = {
      listType
    }



  .ImprovedList--YDF(role="list")
    block


  -

    if (currentDepthLevel === 1) {
      delete YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID];
      YDF_ImprovedUnorderedListsCoordinator.currentMasterListID = null;
    } else {
      YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID].currentDepthLevel--;
      YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[currentMasterListID].currentItemCompoundNumber.pop()
    }


mixin ImprovedList-Item--YDF(properties)

  -

    properties = properties || {}

    const { important, notice } = properties

    const {
      currentDepthLevel,
      currentItemCompoundNumber
    } = YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[YDF_ImprovedUnorderedListsCoordinator.currentMasterListID]

    const currentListType = YDF_ImprovedUnorderedListsCoordinator.
        listsAbstractions[YDF_ImprovedUnorderedListsCoordinator.currentMasterListID][currentDepthLevel].listType;

    YDF_ImprovedUnorderedListsCoordinator.listsAbstractions[YDF_ImprovedUnorderedListsCoordinator.currentMasterListID].
        currentItemCompoundNumber[currentItemCompoundNumber.length - 1]++;


  .ImprovedList-Item--YDF

    case currentListType

      when ImprovedList__YDF.Types.unordered
        case currentDepthLevel
          when 1
            svg.ImprovedList-Item--YDF-Marker.ImprovedList-Item--YDF-Marker__SVG
              circle(r="4" cx="50%" cy="50%" fill="black")
          when 2
            svg.ImprovedList-Item--YDF-Marker.ImprovedList-Item--YDF-Marker__SVG
              circle(r="3.5" cx="50%" cy="50%" stroke="black" stroke-width="1" fill="none")

      when ImprovedList__YDF.Types.ordered
        .ImprovedList-Item--YDF-Marker.ImprovedList-Item--YDF-Marker__Lettering= currentItemCompoundNumber.join(".")


    .ImprovedList-Item--YDF-TargetContent(role="listitem")
      block
