Paddings(paddingsSpecification, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "Paddings",
    targetParameterNumber: 1,
    targetParameter: paddingsSpecification,
    schema: PaddingsSpecificationSchema--YDF,
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  leftPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    paddingsSpecification.all, paddingsSpecification.horizontalSymmetric, paddingsSpecification.left
  ))

  rightPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    paddingsSpecification.all, paddingsSpecification.horizontalSymmetric, paddingsSpecification.right
  ))

  topPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    paddingsSpecification.all, paddingsSpecification.verticalSymmetric, paddingsSpecification.top
  ))

  bottomPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    paddingsSpecification.all, paddingsSpecification.verticalSymmetric, paddingsSpecification.bottom
  ))


  if (isNotNull(paddingsSpecification.upwardShifting) && isNotNull(topPadding)) {
    topPadding = buildCalcExpression(
      "${ topPadding } - ${ upwardShifting }",
      { topPadding: topPadding, upwardShifting: paddingsSpecification.upwardShifting }
    )
  }

  if isNotNull(paddingsSpecification.upwardShifting)

    if isNotNull(topPadding)

      topPadding = buildCalcExpression(
        "${ topPadding } - ${ upwardShifting }",
        { topPadding: topPadding, upwardShifting: paddingsSpecification.upwardShifting }
      )

    if isNotNull(bottomPadding)

      bottomPadding = buildCalcExpression(
        "${ bottomPadding } + ${ upwardShifting }",
        { bottomPadding: bottomPadding, upwardShifting: paddingsSpecification.upwardShifting }
      )


  applyIfNotNull({
    padding-left: leftPadding,
    padding-right: rightPadding,
    padding-top: topPadding,
    padding-bottom: bottomPadding
  })


specifyPaddings(paddingsSpecification, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "specifyPaddings",
    targetParameterNumber: 1,
    targetParameter: paddingsSpecification,
    schema: PaddingsSpecificationSchema--YDF,
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  return {
    all: paddingsSpecification.all,
    horizontalSymmetric: paddingsSpecification.horizontalSymmetric,
    upwardShifting: paddingsSpecification.upwardShifting,
    verticalSymmetric: paddingsSpecification.verticalSymmetric,
    top: paddingsSpecification.top,
    bottom: paddingsSpecification.bottom,
    left: paddingsSpecification.left,
    right: paddingsSpecification.right
  }
