-

  class RoutingEmulator {

    static routing = null;
    static currentRoute = null;


    static initialize(routing) {
      RoutingEmulator.routing = routing;
      return RoutingEmulator;
    }

    static setCurrentRoute(route) {
      RoutingEmulator.currentRoute = route;
      return RoutingEmulator;
    }

  }
