mixin Copying--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.81 20")&attributes(attributes)
    path(d="M4.91 17.02h10.35c.85 0 1.55-.7 1.55-1.55V5.62c0-.45-.18-.88-.5-1.2L12.39.5a1.7 1.7 0 0 0-1.2-.5H4.91c-.76 0-1.4.55-1.53 1.28-.02.08-.02.17-.02.26v13.93c0 .85.7 1.55 1.55 1.55ZM15.74 5.08h-3.48c-.37 0-.52-.15-.52-.52V1.08l4 4Zm-.48 11.08H4.91a.69.69 0 0 1-.68-.68V1.55A.67.67 0 0 1 4.9.88h6.05v4.15a.83.83 0 0 0 .83.82h4.14v9.63c0 .37-.31.68-.68.68Z")
    path(d="M0 4.52v13.93C0 19.3.69 20 1.55 20H11.9c.76 0 1.4-.56 1.52-1.28.02-.08.02-.17.02-.26v-.61h-.87v.61a.67.67 0 0 1-.67.67H1.55a.69.69 0 0 1-.68-.68V4.52c0-.37.3-.68.68-.68h.99l.05-.87H1.55C.69 2.98 0 3.67 0 4.52Z")
