/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/04-Layout/fillBodyVertically.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/04-Layout/fillBodyVertically.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.BodyChildWithVerticalScrolling

  fillBodyVertically({ verticalScrolling: true })


.BodyChildWithoutVerticalScrolling

  fillBodyVertically({ verticalScrolling: false })
