/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/04-Layout/FixedTranslucentDimLayer.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/04-Layout/FixedTranslucentDimLayer.test.css `
    --include Styles
*/

@require "01-Assets.styl"
@require "02-Kernel.styl"



.ModalDialog

  &-DimUnderlay

    FixedTranslucentDimLayer({
      ZIndex: 1,
      backgroundColor: rgb(255, 255, 128)
    })
