-

  class DropDownList__YDF {

    static CSS_NAMESPACE = "DropDownList--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } | null } */
    static _selfAndChildrenComponentsThemesCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } } */
    static get selfAndChildrenComponentsThemesCorrespondence() {
      return DropDownList__YDF._selfAndChildrenComponentsThemesCorrespondence ?? (
        DropDownList__YDF._selfAndChildrenComponentsThemesCorrespondence = {
          compoundControlShell: { [DropDownList__YDF.Themes.regular]: CompoundControlShell__YDF.Themes.regular },
          button: { [DropDownList__YDF.Themes.regular]: Button__YDF.Themes.regular }
        }
      );
    }

    /**
     * @param {
     *   { [ ownThemeKey: string ]: { [ childrenComponentKey: string ]: string; } }
     * } ownAndCorrespondingCompoundControlShellThemesDefinition
     * @example
     * DropDownList__YDF.defineThemes({
     *   redmond: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.redmond,
     *     button: Button__YDF.Themes.redmond
     *   },
     *   cupertino: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.cupertino,
     *     button: Button__YDF.Themes.cupertino
     *   }
     * });
     */
    static defineThemes(ownAndCorrespondingCompoundControlShellThemesDefinition) {
      return ComponentsAuxiliaries.defineThemesAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellThemesDefinition, DropDownList__YDF
      );
    }

    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    static considerThemesAsCommon() {
      DropDownList__YDF.areThemesCSS_ClassesCommon = true;
      return DropDownList__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = {
      regular: "REGULAR",
      small: "SMALL"
    };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } | null } */
    static _selfAndChildrenComponentsGeometricVariationsCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } } */
    static get selfAndChildrenComponentsGeometricVariationsCorrespondence() {
      return DropDownList__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence ?? (
        DropDownList__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence = {
          compoundControlShell: {
            [DropDownList__YDF.GeometricVariations.regular]: CompoundControlShell__YDF.GeometricVariations.regular,
            [DropDownList__YDF.GeometricVariations.small]: CompoundControlShell__YDF.GeometricVariations.small
          },
          button: {
            [DropDownList__YDF.GeometricVariations.regular]: Button__YDF.GeometricVariations.regular,
            [DropDownList__YDF.GeometricVariations.small]: Button__YDF.GeometricVariations.small
          }
        }
      );
    }

    static defineGeometricVariations(ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition) {
      return ComponentsAuxiliaries.defineGeometricVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition, DropDownList__YDF
      );
    }


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } | null } */
    static _selfAndChildrenComponentsDecorativeVariationsCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } } */
    static get selfAndChildrenComponentsDecorativeVariationsCorrespondence() {
      return DropDownList__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence ?? (
        DropDownList__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence = {
          compoundControlShell: {
            [DropDownList__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          },
          button: {
            [DropDownList__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          }
        }
      );
    }

    static defineDecorativeVariations(ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition) {
      return ComponentsAuxiliaries.defineDecorativeVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition, DropDownList__YDF
      );
    }


    /* ━━━ Properties specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      label: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      inputElementAccessibilityGuidance: {
        type: String,
        required: true,
        minimalCharactersCount: 1
      },

      buttonElementAccessibilityGuidance: {
        type: String,
        required: true,
        minimalCharactersCount: 1
      },

      listBoxElementAccessibilityGuidance: {
        type: String,
        required: true,
        minimalCharactersCount: 1
      },

      externalLabelHTML_ID: {
        type: String,
        requiredIf: {
          predicate: properties =>
              !isNonEmptyString(properties.label) &&
              !isNonEmptyString(properties.inputElementAccessibilityGuidance),
          descriptionForLogging:
              "Neither \"label\" nor \"inputElementAccessibilityGuidance\" has been specified with non-empty strings"
        },
        minimalCharactersCount: 1
      },

      guidance: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      placeholder: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      selectingOptions: {

        type: Array,
        required: false,

        element: {
          type: Object,
          properties: {
            key: {
              type: RawObjectDataProcessor.ValuesTypesIDs.oneOf,
              required: true,
              alternatives: [
                {
                  type: String,
                  minimalCharactersCount: 1
                },
                {
                  type: Number,
                  numbersSet: RawObjectDataProcessor.NumbersSets.anyRealNumber
                }
              ]
            },
            label: {
              type: RawObjectDataProcessor.ValuesTypesIDs.oneOf,
              required: true,
              alternatives: [
                {
                  type: String,
                  minimalCharactersCount: 1
                },
                {
                  type: Number,
                  numbersSet: RawObjectDataProcessor.NumbersSets.anyRealNumber
                }
              ]
            }
          }
        }

      },

      initiallySelectedOptionKey: {
        type: RawObjectDataProcessor.ValuesTypesIDs.oneOf,
        required: false,
        alternatives: [
          {
            type: String,
            minimalCharactersCount: 1
          },
          {
            type: Number,
            numbersSet: RawObjectDataProcessor.NumbersSets.anyRealNumber
          }
        ]
      },

      disabled: {
        type: Boolean,
        defaultValue: false
      },

      readonly: {
        type: Boolean,
        defaultValue: false
      },

      required: {
        type: Boolean,
        defaultValue: false
      },

      mustDisplayAppropriateBadgeIfInputIsRequired: {
        type: Boolean,
        defaultValue: false
      },

      mustDisplayAppropriateBadgeIfInputIsOptional: {
        type: Boolean,
        defaultValue: false
      },

      mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge: {
        type: Boolean,
        defaultValue: false
      },

      inputElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      labelElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      buttonElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      listBoxElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      theme: {
        type: String,
        defaultValue: DropDownList__YDF.Themes.regular,
        allowedAlternatives: Object.
            entries(DropDownList__YDF.Themes).
            map(([ key, value ]) => ({ key: `DropDownList__YDF.Themes.${ key }`, value }))
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        defaultValue: DropDownList__YDF.areThemesCSS_ClassesCommon
      },

      geometricVariation: {
        type: String,
        defaultValue: DropDownList__YDF.GeometricVariations.regular,
        allowedAlternatives: Object.
            entries(DropDownList__YDF.GeometricVariations).
            map(([ key, value ]) => ({ key: `DropDownList__YDF.GeometricVariations.${ key }`, value }))
      },

      decorativeModifiers: {
        type: String,
        defaultValue: DropDownList__YDF.DecorativeVariations.regular,
        allowedAlternatives: Object.
            entries(DropDownList__YDF.DecorativeVariations).
            map(([ key, value ]) => ({ key: `DropDownList__YDF.DecorativeVariations.${ key }`, value }))
      }

    };


    /* ━━━ State simulations specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static statesSimulationsSpecification = {

      expanded: {
        type: Boolean,
        defaultValue: false
      },

      invalidInputHighlightingIfAnyValidationErrorsMessages: ComponentsAuxiliaries.
          validatableControlGeneralStatesSimulationsSpecification.invalidInputHighlightingIfAnyValidationErrorsMessages,

      validValueHighlightingIfNoValidationErrorsMessages: ComponentsAuxiliaries.
          validatableControlGeneralStatesSimulationsSpecification.validValueHighlightingIfNoValidationErrorsMessages,

      validationErrorsMessages: ComponentsAuxiliaries.validatableControlGeneralStatesSimulationsSpecification.
          validationErrorsMessages,

      asynchronousValidationsStatuses: ComponentsAuxiliaries.validatableControlGeneralStatesSimulationsSpecification.
          asynchronousValidationsStatuses

    };


    /* ━━━ Localization ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static localization = dropDownListYDF_ComponentLocalization__english;


    /* ━━━ Routines ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    /* ─── ID generating ──────────────────────────────────────────────────────────────────────────────────────────── */
    static counterForID_Generating = 0;

    static generateComponentID() {
      DropDownList__YDF.counterForID_Generating++;
      return `DROP_DOWN_LIST--YDF-${ DropDownList__YDF.counterForID_Generating }`;
    }

  }
