@page "/AdmonitionBlock"


@using YamatoDaiwa.Frontend.Components.AdmonitionBlock


<AdmonitionBlock
  title="Looks like works fine!"
  decoration=@(AdmonitionBlock.StandardDecorativeVariations.success)
>
  <p>The AdmonitionBlock component instance has been rendered</p>
</AdmonitionBlock>