MAIN_SANS_SERIF_FONT_STACK ?=\
    system-ui,\
    -apple-system,\
    BlinkMacSystemFont,\
    Segoe UI,\
    Roboto,\
    Helvetica Neue,\
    Arial,\
    Noto Sans,\
    Liberation Sans,\
    sans-serif,\
    Apple Color Emoji,\
    Segoe UI Emoji,\
    Segoe UI Symbol,\
    Noto Color Emoji

MAIN_SERIF_FONT_STACK ?=\
    TimesNewRoman,\
    Times New Roman,\
    Times,\
    Baskerville,\
    Georgia,\
    serif

MAIN_MONOSPACED_FONT_STACK ?=\
    Lucida Console,\
    Lucida Sans Typewriter,\
    monaco,\
    Bitstream Vera Sans Mono,\
    monospace

MAIN_FONT_STACK ?= MAIN_SANS_SERIF_FONT_STACK
