TextBox-RegularDecoration--YDF = {

  inputOrTextAreaElement: {
    border: {
      style: solid,
      color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
    },
    text: {
      color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor
    }
  }
}
