-

  class Pagination__YDF {

    static CSS_NAMESPACE = "Pagination--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } | null } */
    static _selfAndChildrenComponentsThemesCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } } */
    static get selfAndChildrenComponentsThemesCorrespondence() {
      return Pagination__YDF._selfAndChildrenComponentsThemesCorrespondence ?? (
        Pagination__YDF._selfAndChildrenComponentsThemesCorrespondence = {
          button: { [Pagination__YDF.Themes.regular]: Button__YDF.Themes.regular }
        }
      );
    }

    /**
     * @param {
     *   { [ ownThemeKey: string ]: { [ childrenComponentKey: string ]: string; } }
     * } ownAndCorrespondingCompoundControlShellThemesDefinition
     * @example
     * Pagination__YDF.defineThemes({
     *   redmond: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.redmond,
     *     button: Button__YDF.Themes.redmond
     *   },
     *   cupertino: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.cupertino,
     *     button: Button__YDF.Themes.cupertino
     *   }
     * });
     */
    static defineThemes(ownAndCorrespondingCompoundControlShellThemesDefinition) {
      return ComponentsAuxiliaries.defineThemesAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellThemesDefinition, Pagination__YDF
      );
    }

    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    static considerThemesAsCommon() {
      Pagination__YDF.areThemesCSS_ClassesCommon = true;
      return Pagination__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = {
      regular: "REGULAR",
      small: "SMALL"
    };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } | null } */
    static _selfAndChildrenComponentsGeometricVariationsCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } } */
    static get selfAndChildrenComponentsGeometricVariationsCorrespondence() {
      return Pagination__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence ?? (
        Pagination__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence = {
          button: {
            [Pagination__YDF.GeometricVariations.regular]: Button__YDF.GeometricVariations.regular,
            [Pagination__YDF.GeometricVariations.small]: Button__YDF.GeometricVariations.small
          }
        }
      );
    }

    static defineGeometricVariations(ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition) {
      return ComponentsAuxiliaries.defineGeometricVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition, Pagination__YDF
      );
    }


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /** @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } | null } */
    static _selfAndChildrenComponentsDecorativeVariationsCorrespondence = null;

    /** @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } } */
    static get selfAndChildrenComponentsDecorativeVariationsCorrespondence() {
      return Pagination__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence ?? (
        Pagination__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence = {
          button: {
            [Pagination__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          }
        }
      );
    }

    static defineDecorativeVariations(ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition) {
      return ComponentsAuxiliaries.defineDecorativeVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition, Pagination__YDF
      );
    }



    /* ━━━ Properties specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      maximalPageNumberButtonsCount: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.naturalNumber,
        defaultValue: 5
      },

      accessibilityGuidance: {
        type: String,
        required: true,
        minimalCharactersCount: 1
      },

      noDisplayMovingToUltimatePagesButtons: {
        type: Boolean,
        defaultValue: false
      },

      noDisplayMovingToAdjacentPagesButtons: {
        type: Boolean,
        defaultValue: false
      },

      theme: {
        type: String,
        defaultValue: Pagination__YDF.Themes.regular,
        allowedAlternatives: Object.
            entries(Pagination__YDF.Themes).
            map(([ key, value ]) => ({ key: `Pagination__YDF.Themes.${ key }`, value }))
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        defaultValue: Pagination__YDF.areThemesCSS_ClassesCommon
      },

      geometricVariation: {
        type: String,
        defaultValue: Pagination__YDF.GeometricVariations.regular,
        allowedAlternatives: Object.
            entries(Pagination__YDF.GeometricVariations).
            map(([ key, value ]) => ({ key: `Pagination__YDF.GeometricVariations.${ key }`, value }))
      },

      decorativeVariation: {
        type: String,
        defaultValue: Pagination__YDF.DecorativeVariations.regular,
        allowedAlternatives: Object.
            entries(Pagination__YDF.DecorativeVariations).
            map(([ key, value ]) => ({ key: `Pagination__YDF.DecorativeVariations.${ key }`, value }))
      }

    };


    /* ━━━ State simulations specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static statesSimulationsSpecification = {

      totalPagesCount: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.naturalNumber,
        defaultValue: 10
      },

      currentPageNumber: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.naturalNumber,
        defaultValue: 1,
        customValidators: {
          validationFunction: ({ currentPropertyValue: currentPageNumber, rawData__currentObjectDepth }) =>
              isUndefined(rawData__currentObjectDepth.totalPagesCount) ||
                  currentPageNumber <= rawData__currentObjectDepth.totalPagesCount,
          descriptionForLogging: "\"currentPageNumber\" could not be more than \"totalPagesCount\"."
        }
      }

    };


    /* ━━━ Localization ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static localization = paginationYDF_ComponentLocalization__english;

  }
