include Pagination.class.pug


mixin Pagination--YDF(properties, statesSimulations)

  -

    const {

      maximalPageNumberButtonsCount,
      accessibilityGuidance,
      noDisplayMovingToUltimatePagesButtons,
      noDisplayMovingToAdjacentPagesButtons,

      theme,
      areThemesCSS_ClassesCommon,
      geometricVariation,
      decorativeVariation

    } = processObjectTypeParameterOfPugMixin({
      rawParameter: properties,
      parameterNumber: 1,
      parameterName: "properties",
      parameterPropertiesSpecification: Pagination__YDF.propertiesSpecification,
      mixinName: Pagination__YDF.CSS_NAMESPACE
    });

    const {
      totalPagesCount,
      currentPageNumber
    } = processObjectTypeParameterOfPugMixin({
      rawParameter: statesSimulations,
      parameterNumber: 2,
      parameterName: "statesSimulations",
      parameterPropertiesSpecification: Pagination__YDF.statesSimulationsSpecification,
      mixinName: Pagination__YDF.CSS_NAMESPACE
    });

    const rootElementModifierCSS_Classes = [

      ...ComponentsAuxiliaries.addThemeCSS_ClassToArrayIfMust({
        theme,
        allThemes: Pagination__YDF.Themes,
        CSS_Namespace: Pagination__YDF.CSS_NAMESPACE,
        areThemesCSS_ClassesCommon
      }),

      ...ComponentsAuxiliaries.addGeometricVariationCSS_ClassToArrayIfMust({
        geometricVariation,
        allGeometricVariations: Pagination__YDF.GeometricVariations,
        CSS_Namespace: Pagination__YDF.CSS_NAMESPACE
      }),

      ...ComponentsAuxiliaries.addDecorativeVariationCSS_ClassToArrayIfMust({
        decorativeVariation,
        allDecorativeVariations: Pagination__YDF.DecorativeVariations,
        CSS_Namespace: Pagination__YDF.CSS_NAMESPACE
      })

    ];


  nav.Pagination--YDF&attributes(attributes)(aria-label=accessibilityGuidance)

    ul

      if !noDisplayMovingToUltimatePagesButtons

        li

          +Button--YDF({
            accessibilityGuidance: Pagination__YDF.localization.buttons.toFirstPage.accessibilityGuidance,
            disabled: currentPageNumber === 1,
            geometricModifiers: [ Button__YDF.GeometricModifiers.squareShape ]
          }).Pagination-Button: +DoubleChevronIcon__Leftward--YDF_Icon.Button--YDF-SVG_Icon

      if !noDisplayMovingToAdjacentPagesButtons

        li

          +Button--YDF({
            accessibilityGuidance: Pagination__YDF.localization.buttons.toPreviousPage.accessibilityGuidance,
            disabled: currentPageNumber === 1,
            geometricModifiers: [ Button__YDF.GeometricModifiers.squareShape ]
          }).Pagination-Button: +Chevron__Leftward--YDF_Icon.Button--YDF-SVG_Icon

      -

        const lastPageNumber = limitMaximalValue({
          targetNumber: currentPageNumber + maximalPageNumberButtonsCount - 1,
          maximalValue: totalPagesCount
        })

      - for (let pageNumber = currentPageNumber; pageNumber <= lastPageNumber; pageNumber++)

        li

          +Button--YDF({
            label: pageNumber,
            geometricModifiers: [ Button__YDF.GeometricModifiers.squareShapeUnlessOverflowed ]
          }).Pagination-Button

      if !noDisplayMovingToAdjacentPagesButtons

        li

          +Button--YDF({
            accessibilityGuidance: Pagination__YDF.localization.buttons.toNextPage.accessibilityGuidance,
            geometricModifiers: [ Button__YDF.GeometricModifiers.squareShape ]
          }).Pagination-Button: +Chevron__Rightward--YDF_Icon.Button--YDF-SVG_Icon

      if !noDisplayMovingToUltimatePagesButtons

        li

          +Button--YDF({
            accessibilityGuidance: Pagination__YDF.localization.buttons.toLastPage.accessibilityGuidance,
            geometricModifiers: [ Button__YDF.GeometricModifiers.squareShape ]
          }).Pagination-Button: +DoubleChevronIcon__Rightward--YDF_Icon.Button--YDF-SVG_Icon
