@require "../../_ComponentTestingPage.styl"

snackbarComponentDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//snackbarComponentDefaultPropertiesOverriding = {
//  themes: {
//    regular: {
//      geometricVariations: {
//        small: deeplyCloneAndOverrideObject(
//          Snackbar-RegularGeometry--YDF,
//          {
//            SVG_Icon: { height: 0.8em },
//            keyLabel: { text: { size: 0.8em } },
//            valueLabel: { text: { size: 0.8em } }
//          }
//        )
//      },
//      decorativeVariations: {
//
//      }
//    }
//  }
//}
// ==> =================================================================================================================


provideSnackbarYDF_Component(
  overridings: snackbarComponentDefaultPropertiesOverriding
)


@require "../../../Components/Badge/BadgeDemo.styl"
