-

  const AdmonitionBlockComponentPropertiesSpecification = {

    typeName: "Properties",

    propertiesSpecification: {

      ...AdmonitionBlock__YDF.propertiesSpecification,

      hasDefaultSVG_Icon: {
        type: Boolean,
        defaultValue: false
      },

      theme: {
        ...AdmonitionBlock__YDF.propertiesSpecification.theme,
        defaultValue: "AdmonitionBlock.Themes.regular",
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.theme.allowedAlternatives.map(
          ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      areThemesCSS_ClassesCommon: {
        ...AdmonitionBlock__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
        defaultValue: "AdmonitionBlock.areThemesCSS_ClassesCommon"
      },

      geometricVariation: {
        ...AdmonitionBlock__YDF.propertiesSpecification.geometricVariation,
        defaultValue: "AdmonitionBlock.GeometricVariations.regular",
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.geometricVariation.allowedAlternatives.map(
          ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      decorativeVariation: {
        ...AdmonitionBlock__YDF.propertiesSpecification.decorativeVariation,
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.decorativeVariation.allowedAlternatives.map(
                ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      rootElementModifierCSS_Class: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      rootElementModifierCSS_Classes: {
        type: Array,
        required: false,
        element: {
          type: String,
          minimalCharactersCount: 1
        }
      },

      rootElementSpaceSeparatedModifierCSS_Classes: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      HTML_ID: {
        type: String,
        required: false
      },

      customSVG_Icon: {
        type: "Microsoft.AspNetCore.Components.RenderFragment",
        required: false
      }

    },

    /** @param { Object<string, string> } localizedInterpretations */
    setPropertiesLocalizedInterpretations(localizedInterpretations) {
      for (const [propertyName, localizedInterpretation] of Object.entries(localizedInterpretations)) {
        this.propertiesSpecification[propertyName].localizedInterpretation = localizedInterpretation;
      }
    }

  };


  delete AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.SVG_Icon;
