SocialNetworksBrandingColorsPalette = {
  facebook: #3B5998,
  twitter: #55ACEE,
  x: #000000,
  google: #dd4b39,
  linkedIn: #007bb5,
  youtube: #bb0000,
  instagram: #125688,
  reddit: #ff5700,
  rss: #ff6600,
  skype: #00aff0
}
