extends ../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../Components/AttentionBox/AttentionBoxDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "AttentionBox component demo";
    styleSheetsURIs = [ "@Demos/Components/AttentionBox/AttentionBox" ]
    scriptsURIs.endOfBody = [ "@Demos/Components/AttentionBox/AttentionBox" ]


block append PageContent

  .ComponentTestingPageContent

    +AttentionBoxDemo
