@require "../../_ComponentTestingPage.styl"

attentionBoxDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//attentionBoxDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================


provideAttentionBoxYDF_Component(
  overridings: attentionBoxDefaultPropertiesOverriding
)

provideButtonYDF_Component()


@require "../../../Components/AttentionBox/AttentionBoxDemo.styl"
