FilesUploader-RegularTheme-RegularDecoration--YDF = {

  rootElement: {
    customDeclarations: null
  },

  dragAndDropArea: {

    defaultState: {

      borders: {
        style: solid,
        color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
      },

      background: {
        color: null,
        image: null
      },

      shadow: null,

      customDeclarations: null

    },

    hoverState: {

      borders: {
        style: null,
        color: lighten(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 80%)
      },

      background: {
        color: null,
        image: null
      },

      shadow: null,

      customDeclarations: null

    },

    focusVisibleState: {

      borders: {
        style: null,
        color: lighten(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 80%)
      },

      background: {
        color: null,
        image: null
      },

      shadow: {
        blurRadius: 3px,
        spreadRadius: 1px,
        color: #007fff
      },

      customDeclarations: null

    },

    activeState: {

      borders: {
        style: null,
        color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor
      },

      background: {
        color: null,
        image: null
      },

      shadow: null,

      customDeclarations: null

    },

    dragOverState: {

      borders: {
        style: null,
        color: null
      },

      background: {
        color: lighten(JQueryUI_BaseTheme.clickableElements.activeState.borderColor, 99%),
        image: null
      },

      shadow: null,

      customDeclarations: null

    }

  }

}
