ImportantEntity--YDID_Color = hsl(0, 100, 40)
SecondaryEntity--YDID_Color = hsl(40, 100, 40)

DefinableTerm--YDID_Color = hsl(110, 100, 40)

Term__Variation1--YDID_Color = hsl(225, 100, 40)
Term__Variation2--YDID_Color = hsl(200, 100, 40)

Keyword__Variation1--YDID_Color = hsl(290, 100, 40)
Keyword__Variation2--YDID_Color = hsl(315, 100, 40)


DefinableTerm()

  font-weight bold
  color DefinableTerm--YDID_Color

ImportantEntity--YDID()

  font-weight bold
  color ImportantEntity--YDID_Color

ImportantEntity__Code--YDID()

  ImportantEntity--YDID()
  font-family Consolas__SmoothJapaneseSymbols--FontsStack


SecondaryEntity--YDID()

  font-weight bold
  color SecondaryEntity--YDID_Color

SecondaryEntity__Code--YDID()

  SecondaryEntity--YDID()
  font-family Consolas__SmoothJapaneseSymbols--FontsStack


Term--YDID()

  color Term__Variation1--YDID_Color

Term__Contrast--YDID()

  color Term__Variation2--YDID_Color


Keyword--YDID()

  color Keyword__Variation1--YDID_Color

Keyword__Contrast--YDID()

  color Keyword__Variation2--YDID_Color


Keyphrase--YDID()

  padding-bottom 1px
  box-shadow inset -3px -6px 0 -4px ImportantEntity--YDID_Color


provideYamatoDaiwaInformationDesignClasses()

  .DefinableTerm--YDID

    DefinableTerm()


  .Term--YDID

    Term--YDID()


  .Term__Contrast--YDID

    Term__Contrast--YDID()


  .Keyword--YDID

    Keyword--YDID()


  .Keyword__Contrast--YDID

    Keyword__Contrast--YDID()


  .Keyphrase--YDID

    Keyphrase--YDID()


  .ImportantEntity--YDID

    ImportantEntity--YDID()


  .ImportantEntity__Code--YDID

    ImportantEntity__Code--YDID()


  .SecondaryEntity--YDID

    SecondaryEntity--YDID()


  .SecondaryEntity__Code--YDID

    SecondaryEntity__Code--YDID()
