YamatoDaiwaInformationDesignColors = {
  importantEntity: hsl(0, 100, 40),
  secondaryEntity: hsl(40, 100, 40),
  definableTerm: hsl(110, 100, 40),
  term: hsl(225, 100, 40),
  term__variation: hsl(200, 100, 40),
  keyword: hsl(290, 100, 40),
  keyword__variation: hsl(315, 100, 40)
}


DefinableTerm--YDID()

  font-weight bold
  color: YamatoDaiwaInformationDesignColors.definableTerm


ImportantEntity--YDID()

  font-weight bold
  color: YamatoDaiwaInformationDesignColors.importantEntity


ImportantEntity__Code--YDID()

  ImportantEntity--YDID()
  font-family Consolas, monaco, Meiryo UI, monospace


SecondaryEntity--YDID()

  font-weight bold
  color SecondaryEntity--YDID_Color


SecondaryEntity__Code--YDID()

  SecondaryEntity--YDID()
  font-family Consolas, monaco, Meiryo UI, monospace


Term--YDID()

  color Term__Variation1--YDID_Color


Term__Contrast--YDID()

  color Term__Variation2--YDID_Color


Keyword--YDID()

  color Keyword__Variation1--YDID_Color


Keyword__Contrast--YDID()

  color Keyword__Variation2--YDID_Color


Keyphrase--YDID()

  padding-bottom 1px
  box-shadow inset -3px -6px 0 -4px ImportantEntity--YDID_Color


provideYamatoDaiwaInformationDesignClasses()

  .DefinableTerm--YDID

    DefinableTerm--YDID()


  .Term--YDID

    Term--YDID()


  .Term__Contrast--YDID

    Term__Contrast--YDID()


  .Keyword--YDID

    Keyword--YDID()


  .Keyword__Contrast--YDID

    Keyword__Contrast--YDID()


  .Keyphrase--YDID

    Keyphrase--YDID()


  .ImportantEntity--YDID

    ImportantEntity--YDID()


  .ImportantEntity__Code--YDID

    ImportantEntity__Code--YDID()


  .SecondaryEntity--YDID

    SecondaryEntity--YDID()


  .SecondaryEntity__Code--YDID

    SecondaryEntity__Code--YDID()
