CompoundControlShell-RegularTheme-RegularDecoration--YDF = {

  label: {

    text: {
      weight: bold,
      color: JQueryUI_BaseTheme.clickableElements.borderColor
    },

    customDeclarations: null

  },

  badge: {

    required: {

      borders: {
        style: solid,
        color: YDF_ColorPalette.red.slightlyDark
      },

      background: {
        color: YDF_ColorPalette.red.pastelMediumLight
      },

      text: {
        fontWeight: null,
        color: YDF_ColorPalette.red.slightlyDark,
      },

      customDeclarations: null

    },

    optional: {

      borders: {
        style: solid,
        color: YDF_ColorPalette.deepSkyBlue.slightlyDark
      },

      background: {
        color: YDF_ColorPalette.deepSkyBlue.pastelMediumLight
      },

      text: {
        fontWeight: null,
        color: YDF_ColorPalette.deepSkyBlue.slightlyDark
      },

      customDeclarations: null

    }

  },

  guidance: {
    text: {
      weight: null,
      color: W3C_39_ShadesOfGray--YDF[16]
    }
  },

  errorMessage: {
    text: {
      weight: bold,
      color: JQueryUI_BaseTheme.error.iconsColor
    }
  }

}
