/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/02-ValueTransformers/emptyStringToNull.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/02-ValueTransformers/emptyStringToNull.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"

testForEquality(
  "Empty string has been transformed to null",
  emptyStringToNull(""),
  null
)

testForInequality(
  "Non-empty string has NOT been transformed to null",
  emptyStringToNull("ABC"),
  null
)

testForEquality(
  "Null has been kept as is",
  emptyStringToNull(null),
  null
)
