/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/02-ValueTransformers/nullToEmptyString.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/02-ValueTransformers/nullToEmptyString.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


testForEquality(
  "Null has been transformed to empty string",
  nullToEmptyString(null),
  ""
)

testForEquality(
  "Empty string has been left as is",
  nullToEmptyString(""),
  ""
)

testForEquality(
  "Non-empty string has been left as is",
  nullToEmptyString("ABC"),
  "ABC"
)

testForEquality(
  "Number has been left as is",
  nullToEmptyString(1),
  1
)
