/*  === Execution
stylus Tests/Source/Styles/02-Kernel/03-Mixins/05-Layouts/provideClippedBoxShadowVisibility.test.styl `
    --out Tests/Output/Styles/02-Kernel/03-Mixins/05-Layouts/provideClippedBoxShadowVisibility.test.css
*/

@require "../../../../../../../Functionality.styl"

Button = {
  outlineWidth: 2px
}

.Button

  &:focus

    outline: Button.outlineWidth solid gold


.Dialog

  &-Header

    // ...


  &-MainSection

    max-height 300px
    overflow-y hidden


  &-ButtonsBar

    provideClippedShadowsAndOutlinesVisibility({
      requiredHorizontalSymmetricSpace: Button.outlineWidth,
      requiredSpaceAtBottom: Button.outlineWidth
    })
