arrayConstructor__POLYFILL(elements...)

  accumulatingArray = elements[0]

  for element, interationNumber in elements

    if interationNumber > 0

      push(accumulatingArray, element)

  return accumulatingArray
