iterate2DimensionalArray(targetArray, iterator)

  areAllChildrenElementsHas1Length(_targetArray)

    allChildrenElementsHas1Length = true

    for value in _targetArray

      if getStringsOrNumbersArrayLength(value) != 1

        return false

    return true


  if areAllChildrenElementsHas1Length(targetArray)

    iterator(targetArray, 0)

  else

    for nestedArray, index in targetArray

      iterator(nestedArray, index)
