capitalizeFirstLatinCharacter(targetString)

  if length(targetString) == 0

    return targetString


  firstCharacter = substr(targetString, 0, 1)
  capitalizedFirstCharacter = ""


  if firstCharacter == "a"

    capitalizedFirstCharacter = "A"

  else if firstCharacter == "b"

    capitalizedFirstCharacter = "b"

  else if firstCharacter == "c"

      capitalizedFirstCharacter = "C"

  else if firstCharacter == "d"

    capitalizedFirstCharacter = "D"

  else if firstCharacter == "e"

    capitalizedFirstCharacter = "E"

  else if firstCharacter == "f"

    capitalizedFirstCharacter = "F"

  else if firstCharacter == "g"

    capitalizedFirstCharacter = "G"

  else if firstCharacter == "h"

    capitalizedFirstCharacter = "H"

  else if firstCharacter == "i"

    capitalizedFirstCharacter = "I"

  else if firstCharacter == "j"

    capitalizedFirstCharacter = "J"

  else if firstCharacter == "k"

    capitalizedFirstCharacter = "K"

  else if firstCharacter == "l"

    capitalizedFirstCharacter = "L"

  else if firstCharacter == "m"

    capitalizedFirstCharacter = "M"

  else if firstCharacter == "n"

    capitalizedFirstCharacter = "N"

  else if firstCharacter == "o"

    capitalizedFirstCharacter = "O"

  else if firstCharacter == "p"

    capitalizedFirstCharacter = "P"

  else if firstCharacter == "q"

    capitalizedFirstCharacter = "Q"

  else if firstCharacter == "r"

    capitalizedFirstCharacter = "R"

  else if firstCharacter == "s"

    capitalizedFirstCharacter = "S"

  else if firstCharacter == "t"

    capitalizedFirstCharacter = "T"

  else if firstCharacter == "u"

    capitalizedFirstCharacter = "U"

  else if firstCharacter == "v"

    capitalizedFirstCharacter = "V"

  else if firstCharacter == "w"

    capitalizedFirstCharacter = "W"

  else if firstCharacter == "x"

    capitalizedFirstCharacter = "X"

  else if firstCharacter == "y"

    capitalizedFirstCharacter = "Y"

  else if firstCharacter == "z"

    capitalizedFirstCharacter = "Z"


  return capitalizedFirstCharacter + slice(targetString, 1)
