@require "../../../../../Functionality.styl"
@require "../../../../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

providePaginationYDF_Component()
provideButtonYDF_Component()
