-
  const CodeViewerComponentPropertiesSpecification = {
    nameForLogging: "CodeViewerComponentParameters",
    properties: {
      topHeading: {
        type: String,
        required: false
      },
      CSS_Namespace: {
        type: String,
        defaultValue: "CodeViewer"
      },
      resultViewURI: {
        type: String,
        required: false
      },
      enableDefaultPaddingsInViewport: {
        type: Boolean,
        defaultValue: false
      }
    }
  };
