CodeViewerComponentDefaultProperties = {

  positionalRelationship: {

    withOtherComponents: {},

    withTypographyElements: {
      defaultProfile:{
        typographySpecification: null,
        definitions: {
          heading2: { whenItJustAfter: 24px },
          paragraph: { whenItJustBefore: 12px, whenItJustAfter: 16px }
        }
      }
    }
  }
}


provideCodeViewerComponent(preset = CodeViewerComponentDefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  .CodeViewer

    border-width 1px
    border-radius: JQueryUI_BaseTheme.basicBorderRadius
    Paddings({ horizontalSymmectic: 8px })

    border-style solid
    border-color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor


    &-CommonHeading

      MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 18px, lineHeight: 22px })
      color: JQueryUI_BaseTheme.headerAndToolbars.fontColor

      margin-top 6px


    &-IFrameSizingContainer

      position relative
      aspect-ratio 16 / 9


      +whenItJustAfter({ targetElementSelector: ".CodeViewer-CommonHeading" })

        border-width 1px

        border-style solid
        border-color: JQueryUI_BaseTheme.headerAndToolbars.borderColor

        margin-top 8px


    &-CodeExecutionResultViewport

      position absolute
      top 0
      width 100%
      height 100%


      &__DefaultPaddings

        padding 8px 6px


    &-ActionBar

      display flex
      justify-content flex-end
      column-gap 12px


      +whenItGoingFirst()

        margin-top 6px


      +whenItJustAfter({ targetElementSelector: ".CodeViewer-CommonHeading"})

        border-top: 1px solid JQueryUI_BaseTheme.headerAndToolbars.borderColor
        padding-top 4px

        margin-top 8px


      +whenItJustAfter({ targetElementSelector: ".CodeViewer-IFrameSizingContainer"})

        margin-top 8px


    &-TabsFlow

      display flex
      overflow-x auto

      margin-top 12px


    &-Tab

      display grid
      grid-template-columns auto minmax(0, 1fr)
      grid-gap 4px 6px
      align-items center

      border-top-width 1px
      border-left-width 1px
      border-style solid
      border-color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor

      padding 6px 12px
      background: JQueryUI_BaseTheme.clickableElements.defaultState.background

      flex 1 0 140px

      cursor pointer
      outline none


      &:hover

        background: JQueryUI_BaseTheme.clickableElements.hoverState.background
        border-color: JQueryUI_BaseTheme.clickableElements.hoverState.borderColor


      &:focus

        box-shadow: inset 0 0 3px 1px #007fff


      &:active

        background: JQueryUI_BaseTheme.clickableElements.activeState.background
        border-color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor


      &__SelectedState

        background: JQueryUI_BaseTheme.clickableElements.activeState.background
        border-color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor

        pointer-events none


      &:first-child

        border-top-left-radius: JQueryUI_BaseTheme.basicBorderRadius


      &:last-child

        border-right-width 1px
        border-top-right-radius: JQueryUI_BaseTheme.basicBorderRadius


      &-FileLabel

        MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 14px, lineHeight: 18px })
        color ShadeOfGray__14--W3C_Palette

        grid-column-start span 2


        ../:active &
        ../.CodeViewer-Tab__SelectedState &

          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor


      &-LanguageKey

        font-size 11px
        color ShadeOfGray__18--W3C_Palette


        ../:active &
        ../.CodeViewer-Tab__SelectedState &

          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor


      &-LanguageValue

        font-size 11px
        font-weight bold
        color ShadeOfGray__18--W3C_Palette


        ../:active &
        ../.CodeViewer-Tab__SelectedState &

          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor


    &-Listings

      retireFrom({ targetElementSelector: ".CodeViewer-ActionBar", y: 8px })


      +whenItGoingLast()

        margin-bottom 4px


    &-CodeListing

      max-height 600px
      overflow-y auto


      /* --- PrismJS overriding ------------------------------------------------------------------------------------- */
      >pre

        margin-top 0 !important
        margin-bottom 0 !important


      code[class*=language-]
      pre[class*=language-]

        font-family Consolas__SmoothJapaneseSymbols--FontsStack
      /* ------------------------------------------------------------------------------------------------------------ */
