.CodeViewer

  .CodeViewer-CommonHeading

  .CodeViewer-IFrameSizingContainer
    iframe.CodeViewer-CodeExecutionResultViewport

  .CodeViewer-ActionBar

  .CodeViewer-TabsFlow
    .CodeViewer-Tab(
      tabindex="0"
    )
      span.CodeViewer-Tab-FileLabel
      span.CodeViewer-Tab-LanguageKey 言語
      span.CodeViewer-Tab-LanguageValue
