Badge-RegularTheme-RegularGeometry--YDF = {

  rootElement: {

    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 0.2em }
    }),

    modifiers: {
      pillShape: {
        borderRadiusToValueTextSizeRatio: 2
      }
    },

    loadingPlaceholder: {
      minimalWidth: 80px
    },

    customDeclarations: null

  },

  SVG_Icon: {

    width: null,
    height: 1em,

    spacing: {
      verticalSymmetric: null,
      top: null,
      bottom: null,
      left: 0.5em
    },

    customDeclarations: null

  },

  keyLabel: {

    text: {
      size: 1em,
      lineSpacing: 0.2em,
      lineHeight: null
    },

    spacing: {
      verticalSymmetric: 0.3em,
      top: null,
      bottom: null,
      leftWhenGoingFirst: 0.8em,
      afterSVG_Icon: 0.4em
    },

    customDeclarations: null

  },

  valueLabel: {

    text: {
      size: 1em,
      lineSpacing: 0.2em,
      lineHeight: null
    },

    spacing: {
      verticalSymmetric: 0.3em,
      top: null,
      bottom: null,
      leftWhenGoingFirst: 0.8em,
      afterSVG_Icon: 0.6em,
      afterKeyLabel: 0.4em,
      right: 0.8em
    },

    customDeclarations: null

  }

}
