-

  const GUI_ComponentSummaryViewerComponentLocalization__english = {
    pugMixin: "Pug mixin",
    componentClassName: "Component class",
    stylusMixin: "Stylus mixin for styles generating",
    preMadeThemes: "Pre-made themes",
    preMadeGeometricVariations: "Pre-made geometric variations",
    geometricModifiers: "Geometric modifiers",
    preMadeDecorativeVariations: "Pre-made decorative variations",
    decorativeModifiers: "Decorative Modifiers",
    loadingPlaceholder: {
      title: "Loading placeholder",
      unavailable: "Unavailable"
    }
  };
