-

  const GUI_ComponentSummaryViewerComponentLocalization__japanese = {
    pugMixin: "Pugミクスイン",
    componentClassName: "コンポーネントのクラス",
    stylusMixin: "スタイル生成専用Stylusミクスイン",
    preMadeThemes: "用意済みのテーマ",
    preMadeGeometricVariations: "用意済みの幾何学的変形",
    geometricModifiers: "幾何学的修飾子",
    preMadeDecorativeVariations: "用意済みの修飾的変形",
    decorativeModifiers: "修飾的修飾子",
    loadingPlaceholder: {
      title: "ローディングプレースホルダ",
      unavailable: "無"
    }
  };
