-

  const GUI_ComponentSummaryViewerComponentLocalization__russian = {
    pugMixin: "Pug-примесь",
    componentClassName: "Класс компонента",
    stylusMixin: "Stylus-примесь для генерации стилей",
    preMadeThemes: "Готовые темы",
    preMadeGeometricVariations: "Готовые геометрические вариации",
    geometricModifiers: "Геометрические модификаторы",
    preMadeDecorativeVariations: "Готовые декоративные вариации",
    decorativeModifiers: "Декоративные модификаторы",
    loadingPlaceholder: {
      title: "Loading placeholder",
      unavailable: "Недоступен"
    }
  };
