applyIfNotNull(keyAndValuePairs)

  for key, value in keyAndValuePairs

    if isNotNull(value) && !isIdentifier(value)

      {key}: value


applyIfNotZero(keyAndValuePairs)

  for key, value in keyAndValuePairs

    if value != 0

      if typeof(value) == "string"

        {key}: unquote(value)

      else

        {key}: value
