TextTruncation(parametersObject = {}, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: {
      displayEllipsis: {
        type: DataTypes.boolean,
        defaultValue: false
      },
      additionalTopAndBottomEqualGap: {
        type: DataTypes.unit
      }
    },
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "TextTruncation"
  })


  overflow hidden
  white-space nowrap


  if parametersObject.displayEllipsis == true

    text-overflow ellipsis

  else

    text-overflow clip


  if parametersObject.additionalTopAndBottomEqualGap

    padding-top: parametersObject.additionalTopAndBottomEqualGap
    padding-bottom: parametersObject.additionalTopAndBottomEqualGap


    &:before

      display block
      content ""

      margin-top -(parametersObject.additionalTopAndBottomEqualGap)


    &:after

      display block
      content ""

      margin-bottom -(parametersObject.additionalTopAndBottomEqualGap)
