SingleLineElementOverflowTolerance(parametersObject = {}, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: {
      displayEllipsis: {
        type: DataTypes.boolean,
        defaultValue: false
      },
      supportCrossAxisCenteredFlexChild: {
        type: DataTypes.boolean,
        defaultValue: false
      }
    },
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "SingleLineElementOverflowTolerance"
  })


  overflow hidden
  white-space nowrap


  if isTrue(parametersObject.displayEllipsis)

    text-overflow ellipsis

  else

    text-overflow clip


  if isTrue(parametersObject.supportCrossAxisCenteredFlexChild)

    max-width 100%


MultilineTextWithoutExtraSpaceCausedByLineHeight(parametersObject, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: {
      fontSize: {
        type: DataTypes.unit,
        required: true
      },
      lineHeight: {
        type: DataTypes.unit,
        required: true
      },
      doNotUsePseudoElements: {
        type: DataTypes.boolean,
        required: false
      }
    },
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "MultilineTextWithoutExtraSpaceCausedByLineHeight"
  })


  lineHeight__dimensionalValue = isUnitlessNumber(parametersObject.lineHeight) ?\
      parametersObject.lineHeight*parametersObject.fontSize : parametersObject.lineHeight

  extraSpaceByLineHeightInTheTopOrBottom = 0.5*(lineHeight__dimensionalValue - parametersObject.fontSize)


  font-size: parametersObject.fontSize
  line-height: parametersObject.lineHeight
  word-break break-all


  if parametersObject.doNotUsePseudoElements

    // [ Theory ] The cause in unknown but unlike "else" branch without colon below margins will be ignored by Stylus
    margin-top: -(extraSpaceByLineHeightInTheTopOrBottom)
    margin-bottom: -(extraSpaceByLineHeightInTheTopOrBottom)

  else

    &:before

      content ''
      display block
      margin-top -(extraSpaceByLineHeightInTheTopOrBottom)


    &:after

      content ''
      display block
      margin-bottom -(extraSpaceByLineHeightInTheTopOrBottom)
