extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "Pagination Component Testing"
    styleSheetsURIs = [ "./Pagination.test.css" ]


block append Requirements

  include ../../../../Components.pug


block append PageContent

  +Pagination--YDF({
    accessibilityGuidance: "Please select the page",
  })
