@require "Themes/Regular/GeometricVariations/Button-RegularGeometry.styl"
@require "Themes/Regular/GeometricVariations/Button-SmallGeometry.styl"
@require "Themes/Regular/DecorativeVariations/Button-RegularDecoration.styl"
@require "Themes/Regular/DecorativeVariations/Button-AccentedDecoration.styl"


Button = {

  defaultProperties: {

    themes: {
      regular: {

        geometricVariations: {
          regular: Button-RegularGeometry--YDF,
          small: Button-SmallGeometry--YDF
        },

        decorativeVariations: {
          regular: Button-RegularDecoration--YDF,
          accented: Button-AccentedDecoration--YDF
        }
      }
    }
  }
}


provideButtonComponent(preset= Button.defaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)
  CSS_NAMESPACE = "Button"
  ROOT_ELEMENT_SELECTOR = "." + CSS_NAMESPACE


  // === Methods =======================================================================================================
  applyBasicRules()

    .Button

      ButtonLikeElementsPrimer()

      cursor pointer


    button.Button,
    a.Button

      display inline-flex
      justify-content center
      align-items center


    /button{selector()}:disabled,
    /input{selector()}:disabled

      cursor not-allowed


    a.Button__DisabledState

      pointer-events none


  // --- Geometry ------------------------------------------------------------------------------------------------------
  applyGeometricVariation(variation)

    lineHeight = isNotNull(variation.label.text.lineHeight) ? variation.label.text.lineHeight :\
        getLineHeightByFontSizeAndLineSpacing({
          fontSize: variation.label.text.size,
          lineSpacing: variation.label.text.lineSpacing
        })

    lineSpacing = isNotNull(variation.label.text.lineSpacing) ? variation.label.text.lineSpacing :\
        getLineSpacingByFontSizeAndLineHeight({
          fontSize: variation.label.text.size,
          lineHeight: variation.label.text.lineHeight
        })

    topSpacing = buildCalcExpression(
      "${topSpacing} - ${lineSpacing}/2 - ${upwardShifting}",
      {
        topSpacing: variation.label.spacing.top,
        lineSpacing: lineSpacing,
        upwardShifting: nullToZero(variation.label.spacing.upwardShifting)
      }
    )

    bottomSpacing = buildCalcExpression(
      "${topSpacing} - ${lineSpacing}/2 + ${upwardShifting}",
      {
        topSpacing: variation.label.spacing.top,
        lineSpacing: lineSpacing,
        upwardShifting: nullToZero(variation.label.spacing.upwardShifting)
      }
    )


    min-width: variation.rootElement.minimalWidth
    BordersSizing(variation.rootElement.borders)


    /a{selector()} .Button-Label,
    /button{selector()} .Button-Label

      font-size: variation.label.text.size
      line-height: lineHeight
      word-break break-all

      margin-top: topSpacing
      margin-bottom: bottomSpacing


      &:first-child

        margin-left: variation.label.spacing.left


      &:last-child

        margin-right: variation.label.spacing.right


    /input{selector()}

      font-size: variation.label.text.size
      line-height: lineHeight
      white-space: break-spaces
      word-break: break-all

      padding-left: variation.label.spacing.left
      padding-right: variation.label.spacing.right
      padding-top: topSpacing
      padding-bottom: bottomSpacing


    .Button-SVG_Icon

      applyIfNotNull({
        width: variation.SVG_Icon.standard.width,
        height: variation.SVG_Icon.standard.height
      })

      flex-shrink 0

      margin-top: variation.SVG_Icon.standard.spacing.top
      margin-bottom: variation.SVG_Icon.standard.spacing.bottom


      &:first-child

        margin-left: variation.SVG_Icon.standard.spacing.leftWhenGoingFirst


      &:last-child

        margin-right: variation.SVG_Icon.standard.spacing.rightWhinGoingLast


      ../

        PositionalRelationship({
          definitions: (
            ".Button-Label" {
              retireFromIt: { x: variation.SVG_Icon.standard.spacing.afterLabel },
              pushItFromSelf: { x: variation.SVG_Icon.standard.spacing.beforeLabel }
            }
          ),
          contextSelector: selector()
          referenceElementSelector: ".Button-SVG_Icon"
        })


      specialIcons = substituteNull(variation.SVG_Icon.specials, {})

      for iconSpecificCSS_Class, dimensions in specialIcons

        &.{iconSpecificCSS_Class}

          applyIfNotNull({
            width: dimensions.width,
            height: dimensions.height
          })


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyDecorativeVariation(variation)

    applyIfNotNull({
      border-style: variation.rootElement.borders.style,
      border-color: variation.rootElement.borders.color,
      background-color: variation.rootElement.background.color,
      color: variation.rootElement.text.color
    })


    &:hover

      applyIfNotNull({
        border-style: variation.stateDependent.hover.rootElement.borders.style,
        border-color: variation.stateDependent.hover.rootElement.borders.color,
        background-color: variation.stateDependent.hover.rootElement.background.color,
        color: variation.stateDependent.hover.rootElement.text.color
      })


    &:focus

      box-shadow: JQueryUI_BaseTheme.clickableElements.focusState.shadow


    &:active

      applyIfNotNull({
        border-style: variation.stateDependent.active.rootElement.borders.style,
        border-color: variation.stateDependent.active.rootElement.borders.color,
        background-color: variation.stateDependent.active.rootElement.background.color,
        color: variation.stateDependent.active.rootElement.text.color
      })


    /button{selector()}:disabled,
    /input{selector()}:disabled,
    /a{selector()}.Button__DisabledState

      applyIfNotNull({
        border-style: variation.stateDependent.disabled.rootElement.borders.style,
        border-color: variation.stateDependent.disabled.rootElement.borders.color,
        background-color: variation.stateDependent.disabled.rootElement.background.color,
        color: variation.stateDependent.disabled.rootElement.text.color
      })


  // --- Applying ------------------------------------------------------------------------------------------------------
  applyBasicRules()

  applyComponentThemes({
    CSS_Namespace: CSS_NAMESPACE,
    themes: properties.themes,
    applyGeometricVariation: applyGeometricVariation,
    applyDecorativeVariation: applyDecorativeVariation
  })
