@require "Themes/Regular/GeometricVariations/Button-RegularGeometry.styl"
@require "Themes/Regular/GeometricVariations/Button-SmallGeometry.styl"
@require "Themes/Regular/DecorativeVariations/Button-RegularDecoration.styl"
@require "Themes/Regular/DecorativeVariations/Button-AccentedDecoration.styl"


getLineHeightByFontSizeAndLineSpacing(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "getLineHeightByFontSizeAndLineSpacing",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      fontSize: {
        type: DataTypes.dimensionalAmount,
        required: true
      },
      lineSpacing: {
        type: DataTypes.dimensionalAmount,
        required: true
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  return buildCalcExpression(
    "${fontSize} + 2*${lineSpacing}",
    { fontSize: compoundParameter.fontSize, lineSpacing: compoundParameter.lineSpacing }
  )


getLineSpacingByFontSizeAndLineHeight(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "getLineSpacingByFontSizeAndLineHeight",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      fontSize: {
        type: DataTypes.dimensionalAmount,
        required: true
      },
      lineHeight: {
        type: DataTypes.dimensionalAmount DataTypes.dimensionlessAmount,
        required: true
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  fontSize = compoundParameter.fontSize
  lineHeight = compoundParameter.lineHeight
  lineHeight__dimensionalAmount = isDimensionlessAmount(lineHeight) ? lineHeight * fontSize : lineHeight

  return buildCalcExpression(
    "${lineHeight__dimensionalAmount} - ${fontSize}",
    { lineHeight__dimensionalAmount: round(lineHeight__dimensionalAmount), fontSize: fontSize }
  )


Button = {

  defaultProperties: {

    themes: {
      regular: {

        geometricVariations: {
          regular: Button-RegularGeometry--YDF,
          small: Button-SmallGeometry--YDF
        },

        decorativeVariations: {
          regular: Button-RegularDecoration--YDF,
          accented: Button-AccentedDecoration--YDF
        }
      }
    }
  }
}


provideButtonComponent(preset= Button.defaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)
  CSS_NAMESPACE = "Button"
  ROOT_ELEMENT_SELECTOR = "." + CSS_NAMESPACE


  // === Methods =======================================================================================================
  applyBasicRules()

    .Button

      ButtonLikeElementsPrimer()

      cursor pointer


    button.Button,
    a.Button

      display inline-flex
      justify-content center
      align-items center


  // --- Geometry ------------------------------------------------------------------------------------------------------
  applyGeometricVariation(variation)

    lineHeight = isNotNull(variation.label.text.lineHeight) ? variation.label.text.lineHeight :\
        getLineHeightByFontSizeAndLineSpacing({
          fontSize: variation.label.text.size,
          lineSpacing: variation.label.text.lineSpacing
        })

    lineSpacing = isNotNull(variation.label.text.lineSpacing) ? variation.label.text.lineSpacing :\
        getLineSpacingByFontSizeAndLineHeight({
          fontSize: variation.label.text.size,
          lineHeight: variation.label.text.lineHeight
        })

    topSpacing = buildCalcExpression(
      "${topSpacing} - ${lineSpacing}/2 - ${upwardShifting}",
      {
        topSpacing: variation.label.spacing.top,
        lineSpacing: lineSpacing,
        upwardShifting: nullToZero(variation.label.spacing.upwardShifting)
      }
    )

    bottomSpacing = buildCalcExpression(
      "${topSpacing} - ${lineSpacing}/2 + ${upwardShifting}",
      {
        topSpacing: variation.label.spacing.top,
        lineSpacing: lineSpacing,
        upwardShifting: nullToZero(variation.label.spacing.upwardShifting)
      }
    )


    min-width: variation.rootElement.minimalWidth
    BordersSizing(variation.rootElement.borders)


    .Button-PrependedSVG_Icon

      applyIfNotNull({
        width: variation.prependedSVG_Icon.standard.width,
        height: variation.prependedSVG_Icon.standard.height
      })

      margin-left: variation.prependedSVG_Icon.standard.spacing.left
      margin-top: variation.prependedSVG_Icon.standard.spacing.top
      margin-bottom: variation.prependedSVG_Icon.standard.spacing.bottom


      specialIcons = substituteNull(variation.prependedSVG_Icon.specials, {})

      for iconSpecificCSS_Class, dimensions in specialIcons

        &.{iconSpecificCSS_Class}

          applyIfNotNull({
            width: dimensions.width,
            height: dimensions.height
          })

          margin-left: dimensions.spacing.left
          margin-top: dimensions.spacing.top
          margin-bottom: dimensions.spacing.bottom


    /a{selector()} .Button-Label,
    /button{selector()} .Button-Label

      font-size: variation.label.text.size
      line-height: lineHeight
      word-break break-all

      margin-top: topSpacing
      margin-bottom: bottomSpacing


      &:first-child

        margin-left: variation.label.spacing.left


      &:last-child

        margin-right: variation.label.spacing.right


    /a{selector()}

      retireFrom({
        targetElementSelector: ".Button-PrependedSVG_Icon",
        x: variation.label.spacing.afterPrependedIcon,
        referenceElementSelector: ".Button-Label",
        contextSelector: selector()
      })


    /button{selector()}

      retireFrom({
        targetElementSelector: ".Button-PrependedSVG_Icon",
        x: variation.label.spacing.afterPrependedIcon,
        referenceElementSelector: ".Button-Label",
        contextSelector: selector()
      })


    /input{selector()}

      font-size: variation.label.text.size
      line-height: lineHeight
      white-space: break-spaces
      word-break: break-all

      padding-left: variation.label.spacing.left
      padding-right: variation.label.spacing.right
      padding-top: topSpacing
      padding-bottom: bottomSpacing


    .Button-LoneSVG_Icon

      applyIfNotNull({
        width: variation.loneSVG_Icon.standard.width,
        height: variation.loneSVG_Icon.standard.height
      })

      margin-top: variation.loneSVG_Icon.standard.spacing.top
      margin-bottom: variation.loneSVG_Icon.standard.spacing.bottom


    .Button-AppendedSVG_Icon

      applyIfNotNull({
        width: variation.appendedSVG_Icon.standard.width,
        height: variation.appendedSVG_Icon.standard.height
      })

      margin-left: variation.appendedSVG_Icon.standard.spacing.left
      margin-right: variation.appendedSVG_Icon.standard.spacing.right
      margin-top: variation.appendedSVG_Icon.standard.spacing.top
      margin-bottom: variation.appendedSVG_Icon.standard.spacing.bottom


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyDecorativeVariation(variation)

    applyIfNotNull({
      border-style: variation.rootElement.borders.style,
      border-color: variation.rootElement.borders.color,
      background-color: variation.rootElement.background.color,
      color: variation.rootElement.text.color
    })


    &:hover

      applyIfNotNull({
        border-style: variation.stateDependent.hover.rootElement.borders.style,
        border-color: variation.stateDependent.hover.rootElement.borders.color,
        background-color: variation.stateDependent.hover.rootElement.background.color,
        color: variation.stateDependent.hover.rootElement.text.color
      })


    &:focus

      box-shadow: JQueryUI_BaseTheme.clickableElements.focusState.shadow


    &:active

      applyIfNotNull({
        border-style: variation.stateDependent.active.rootElement.borders.style,
        border-color: variation.stateDependent.active.rootElement.borders.color,
        background-color: variation.stateDependent.active.rootElement.background.color,
        color: variation.stateDependent.active.rootElement.text.color
      })


  // --- Applying ------------------------------------------------------------------------------------------------------
  applyBasicRules()

  applyComponentThemes({
    CSS_Namespace: CSS_NAMESPACE,
    themes: properties.themes,
    applyGeometricVariation: applyGeometricVariation,
    applyDecorativeVariation: applyDecorativeVariation
  })
