extends ../../../CompletePages/GUI_Components/AdmonitionBlock/_AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Default Svg Icons");

    AdmonitionBlockGalleryOptions.
        renderSinglePartial(AdmonitionBlockGalleryOptions.Partials.defaultSVG_Icons).
        visuallyHideAllHeadings();
