extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("Шаблоны страниц");
    HTML_PageMetaData = {
      description: "",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [
      "$CommonStyles",
      "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
      "$PreMadesStyles",
      "@CustomizedExternalComponents"
    ];

    scriptsURIs.endOfBody = [ "$CommonLogic" ];

    RoutingEmulator.setCurrentRoute("coreLibrary.pagesTemplates");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./PagesTemplates.english.html",
      japanese: "./PagesTemplates.japanese.html"
    });


block append HeadScriptsLinks

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ Шаблоны страниц ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1= localizedRouting.coreLibrary.$children.markup.$children.pagesTemplates.$heading

    p.Article-Paragraph
      | Как и другие полноценные #[+Term--YDID HTML-препроцессоры], #[+ImportantEntity--YDID Pug] имеет функцию
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.templateInheritance
      }).Article-Link наследования шаблонов
      | .
      | В реальных проектах с большим количеством страниц, наследование #[+Keyword--YDID обычно]
      |   #[+Keyword__Contrast--YDID многоуровневое].

    p.Article-Paragraph.
      Как известно, #[+Keyword--YDID валидная] #[+Term--YDID HTML-страница] #[+Keyword--YDID должна] включать в себя
        набор #[+Keyword--YDID обязательных] #[+Term--YDID тэгов].
      Для #[+ImportantEntity--YDID 2024] актуален следующий #[+Keyword--YDID минимальный] #[+Term--YDID HTML-код]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.HTML }): :code_listing--yda
        <!DOCTYPE html>
        <html lang="en">
          <head>
            <meta charset="utf-8">
            <title>title</title>
          </head>
          <body>
            <!-- page content -->
          </body>
        </html>


    p.Article-Paragraph.
      Помимо обязательной части, есть необаятельные, но часто используемые фрагменты кода, например следующая
        декларация:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.HTML }): :code_listing--yda
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    p.Article-Paragraph
      | С использованием наследования шаблонов, можно вынести обязательные и частые необязательные части в родительский
      |   шаблон, а с помощью
      |
      +Link--YDF({
        unendorsedExternalURI: sharedExternalLinks.pug.homePage.inlineJavaScript
      }).Article-Link внутреннего JavaScript
      |
      |   можно ещё сделать генерацию шаблонного кода динамической (например, можно лишь указать пути к стилям и скриптам
      |   через переменные, а родительский шаблон на основе этих переменных сгенерирует нужные тэги в нужном месте).

    p.Article-Paragraph.
      Библиотека YDF предлагает следующие готовые шаблоны для их дальнейшего наследования:

