mixin Pencil__Circled__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M10 0a10 10 0 1010 10A10 10 0 0010 0zM7.84 14.75L5.05 16h-.06a.21.21 0 01-.23-.24l.52-3 5.63-7.36 2.53 2zm6.84-8.85l-1 1.33-2.53-2 1-1.29a.34.34 0 01.23-.13h.25l2 1.5a.37.37 0 01.05.59z")
    path(d="M7.61 14a.3.3 0 00-.12-.22.33.33 0 00-.25-.06.65.65 0 01-.54-.13.65.65 0 01-.26-.48.35.35 0 00-.12-.23.3.3 0 00-.24-.05h-.29l-.05.07-.32 1.9.4.31 1.73-.81v-.32z")
