mixin PencilIcon__Boxed__Filled
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M7.25 15.17a.33.33 0 00-.15-.27.37.37 0 00-.3-.08.81.81 0 01-.67-.16.83.83 0 01-.33-.6.39.39 0 00-.15-.28.36.36 0 00-.3-.07h-.32l-.03.14-.41 2.37.5.38 2.16-1 .06-.08v-.33z")
    path(d="M18 0H2a2 2 0 00-2 2v16a2 2 0 002 2h16a2 2 0 002-2V2a2 2 0 00-2-2zM7.62 16.06l-3.47 1.61h-.08a.26.26 0 01-.29-.3l.65-3.78 7-9.17L14.6 7zM16.14 5l-1.27 1.69-3.15-2.5 1.22-1.6a.42.42 0 01.3-.17h.12a.27.27 0 01.12 0h.12L16 4.38a.48.48 0 01.14.62z")
