VerticallyCenteredAbsolutelyPositionedBlock(compoundParameter = {}, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "VerticallyCenteredAbsolutelyPositionedBlock",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      upwardShifting: {
        type: DataTypes.dimensionalQuantity
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  position absolute
  top 50%


  if isNull(compoundParameter.upwardShifting)

    transform translateY(-50%)

  else

    transform "translateY(calc(-50% - %s))" % compoundParameter.upwardShifting
