// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/04-Objects/deeplyCloneObject.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/04-Objects/deeplyCloneObject.test.css --include Styles

@require "01-Assets.styl"
@require "02-Kernel.styl"


object1 = {
  alpha: {
    bravo: "FOO"
  }
}

//object1Clone = object1
//object1Clone.alpha.bravo = "BAR"

object1Clone = deeplyCloneObject(object1)
object1Clone.alpha.bravo = "BAR"

p(object1.alpha.bravo)
p(object1Clone.alpha.bravo)
