// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/04-Objects/iterateObjectSkippingNullValues.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/04-Objects/iterateObjectSkippingNullValues.test.css --include Styles

@require "01-Assets.styl"
@require "02-Kernel/02-Functions/01-ValueCheckers.styl"
@require "02-Kernel/02-Functions/02-ValueConverters.styl"
@require "02-Kernel/02-Functions/03-Arrays.styl"
@require "02-Kernel/02-Functions/04-Objects.styl"


sample = {
  themes: {
    redmond: {
      headerAndToolbars: { backgroundColor: "#817865" }
    }
    sunny: {
      headerAndToolbars: { backgroundColor: "#e9e9e9" }
    },
    overcast: null
  }
}


//for themeName, themeProperties in sample.themes
//
//  p("Theme name: " + themeName)
//  p("Header and toolbars background color: " + themeProperties.headerAndToolbars.backgroundColor)


iterateObjectSkippingNullValues(
  sample.themes,
  @(themeName, themeProperties) {

    p("Theme name: " + themeName)
    p("Header and toolbars background color: " + themeProperties.headerAndToolbars.backgroundColor)
  }
);
