-

  const ParameterMetadataYDF_ComponentEnglishLocalization = {
    buildParametersNumberLabel: ({ parameterNumber }) => `Parameter No. ${parameterNumber}`,
    requirementLabels: {
      required: "Required",
      optional: "Optional",
      hasDefaultValue: "Has default value"
    },
    tableKeys: {
      genericTechnicalName: "Generic technical name",
      localizedName: "Localized name",
      type: "Type",
    }
  };
