include ParameterMetadataLocalization.english.pug


-

  class ParameterMetadata__YDF_DK {

    static localization = parameterMetadataYDF_DK_ComponentLocalization__english;


    /* ━━━ Routines ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    /* ─── ID generating ──────────────────────────────────────────────────────────────────────────────────────────── */
    static counterForID_Generating = 0;

    static generateComponentID() {
      ParameterMetadata__YDF_DK.counterForID_Generating++;
      return `PARAMETER_METADATA--YDF-${ ParameterMetadata__YDF_DK.counterForID_Generating }`;
    }

  }
