include ParameterMetadataLocalization.english.pug


-

  const ParameterMetadata__YDF = {

    /* === Localization ============================================================================================= */
    localization: ParameterMetadataYDF_ComponentEnglishLocalization

  }
