provideImagesCropperYDF_Component()

  .ImagesCropper--YDF

    display flex
    flex-direction column
    height 100%

    FixedTranslucentDimLayer()
    background-color black


    &[hidden]

      display none


    &-Guidance

      centerHorizontallyWithoutWrapper({
        targetElementType: HorizontalCenteringWithoutWrapper.TargetElementTypes.block,
        maximalWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT--YDF,
        horizontalSpaceBetweenSelfAndParent: 3%
      })

      margin-top 4px
      flex-shrink 0


    &-Canvas

      //* [ Theory ] Without explicit height definition, the CropperJS will set the maximal size to image. */
      //* https://github.com/fengyuanchen/cropperjs?tab=readme-ov-file#example */
      height 1px

      margin-top 4px
      flex-grow 1



    &-Image

      //* [ Theory ] Below to rules are required by CropperJS. */
      //* https://github.com/fengyuanchen/cropperjs?tab=readme-ov-file#example */
      display block
      max-width 100%


    &-Button

      flex-shrink 0
      align-self flex-end

      margin-top 6px
      margin-bottom 6px
      margin-right 3%
