include ImagesCropper.class.pug


mixin ImagesCropper--YDF(properties, statesSimulations)

  -

    const {
      guidance
    } = properties ?? {};

    const {
      displaying = false
    } = statesSimulations ?? {};

  .ImagesCropper--YDF(
    hidden=(displaying ? null : "")
  )&attributes(attributes)

    +AdmonitionBlock--YDF({
      decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.guidance, SVG_Icon: true
    }).ImagesCropper--YDF-Guidance= guidance

    .ImagesCropper--YDF-Canvas

      img.ImagesCropper--YDF-Image(
        src="/dummy_image.jpg"
        alt= ImagesCropper__YDF.localization.imageToCrop.alternatingText
      )

    +Button--YDF({
      label: ImagesCropper__YDF.localization.buttons.completion.label,
      decorativeVariation: Button__YDF.DecorativeVariations.accented
    }).ImagesCropper--YDF-Button
