extends ../../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../../../Galleries/Components/Controls/Buttons/Plain/ButtonGallery.pug


block append Metadata

  -

    /**
     * @param { string } [partialTitle]
     * @returns { string }
     * */
    function generateHTML_Page_Title(partialTitle) {
      return [
        "Button Component Demos",
        ...partialTitle ? [ ` — ${ partialTitle }` ] : [],
        " — Yamato Daiwa Frontend (YDF)"
      ].join("");
    }

    styleSheetsURIs = [
      "@Partials/YDF-Demos-Primer",
      "@Partials/YDF-Demos-CommonRequirements",
      "@Pages/Components/Controls/Buttons/Plain/ButtonGalleryPage"
    ];


block append PageContent

  .YDF_Gallery

    +ButtonGallery
