DataTypes = {
  dimensionalQuantity: "DIMENSIONAL_QUANTITY",
  dimensionlessQuantity: "DIMENSIONLESS_QUANTITY",
  string: "STRING",
  boolean: "BOOLEAN",
  object: "OBJECT",
  colorDefinition: "COLOR_DEFINITION"
}
