-

  const codeViewerYDF_ComponentLocalization__english = {
    actionBar: { codeCopyingButton: { label: "Copy code" } },
    tabsFlow: { accessibilityGuidance: "Tabs for each file with source code" },
    tab: { languageKeyLabel: "Language" }
  };
