CodeViewer--YDF = {
  CSS_NAMESPACE: "CodeViewer--YDF"
}


provideCodeViewerYDF_Component()

  .CodeViewer--YDF

    BordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    })
    Paddings({ horizontalSymmetric: 8px })

    border-style solid
    border-color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor


    &-Title

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 18px,
        lineSpacing: 4px,
        mustAllowWordsBreakingAnywhere: true
      })

      color: JQueryUI_BaseTheme.headerAndToolbars.fontColor

      margin-top 6px


    &-IFrame

      display block
      width 100%
      aspect-ratio 16 / 9


      &__DefaultPaddings

        padding 8px 6px


    &-ActionBar

      display flex
      justify-content flex-end
      column-gap 12px


      +whenItGoingFirst()

        margin-top 6px


      +whenItJustAfter({ targetElementSelector: ".CodeViewer-IFrame"})

        margin-top 8px


    // --- Tabs --------------------------------------------------------------------------------------------------------
    &-TabsFlow

      display flex
      overflow-x auto

      margin-top 12px


    &-Tab

      ButtonLikeElementsPrimer()

      display grid
      grid-template-columns auto minmax(0, 1fr)
      grid-gap 4px 6px
      align-items center

      BordersSizing({
        thickness: {
          horizontalSymmetric: 1px,
          top: 1px,
          bottom: 3px
        }
      })

      Paddings({
        horizontalSymmetric: 12px,
        verticalSymmetric: 6px
      })

      border-style solid
      border-color: JQueryUI_BaseTheme.clickableElements.defaultState.borderColor
      background: JQueryUI_BaseTheme.clickableElements.defaultState.background

      cursor pointer

      flex 1 0 140px


      &:hover

        background: JQueryUI_BaseTheme.clickableElements.hoverState.background
        border-color: JQueryUI_BaseTheme.clickableElements.hoverState.borderColor


      &:focus

        box-shadow: inset 0 0 3px 1px #007fff


      &:active

        background: JQueryUI_BaseTheme.clickableElements.activeState.background
        border-color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor


      &__SelectedState

        background: JQueryUI_BaseTheme.clickableElements.activeState.background
        border-color: JQueryUI_BaseTheme.clickableElements.activeState.borderColor

        pointer-events none


      &:first-child

        border-top-left-radius: JQueryUI_BaseTheme.basicBorderRadius


      &:last-child

        border-right-width 1px
        border-top-right-radius: JQueryUI_BaseTheme.basicBorderRadius


      &-FileLabel

        applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
          fontSize: 14px,
          lineSpacing: 4px,
          mustAllowWordsBreakingAnywhere: true,
          mustApplyNegativeMarginsToRootElement: true
        })

        color: W3C_39_ShadesOfGray--YDF[14]

        grid-column-start span 2


        ../:active &
        ../.CodeViewer--YDF-Tab__SelectedState &

          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor


      &-LanguageKeyLabel

        font-size 11px
        color: W3C_39_ShadesOfGray--YDF[18]


        ../:active &
        ../.CodeViewer--YDF-Tab__SelectedState &

          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor


      &-LanguageValueLabel

        font-size 11px
        text-align left

        font-weight bold
        color: W3C_39_ShadesOfGray--YDF[18]


        ../:active &
        ../.CodeViewer--YDF-Tab__SelectedState &

          color: JQueryUI_BaseTheme.clickableElements.activeState.fontColor


    &-TabPanel

      overflow-y auto

      margin-top 8px
      margin-bottom 4px


      /* --- PrismJS overriding ------------------------------------------------------------------------------------- */
      >pre

        margin-top 0 !important
        margin-bottom 0 !important


      code[class*=language-]
      pre[class*=language-]

        font-family Consolas, monaco, SmoothJapaneseFontsForMonospaceFontStacks, monospace
      /* ------------------------------------------------------------------------------------------------------------ */


    &-PartialListing

      /* --- PrismJS overriding ------------------------------------------------------------------------------------- */
      /pre&

        //margin-top 0 !important
        margin-bottom 0 !important


      //code[class*=language-]
      //pre[class*=language-]

        //font-family Consolas, monaco, SmoothJapaneseFontsForMonospaceFontStacks, monospace
      /* ------------------------------------------------------------------------------------------------------------ */



    &-Explanation

      padding 8px
      overflow auto

      pushTargetFromSelf({ targetElementSelector: "pre.CodeViewer--YDF-PartialListing", y: 16px })


      &-Icon

        float left
        height 42px

        fill: W3C_39_ShadesOfGray--YDF[10]

        margin-right 10px
        margin-bottom 2px /* In this case it means "minimal bottom gap" */


      &-Text

        applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
          fontSize: YDF_Configuration.textGeometry.basicFontSize,
          lineHeight: YDF_Configuration.textGeometry.basicLineHeightInMultilineTextBlocks
        })
