include processObjectTypeParameterOfPugMixin.toc.pug


-

  localizedRouting.coreLibrary.$children.
      markup.$children.
      functionality.$children.
      inlineJavaScript.$children.
      functionsAndClasses.$children.
      processObjectTypeParameterOfPugMixin.$sectioning = generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {

            problems: { $heading: "Problems" },

            YDF_Solution: { $heading: "The YDF solution" },

            singleParameterProperties: {
              $heading: "The Properties of the Sole Parameter",
              rawParameter: { $heading: "<code>rawParameter</code>" },
              parameterPropertiesSpecification: { $heading: "<code>parameterPropertiesSpecification</code>" },
              loggingProperties: {
                $heading: "The Logging Properties — " +
                    "<code>parameterNumber</code>, <code>parameterName</code>, <code>mixinName</code>"
              }
            },

            IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance:
                IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidanceTableOfContentsMetadataLocalization__english,

            externalLinks: { $heading: "External links" }

          };

          return localizedStrings;

        })()
      );
