include processObjectTypeParameterOfPugMixin.toc.pug


-

  localizedRouting.coreLibrary.$children.
      markup.$children.
      functionality.$children.
      inlineJavaScript.$children.
      functionsAndClasses.$children.
      processObjectTypeParameterOfPugMixin.$sectioning = generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {

            problems: { $heading: "Проблематика" },

            YDF_Solution: { $heading: "Решение YDF" },

            singleParameterProperties: {
              $heading: "Свойства единственного параметра",
              rawParameter: {
                $heading: "<code>rawParameter</code> — параметр примеси в момент начала её выполнения"
              },
              parameterPropertiesSpecification: {
                $heading: "<code>parameterPropertiesSpecification</code> — спецификация свойств параметра примеси"
              },
              loggingProperties: {
                $heading: "Свойства логирования — <code>parameterNumber</code>, <code>parameterName</code>, " +
                    "<code>mixinName</code>"
              }
            },

            IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance:
                IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidanceTableOfContentsMetadataLocalization__russian,

            externalLinks: { $heading: "Внешние ссылки" }

          };

          return localizedStrings;

        })()
      );
