-

  const singleImageViewerYDF_ComponentLocalization__japanese = {
    buttons: {
      fullScreenViewActivating: { label: "全画面閲覧" },
      fullScreenViewDeactivating: { label: "閉じる" },
      zoomingIn: { label: "拡大" },
      zoomingOut: { label: "縮小" },
      widthFitting: { label: "幅を満たす" },
      heightFitting: { label: "高さを満たす" },
      fitting: { label: "幅高を満たす" }
    }
  };
