@require "../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

provideButtonYDF_Component()
provideCompoundControlShellYDF_Component()
provideTextBoxYDF_Component()


.SimpleIntegratedControlsGroupDemo

  display flex
  flex-direction column
  justify-content center
  align-items center

  height 100%
  padding 24px 36px

  background ShadesOfGray__39ColorsW3C_Palette[37]


  &-Form

    min-width NARROWEST_SCREEN_WIDTH_UNIT
    max-width 1.5*NARROWEST_SCREEN_WIDTH_UNIT
    width 100%
    border-radius 4px
    padding 12px 14px
    overflow-y auto

    background white
    box-shadow 0 0 4px 2px alpha(black, 0.25)

    position relative /* Required for JavaScript */


  &-Heading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 24px, lineSpacing: 0.2 })

    color ShadesOfGray__39ColorsW3C_Palette[20]


  &-TextBox

    retireFrom({ targetElementSelector: ".SimpleIntegratedControlsGroupDemo-Heading", y: 12px })
    retireFromElementWithSameSelector({ y: 12px })


  &-ErrorMessage

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 14px, lineSpacing: 0.2 })
    text-align right

    font-weight bold
    color: FlatUI_Colors.alizarin

    margin-top 16px


  &-SubmittingButton

    placeToRight()

    retireFrom({
      definitions:\
          (".SimpleIntegratedControlsGroupDemo-TextBox" { y: 12px })\
          (".SimpleIntegratedControlsGroupDemo-ErrorMessage" { y: 6px })
    })
