extends ../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_TITLE = "Simple integrated controls group demo - YDF";

    styleSheetsURIs = [ "@Demos/Assemblies/ControlsGroups/Simple/Integrated/SimpleIntegratedControlsGroupDemo" ];
    scriptsURIs.endOfBody = [ "@Demos/Assemblies/ControlsGroups/Simple/Integrated/SimpleIntegratedControlsGroupDemo" ]


block append Requirements

  include ../../../../../node_modules/@yamato-daiwa/frontend/Components.pug


block append PageContent

  main.SimpleIntegratedControlsGroupDemo

    form.SimpleIntegratedControlsGroupDemo-Form#SCROLLABLE_CONTAINER

      h1.SimpleIntegratedControlsGroupDemo-Heading= HTML_PAGE_TITLE

      +TextBox--YDF({
        label: "User name"
      }).SimpleIntegratedControlsGroupDemo-TextBox#USER_NAME--TEXT_BOX

      +TextBox--YDF({
        label: "Password",
        HTML_Type: TextBox__YDF.HTML_Types.password
      }).SimpleIntegratedControlsGroupDemo-TextBox#PASSWORD--TEXT_BOX


      mixin SummarizingValidationErrorMessage

        p.SimpleIntegratedControlsGroupDemo-ErrorMessage Invalid or omitted required field left. Please check your inputs.

      if __IS_STATIC_PREVIEW_BUILDING_MODE__

        +SummarizingValidationErrorMessage

      else

        template#ERROR_MESSAGE_TEMPLATE

          +SummarizingValidationErrorMessage


      +Button--YDF({
        label: "Sign in",
        HTML_Type: Button__YDF.HTML_Types.submit
      }).SimpleIntegratedControlsGroupDemo-SubmittingButton#SIGNING_IN--BUTTON
