AdmonitionBlock-RegularTheme-StickyNoteLikeGeometry--YDF = {

  rootElement: {

    borders: specifyBordersSizing({
      thickness: { left: 8px }
    }),

    paddings: specifyPaddings({
      horizontalSymmetric: 0.9rem,
      verticalSymmetric: 0.7rem
    }),

    customDeclarations: null

  },

  SVG_Icon: {
    width: null,
    height: 1.4rem,
    customDeclarations: null
  },

  title: {

    text: {
      size: 1.6rem,
      lineSpacing: 0.4rem,
      lineHeight: null
    },

    spacing: {
      afterSVG_Icon: 1rem
    },

    customDeclarations: null

  },

  mainContent: {

    text: {
      size: 1rem,
      lineSpacing: 0.4rem,
      lineHeight: null
    },

    spacing: {
      afterSVG_Icon: 1rem,
      afterTitle: 0.4rem
    },

    customDeclarations: null

  },

  dismissingButton: {

    spacing: {
      afterMainContent: 0.2rem
    },

    customDeclarations: null,

    SVG_Icon: {
      width: null,
      height: 1.5rem
    }

  },

  centeredButton: {

    spacing: {
      top: 0.8rem
    },

    customDeclarations: null
  },

  actionBar: {

    spacing: {
      top: 0.4rem,
      betweenChildrenElements: 0.4rem
    },

    customDeclarations: null

  }

}
