extends ../../../../../CompletePages/GUI_Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Pill Shape Geometric Modifier");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.pillShapeGeometricModifier).
        visuallyHideAllHeadings();
