extends ../../../../../CompletePages/GUI_Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("No Background Decorative Modifier");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.noBackgroundDecorativeModifier).
        visuallyHideAllHeadings();
