/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/YDF_Array.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/YDF_Array.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"

log(" === Constructor ================================================================================================")
//log(invokeMethod(YDF_Array.create))
//log(invokeMethod(YDF_Array.create, "AAB"))
//log(YDF_Array-create("AAB"))
//log(invokeMethod(YDF_Array.create, "AA", "BB"))
//log(YDF_Array-create("AA", "BB"))
//log(invokeMethod(YDF_Array.create, "AA", "BB", "CC"))


log(" === addElementsToEndOfYDF_ArrayIF ==============================================================================")
experimentalSample1 = YDF_Array-create("AA", "BB", "CC");
//
//log(")))))))))))))))")
//log(experimentalSample1)
//
log(YDF_Array-appendElementsIf(experimentalSample1, @(element) { return length(element) == 2 }, "DD", "EEE", "FF"))
