mixin SquareBracketIcon__Closing
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 20")&attributes(attributes)
    path(d="M6 10v9.54C6 20 6 20 5.55 20H1.06c-.29 0-.39-.08-.39-.38 0-.93 0-.93.92-.93h2.39c.25 0 .36-.05.36-.34V1.64c0-.28-.11-.34-.36-.33h-2.9c-.33.01-.44-.1-.41-.42a4.14 4.14 0 000-.61C.67.07.76 0 1 0h4.72C6 0 6 .16 6 .35V10z")
