provideThemesShowcaseYDF__Component()

  .ThemesShowcase--YDF

    >li

      +li

        margin-top 12px

      >li

        +li

          margin-top 8px


    &-Label

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 1.2rem,
        lineSpacing: 0.2rem
      })

      font-weight bold
      color: ShadesOfGray__39ColorsW3C_Palette[12]



    &-ChildList

      border-left-width 3px
      padding-left 8px

      border-left-style solid
      border-left-color: ShadesOfGray__39ColorsW3C_Palette[32]

      retireFrom({ targetElementSelector: ".ThemesShowcase--YDF-Label", y: 4px })
