InformationSourceReference--YDF = {
  CSS_NAMESPACE: "InformationSourceReference--YDF"
}


provideInformationSourceReferenceYDF_Component()

  .InformationSourceReference--YDF

    display block

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 12px,
      lineHeight: 18px,
      mustAllowWordsBreakingAnywhere: true
    })

    font-style normal
    color ShadesOfGray__39ColorsW3C_Palette[20]


    &-Badge

      display inline-block
      margin-right 8px

      border 1px solid #c5c5c5
      border-radius 3px
      padding 4px 6px
      font-size 12px
      line-height 12px
      color #454545
