Badge-RegularTheme-ModestlyCatchyPastelDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: YDF_ColorPalette.deepYellow.slightlyDark
    },

    background: {
      color: YDF_ColorPalette.deepYellow.pastelMediumLight,
      image: null
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: YDF_ColorPalette.deepYellow.slightlyDark,
    customDeclarations: null
  },

  keyLabel: {

    text: {
      fontWeight: null,
      color: YDF_ColorPalette.deepYellow.slightlyDark
    },

    customDeclarations: null

  },

  valueLabel: {

    text: {
      fontWeight: bold,
      color: YDF_ColorPalette.deepYellow.slightlyDark
    },

    customDeclarations: null

  }

}
