extends ../../../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "textBoxLikeElementsHeightSizing mixin testing";
    styleSheetsURIs = [ "./textBoxLikeElementsHeightSizing.test.css" ]


block append Requirements

  include ../../../../../../Components.pug


block append PageContent

  .TestSite

    .Element1 Test
    .Element2 Test
    .Element3 Test
