-

  class NumberBox__YDF {

    /**
     * @type { string }
     * @public
     * @readonly
     */
    static CSS_NAMESPACE = "NumberBox--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

    /**
     * @type { { [themeName: string]: string } }
     * @public
     * @description If you want to define new themes, do it only via `defineThemes` static method.
     */
    static Themes = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet thus initialization on demand required. */
    /**
     * @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } | null }
     * @private
     * */
    static _selfAndChildrenComponentsThemesCorrespondence = null;

    /**
     * @type { { [ childComponentName: string ]: { [ownThemeValue: string]: string } } }
     * @public
     * */
    static get selfAndChildrenComponentsThemesCorrespondence() {
      return NumberBox__YDF._selfAndChildrenComponentsThemesCorrespondence ?? (
        NumberBox__YDF._selfAndChildrenComponentsThemesCorrespondence = {
          compoundControlShell: { [NumberBox__YDF.Themes.regular]: CompoundControlShell__YDF.Themes.regular },
          button: { [NumberBox__YDF.Themes.regular]: Button__YDF.Themes.regular }
        }
      );
    }

    /**
     * @param {
     *   { [ ownThemeKey: string ]: { [ childrenComponentKey: string ]: string; } }
     * } ownAndCorrespondingCompoundControlShellThemesDefinition
     * @returns { typeof DateTimePicker__YDF }
     * @example
     * DateTimePicker__YDF.defineThemes({
     *   redmond: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.redmond,
     *     button: Button__YDF.Themes.redmond
     *   },
     *   cupertino: {
     *     compoundControlShell: CompoundControlShell__YDF.Themes.cupertino,
     *     button: Button__YDF.Themes.cupertino
     *   }
     * });
     * @public
     */
    static defineThemes(ownAndCorrespondingCompoundControlShellThemesDefinition) {
      return ComponentsAuxiliaries.defineThemesAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellThemesDefinition, NumberBox__YDF
      );
    }

    /**
     * @type { boolean } [ areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon ]
     * @private
     * */
    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    /**
     * @returns { typeof Badge__YDF }
     * @public
     * */
    static considerThemesAsCommon() {
      NumberBox__YDF.areThemesCSS_ClassesCommon = true;
      return NumberBox__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    /**
     * @type { { [geometricVariationName: string]: string } }
     * @public
     * @description If you want to define new geometric variations, do it only via `defineGeometricVariations` static method.
     */
    static GeometricVariations = {
      regular: "REGULAR",
      small: "SMALL"
    };

    /* [ Pitfall ] The classes of other components may not be declared yet thus initialization on demand required. */
    /**
     * @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } | null }
     * @private
     * */
    static _selfAndChildrenComponentsGeometricVariationsCorrespondence = null;

    /**
     * @type { { [ childComponentName: string ]: { [ownGeometricVariationValue: string]: string } } }
     * @public
     * */
    static get selfAndChildrenComponentsGeometricVariationsCorrespondence() {
      return NumberBox__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence ?? (
        NumberBox__YDF._selfAndChildrenComponentsGeometricVariationsCorrespondence = {
          compoundControlShell: {
            [NumberBox__YDF.GeometricVariations.regular]: CompoundControlShell__YDF.GeometricVariations.regular,
            [NumberBox__YDF.GeometricVariations.small]: CompoundControlShell__YDF.GeometricVariations.small
          },
          button: {
            [NumberBox__YDF.GeometricVariations.regular]: Button__YDF.GeometricVariations.regular,
            [NumberBox__YDF.GeometricVariations.small]: Button__YDF.GeometricVariations.small
          }
        }
      );
    }

    /**
     * @param {
     *   { [ ownGeometricVariationKey: string ]: { [ childrenComponentKey: string ]: string; } }
     * } ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition
     * @returns { typeof DateTimePicker__YDF }
     * @example
     * DateTimePicker__YDF.defineGeometricVariations({
     *   redmond: {
     *     compoundControlShell: CompoundControlShell__YDF.GeometricVariation.tiny,
     *     button: Button__YDF.GeometricVariation.huge
     *   },
     *   cupertino: {
     *     compoundControlShell: CompoundControlShell__YDF.GeometricVariation.tiny,
     *     button: Button__YDF.GeometricVariation.huge
     *   }
     * });
     * @public
     */
    static defineGeometricVariations(ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition) {
      return ComponentsAuxiliaries.defineGeometricVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellGeometricVariationsDefinition, NumberBox__YDF
      );
    }

    /**
     * @type {
     *   Readonly<{
     *     horizontal: string;
     *     vertical: string;
     *   }>
     * }
     * @readonly
     */
    static Orientations = {
      horizontal: "HORIZONTAL",
      vertical: "VERTICAL"
    }


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    /**
     * @type { { [decorativeVariationName: string]: string } }
     * @public
     * @description If you want to define new themes, do it only via `defineDecorativeVariations` static method.
     */
    static DecorativeVariations = { regular: "REGULAR" };

    /* [ Pitfall ] The classes of other components may not be declared yet, initialization on demand required. */
    /**
     * @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } | null }
     * @private
     * */
    static _selfAndChildrenComponentsDecorativeVariationsCorrespondence = null;

    /**
     * @type { { [ childComponentName: string ]: { [ownDecorativeVariationValue: string]: string } } }
     * @public
     * */
    static get selfAndChildrenComponentsDecorativeVariationsCorrespondence() {
      return NumberBox__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence ?? (
        NumberBox__YDF._selfAndChildrenComponentsDecorativeVariationsCorrespondence = {
          compoundControlShell: {
            [NumberBox__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          },
          button: {
            [NumberBox__YDF.DecorativeVariations.regular]: CompoundControlShell__YDF.DecorativeVariations.regular
          }
        }
      );
    }

    /**
     * @param {
     *   { [ ownDecorativeVariationKey: string ]: { [ childrenComponentKey: string ]: string; } }
     * } ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition
     * @returns { typeof DateTimePicker__YDF }
     * @example
     * DateTimePicker__YDF.defineDecorativeVariations({
     *   redmond: {
     *     compoundControlShell: CompoundControlShell__YDF.DecorativeVariation.tiny,
     *     button: Button__YDF.DecorativeVariation.huge
     *   },
     *   cupertino: {
     *     compoundControlShell: CompoundControlShell__YDF.DecorativeVariation.tiny,
     *     button: Button__YDF.DecorativeVariation.huge
     *   }
     * });
     * @public
     */
    static defineDecorativeVariations(ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition) {
      return ComponentsAuxiliaries.defineDecorativeVariationsAndSetCorrespondenceWithOnesOfChildrenComponents(
        ownAndCorrespondingCompoundControlShellDecorativeVariationsDefinition, NumberBox__YDF
      );
    }


    /* ━━━ Properties Specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

    /**
     * @type { RawObjectDataProcessor.PropertiesSpecification }
     * @public
     * @readonly
     * */
    static propertiesSpecification = {

      label: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      accessibilityGuidance: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      externalLabelHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      guidance: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      placeholder: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      /** @description Could be something like "{{ foo }}" in the MVC case. */
      initialValue: {
        type: RawObjectDataProcessor.ValuesTypesIDs.oneOf,
        defaultValue: 0,
        alternatives: [
          {
            type: Number,
            numbersSet: RawObjectDataProcessor.NumbersSets.anyRealNumber,
            defaultValue: 0
          },
          {
            type: String,
            minimalCharactersCount: 1
          }
        ]
      },

      disabled: {
        type: Boolean,
        defaultValue: false
      },

      readonly: {
        type: Boolean,
        defaultValue: false
      },

      required: {
        type: Boolean,
        defaultValue: false
      },

      mustDisplayAppropriateBadgeIfInputIsRequired: {
        type: Boolean,
        defaultValue: false
      },

      mustDisplayAppropriateBadgeIfInputIsOptional: {
        type: Boolean,
        defaultValue: false
      },

      mustAddInvisibleBadgeForHeightEqualizingWhenNoBadge: {
        type: Boolean,
        defaultValue: false
      },

      step: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.anyRealNumber,
        defaultValue: 1
      },

      minimalValue: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
        defaultValue: -Number.MIN_SAFE_INTEGER
      },

      maximalValue: {
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.nonNegativeInteger,
        defaultValue: Number.MAX_SAFE_INTEGER,
        customValidators: {
          validationFunction: ({ currentPropertyValue: maximalValue, rawData__currentObjectDepth }) =>
              isUndefined(rawData__currentObjectDepth.minimalValue) ||
              (
                Number.isInteger(rawData__currentObjectDepth.minimalValue) &&
                maximalValue >= rawData__currentObjectDepth.minimalValue
              ),
          descriptionForLogging: "\"maximalValue\" could not be less than \"minimalValue\"."
        }
      },

      nativeInputElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      labelElementHTML_ID: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      theme: {
        type: String,
        defaultValue: NumberBox__YDF.Themes.regular,
        allowedAlternatives: Object.
            entries(NumberBox__YDF.Themes).
            map(([ key, value ]) => ({ key: `NumberBox__YDF.Themes.${ key }`, value }))
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        defaultValue: NumberBox__YDF.areThemesCSS_ClassesCommon
      },

      geometricVariation: {
        type: String,
        defaultValue: NumberBox__YDF.GeometricVariations.regular,
        allowedAlternatives: Object.
            entries(NumberBox__YDF.GeometricVariations).
            map(([ key, value ]) => ({ key: `NumberBox__YDF.GeometricVariations.${ key }`, value }))
      },

      orientation: {
        type: String,
        defaultValue: NumberBox__YDF.Orientations.horizontal,
        allowedAlternatives: Object.values(NumberBox__YDF.Orientations)
      },

      decorativeVariation: {
        type: String,
        defaultValue: NumberBox__YDF.DecorativeVariations.regular,
        allowedAlternatives: Object.
            entries(NumberBox__YDF.DecorativeVariations).
            map(([ key, value ]) => ({ key: `NumberBox__YDF.DecorativeVariations.${ key }`, value }))
      }

    };


    /* ━━━ State simulations specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

    /**
     * @type { RawObjectDataProcessor.PropertiesSpecification }
     * @public
     * @readonly
     * */
    static statesSimulationsSpecification = {

      invalidInputHighlightingIfAnyValidationErrorsMessages: ComponentsAuxiliaries.
          validatableControlGeneralStatesSimulationsSpecification.invalidInputHighlightingIfAnyValidationErrorsMessages,

      validValueHighlightingIfNoValidationErrorsMessages: ComponentsAuxiliaries.
          validatableControlGeneralStatesSimulationsSpecification.validValueHighlightingIfNoValidationErrorsMessages,

      validationErrorsMessages: ComponentsAuxiliaries.validatableControlGeneralStatesSimulationsSpecification.
          validationErrorsMessages,

      asynchronousValidationsStatuses: ComponentsAuxiliaries.validatableControlGeneralStatesSimulationsSpecification.
          asynchronousValidationsStatuses

    };


    /* ━━━ Routines ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    /* ─── ID generating ──────────────────────────────────────────────────────────────────────────────────────────── */
    static counterForInstancesIDs_Generating = 0;

    /**
     * @type { number } Integers Only
     * @private
     * @static
     * */
    static generateComponentID() {
      NumberBox__YDF.counterForInstancesIDs_Generating++;
      return `NUMBER_BOX--YDF-${ NumberBox__YDF.counterForInstancesIDs_Generating }`;
    }


    /* ━━━ Localization ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    /** @type { NumberBoxLocalization } */
    static localization = numberBoxYDF_ComponentLocalization__english;

  }
