extends ../../../../../CompletePages/Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Minimal");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.minimal).
        visuallyHideAllHeadings();
