extends ../../../../../CompletePages/Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("No Right Border And Roundings Geometric Modifier");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.noRightBorderAndRoundingsGeometricModifier).
        visuallyHideAllHeadings();
