SmoothJapaneseFontsForMonospaceFontStacks = Meiryo UI

// Consolas | Win: 82.97%  Mac: 34.77%
Consolas--FontsStack = Consolas, monaco, monospace
Consolas__SmoothJapaneseSymbols--FontsStack = Consolas, monaco, SmoothJapaneseFontsForMonospaceFontStacks, monospace

// Courier New | Win: 99.73%  Mac: 95.68%
CourierNew--FontsStack = Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace
CourierNew__SmoothJapaneseSymbols--FontsStack = Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, SmoothJapaneseFontsForMonospaceFontStacks, monospace

// Lucida Console | Win: 99.18%  Mac: 0%
LucidaConsole--FontsStack = Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace
LucidaConsole__SmoothJapaneseSymbols--FontsStack = Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, SmoothJapaneseFontsForMonospaceFontStacks, monospace

// Lucida Sans Typewriter |  Win: 74.81%  Mac: 99.64%
LucidaSansTypewriter--FontsStack = Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace
LucidaSansTypewriter__SmoothJapaneseSymbols--FontsStack = Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, SmoothJapaneseFontsForMonospaceFontStacks, monospace

// Monaco | Win: 2.74%  Mac: 99.82%
Monaco--FontsStack = monaco, Consolas, Lucida Console, monospace
Monaco__SmoothJapaneseSymbols--FontsStack = monaco, Consolas, Lucida Console, SmoothJapaneseFontsForMonospaceFontStacks, monospace

// Andale Mono | Win: 4.16%  Mac: 94.59%
AdaleMono--FontsStack = Andale Mono, AndaleMono, monospace
AdaleMono__SmoothJapaneseSymbols--FontsStack = Andale Mono, AndaleMono, SmoothJapaneseFontsForMonospaceFontStacks, monospace
