// Big Caslon | Win: 0%  Mac: 92.61%
BigCaslon--FontsStack =  Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif

// Bodoni MT | Win: 55.81%  Mac: 0%
BodoniMT--FontsStack = Bodoni MT, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif

// Book Antiqua | Win: 86.09%  Mac: 49.01%
BookAntiqua--FontsStack = Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif

// Calisto MT | Win: 58.43%  Mac: 46.31%
CalistoMT--FontsStack = Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif

// Cambria | Win: 83.35%  Mac: 35.32%
Cambria--FontsStack = Cambria, Georgia, serif

// Didot | Win: 0%  Mac: 93.51%
Didot--FontsStack = Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif

// Garamond | Win: 86.47%  Mac: 49.91%
Garamond--FontsStack = Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif

// Georgia | Win: 99.4%  Mac: 97.48%
Georgia--FontsStack = Georgia, Times, Times New Roman, serif

// Goudy Old Style | Win: 58.11%  Mac: 47.57%
GoudeOldStyle--FontsStack = Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif

// Hoefler Text | Win: 0.99%  Mac: 92.61%
HoeflerText--FontsStack =  Hoefler Text, Baskerville Old Face, Garamond, Times New Roman, serif

// Lucida Bright | Win: 76.12%  Mac: 99.64%
LucidaBright--FontsStack = Lucida Bright, Georgia, serif

// Lucida Sans
LucidaSans--FontsStack = Lucida Sans Unicode, Lucida Grande, sans-serif

// Palatino | Win: 99.29%  Mac: 86.13%
Palatino--FontsStack = Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif

// Perpetua | Win: 66.54%  Mac: 0%
Perpetua--FontsStack = Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif

// Rockwell | Win: 65.94%  Mac: 0%
Rockwell--FontsStack = Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif

// Rockwell Extra Bold | Win: 66.1%  Mac: 0%
RockwellExtraBold--FontsStack = Rockwell Extra Bold, Rockwell Bold, monospace

// Baskerville | Win: 60.35%  Mac: 93.33%
Baskerville--FontsStack = Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif

// Times New Roman | Win: 99.67%  Mac: 97.48%
TimesNewRoman--FontsStack = TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif

// MS Serif
MS_Serif--FontsStack = MS Serif, New York, serif
