/*  === Execution
stylus Tests/Source/Styles/02-Kernel/03-Mixins/07-Typography/MultilineTextWithoutExtraSpaceCausedByLineHeight.test.styl `
    --out Tests/Output/Styles/02-Kernel/03-Mixins/07-Typography/MultilineTextWithoutExtraSpaceCausedByLineHeight.test.css
 */

@require "../../../../../../Functionality.styl"


.Paragraph1

  MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 17px })


.Paragraph2

  MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 17px, doNotUsePseudoElements: true })


.Paragraph3

  MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 1.4 })


.Paragraph4

  MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 1rem, lineHeight: 1.5rem })


.Paragraph5

  MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 2rem, lineHeight: 1.5em })
