-

  const propertyMetadataYDF_DK_ComponentLocalization__english = {
    localizedInterpretation: "Interpretation",
    type: "Type",
    defaultValue: "Default value",
    required: "Required",
    yes: "Yes",
    no: "No",
    allowedAlternatives: "Allowed alternatives"
  };
