-

  const propertyMetadataYDF_DK_ComponentLocalization__english = {
    localizedInterpretation: "Interpretation",
    type: "Type",
    typesAlternatives: "Types Alternatives",
    defaultValue: "Default Value",
    required: "Required",
    requiredIf: "Required if",
    yes: "Yes",
    no: "No",
    minimalCharactersCount: "Minimal Characters",
    maximalCharactersCount: "Maximum Characters",
    minimalValue: "Minimal Value",
    maximalValue: "Maximal Value",
    allowedAlternatives: "Allowed Alternatives"
  };
