extends ../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("TextElementHeightSizingSpecificationSchema"),
        description: ""
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.styles.kernel.specificationsSchemas.textElementHeightSizing");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.coreLibrary.$children.styles.$children.kernel.$children.specificationsSchemas.$children.
          textElementHeightSizing.$URI,
      japanese: routing.japanese.coreLibrary.$children.styles.$children.kernel.$children.specificationsSchemas.$children.
          textElementHeightSizing.$URI
    });

    const {
      $sectioning: localizedSectioning,
      $heading: pageTopHeading
    } = localizedRouting.coreLibrary.$children.styles.$children.kernel.$children.specificationsSchemas.
        $children.textElementHeightSizing;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1!= pageTopHeading
