/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-MultipleThemesAnd1ThemeIndependentGeometricVariation.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/StylesApplying/IndividualThemes/ComponentStylesApplyingTest-IndividualThemes-MultipleThemesAnd1ThemeIndependentGeometricVariation.test.css `
    --include Styles
*/


@require "../../../../../Functionality.styl"
@require "../../../../../Components.styl"
@require "../_StylesApplyingTest-SampleComponent.test.styl"


provideSampleYDF_Component(
  overrides: {
    themes: {

      another: {
        geometricVariations: {
          regular: {
            rootElement: {
              borderWidth: 1px
            },
            child: {
              fontSize: 14px
            }
          }
        },
        decorativeVariations: {
          regular: {}
        }
      }

    }
  }
)
