mixin XSocialNetwork--YDF_Icon
  svg(
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 19.56 20"
  )&attributes(attributes)
    path(
      d="M18.92 0 17.5 1.67l-5.74 6.67-.11.14 7.91 11.5-.14.02h-5.54c-.12 0-.18-.06-.24-.15l-5.16-7.51-.08-.11-.41.47-6.12 7.13a.45.45 0 0 1-.37.17H0v-.04l.15-.14 1.14-1.32 6.24-7.25c.09-.1.09-.17.01-.28l-.71-1.03L.8 1.16 0 .04C.05.03.1 0 .15 0h5.69l.14.23 4.31 6.26.6.86.06-.08 5.13-5.97L17.19 0h1.73ZM2.37 1.3l.1.17 3.57 5.1 8.42 12.04c.07.1.14.14.27.14h2.31l.16-.02-.08-.13-2.18-3.12-5.75-8.21L5.1 1.43c-.04-.06-.12-.13-.19-.13H2.37Z"
    )
