@require "../_ComponentTestingPage.styl"
@require "../../node_modules/@yamato-daiwa/frontend-additional_themes/RegularTheme.styl"
@require "../../node_modules/@yamato-daiwa/frontend-additional_themes/CupertinoTheme.styl"


provideButtonYDF_Component(
  overridings: {
    themes: {
      cupertino: {
        componentIndependentCSS_Class: "CupertinoTheme--YDF"
        decorativeVariations: {
          regular: Button-CupertinoTheme-RegularDecoration--YDF,
          accented: Button-CupertinoTheme-AccentedDecoration--YDF,
          linkLike: Button-CupertinoTheme-LinkLikeDecoration--YDF
        }
      }
    }
  },
  options: { externalThemes: true }
)
