extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../node_modules/@yamato-daiwa/frontend/Components.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "External component themes switching";
    styleSheetsURIs = [ "@Demos/ExternalThemesSwitching/ExternalThemesSwitching" ]
    scriptsURIs.endOfBody = [ "@Demos/ExternalThemesSwitching/ExternalThemesSwitching" ]


block append PageContent

  -

    ARE_YDF_COMPONENTS_THEMES_EXTERNAL_BY_DEFAULT = true

    Button__YDF.defineNewThemes([ "Cupertino" ]);


  .ExternalThemesSwitchingPage.RegularTheme--YDF

    +Button--YDF({
      label: "Change theme",
    })#THEME_CHANGING_BUTTON
