extends ../../../PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  - HTML_PAGE_TITLE = "XXX Company home page - Static preview";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  h2.AnywherePage-PagesGroupHeading Open pages

  +PageLink({
    label: "Top page",
    URI: "Open/TopPage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting
  })

  h3.AnywherePage-PagesSubgroupHeading About

  +PageLink({
    label: "Profile",
    URI: "Open/About/ProfilePage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "History",
    URI: "Open/About/HistoryPage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting
  })

  +PageLink({
    label: "President's greeting",
    URI: "Open/About/President_sGreetingPage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting
  })

  h3.AnywherePage-PagesSubgroupHeading Blog

  +PageLinksGroup({
    title: "Posts list",
    linksData: [
      { label: "Normal displaying", URI: "Open/Blog/PostsListPage.html" },
      { label: "No posts yet", URI: "Open/Blog/PostsListPage-NoPosts.html" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress
  })

  +PageLink({
    label: "Post sample",
    URI: "Open/Blog/PostSamplePage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingInProgress
  })

  h3.AnywherePage-PagesSubgroupHeading Inquiry

  +PageLink({
    label: "Inquiry form",
    URI: "Open/InquiryPage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.customerEvaluationWaiting
  })


  h2.AnywherePage-PagesGroupHeading Admin panel

  +PageLink({
    label: "Post editing",
    URI: "Admin/Blog/PostEditingPage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.specificationClarification
  })

  +PageLinksGroup({
    title: "Analytics",
    linksData: [
      { label: "Normal displaying", URI: "Admin/Analytics/AnalyticsPage.html" },
      { label: "No data yet", URI: "AdminPanel/Analytics/AnalyticsPage-NoData.html" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.reviewWaiting
  })

  +PageLinksGroup({
    title: "Inquiries list",
    linksData: [
      { label: "Normal displaying", URI: "Admin/Inquiries/InquiriesListPage.html" },
      { label: "No data yet", URI: "Admin/Inquiries/InquiriesListPage-NoData.html" }
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })
