extends ../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../node_modules/@yamato-daiwa/frontend-documenting_kit/Components.pug
  include ../../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-japanese/Components.pug
  include ../../../node_modules/@yamato-daiwa/frontend-documenting_kit-localization-russian/Components.pug
  include ../../../Components/Infographics/CallableExpressionScheme/CallableExpressionSchemeDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "CallableExpressionScheme component demo";
    styleSheetsURIs = [ "@Demos/Infographics/CallableExpressionScheme/CallableExpressionScheme" ]


block append PageContent

  .ComponentTestingPageContent

    +CallableExpressionSchemeDemo
