-

  function addDataAttributesGeneratingMethodToGalleryOptionsClass(TargetClass) {
    TargetClass.generateDataAttributes = function () {

      const dataAttributes = {};

      if (TargetClass.mustVisuallyHideAllHeadings) {
        dataAttributes["data-must_visually_hide_all_headings"] = true;
        dataAttributes["data-must_visually_hide_top_heading"] = true;
      } else if (TargetClass.mustVisuallyHideTopHeading) {
        dataAttributes["data-must_visually_hide_top_heading"] = true;
      }

      if (Object.values(TargetClass.partialsRenderingFlags).includes(false)) {
        for (const partialValue of Object.values(TargetClass.Partials)) {
          if (TargetClass.partialsRenderingFlags[partialValue] === true) {
            dataAttributes["data-partial_name"] = partialValue;
            break;
          }
        }
      }

      return dataAttributes;

    };
  }
