CompoundControlShell-RegularTheme-SmallGeometry--YDF = {

  rootElement: {
    customDeclarations: null
  },

  label: {

    text: {
      size: 0.9rem,
      lineSpacing: 0.1rem,
      lineHeight: null
    },

    customDeclarations: null

  },

  badge: {

    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    }),

    paddings: specifyPaddings({
      horizontalSymmetric: 0.4em,
      verticalSymmetric: 0.1em
    }),

    spacing: {
      left: 0.4em
    },

    customDeclarations: null

  },

  guidance: {

    text: {
      size: 0.8rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      afterHeader: 0.2rem
    },

    customDeclarations: null

  },

  mainSlot: {
    spacing: {
      afterHeader: 0.2rem,
      afterGuidance: 0.3rem
    }
  },

  errorsList: {

    spacing: {
      afterMainSlot: 0.4rem,
    },

    item: {

      text: {
        size: 0.9rem,
        lineSpacing: 0.1rem,
        lineHeight: null
      },

      spacing: {
        betweenSelfInstances: 0.2rem
      }
    }

  }

}
