providePopoverYDA_Component()

  .Popover

    position relative


    &-Body

      position absolute
      z-index: YDF_Configuration.zIndexes.floatingBelowModalsComponents

      border-width 1px
      border-radius 3px

      border-style solid
      border-color: W3C_39_ShadesOfGray--YDF[37]

      background-color white
      box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.08)
