extends ../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../Galleries/Components/AdmonitionBlock/AdmonitionBlockGallery.pug


block append Metadata

  -

    /**
     * @param { string } [partialTitle]
     * @returns { string }
     * */
    function generateHTML_Page_Title(partialTitle) {
      return [
        "AdmonitionBlock Component Demos",
        ...partialTitle ? [ ` — ${ partialTitle }` ] : [],
        " — Yamato Daiwa Frontend (YDF)"
      ].join("");
    }

    RegularWebPageTemplate__YDF.configure({
      stylesSheetsURIs: [
        "@Partials/YDF-Demos-Primer",
        "@Partials/YDF-Demos-CommonRequirements",
        "@Pages/Components/AdmonitionBlock/AdmonitionBlockGalleryPage"
      ],
      scriptsURIs: {
        atEndOfBody: [ "@CompletePages/Components/AdmonitionBlock/AdmonitionBlockGalleryPage" ]
      }
    });


block append PageContent

  .YDF_Gallery

    +AdmonitionBlockGallery
