include AttentionBoxLocalization.english.pug


-

  const AttentionBox__YDF = {

    CSS_NAMESPACE: "AttentionBox--YDF",


    /* === Themes =================================================================================================== */
    Themes: { regular: "REGULAR" },

    defineNewThemes(themesNames) {
      return ComponentsAuxiliaries.defineNewThemes(themesNames, this);
    },

    areThemesExternal: false,
    considerThemesAsExternal() {
      this.areThemesExternal = true;
      return this;
    },


    /* --- Geometry ------------------------------------------------------------------------------------------------- */
    GeometricVariations: { regular: "REGULAR" },

    defineNewGeometricVariations(geometricVariationsNames) {
      return ComponentsAuxiliaries.defineNewGeometricVariations(geometricVariationsNames, this);
    },


    /* --- Decoration ----------------------------------------------------------------------------------------------- */
    DecorativeVariations: {
      notice: "NOTICE",
      error: "ERROR",
      warning: "WARNING",
      success: "SUCCESS",
      guidance: "GUIDANCE",
      question: "QUESTION"
    },

    defineNewDecorativeVariations(decorativeVariationsNames) {
      return ComponentsAuxiliaries.defineNewDecorativeVariations(decorativeVariationsNames, this);
    },

    /* === Properties specification ================================================================================= */
    get propertiesSpecification() {
      return {

        theme: {
          type: String,
          required: false,
          allowedAlternatives: Object.values(this.Themes)
        },

        areThemesExternal: {
          type: Boolean,
          required: false
        },

        geometry: {
          type: String,
          required: false,
          allowedAlternatives: Object.values(this.GeometricVariations)
        },

        decoration: {
          type: String,
          required: true,
          allowedAlternatives: Object.values(this.DecorativeVariations)
        },

        hasPrependedSVG_Icon: {
          type: Boolean,
          defaultValue: false
        },

        hasDismissingButton: {
          type: Boolean,
          defaultValue: false
        }

      }
    },

    /* === Localization ============================================================================================= */
    localization: AttentionBoxYDF_ComponentEnglishLocalization

  };
