include AttentionBoxLocalization.english.pug


-

  const AttentionBox__YDF = {

    CSS_NAMESPACE: "AttentionBox--YDF",


    /* === Themes =================================================================================================== */
    Themes: { regular: "REGULAR" },

    defineNewThemes(themesNames) {
      return ComponentsAuxiliaries.defineNewThemes(themesNames, this);
    },

    areThemesExternal: ARE_YDF_COMPONENTS_THEMES_COMMON_BY_DEFAULT,
    considerThemesAsExternal() {
      this.areThemesExternal = true;
      return this;
    },


    /* --- Geometry ------------------------------------------------------------------------------------------------- */
    GeometricVariations: {
      regular: "REGULAR",
      stickyNoteLike: "STICKY_NOTE_LIKE"
    },

    defineNewGeometricVariations(geometricVariationsNames) {
      return ComponentsAuxiliaries.defineNewGeometricVariations(geometricVariationsNames, this);
    },


    /* --- Decoration ----------------------------------------------------------------------------------------------- */
    DecorativeVariations: {
      notice: "NOTICE",
      error: "ERROR",
      warning: "WARNING",
      success: "SUCCESS",
      guidance: "GUIDANCE",
      question: "QUESTION"
    },

    defineNewDecorativeVariations(decorativeVariationsNames) {
      return ComponentsAuxiliaries.defineNewDecorativeVariations(decorativeVariationsNames, this);
    },


    /* === Properties specification ================================================================================= */
    get propertiesSpecification() {
      return {

        title: {
          type: String,
          required: false,
          minimalCharactersCount: 1
        },

        theme: {
          type: String,
          required: false,
          allowedAlternatives: Object.values(this.Themes)
        },

        areThemesExternal: {
          type: Boolean,
          required: false
        },

        geometry: {
          type: String,
          required: false,
          allowedAlternatives: Object.values(this.GeometricVariations)
        },

        decoration: {
          type: String,
          required: true,
          allowedAlternatives: Object.values(this.DecorativeVariations)
        },

        hasPrependedSVG_Icon: {
          type: Boolean,
          defaultValue: false
        },

        hasDismissingButton: {
          type: Boolean,
          defaultValue: false
        }

      }
    },


    /* === Localization ============================================================================================= */
    localization: attentionBoxYDF_ComponentLocalization__english,


    /* === ID generating ============================================================================================ */
    counterForIDs_Generating: 0,

    generateComponentID() {
      this.counterForIDs_Generating++;
      return `ATTENTION_BOX--YDF-${ this.counterForIDs_Generating }`;
    },


    counterForCustomSVG_IconsIDs_Generating: 0,
    customSVG_IconCurrentID: null,

    generateCustomIconNewID() {
      this.counterForCustomSVG_IconsIDs_Generating++;
      this.customSVG_IconCurrentID = `ATTENTION_BOX--YDF-SVG_ICON-${ this.counterForCustomSVG_IconsIDs_Generating }`;
      return this.customSVG_IconCurrentID;
    }

  };
