include AttentionBox.class.pug


mixin AttentionBox--YDF(properties)

  -

    const {
      theme = AttentionBox__YDF.Themes.regular,
      geometry = AttentionBox__YDF.GeometricVariations.regular,
      decoration,
      hasPrependedSVG_Icon,
      hasDismissButton
    } = properties;

    const rootElementModifierCSS_Classes = [
      ...Object.entries(AttentionBox__YDF.Themes).length > 1 ? [ AttentionBox__YDF.ThemesCSS_ModifiersNames[theme] ] : [],
      ...Object.entries(AttentionBox__YDF.GeometricVariations).length > 1 ?
          [ AttentionBox__YDF.GeometricVariationsCSS_ModifiersNames[geometry] ] : [],
      ...Object.entries(AttentionBox__YDF.DecorativeVariations).length > 1 ?
          [AttentionBox__YDF.DecorativeVariationsCSS_Modifiers[decoration]] : []
    ];


  .AttentionBox--YDF&attributes(attributes)(
    class= rootElementModifierCSS_Classes
    role="alert"
  )

    if hasPrependedSVG_Icon

      case decoration

        when AttentionBox__YDF.DecorativeVariations.importantInfo
          +ExclamationMarkIcon__Circled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.secondaryInfo
          +ExclamationMarkIcon__Triangled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.notice
          +Pencil__Circled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.error
          +ExclamationMarkIcon__Circled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.warning
          +ExclamationMarkIcon__Triangled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.success
          +CheckmarkIcon__Circled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.guidance
          +InfoSign__Circled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

        when AttentionBox__YDF.DecorativeVariations.question
          +QuestionMark__Circled__Filled--YDF_Icon.AttentionBox--YDF-SVG_Icon

    div.AttentionBox--YDF-MainSection

      block


    if hasDismissButton
      button.AttentionBox--YDF-DismissingButton(
        type="button"
        aria-label= AttentionBox__YDF.localization.dismissingButtonAccessibilityGuidance
      ): +MultiplicationSign__Boxed__Filled--YDF_Icon.AttentionBox--YDF-DismissingButton-Icon
