// === Heading 1 =======================================================================================================
Heading1DefaultProperties--YDF = {
  geometry: {
    fontSize: 40px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[4]
  }
}


Heading1--YDF(preset = Heading1DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 2 =======================================================================================================
Heading2DefaultProperties--YDF = {
  geometry: {
    fontSize: 32px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[12]
  }
}


Heading2--YDF(preset = Heading2DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 3 =======================================================================================================
Heading3DefaultProperties--YDF = {
  geometry: {
    fontSize: 26px,
    lineHeight: 1.2
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadesOfGray__39ColorsW3C_Palette[16]
  }
}


Heading3--YDF(preset = Heading3DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 4 =======================================================================================================
Heading4DefaultProperties--YDF = {
  geometry: {
    fontSize: 24px,
    lineHeight: 1.2
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadesOfGray__39ColorsW3C_Palette[18]
  }
}


Heading4--YDF(preset = Heading4DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 5 =======================================================================================================
Heading5DefaultProperties--YDF = {
  geometry: {
    fontSize: 20px,
    lineHeight: 1.2
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadesOfGray__39ColorsW3C_Palette[18]
  }
}


Heading5--YDF(preset = Heading5DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)



// === Heading 6 =======================================================================================================
Heading6DefaultProperties--YDF = {
  geometry: {
    fontSize: 16px,
    lineHeight: 1.2
  },
  decoration: {
    fontWeight: null,
    fontColor: ShadesOfGray__39ColorsW3C_Palette[20]
  }
}


Heading6--YDF(preset = Heading6DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)
