// === Subheading 1 ====================================================================================================
Subheading1DefaultProperties--YDF = {
  geometry: {
    fontSize: 23px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[12]
  }
}


Subheading1--YDF(preset = Subheading1DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 2 =======================================================================================================
Subheading2DefaultProperties--YDF = {
  geometry: {
    fontSize: 21px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[15]
  }
}


Subheading2--YDF(preset = Subheading2DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 3 =======================================================================================================
Subheading3DefaultProperties--YDF = {
  geometry: {
    fontSize: 19px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[18]
  }
}


Subheading3--YDF(preset = Subheading3DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 4 =======================================================================================================
Subheading4DefaultProperties--YDF = {
  geometry: {
    fontSize: 17px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[21]
  }
}


Subheading4--YDF(preset = Subheading4DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 5 =======================================================================================================
Subheading5DefaultProperties--YDF = {
  geometry: {
    fontSize: 15px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[24]
  }
}


Subheading5--YDF(preset = Subheading5DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


// === Heading 6 =======================================================================================================
Subheading6DefaultProperties--YDF = {
  geometry: {
    fontSize: 13px,
    lineHeight: 1.2
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[27]
  }
}


Subheading6--YDF(preset = Heading6DefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    font-weight: properties.decoration.fontWeight,
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)
