ParagraphDefaultProperties--YDF = {
  geometry: {
    fontSize: BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS,
    lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS
  },
  decoration: {
    fontColor: null
  }
}


Paragraph--YDF(preset = ParagraphDefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


AbstractDefaultProperties--YDF = {
  geometry: {
    fontSize: BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS,
    lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS,
    paddings: { horizontalSymmetric: 24px }
  },
  decoration: {
    fontColor: ShadesOfGray__39ColorsW3C_Palette[12]
  }
}


Abstract--YDF(preset = AbstractDefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  Paddings(properties.geometry.paddings)

  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)
