ParagraphDefaultProperties = {
  geometry: {
    fontSize: BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS,
    lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS,
    customDeclarations: {}
  },
  decoration: {
    fontColor: null,
    customDeclarations: {}
  }
}


Paragraph(preset = ParagraphDefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)


AbstractDefaultProperties = {
  geometry: {
    fontSize: BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS,
    lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS,
    paddings: { horizontalSymmectic: 24px },
    customDeclarations: {}
  },
  decoration: {
    fontColor: ShadeOfGray__12--W3C_Palette,
    customDeclarations: {}
  }
}


Abstract(preset = AbstractDefaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  // --- Geometry ------------------------------------------------------------------------------------------------------
  Paddings(properties.geometry.paddings)

  MultilineTextWithoutExtraSpaceCausedByLineHeight({
    fontSize: properties.geometry.fontSize,
    lineHeight: properties.geometry.lineHeight
  })

  applyIfNotNull(properties.geometry.customDeclarations)


  // --- Decoration ----------------------------------------------------------------------------------------------------
  applyIfNotNull({
    color: properties.decoration.fontColor
  })

  applyIfNotNull(properties.decoration.customDeclarations)
