UnorderedListDefaultProperties--YDF = {
  geometry: {
    fontSize: BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS,
    lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS,
    paddings: { left: 28px },
    verticalSpaceBetweenItems: 8px
  }
}

UnorderedList--YDF(preset = UnorderedListDefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)
  geometry = properties.geometry


  list-style-type disc
  list-style-position outside

  Paddings(geometry.paddings)

  applyIfNotNull(geometry.customDeclarations)


  li

    MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
      fontSize: geometry.fontSize,
      lineHeight: geometry.lineHeight
    })


    +li

      margin-top: geometry.verticalSpaceBetweenItems


  ul

    padding-left 10px
    list-style-type circle


    ul

      list-style-type square


OrderedListDefaultProperties--YDF = {
  geometry: {
    fontSize: BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS,
    lineHeight: BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS,
    paddings: { left: 28px },
    verticalSpaceBetweenItems: 8px
  }
}

OrderedList--YDF(preset = OrderedListDefaultProperties--YDF, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)
  geometry = properties.geometry


  list-style-type decimal
  list-style-position outside

  Paddings(geometry.paddings)

  applyIfNotNull(geometry.customDeclarations)


  li

    MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
      fontSize: geometry.fontSize,
      lineHeight: geometry.lineHeight
    })


    +li

      margin-top: geometry.verticalSpaceBetweenItems


  ol

    padding-left 10px
    list-style-type lower-alpha


    ol

      list-style-type lower-roman
