-

  const AdmonitionBlockComponentPropertiesSpecification = {

    typeName: "Properties",

    propertiesSpecification: {

      ...AdmonitionBlock__YDF.propertiesSpecification,

      hasDefaultSVG_Icon: {
        type: Boolean,
        defaultValue: false
      },

      theme: {
        ...AdmonitionBlock__YDF.propertiesSpecification.theme,
        defaultValue: "AdmonitionBlock.Themes.regular",
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.theme.allowedAlternatives.map(
          ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      areThemesCSS_ClassesCommon: {
        ...AdmonitionBlock__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
        defaultValue: "AdmonitionBlock.areThemesCSS_ClassesCommon"
      },

      geometricVariation: {
        ...AdmonitionBlock__YDF.propertiesSpecification.geometricVariation,
        defaultValue: "AdmonitionBlock.GeometricVariations.regular",
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.geometricVariation.allowedAlternatives.map(
          ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      },

      decorativeVariation: {
        ...AdmonitionBlock__YDF.propertiesSpecification.decorativeVariation,
        allowedAlternatives: AdmonitionBlock__YDF.propertiesSpecification.decorativeVariation.allowedAlternatives.map(
            ({ key, value }) => ({ key: key.replace("__YDF", ""), value })
        )
      }

    }

  };


  delete AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.SVG_Icon;
