mixin Heart__Broken__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17.35")&attributes(attributes)
    path(d="M3.97 2.2c.64 0 1.53.39 2.48 1.07l-.23.46c-.3.61-.3 1.33 0 1.95l1.39 2.83-1.39 2.83C3.89 8.8 2.19 6.21 2.2 4.36c0-.51.13-1.19 1.03-1.9.23-.18.45-.26.74-.26m0-2.2c-.72 0-1.43.21-2.09.72-6.27 4.89 4.93 14.49 7.58 16.63l.61-1.24-1.87-3.8 1.87-3.8-1.87-3.8 1-2.02C8.08 1.65 6 0 3.97 0Z")
    path(d="M16.03 2.2c.29 0 .51.08.74.26.91.71 1.03 1.4 1.03 1.92 0 1.78-2.73 5.29-5.36 8.04l-.05-.11 1.4-2.83c.3-.61.3-1.33 0-1.95L12.4 4.7l.42-.85c1.23-1.05 2.42-1.66 3.23-1.66M16.03 0c-1.9 0-3.86 1.46-5 2.5L9.94 4.71l1.87 3.8-1.87 3.8 1.87 3.8S20 8.69 20 4.38c0-1.35-.54-2.61-1.88-3.66A3.34 3.34 0 0 0 16.03 0Z")
