mixin Heart__Broken__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17.35")&attributes(attributes)
    path(d="M10.07 8.51 8.2 4.71l1-2.02C7.69 1.28 4.4-1.25 1.88.72c-6.27 4.89 4.93 14.49 7.58 16.63l.61-1.24-1.87-3.8 1.87-3.8Z")
    path(d="M18.12.72c-2.41-1.88-5.52.35-7.1 1.78L9.93 4.71l1.87 3.8-1.87 3.8 1.87 3.8-.16.32c2.84-2.44 8.35-7.73 8.35-12.05 0-1.35-.54-2.61-1.88-3.66Z")
