mixin Comment__Qotemark__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.68 20.01")&attributes(attributes)
    path(d="M17.68 0H2a2 2 0 0 0-2 2v12.88c0 1.1.9 2 2 2h4.87c.46 0 .81.44.7.89l-.44 1.88c-.06.26.23.45.45.29l3.02-2.22a4.36 4.36 0 0 1 2.58-.85h4.49a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM9.21 11.41H5.3V7.5l1.52-2.9h1.6L7.3 7.5h1.91v3.91Zm5.16 0h-3.91V7.5l1.52-2.9h1.6l-1.12 2.9h1.91v3.91Z")
