mixin Comment__Objection--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M1.65 0h9.71c.91 0 1.65.68 1.65 1.52v6.16c0 .83-.74 1.52-1.65 1.52H7.42l-1.9 1.75c-.08.07-.2.1-.31.06s-.17-.13-.17-.24V9.21H1.65C.74 9.21 0 8.53 0 7.69V1.52C0 .68.74 0 1.65 0Zm9.27 2.9v-.6H2.47v.6h8.45Zm0 1.86v-.6H2.47v.6h8.45ZM2.47 6.03v.6h6.02v-.6H2.47Z")
    path(d="M18.35 9.44H8.64c-.91 0-1.65.65-1.65 1.45v5.91c0 .8.74 1.45 1.65 1.45h3.94l1.9 1.67c.08.07.2.09.31.05.1-.04.17-.13.17-.23v-1.5h3.39c.91 0 1.65-.65 1.65-1.45v-5.91c0-.8-.74-1.45-1.65-1.45Zm-5.41 6.49h-.84v-.99h.84v.99Zm.04-3.41-.11 1.92h-.69l-.12-1.92v-.72h.92v.72Zm1.89 3.41h-.84v-.99h.84v.99Zm.04-3.41-.11 1.92h-.69l-.12-1.92v-.72h.92v.72Z")
