mixin Comment__Minus__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.68 20")&attributes(attributes)
    path(d="M17.68 1.5c.27 0 .5.22.5.5v12.88a.5.5 0 0 1-.5.5h-4.49c-1.24 0-2.48.4-3.47 1.14l-.7.51a2.22 2.22 0 0 0-2.15-1.65H2a.5.5 0 0 1-.5-.5V2c0-.27.22-.5.5-.5h15.68m0-1.5H2a2 2 0 0 0-2 2v12.88c0 1.1.9 2 2 2h4.87c.46 0 .81.44.7.89l-.44 1.88c-.05.19.11.35.28.35a.3.3 0 0 0 .17-.06l3.02-2.22a4.36 4.36 0 0 1 2.58-.85h4.49a2 2 0 0 0 2-2V2a2 2 0 0 0-1.99-2Z")
    path(d="M14.33 6.65H5.26a.47.47 0 0 0-.47.47v1.86c0 .26.21.47.47.47h9.07c.26 0 .47-.21.47-.47V7.12a.47.47 0 0 0-.47-.47Z")
