mixin Comment__Dots__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.68 20")&attributes(attributes)
    path(d="M17.68 0H2a2 2 0 0 0-2 2v12.88c0 1.1.9 2 2 2h4.87c.46 0 .81.44.7.89l-.44 1.88c-.06.26.23.45.45.29l3.02-2.22a4.36 4.36 0 0 1 2.58-.85h4.49a2 2 0 0 0 2-2V2a2 2 0 0 0-1.99-2ZM4.6 9.75a1.42 1.42 0 1 1 0-2.84 1.42 1.42 0 0 1 0 2.84Zm5.19 0a1.42 1.42 0 1 1 0-2.84 1.42 1.42 0 0 1 0 2.84Zm5.19 0a1.42 1.42 0 1 1 0-2.84 1.42 1.42 0 0 1 0 2.84Z")
