mixin Comment__Pen__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.68 20")&attributes(attributes)
    path(d="M7.55 11.5a.65.65 0 0 1-.48-.25.67.67 0 0 1-.13-.53.26.26 0 0 0-.06-.24.26.26 0 0 0-.21-.11h-.05l-.2-.02-.06.05-.78 1.75.3.39 1.83-.36.06-.05.04-.26v-.02a.26.26 0 0 0-.06-.24.3.3 0 0 0-.22-.12Z")
      path(d="M17.68 0H2a2 2 0 0 0-2 2v12.88c0 1.1.9 2 2 2h4.87c.46 0 .81.44.7.89l-.44 1.88c-.06.26.23.45.45.29l3.02-2.22a4.36 4.36 0 0 1 2.58-.85h4.49a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM7.94 12.61l-2.96.58h-.06c-.13-.01-.22-.16-.17-.29l1.24-2.8 7.13-5.74 1.9 2.55-7.09 5.71Zm8.63-6.89-1.29 1.04-1.9-2.55 1.24-1a.36.36 0 0 1 .26-.07l.05.02.04.01.09.05.04.03.04.03 1.48 1.92c.13.16.1.4-.05.52Z")
