mixin Comment__Plus__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.68 20")&attributes(attributes)
    path(d="M17.68 0H2a2 2 0 0 0-2 2v12.88c0 1.1.9 2 2 2h4.87c.46 0 .81.44.7.89l-.44 1.88c-.06.26.23.45.45.29l3.02-2.22a4.36 4.36 0 0 1 2.58-.85h4.49a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-3.34 9.21-.01.11a.51.51 0 0 1-.5.43h-2.25a.48.48 0 0 0-.36.15.54.54 0 0 0-.15.37v2.09a.5.5 0 0 1-.41.51l-.11.01H9.13l-.11-.01a.52.52 0 0 1-.42-.51v-2.09a.55.55 0 0 0-.14-.37.51.51 0 0 0-.36-.15H5.85a.5.5 0 0 1-.5-.42l-.01-.11V7.76l.01-.11a.51.51 0 0 1 .5-.43H8.1c.14 0 .27-.05.36-.15a.54.54 0 0 0 .15-.37V4.4a.5.5 0 0 1 .42-.51l.11-.01h1.42l.11.01c.24.04.42.26.42.51v2.3c0 .14.05.27.14.37.09.09.22.15.36.15h2.25a.5.5 0 0 1 .5.42l.01.11v1.46Z")
