extends ../../../CompletePages/Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("Icons And Keys And Values");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.iconsAndKeysAndValues).
        visuallyHideAllHeadings();
