extends ../../../CompletePages/Components/Badge/_BadgeGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Borders Disguising Decorative Modifier");

    BadgeGalleryOptions.
        renderSinglePartial(BadgeGalleryOptions.Partials.bordersDisguisingDecorativeModifier).
        visuallyHideAllHeadings();
