extends ../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePageTemplate.pug


block append Metadata

  - RegularWebPageTemplate__YDF.metadata.title = "Tests";


block append TableOfContents

  h1.AnywherePage-TopHeading= RegularWebPageTemplate__YDF.metadata.title

  +PageLink({
    label: "AdmonitionBlock",
    URI: "@CompletePages/GUI_Components/AdmonitionBlock/AdmonitionBlockGalleryPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  +PageLink({
    label: "Badge",
    URI: "@CompletePages/GUI_Components/Badge/BadgeGalleryPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  //-
    +PageLink({
      label: "LoadingIndicator",
      URI: "@Demos/GUI_Components/LoadingIndicator/LoadingIndicator",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })

    +PageLink({
      label: "Snackbar",
      URI: "@Demos/GUI_Components/Snackbar/Snackbar",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })

  h2.AnywherePage-PagesGroupHeading Controls

  +PageLink({
    label: "FilesUploader",
    URI: "@CompletePages/GUI_Components/Controls/FilesUploader/FilesUploaderGalleryPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })


  h3.AnywherePage-PagesSubgroupHeading Buttons

  +PageLink({
    label: "Plain",
    URI: "@CompletePages/GUI_Components/Controls/Buttons/Plain/ButtonGalleryPage",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })


  h2.AnywherePage-PagesGroupHeading Typography

  +PageLink({
    label: "Table",
    URI: "@CompletePages/GUI_Components/Typography/Table/TableGalleryPage.pug",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })


  //-

    h3.AnywherePage-PagesSubgroupHeading Inputting

    +PageLink({
      label: "TextBox",
      URI: "@Demos/GUI_Components/Controls/TextBox/TextBox",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })


    h3.AnywherePage-PagesSubgroupHeading Other

    +PageLink({
      label: "FilesUploader",
      URI: "@Demos/GUI_Components/Controls/FilesUploader/FilesUploader",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })


    h2.AnywherePage-PagesGroupHeading Controls groups

    +PageLink({
      label: "Simple integrated",
      URI: "@Demos/Assemblies/ControlsGroups/Simple/Integrated/SimpleIntegratedControlsGroupDemo",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })

    +PageLink({
      label: "Simple discrete",
      URI: "@Demos/Assemblies/ControlsGroups/Simple/Discrete/SimpleDiscreteControlsGroupDemo",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })

    +PageLink({
      label: "Basic integrated",
      URI: "@Demos/Assemblies/ControlsGroups/Basic/Integrated/BasicIntegratedControlsGroup",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })


    h2.AnywherePage-PagesGroupHeading Viewers

    +PageLink({
      label: "SingleImageViewer",
      URI: "@Demos/GUI_Components/Viewers/SingleImage/SingleImageViewer",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })


    h2.AnywherePage-PagesGroupHeading Other

    +PageLink({
      label: "External themes switching",
      URI: "@Demos/ExternalThemesSwitching/ExternalThemesSwitching.pug",
      progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
    })
