/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/03-Strings/buildString.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/03-Strings/buildString.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


testForEquality(
  "One value has been interpolated as expected",
  buildString(
    "Good morning, ${name}",
    { name: "Takeshi" }
  ),
  "Good morning, Takeshi"
)

testForEquality(
  "One value has been interpolated as expected even with the space inside braces",
  buildString(
    "Good morning, ${ name }",
    { name: "Takeshi" }
  ),
  "Good morning, Takeshi"
)


testForEquality(
  "Two values has been interpolated as expected",
  buildString(
    "Good morning, ${givenName} ${familyName}",
    {
      givenName: "Takeshi",
      familyName: "Tokugawa"
    }
  ),
  "Good morning, Takeshi Tokugawa"
)

testForEquality(
  "Two values has been interpolated as expected even with the space inside braces",
  buildString(
    "Good morning, ${ givenName } ${ familyName }",
    {
      givenName: "Takeshi",
      familyName: "Tokugawa"
    }
  ),
  "Good morning, Takeshi Tokugawa"
)


testForEquality(
  "Long text with three values has been interpolated as expected",
  buildString(
    "In the quaint village of ${villageName}, nestled amidst the rolling hills of the countryside, lived the " +\
      "${familyName} family. " +\
    "Mr. ${givenName} ${familyName}, a respected member of the community, was known for his " +\
      "kindness and generosity.",
    {
      villageName: "Willowbrook",
      familyName: "Thompson",
      givenName: "Jonathan"
    }
  ),
  "In the quaint village of Willowbrook, nestled amidst the rolling hills of the countryside, lived the Thompson family. " +\
  "Mr. Jonathan Thompson, a respected member of the community, was known for his kindness and generosity."
)

testForEquality(
  "Long text with three values has been interpolated as expected even with the space inside braces",
  buildString(
    "In the quaint village of ${ villageName }, nestled amidst the rolling hills of the countryside, lived the " +\
      "${ familyName } family. " +\
    "Mr. ${ givenName } ${ familyName }, a respected member of the community, was known for his " +\
      "kindness and generosity.",
    {
      villageName: "Willowbrook",
      familyName: "Thompson",
      givenName: "Jonathan"
    }
  ),
  "In the quaint village of Willowbrook, nestled amidst the rolling hills of the countryside, lived the Thompson family. " +\
  "Mr. Jonathan Thompson, a respected member of the community, was known for his kindness and generosity."
)


testForEquality(
  "One numeric value has been interpolated as expected",
  buildString(
    "You have ${messagesCount} message(s)",
    { messagesCount: 2 }
  ),
  "You have 2 message(s)"
)

testForEquality(
  "One numeric value has been interpolated as expected even with the space inside braces",
  buildString(
    "You have ${ messagesCount } message(s)",
    { messagesCount: 2 }
  ),
  "You have 2 message(s)"
)
