mixin Bookmark__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.68 20")&attributes(attributes)
    path(d="M0 2.09v16.87c0 .83.92 1.33 1.62.87l7.72-5.06 7.72 5.06c.69.46 1.62-.04 1.62-.87V2.09A2.1 2.1 0 0 0 16.59 0H2.09A2.1 2.1 0 0 0 0 2.09Zm16.93 15.56-6.44-4.22a2.07 2.07 0 0 0-2.29 0l-6.44 4.22V1.75h15.18v15.89Z")
