provideDummyLogoComponent()

  .DummyLogo

    font-size 24px

    display inline-grid
    grid-template auto 1fr / auto 1fr
    grid-gap 0.2em 0.6em
    align-items start


    &:focus

      outline 3px solid JQueryUI_BaseTheme.warning.borderColor


    &-Icon

      grid-row-start span 2

      display flex
      justify-content center
      align-items center

      border 3px solid white
      border-radius 8px
      padding 6px 8px

      font-size 1em
      font-weight bold
      color white


    &-Heading

      margin-top 0.1em

      font-size 0.8em
      font-weight bold
      color white


    &-Subheading

      margin-left 0.8em

      font-size 0.6em
      font-weight bold
      color white
