BorderTopFilletsRadius(radius)

  border-top-left-radius radius
  border-top-right-radius radius


BorderBottomFilletsRadius(radius)

  border-bottom-left-radius radius
  border-bottom-right-radius radius


BorderLeftFilletsRadius(radius)

  border-top-left-radius radius
  border-bottom-left-radius radius


BorderRightFilletsRadius(radius)

  border-top-right-radius radius
  border-bottom-right-radius radius
