BordersSizingSpecificationSchema = {

  thickness: {

    type: DataTypes.object,
    required: false,
    properties: {

      all: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      horizontalSymmetric: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all"
      },
      left: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.horizontalSymmetric"
      },
      right: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.horizontalSymmetric"
      },

      verticalSymmetric: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all"
      },
      top: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.verticalSymmetric"
      },
      bottom: {
        type: DataTypes.dimensionalAmount,
        required: false,
        incompatibleWith: "thickness.all" "thickness.verticalSymmetric"
      }
    }
  },

  radius: {

    type: DataTypes.object,
    required: false,
    properties: {
      all: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      topLeft: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      topRight: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      bottomLeft: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      bottomRight: {
        type: DataTypes.dimensionalAmount,
        required: false
      },

      leftFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.topLeft" "radius.bottomLeft"
      },

      rightFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.topRight" "radius.bottomRight"
      },

      topFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.topLeft" "radius.topRight" "radius.leftFillets" "radius.rightFillets"
      },

      bottomFillets: {
        type: DataTypes.dimensionalAmount,
        incompatibleWith: "radius.bottomLeft" "radius.bottomRight" "radius.leftFillets" "radius.rightFillets"
      }
    }
  }
}


BordersSizing(bordersSpecification, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "BordersSizing",
    targetParameterNumber: 1,
    targetParameter: bordersSpecification,
    schema: BordersSizingSpecificationSchema,
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  applyIfNotNull({

    border-width: getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.all"),
    border-left-width: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.horizontalSymmetric"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.left")
    )),
    border-right-width: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.horizontalSymmetric"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.right")
    )),
    border-top-width: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.verticalSymmetric"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.top")
    )),
    border-bottom-width: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.verticalSymmetric"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "thickness.bottom")
    )),

    border-radius: getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.all"),
    border-top-left-radius: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.topLeft"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.topFillets"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.leftFillets")
    )),
    border-top-right-radius: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.topRight"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.topFillets"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.rightFillets")
    )),
    border-bottom-left-radius: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.bottomLeft"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.bottomFillets"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.leftFillets")
    )),
    border-bottom-right-radius: getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.bottomRight"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.bottomFillets"),
      getObjectValueByDotSeparatedPathSafely(bordersSpecification, "radius.rightFillets")
    ))
  })
