include SingleImageViewerLocalization.english.pug


-

  class SingleImageViewer__YDF {

    static CSS_NAMESPACE = "SingleImageViewer--YDF";


    /* ━━━ Theming ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static Themes = { regular: "REGULAR" };

    static defineThemes(themesNames) {
      return ComponentsAuxiliaries.defineThemes(themesNames, CompoundControlShell__YDF);
    }

    static areThemesCSS_ClassesCommon = ComponentsAuxiliaries.areComponentsThemesCommon;

    static considerThemesAsCommon() {
      CompoundControlShell__YDF.areThemesCSS_ClassesCommon = true;
      return CompoundControlShell__YDF;
    }


    /* ─── Geometry ───────────────────────────────────────────────────────────────────────────────────────────────── */
    static GeometricVariations = {
      regular: "REGULAR",
      minimalistic: "MINIMALISTIC"
    };

    static defineGeometricVariations(geometricVariationsNames) {
      return ComponentsAuxiliaries.defineGeometricVariations(geometricVariationsNames, CompoundControlShell__YDF);
    }


    /* ─── Decoration ─────────────────────────────────────────────────────────────────────────────────────────────── */
    static DecorativeVariations = {
      regular: "REGULAR",
      minimalistic: "MINIMALISTIC"
    };

    defineDecorativeVariations(decorativeVariationsNames) {
      return ComponentsAuxiliaries.defineDecorativeVariations(decorativeVariationsNames, CompoundControlShell__YDF);
    }


    /* ━━━ Properties specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static propertiesSpecification = {

      imageURI: {
        type: String,
        required: true,
        minimalCharactersCount: 1
      },

      imageAlternateText: {
        type: String,
        required: true
      },

      fullScreenView: {
        type: Boolean,
        required: false
      },

      aspectRatio: {
        type: String,
        required: false,
        validValueRegularExpression: /^\d+\/\d+$/u
      },

      autoAspectRatioByYDA: {
        type: Boolean,
        required: false
      },

      maximalWidth__anyValidCSS_Value: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      maximalHeight__anyValidCSS_Value: {
        type: String,
        required: false,
        minimalCharactersCount: 1
      },

      theme: {
        type: String,
        required: false,
        allowedAlternatives: Object.values(SingleImageViewer__YDF.Themes)
      },

      areThemesCSS_ClassesCommon: {
        type: Boolean,
        required: false
      },

      geometricVariation: {
        type: String,
        required: false,
        allowedAlternatives: Object.values(SingleImageViewer__YDF.GeometricVariations)
      },

      decorativeVariation: {
        type: String,
        required: false,
        allowedAlternatives: Object.values(SingleImageViewer__YDF.DecorativeVariations)
      }

    };


    /* ━━━ State simulations specification ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static statesSimulationsSpecification = {

      fullScreenMode: {
        type: Boolean,
        required: false
      }

    };


    /* ━━━ Localization ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
    static localization = singleImageViewerYDF_ComponentLocalization__english;

  };
