@require "../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../node_modules/@yamato-daiwa/frontend/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideBadgeYDF_Component()
