// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/07-OtherFunctions/buildCalcExpression.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/07-OtherFunctions/buildCalcExpression.test.css --include Styles


@require "../../../../../../Functionality.styl"


.Example

  width: buildCalcExpression("${a} - ${b}", { a: 100%, b: 30px })
