// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/07-OtherFunctions/substituteWhenNull.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/07-OtherFunctions/substituteWhenNull.test.css --include Styles


@require "../../../../../../Functionality.styl"

sample1 = "ALPHA"
sample2 = null

p(substituteWhenNull(sample1, "BRAVO"))  // => "ALPHA" ("sample1" is defined, no need to substitute the default value)
p(substituteWhenNull(sample2, "BRAVO"))  // => "BRAVO" ("sample2" is explicit null, default value has been substituted)
p(substituteWhenNull(sample3, "BRAVO"))  // => "BRAVO" ("sample3" is not defined, default value has been substituted)
