extends _AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title();
    AdmonitionBlockGalleryOptions.visuallyHideTopHeadingIf(__IS_PRODUCTION_BUILDING_MODE__);
