BordersSizingSpecificationSchema--YDF = {

  thickness: {

    type: DataTypes.object,
    required: false,

    properties: {

      all: {
        type: DataTypes.dimensionalQuantity,
        required: false
      },

      horizontalSymmetric: {
        type: DataTypes.dimensionalQuantity,
        required: false,
        incompatibleWith: "thickness.all"
      },

      left: {
        type: DataTypes.dimensionalQuantity,
        required: false,
        incompatibleWith: "thickness.all" "thickness.horizontalSymmetric"
      },

      right: {
        type: DataTypes.dimensionalQuantity,
        required: false,
        incompatibleWith: "thickness.all" "thickness.horizontalSymmetric"
      },

      verticalSymmetric: {
        type: DataTypes.dimensionalQuantity,
        required: false,
        incompatibleWith: "thickness.all"
      },

      top: {
        type: DataTypes.dimensionalQuantity,
        required: false,
        incompatibleWith: "thickness.all" "thickness.verticalSymmetric"
      },

      bottom: {
        type: DataTypes.dimensionalQuantity,
        required: false,
        incompatibleWith: "thickness.all" "thickness.verticalSymmetric"
      }

    }

  },

  radius: {

    type: DataTypes.object,
    required: false,

    properties: {

      all: {
        type: DataTypes.dimensionalQuantity,
        required: false
      },

      topLeft: {
        type: DataTypes.dimensionalQuantity,
        required: false
      },

      topRight: {
        type: DataTypes.dimensionalQuantity,
        required: false
      },

      bottomLeft: {
        type: DataTypes.dimensionalQuantity,
        required: false
      },

      bottomRight: {
        type: DataTypes.dimensionalQuantity,
        required: false
      },

      leftFillets: {
        type: DataTypes.dimensionalQuantity,
        incompatibleWith: "radius.topLeft" "radius.bottomLeft"
      },

      rightFillets: {
        type: DataTypes.dimensionalQuantity,
        incompatibleWith: "radius.topRight" "radius.bottomRight"
      },

      topFillets: {
        type: DataTypes.dimensionalQuantity,
        incompatibleWith: "radius.topLeft" "radius.topRight" "radius.leftFillets" "radius.rightFillets"
      },

      bottomFillets: {
        type: DataTypes.dimensionalQuantity,
        incompatibleWith: "radius.bottomLeft" "radius.bottomRight" "radius.leftFillets" "radius.rightFillets"
      }

    }

  }

}
