PaddingsSpecificationSchema--YDF = {

  all: {
    type: DataTypes.dimensionalQuantity,
    required: false
  },

  horizontalSymmetric: {
    type: DataTypes.dimensionalQuantity,
    required: false,
    incompatibleWith: "all"
  },

  left: {
    type: DataTypes.dimensionalQuantity,
    required: false,
    incompatibleWith: "all" "horizontalSymmetric"
  },

  right: {
    type: DataTypes.dimensionalQuantity,
    required: false,
    incompatibleWith: "all" "horizontalSymmetric"
  },

  verticalSymmetric: {
    type: DataTypes.dimensionalQuantity,
    required: false,
    incompatibleWith: "all"
  },

  top: {
    type: DataTypes.dimensionalQuantity,
    required: false,
    incompatibleWith: "all" "verticalSymmetric"
  },

  bottom: {
    type: DataTypes.dimensionalQuantity,
    required: false,
    incompatibleWith: "all" "verticalSymmetric"
  },

  upwardShifting: {
    type: DataTypes.dimensionalQuantity,
    required: false
  }

}
