WidthSizingSpecificationSchema--YDF = {

  fixedWidth: {
    type: DataTypes.dimensionalQuantity,
    incompatibleWith: "minimalWidth" "maximalWidth"
  },

  minimalWidth: {
    type: DataTypes.dimensionalQuantity
  },

  maximalWidth: {
    type: DataTypes.dimensionalQuantity
  },

  takeMaximumSpaceAsPossible: {
    type: DataTypes.boolean,
    incompatibleWith: "fixedWidth"
  },

  truncateOnOverflow: {
    type: DataTypes.boolean
  },

  displayEllipsisOnOverflow: {
    type: DataTypes.boolean
  },

  leftOrRightSymmetricBordersWidths: {
    type: DataTypes.dimensionalQuantity,
    incompatibleWith: "leftBorderWidth" "rightBorderWidth"
  },

  leftBorderWidth: {
    type: DataTypes.dimensionalQuantity
  },

  rightBorderWidth: {
    type: DataTypes.dimensionalQuantity
  },

  isExplicitBorderNoneDeclarationRequired: {
    type: DataTypes.boolean
  },

  leftOrRightSymmetricPaddings: {
    type: DataTypes.dimensionalQuantity,
    incompatibleWith: "leftPadding" "rightPadding"
  },

  leftPadding: {
    type: DataTypes.dimensionalQuantity
  },

  rightPadding: {
    type: DataTypes.dimensionalQuantity
  },

  isExplicitPaddingZeroDeclarationRequired: {
    type: DataTypes.boolean
  }

}
