extends ../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../../../SharedComponents/SharedComponents.english.pug
  include Data/AdmonitionBlockComponentPropertiesSpecification.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("AdmonitionBlock"),
        description: MetaDescriptionTemplates.GUI_Components.AdmonitionBlock
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("coreLibrary.GUI_Components.AdmonitionBlock");

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.coreLibrary.$children.GUI_Components.$children.AdmonitionBlock.$URI,
      russian: routing.russian.coreLibrary.$children.GUI_Components.$children.AdmonitionBlock.$URI
    });

    const {
      $sectioning: localizedSectioning,
      $heading: topHeading
    } = routing.english.coreLibrary.$children.GUI_Components.$children.AdmonitionBlock;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ AdmonitionBlock ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1!= topHeading

    +WebPageViewer--YDF({
      URI: "$Demos:CorePackage/GUI_Components/AdmonitionBlock/AdmonitionBlockGalleryPage.html",
      title: "The examples of usage of \"AdmonitionBlock\" component (library: \"Yamato Daiwa Frontend\", " +
          "abbreviation: \"YDF\"). "
    })

    +PageNotReadyApology--YDPD({ currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten })

    //- TODO ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +AdmonitionBlockComponent-Abstract

    -

      AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.theme.allowedAlternatives = [
        ...AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.theme.allowedAlternatives,
        [
          { text: "Any one declared via" },
          { code: "AdmonitionBlock__YDF.defineThemes(themesNames)" }
        ]
      ];

      AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.geometricVariation.allowedAlternatives = [
        ...AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.geometricVariation.allowedAlternatives,
        [
          { text: "Any one declared via" },
          { code: "AdmonitionBlock__YDF.defineGeometricVariations(geometricVariationsNames)" }
        ]
      ];

      AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.decorativeVariation.allowedAlternatives = [
        ...AdmonitionBlockComponentPropertiesSpecification.propertiesSpecification.decorativeVariation.allowedAlternatives,
        [
          { text: "Any one declared via" },
          { code: "AdmonitionBlock__YDF.defineDecorativeVariations(decorativeVariationsNames)" }
        ]
      ];

    +CallableExpressionScheme--YDF_DK({
      technicalName: "AdmonitionBlock--YDF",
      parametersSpecification: [
        {
          genericTechnicalName: "properties",
          type: "Properties",
          required: true
        }
      ],
      hiddenReturnValue: true
    })
      +ObjectTypeAbstract--YDF_DK(
        AdmonitionBlockComponentPropertiesSpecification
      ).CallableExpressionScheme--YDF_DK-AppendixGridFlow-FullWidthItem
