getObjectNonNullValuesCount(targetObject)

  nonNullObjectValuesCount = 0

  for key, value in targetObject

    if isNotNull(value)

      nonNullObjectValuesCount = nonNullObjectValuesCount + 1

  return nonNullObjectValuesCount
