extends ../../../../../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../../../../../SharedAssets/Markup/SharedAssets.english.pug
  include ../../../../../../../../SharedComponents/SharedComponents.english.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Button (Blazor)"),
        description: MetaDescriptionTemplates.GUI_Components.Button
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute(
      "adaptationsToJavaScriptFrameworks.$children.blazor.$children.GUI_Components.$children.controls.$children.buttons.$children.plain"
    );

    LanguageDropDownList__YDF_DK.setLinks({
      japanese: routing.japanese.adaptationsToJavaScriptFrameworks.$children.blazor.$children.GUI_Components.$children.
          controls.$children.buttons.$children.plain.$URI,
      russian: routing.russian.adaptationsToJavaScriptFrameworks.$children.blazor.$children.GUI_Components.$children.
          controls.$children.buttons.$children.plain.$URI
    });

    const {
      $sectioning: localizedSectioning,
      $heading: topHeading
    } = localizedRouting.adaptationsToJavaScriptFrameworks.$children.blazor.$children.GUI_Components.$children.controls.$children.
        buttons.$children.plain;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ Button ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1!= topHeading

    +PageNotReadyApology--YDPD({ currentState: PageNotReadyApology__YDPD.States.initialTextNotWritten })
