/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-TypeCheckers/isDimensionalOrDimensionlessQuantity.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-TypeCheckers/isDimensionalOrDimensionlessQuantity.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


testForTrue(
  "'2px' is either dimensional or dimensionless quantity",
  isDimensionalOrDimensionlessQuantity(2px)
)

testForTrue(
  "2px is the dimensional quantity",
  isDimensionalQuantity(2px, "MUST_CONSIDER_DIMENSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY")
)

testForFalse(
  "2px is not the dimensionless quantity",
  isDimensionlessQuantity(2px)
)


testForTrue(
  "'2' is either dimensional or dimensionless quantity",
  isDimensionalOrDimensionlessQuantity(2)
)

testForFalse(
  "'2' is not the dimensional quantity",
  isDimensionalQuantity(2, "MUST_CONSIDER_DIMENSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY")
)

testForTrue(
  "'2' is the the dimensionless quantity",
  isDimensionlessQuantity(2)
)


testForTrue(
  "'0' could be considered as dimensional quantity",
  isDimensionalQuantity(0, "MUST_CONSIDER_DIMENSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY")
)

testForFalse(
  "'0' could be not considered as dimensional quantity",
  isDimensionalQuantity(0, "MUST_NOT_CONSIDER_DIMENSIONLESS_ZERO_AS_DIMENSIONAL_QUANTITY")
)

testForTrue(
  "'0' could be considered as dimentionless quantity",
  isDimensionlessQuantity(0)
)
