/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-TypeCheckers/isNullIsNotNull.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-TypeCheckers/isNullIsNotNull.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


p("--- Sample 1 ---------------------")
sample1 = null
p(sample1)
p(typeof(sample1))
p(sample1 == null)
p(typeof(sample1) == "null")


p("--- Sample 2 ---------------------")
sample2 =  {}
p(sample2.nonExistingProperty)
p(typeof(sample2.nonExistingProperty))
p(sample2.nonExistingProperty == null)
p(typeof(sample2.nonExistingProperty) == "null")


p("--- Sample 3 ---------------------")
sampleFunction1(parameters...)

  sample3 = parameters

  p(sample3)
  p(typeof(sample3))
  p(sample3 == null)
  p(typeof(sample3) == "null")

sampleFunction1()


p("--- Sample 4 ---------------------")
sampleFunction2(parameter, restParameters...)

  sample4 = restParameters

  p("Checkpoint1")
  p(sample4)
  p("Checkpoint2")
  p(typeof(sample4))
  p(sample4 == null)
  p(typeof(sample4) == "null")

sampleFunction2("TEST")
