// Copperplate | Win: 66.87%  Mac: 92.61%
Copperplate--FontsStack = Copperplate, Copperplate Gothic Light, fantasy

// Papyrus | Win: 70.37%  Mac: 92.43%
Papyrus--FontsStack = Papyrus, fantasy

// Brush Script MT | Win: 59.64%  Mac: 90.99%
BrushScriptFont--FontsStack = Brush Script MT, cursive

ComicSans--FontsStack = Comic Sans MS, Textile, cursive
