NativeSansSerif--FontsStack = system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji

// Arial | Win: 99.84%  Mac: 98.74%
Arial--FontsStack = Arial, Helvetica Neue, Helvetica, sans-serif

// Arial Black | Win: 98.08%  Mac: 96.22%
ArialBlack--FontsStack = Arial Black, Arial Bold, Gadget, sans-serif

// Arial Narrow | Win: 88.39%  Mac: 94.77%
ArialNarrow--FontsStack = Arial Narrow, Arial, sans-serif

// Arial Rounded MT Bold | Win: 59.53%  Mac: 95.14%
ArialRoundedMT_Bold--FontsStack = Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif

// Calibri | Win: 83.41%  Mac: 38.74%
Calibri--FontsStack = Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif

// Candara | Win: 83.08%  Mac: 34.41%
Candara--FontsStack = Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif

// Century Gothic | Win: 87.62%  Mac: 53.15%
CenturyGothic--FontsStack = Century Gothic, CenturyGothic, AppleGothic, sans-serif

// Franklin Gothic Medium | Win: 99.18%  Mac: 2.1%
FranklinGothic--FontsStack = Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif

// Futura | Win: 1.26%  Mac: 94.41%
Futura--FontsStack = Futura, Trebuchet MS, Arial, sans-serif

// Geneva | Win: 2.08%  Mac: 99.64%
Geneva--FontsStack = Geneva, Tahoma, Verdana, sans-serif

// Gill Sans | Win: 58.54%  Mac: 95.5%
GillSans--FontsStack = Gill Sans, Gill Sans MT, Calibri, sans-serif

// Helvetica | Win: 7.34%  Mac: 100%
Helvatica--FontsStack = Helvetica Neue, Helvetica, Arial, sans-serif

// Impact | Win: 0%  Mac: 95.14%
Impact--FontsStack = Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans-serif

// Lucida Grande | Win: 0%  Mac: 100%
LucidaGrande--FontsStack = Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif

// Optima | Win: 2.52%  Mac: 93.69%
Optima--FontsStack = Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif

// Segoe UI | Win: 75.36%  Mac: 0%
SegoeUI--FontsStack = Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif

// Tahoma | Win: 99.95%  Mac: 91.71%
Tahoma--FontsStack = Tahoma, Verdana, Segoe, sans-serif

// Trebuchet MS | Win: 99.67%  Mac: 97.12%
TrebuchetMS--FontsStack = Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif

// Verdana | Win: 99.84%  Mac: 99.1%
Verdana--FontsStack = Verdana, Geneva, sans-serif

// MS Sans Serif
MS_SansSerif--FontsStack = Sans Serif, Geneva, sans-serif
