extends ../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePageTemplate.pug


block append Metadata

  -

    StaticPreviewAnywherePage__YDF.configure({

      metadata: {
        title: "YDF React — Demos"
      },

      topHeading: "YDF React — Demos",

      tableOfContents: [

        {

          heading: "GUI Components",

          pages: [

            {
              title: "AdmonitionBlock",
              URI: "@CompletePages/GUI_Components/AdmonitionBlock/AdmonitionBlockGalleryPage",
              progressStatus: StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted
            }

          ]

        }

      ]
    });
