/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-TypeCheckers/isNaturalNumber.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/01-TypeCheckers/isNaturalNumber.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"

testForTrue(
  "'1' is the natural number",
  isNaturalNumber(1)
)

testForFalse(
  "'1.1' is not the natural number",
  isNaturalNumber(1.1)
)

testForFalse(
  "'1e+1' is not the natural number",
  isNaturalNumber(1e+1)
)

testForFalse(
  "'-1' is not the natural number",
  isNaturalNumber(-1)
)

testForFalse(
  "'0' is not the natural number",
  isNaturalNumber(0)
)

testForFalse(
  "'null' is not the natural number",
  isNaturalNumber(null)
)

testForFalse(
  "Stringified digit is not the natural number",
  isNaturalNumber("1")
)
