/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/04-Objects/overrideObject.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/04-Objects/overrideObject.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


sample = {
  alpha: "FOO",
  charlie: {
    delta: "BAR"
  }
}

overridings = {
  alpha: null,
  bravo: "BAZ"
  charlie: {
    delta: null,
    echo: "HOGE"
  }
}

p("----")
//p(merge(sample, overridings))
p(overrideObject(sample, overridings))
p(sample)
p(overridings)
