@require "../../../../../node_modules/@yamato-daiwa/programming_documentation/YDPD-Resources.styl"


.BadgePage

  &-Example

    border-width 1px
    padding 6px

    border-style solid
    border-color ShadesOfGray__39ColorsW3C_Palette[32]

    PositionalRelationship({
        definitions:\
            (".Article-Paragraph" { retireFromIt: { y: 6px }, pushItFromSelf: { y: 12px } })\
            ("." + CodeViewer--YDF.CSS_NAMESPACE { pushItFromSelf: { y: 12px } })
      })


    &-MessageCard

      SPACING_BETWEEN_FIRST_AND_SECOND_COLUMN = 8px


      display grid
      grid-template-areas\
          "AVATAR DATE_TIME BADGE"\
          "AVATAR MESSAGE MESSAGE"
      grid-template-columns auto auto minmax(0, 1fr)
      grid-template-rows auto 1fr
      row-gap 4px
      align-items center

      border-radius 1px
      padding 6px

      box-shadow 0 0 2px 2px alpha(black, 25%)

      centerHorizontallyWithoutWrapper({
        targetElementType: HorizontalCenteringWithoutWrapper.TargetElementTypes.block,
        maximalWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT,
        horizontalSpaceBetweenSelfAndParent: 12px
      })


      &-Avatar

        width 64px
        height 64px

        border-radius 50%

        background-color ShadesOfGray__39ColorsW3C_Palette[24]

        grid-area AVATAR


      &-DateTimeLabel

        font-size 12px

        color: ShadesOfGray__39ColorsW3C_Palette[24]

        grid-area DATE_TIME
        margin-left SPACING_BETWEEN_FIRST_AND_SECOND_COLUMN


      &-Badge

        grid-area BADGE
        justify-self start

        margin-left 12px


      &-Message

        applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 14px, lineSpacing: 4px })

        color: ShadesOfGray__39ColorsW3C_Palette[12]

        grid-area MESSAGE
        align-self start
        margin-left SPACING_BETWEEN_FIRST_AND_SECOND_COLUMN
