extends ../../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../../SharedAssets/Markup/Assets.russian.pug
  include ../../../../Components/Components.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("Badge (Значок)");
    HTML_PageMetaData = {
      description: "",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Layouts/TwoColumns/TwoColumnsLayout", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("coreLibrary.components.badge");

    LanguageDropDownList__YDF_DK.setLinks({
      [LanguageDropDownList__YDF_DK.supportedLanguages.english]: "#",
      [LanguageDropDownList__YDF_DK.supportedLanguages.japanese]: "#"
    });


block append SpecificContent

  article

    h1.Article-Heading1 Badge - значок

    h2.Article-Heading2 Определение

    p.Article-Paragraph.
      В рамках #[+ImportantEntity--YDID YDF], #[+DefinableTerm--YDID значок (badge)] - информационный
        #[+Keyword--YDID неинтерактивный] компонент, отображающий внутри геометрической фигуры слово, фразу и/или иконку.
      Как правило, содержит какую-либо вспомогательную информацию, такую как категория чего-либо, относительная дата
        и так далее.

    p.Article-Paragraph.
      В других фреймворках схожие компоненты могут иметь другие названия: #[+Term--YDID Chip], #[+Term--YDID Pill],
        #[+Term--YDID Tag].
      Официальных определений у этих компонентов, а также официально установленных чётких различий #[+Keyword--YDID нет]:
        иногда в зависимости от фреймворка один и тот же компонент называется разными словами, а некоторые фреймворки
        дают свои определения, право чего оставляет за собой и #[+ImportantEntity--YDID YDF].

    p.Article-Paragraph.
      #[+ImportantEntity--YDID YDF] называет #[+Term--YDID значком] именно #[+Keyword--YDID неинтерактивный] компонент,
        который лишь отображает информацию.
      Его следует отличать от аналогичных компонентов, с которыми можно взаимодействовать: использовать в качестве
        кнопки или ссылки, скрывать по клику на соответствующую внутреннюю кнопку и так далее.


    h2.Article-Heading2 Сводка

    dl.Article-DescriptionList

      dt Pug-примесь
      dd #[+ImportantEntity__Code--YDID Badge--YDF]

      dt Live template Pug-примеси
      dd #[kbd badge--ydf]

      dt Stylus-примесь
      dd #[+ImportantEntity__Code--YDID provideBadgeYDF_Component]

      dt Готовые темы
      dd
        ul
          li #[+ImportantEntity__Code--YDID Badge__YDF.Themes.regular] (по умолчанию)

      dt Готовые геометрические вариации
      dd
        ul
          li #[+ImportantEntity__Code--YDID Badge__YDF.GeometricVariations.regular] (по умолчанию)

      dt Геометрические модификаторы
      dd
        dl
          dt #[+ImportantEntity__Code--YDID Badge__YDF.GeometricModifiers.pillShape]
          dd Максимальное скругление углов

      dt Готовые декоративные вариации
      dd
        ul
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.veryCatchyBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.catchyBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.modestlyCatchyBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.neutralBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.modestlyCalmingBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.calmingBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.achromaticBright]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.veryCatchyPastel]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.catchyPastel]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.modestlyCatchyPastel]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.neutralPastel]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.modestlyCalmingPastel]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.calmingPastel]
          li #[+ImportantEntity__Code--YDID Badge__YDF.DecorativeVariations.achromaticPastel]

      dt Декоративные модификаторы
      dd
        dl
          dt #[+ImportantEntity__Code--YDID Badge__YDF.GeometricModifiers.bordersDisguising]
          dd Эффект отсутствия обводки без изменения размеров

      dt Loading placeholder
      dd Доступен


    h2.Article-Heading2 Использование
    h3.Article-Heading3 Разметка

    h4.Article-Heading4 Подключение в проект

    +ComponentMarkupProvidingGuidanceFragment({ pugMixinName: "Badge--YDF" })


    h4.Article-Heading4 Программный интерфейс

    //- TODO 再開点
    +CallableExpressionScheme--YDF_DK({
      technicalName: "Badge--YDF",
      parametersSpecification: [
        {
          genericTechnicalName: "properties",
          localizedName: "Свойства",
          type: "Properties",
          required: true
        }
      ],
      hiddenReturnValue: true
    })
      +ObjectTypeAbstract--YDF_DK({
        typeName: "Properties",
        localizedDescriptiveHeading: "Свойства",
        propertiesSpecification: {
          key: {
            localizedInterpretation: "Ключ",
            typeName: "Строка",
            required: false
          },
          value: {
            localizedInterpretation: "Значение",
            typeName: "Строка",
            required: true
          }
        }
      })


    h3.Article-Heading3 Стили


    h2.Article-Heading2 Сборник примеров

    h3.Article-Heading3 Простейший случай

    p.Article-Paragraph.
      В простейшем случае отображается только значение, которое нужно указать в свойстве #[+ImportantEntity__Code--YDID value].

    ul.AnywherePage-UnorderedList

      li.
        #[+Term--YDID Тема] и #[+Term--YDID геометрическая вариация] предлагаются по одной, а потому если дополнительных
          не было импортировано, то можно соответствующие свойства не указывать.
      li.
        #[+Keyphrase--YDID В случае данного компонента], #[+Term--YDID декоративной вариации] по умолчанию #[+Keyword--YDID нет],
          а потому её необходимо указать в соответствующем свойстве #[+ImportantEntity__Code--YDID decoration].


    h3.Article-Heading3 Ключ-значение

    p.Article-Paragraph.
      Значение может быть лишено смысла без контекста, например, какое-либо числовое значение.
      В таких случаях следует вдобавок к значению следует указать ключ.


    h3.Article-Heading3 Иконка, ключ и значение
