Snackbar-RegularTheme-RegularGeometry--YDF = {

  rootElement: {

    borders: specifyBordersSizing({
      radius: { all: 3px }
    }),

    positioning: {

      wideScreensMinimalWidth: 500px,

      boundingRectangleForWideScreens: {
        horizontalOffset: 20px,
        verticalOffset: 30px
      },

      verticalOffsetForNarrowScreens: 30px

    },

    customDeclarations: null

  },

  SVG_Icon: {

    width: null,
    height: 1.4rem,

    spacing: {
      left: 0.8rem
    },

    customDeclarations: null

  },

  message: {

    minimalWidth: 30ch,
    maximalWidth: 50ch,

    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      verticalSymmetric: 0.8rem,
      top: null,
      bottom: null,
      left: 0.8rem
    },

    customDeclarations: null

  },

  dismissingButton: {

    spacing: {
      left: 0.8rem,
      right: 0.8rem
    },

    customDeclarations: null,

    SVG_Icon: {
      width: null,
      height: 1.5rem
    }

  }

}
