Snackbar-RegularGeometry--YDF = {

  rootElement: {
    width: 280px,
    minimalHeight: 40px,
    borders: {
      radius: { all: 3px }
    },
    paddings: {
      horizontalSymmetric: 8px
    }
  },

  SVG_Icon: {
    width: 20px
  },

  message: {
    text: {
      size: 1rem,
      lineSpacing: 0.2rem
    }
  },

  dismissingButton: {
    icon: {
      width: 20px
    }
  }

}
