extends ../../../CompletePages/GUI_Components/AdmonitionBlock/_AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("Titles");

    AdmonitionBlockGalleryOptions.
        renderSinglePartial(AdmonitionBlockGalleryOptions.Partials.titles).
        visuallyHideAllHeadings();
