extends ../../../CompletePages/GUI_Components/AdmonitionBlock/_AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("Dismissing Button");

    AdmonitionBlockGalleryOptions.
        renderSinglePartial(AdmonitionBlockGalleryOptions.Partials.dismissingButton).
        visuallyHideAllHeadings();
