@require "../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../node_modules/@yamato-daiwa/frontend/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

provideButtonYDF_Component()
provideCompoundControlShellYDF_Component()
provideLoadingIndicatorYDF_Component()
provideTextBoxYDF_Component()


.BasicIntegratedControlsGroupDemo

  display flex
  flex-direction column
  justify-content center
  align-items center

  height 100%
  padding 24px 36px

  background ShadesOfGray__39ColorsW3C_Palette[37]


  &-Form

    min-width NARROWEST_SCREEN_WIDTH_UNIT
    max-width 1.5*NARROWEST_SCREEN_WIDTH_UNIT
    width 100%
    border-radius 4px
    padding 12px 14px
    overflow-y auto

    background white
    box-shadow 0 0 4px 2px alpha(black, 0.25)

    position relative /* Required for JavaScript */


  &-Heading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 24px, lineSpacing: 0.2 })

    color ShadesOfGray__39ColorsW3C_Palette[20]


  &-TextBox

    retireFrom({ targetElementSelector: ".BasicIntegratedControlsGroupDemo-Heading", y: 12px })
    retireFromElementWithSameSelector({ y: 12px })


  &-Message

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 14px, lineSpacing: 0.2 })
    text-align right

    font-weight bold


    margin-top 16px

    retireFromElementWithSameSelector({ y: 6px })


    &__SummarizingError

      color: YDF_ColorPalette.red.slightlyDark


    &__AsynchronousValidationsNotFinishedYet

      color: YDF_ColorPalette.amber.slightlyDark


  &-SubmittingButton

    placeToRight()

    SPACE_BEFORE_TEXT_BOX = 12px

    retireFrom({
      definitions:\
          (".BasicIntegratedControlsGroupDemo-TextBox" { y: SPACE_BEFORE_TEXT_BOX })\
          (".BasicIntegratedControlsGroupDemo-Message[hidden]" { y: SPACE_BEFORE_TEXT_BOX })\
          (".BasicIntegratedControlsGroupDemo-Message" { y: 6px })
    })
