extends ../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug

block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "DropDownList component testing";

    scriptsURIs.endOfBody = [ "@Tests/Components/Controls/TextBox/TextBox.test.ts" ]


block append PageContent

  #APPLICATION
