include Components/AttentionBoxLocalization.russian.pug
include Components/CodeViewerLocalization.russian.pug
include Components/CompoundControlShellLocalization.russian.pug
include Components/FilesUploaderLocalization.russian.pug
include Components/HamburgerMenuButtonLocalization.russian.pug
include Components/QuestionAndAnswerBoxLocalization.russian.pug
include Components/SingleImageViewerLocalization.russian.pug
