//- ━━━ Officially Realized ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
include GUI_Components/AdmonitionBlockLocalization.russian.pug


//- ━━━ Alpha / Beta ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
include Components/Controls/Buttons/ClosingButtonLocalization.russian.pug
include Components/Controls/Buttons/HamburgerMenuButtonLocalization.russian.pug
include Components/Controls/CompoundControlShellLocalization.russian.pug
include Components/Controls/DropDownListLocalization.russian.pug
include Components/Controls/FilesUploaderLocalization.russian.pug
include Components/Controls/SnackbarLocalization.russian.pug

include Components/Viewers/CodeViewerLocalization.russian.pug
include Components/Viewers/SingleImageViewerLocalization.russian.pug

include Components/Typography/QuestionAndAnswerBoxLocalization.russian.pug
