-
  const StaticPreviewAnywherePageLocalization__Russian = {
    progressStatusBadgesText: {
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting]: "Ожидание начала создания",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress]: "Создание первой версии",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting]: "Ожидание модификации",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress]: "Модифицируется",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting]: "Ожидание правок",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingInProgress]: "Вносятся правки",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.specificationClarification]: "Требуется уточнение ТЗ",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.reviewWaiting]: "Ожидации проверки",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.customerEvaluationWaiting]: "Ожидание оценки",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted]: "Разработка завершена"
    }
  }
