-
  const staticPreviewAnywherePageLocalization__russian = {
    progressStatusBadgesText: {

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationWaiting]: "Ожидание начала работ",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationInProgress]: "Создание начальной версии",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.improvementWaiting]: "Ожидание улучшения",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.improvementInProgress]: "Осуществляются улучшения",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.fixingWaiting]: "Ожидание правок",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.fixingInProgress]: "Вносятся правки",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.specificationClarification]: "Требуется уточнение ТЗ",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.reviewWaiting]: "Ожидание проверки",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.customerEvaluationWaiting]: "Ожидание оценки",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted]: "Результат одобрен"

    }
  };
