@require "../../../_ComponentTestingPage.styl"

filesUploaderDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//filesUploaderDefaultPropertiesOverriding = {
//
//}
// ==> =================================================================================================================


provideCompoundControlShellYDF_Component()

provideFilesUploaderYDF_Component(
  overridings: filesUploaderDefaultPropertiesOverriding
)

provideButtonYDF_Component()


@require "../../../../Components/Controls/FilesUploader/FilesUploaderDemo.styl"
