extends ../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../../node_modules/@yamato-daiwa/frontend/Components.pug
  include ../../../../Components/Controls/FilesUploader/FilesUploaderDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "FilesUploader component demo";
    styleSheetsURIs = [ "@Demos/Components/Controls/FilesUploader/FilesUploader" ]
    scriptsURIs.endOfBody = [ "@Demos/Components/Controls/FilesUploader/FilesUploader" ]


block append PageContent

  .ComponentTestingPageContent

    +FilesUploaderDemo
