@require "../../../../../Functionality.styl"
@require "../../../../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideDateTimePickerYDF_Component()
provideButtonYDF_Component()


.DateTimePickerWorkbench

  display grid
  grid-template-columns repeat(auto-fill, minmax(280px, 1fr))
  grid-gap 320px 24px

  padding 24px 24px 360px
