extends ../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "AdmonitionBlock Component Testing";

    styleSheetsURIs = [ "@Tests/Components/AdmonitionBlock/AdmonitionBlock.test" ]
    scriptsURIs.endOfBody = [ "@Tests/Components/AdmonitionBlock/AdmonitionBlock.test" ]


block append PageContent

  #APPLICATION
