mixin Calendar__Time--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.3 20")&attributes(attributes)
    path(d="M14.3 10a5 5 0 1 0 0 10.1 5 5 0 0 0 0-10.1Zm3.8 5a3.8 3.8 0 1 1-7.7 0 3.8 3.8 0 0 1 7.7 0Z")
    path(d="M14.6 12.5h-1v3.1l2.8 1.7.5-.8-2.3-1.4v-2.6z")
    path(d="M8.5 18.9H1.9c-1 0-1.9-.9-1.9-2V3.9c0-1 .8-2 1.9-2h1V0h1.8v1.9h7.6V0h1.9v1.9h.9c1 0 1.9.8 1.9 1.9v5.6H15V7.5H1.9V17h6.6v1.9Z")
