Chip-RegularTheme-AchromaticPastelDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: W3C_39_ShadesOfGray--YDF[10]
    },

    background: {
      color: W3C_39_ShadesOfGray--YDF[35],
      image: null
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: W3C_39_ShadesOfGray--YDF[10],
    customDeclarations: null
  },

  keyLabel: {

    text: {
      fontWeight: null,
      color: W3C_39_ShadesOfGray--YDF[10]
    },

    customDeclarations: null

  },

  valueLabel: {

    text: {
      fontWeight: bold,
      color: W3C_39_ShadesOfGray--YDF[10]
    },

    customDeclarations: null

  }

}
