extends ../../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPageTemplate.pug


block append Requirements

  include  ../../../../../../node_modules/@yamato-daiwa/frontend-demos/Source/Galleries/Components/Controls/Buttons/Plain/ButtonGalleryOptions.pug
  include  ../../../../../_addDataAttributesGeneratingMethodToGalleryOptionsClass.pug


block append Metadata

  -

    addDataAttributesGeneratingMethodToGalleryOptionsClass(ButtonGalleryOptions)

    /**
     * @param { string } [partialTitle]
     * @returns { string }
     * */
    function generateHTML_Page_Title(partialTitle) {
      return [
        "Button Component Demos",
        ...partialTitle ? [ ` — ${ partialTitle }` ] : [],
        " — Yamato Daiwa Frontend (YDF - Vue)"
      ].join("");
    }

    RegularWebPageTemplate__YDF.configure({
      stylesSheetsURIs: [
        "$ExternalStyles/YDF-Demos-Primer.css",
        "$ExternalStyles/YDF-Demos-CommonRequirements.css",
        "$ExternalStyles/Components/Controls/Buttons/Plain/ButtonGalleryPage.css"
      ],
      scriptsURIs: {
        atEndOfBody: [ "@CompletePages/Components/Controls/Buttons/Plain/ButtonGalleryPage" ]
      }
    });


block append PageContent

  .YDF_Gallery#APPLICATION&attributes(ButtonGalleryOptions.generateDataAttributes())
