/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/06-Arrays/iterate2DimensionalArray.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/06-Arrays/iterate2DimensionalArray.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


sample1 = (11 "ALPHA" true { hash: 1 }) ("BRAVO" 22 false)

iterate2DimensionalArray(sample1, @(nestedArray, index){
  p("Element No. " + index + ":")
  p(nestedArray)
})

p("-----------------------------------------------------")

sample2 = (11 "ALPHA" true { hash: 1 })

//for nestedArray, index in sample2
//
//  p("Element No. " + index + ":")
//  p(nestedArray)

iterate2DimensionalArray(sample2, @(nestedArray, index){
  p("Element No. " + index + ":")
  p(nestedArray)
})
