extends ../../../CompletePages/Components/AdmonitionBlock/_AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    HTML_PAGE_TITLE = generateHTML_Page_Title("Titles And Svg Icons");

    AdmonitionBlockGalleryOptions.
        renderSinglePartial(AdmonitionBlockGalleryOptions.Partials.titlesAndSVG_Icons).
        visuallyHideAllHeadings();
