Badge-RegularTheme-AchromaticBrightDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: ShadesOfGray__39ColorsW3C_Palette[10]
    },

    background: {
      color: ShadesOfGray__39ColorsW3C_Palette[10]
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: white,
    customDeclarations: null
  },

  keyLabel: {

    text: {
      fontWeight: null,
      color: white
    },

    customDeclarations: null

  },

  valueLabel: {

    text: {
      fontWeight: bold,
      color: white
    },

    customDeclarations: null

  }

}
