/*  === Execution
stylus Tests/Source/OutputCheckOnly/Styles/02-Kernel/05-Layout/fillBodyVertically.test.styl `
    --out Tests/Build/OutputCheckOnly/Styles/02-Kernel/05-Layout/fillBodyVertically.test.css --include Styles
 */

@require "../../../../../../Functionality.styl"



.BodyChildWithVerticalScrolling

  fillBodyVertically({ verticalScrolling: true })


.BodyChildWithoutVerticalScrolling

  fillBodyVertically({ verticalScrolling: false })
