/*  === Execution
stylus Tests/Source/OutputCheckOnly/Styles/02-Kernel/05-Layout/FixedTranslucentDimLayer.test.styl `
    --out Tests/Build/OutputCheckOnly/Styles/02-Kernel/05-Layout/FixedTranslucentDimLayer.test.css --include Styles
 */

@require "../../../../../../Functionality.styl"


.ModalDialog

  &-DimUnderlay

    FixedTranslucentDimLayer({
      ZIndex: 1,
      backgroundColor: rgb(255, 255, 128)
    })
