/*  === Execution
stylus Tests/Source/OutputCheckOnly/Styles/02-Kernel/05-Layout/provideClippedShadowsAndOutlinesVisibility.test.styl `
    --out Tests/Build/OutputCheckOnly/Styles/02-Kernel/05-Layout/provideClippedShadowsAndOutlinesVisibility.test.css --include Styles
 */

@require "../../../../../../Functionality.styl"


BUTTON_BOX_SHADOW_THICKNESS = 4px

.Button

  // ...
  box-shadow 0 0 BUTTON_BOX_SHADOW_THICKNESS rgba(black, 0.25)


.ExampleDialog1

  &-Header

    // ...


  &-Body

    max-height 300px
    overflow-y scroll

    provideClippedShadowsAndOutlinesVisibility({
      requiredSpaceAtLeft: 4px,
      requiredSpaceAtBottom: 4px
    })


.ExampleDialog2

  &-Header

    // ...


  &-Body

    max-height 300px
    overflow-y scroll

    provideClippedShadowsAndOutlinesVisibility({
      requiredHorizontalSymmetricSpace: 4px,
      requiredSpaceAtBottom: 4px
    })
