AdmonitionBlock-RegularTheme-WarningDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: YDF_ColorPalette.amber.slightlyDark
    },

    background: {
      color: YDF_ColorPalette.amber.pastelLight,
      image: null
    },

    customDeclarations: null

  },

  mainContent: {

    font: {
      weight: null,
      color: YDF_ColorPalette.amber.slightlyDark
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: YDF_ColorPalette.amber.slightlyDark,
    customDeclarations: null
  },

  title: {

    text: {
      fontWeight: null,
      color: YDF_ColorPalette.amber.mediumDark
    },

    customDeclarations: null
  },

  dismissingButton: {

    defaultState: {

      iconColor: YDF_ColorPalette.amber.slightlyDark,
      shadow: null,

      customDeclarations: null

    },

    hoverState: {

      iconColor: YDF_ColorPalette.amber.mediumLight,
      shadow: null,

      customDeclarations: null

    },


    focusVisibleState: {

      iconColor: YDF_ColorPalette.amber.mediumLight,
      shadow: {
        blurRadius: 3px,
        spreadRadius: 1px,
        color: YDF_ColorPalette.amber.mediumLight
      },

      customDeclarations: null

    },

    activeState: {

      iconColor: YDF_ColorPalette.amber.light,
      shadow: null,

      customDeclarations: null

    }

  },

  typographyAssimilation: {
    heading2: {
      text: {
        color: YDF_ColorPalette.amber.dark
      }
    },
    heading3: {
      text: {
        color: YDF_ColorPalette.amber.mediumDark
      }
    },
    heading4: {
      text: {
        color: YDF_ColorPalette.amber.slightlyDark
      }
    },
    heading5: {
      text: {
        color: YDF_ColorPalette.amber.slightlyDark
      }
    },
    heading6: {
      text: {
        color: YDF_ColorPalette.amber.slightlyDark
      }
    },
    paragraph: {
      text: {
        color: YDF_ColorPalette.amber.mediumDark
      }
    }
  }

}
