AdmonitionBlock-RegularTheme-NoticeDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.content.borderColor
    },

    background: {
      color: W3C_39_ShadesOfGray--YDF[37],
      image: null
    },

    customDeclarations: null

  },

  mainContent: {

    font: {
      weight: null,
      color: #666666
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.content.iconsColor,
    customDeclarations: null
  },

  title: {

    text: {
      fontWeight: null,
      color: JQueryUI_BaseTheme.content.fontColor
    },

    customDeclarations: null

  },

  dismissingButton: {

    defaultState: {

      iconColor: W3C_39_ShadesOfGray--YDF[16],
      shadow: null,

      customDeclarations: null

    },

    hoverState: {

      iconColor: W3C_39_ShadesOfGray--YDF[20],
      shadow: null,

      customDeclarations: null

    },


    focusVisibleState: {

      iconColor: W3C_39_ShadesOfGray--YDF[20],
      shadow: {
        blurRadius: 3px,
        spreadRadius: 1px,
        color: W3C_39_ShadesOfGray--YDF[20]
      },

      customDeclarations: null

    },

    activeState: {

      iconColor: W3C_39_ShadesOfGray--YDF[24],
      shadow: null,

      customDeclarations: null

    }

  },

}
