JQueryUI_CupertinoTheme = {

  basicBorderRadius: 3px,

  headerAndToolbars: {
    background: linear-gradient(#F2F8FC, #DFEEF7),
    borders: #aed0ea,
    font: #222222,
    icons: #444444
  },

  content: {
    background: linear-gradient(#FAFBFC, #F4F6F8),
    borders: #dddddd,
    font: #362b36,
    icons: #444444
  },

  clickableElements: {

    defaultState: {
      background: linear-gradient(to bottom, #e5f2fb 0%, #e5f2fb 50%, #d8ecf9 51%, #f5fafe 100%),
      borders: #aed0ea,
      font: #2779aa,
      icons: #73A9D0
    },

    hoverState: {
      background: linear-gradient(to bottom, #eff7fd 0%, #eff7fd 50%, #e5f1fb 51%, #f5fafe 100%),
      borders: #74b2e2,
      font: #0070a3,
      icons: #73A9D0
    },

    activeState: {
      background: linear-gradient(to bottom, #62bcea 0%, #62bcea 50%, #38ace4 51%, #77c5ed 100%),
      borders: #2694e8,
      font: #ffffff,
      icons: #73A9D0
    }
  },

  error: {
    background: #cd0a0a,
    borders: #cd0a0a,
    font: white,
    icons: white
  },

  warning: {
    background: #ffef8f,
    borders: #f9dd34,
    font: #363636,
    icons: #f9dd34
  },

  // --- 拡張 -----------------------------------------------------------------------------------------------------------
  success: {
    background: spin(#fef1ec, 130deg),
    borders: spin(#cd0a0a, 130deg),
    font: spin(#cd0a0a, 130deg),
    icons: spin(#cc0000, 130deg)
  },

  info: {
    background: spin(#fef1ec, 180deg),
    borders: spin(#cd0a0a, 180deg),
    font: spin(#cd0a0a, 180deg),
    icons: spin(#cc0000, 180deg)
  },

  question: {
    background: spin(#fef1ec, 130deg),
    borders: spin(#cd0a0a, 130deg),
    font: spin(#cd0a0a, 130deg),
    icons: spin(#cc0000, 130deg)
  }
}
