extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "Snackbar Component Testing"
    styleSheetsURIs = [ "./Snackbar.test.css" ]
    scriptsURIs.endOfBody = [ "./Snackbar.js" ]


block append Requirements

  include ../../../../Components.pug


block append PageContent

  //-
    +Snackbar--YDF(
      {
        textOrHTML: "Sample",
        decorativeVariation: Snackbar__YDF.DecorativeVariations.success,
        position: Snackbar__YDF.Positions.topMiddle
      },
      {
        hidden: false
      }
    )

  button#SNACKBAR_DISPLAYING_BUTTON(
    type="button"
  ) Display Snackbar
