@require "../../../../Functionality.styl"
@require "../../../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideSnackbarComponent()


.Layout

  fillBodyVertically({ verticalScrolling: false })
  position relative
