extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "Snackbar component testing";
    styleSheetsURIs = [ "./Snackbar.development.css" ]


block append PageContent

  include ../../../../Components.pug

  .Layout

    +Snackbar({
      decoration: Snackbar.DecorativeVariations.success
    })
