Button-RegularGeometry--YDF = {

  rootElement: {
    minimalWidth: 6rem,
    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    })
  },

  prependedSVG_Icon: {

    standard: {
      width: null,
      height: 1rem,
      spacing: {
        left: 1rem,
        top: 0.45rem,
        bottom: 0.45rem
      }
    },

    specials: {}
  },

  label: {
    text: {
      size: 1rem,
      lineSpacing: 0.1rem,
      lineHeight: null
    },
    spacing: {
      left: 1rem,
      right: 1rem,
      top: 0.45rem,
      bottom: 0.45rem,
      upwardShifting: null,
      afterPrependedIcon: 0.75rem
    }
  },

  appendedSVG_Icon: {

    standard: {
      width: null,
      height: 1rem,
      spacing: {
        left: 0.5rem,
        right: 1rem,
        top: 0.45rem,
        bottom: 0.45rem
      }
    },

    specials: {}
  },

  loneSVG_Icon: {

    standard: {
      width: null
      height: 1rem
      spacing: {
        top: 0.45rem,
        bottom: 0.45rem
      }
    }

  }
}
