Button-RegularTheme-LinkLikeGeometry--YDF = {

  rootElement: {

    minimalWidth: null,

    borders: null,

    modifiers: {
      pillShape: {
        textSizeToBorderRadiusRatio: 1
      }
    },

    customDeclarations: null

  },

  label: {

    text: {
      size: 1rem,
      lineSpacing: 0.2rem,
      lineHeight: null
    },

    spacing: {
      horizontalSymmetricWhenLone: 0,
      leftWhenGoingFirst: 0,
      rightWhenGoingLast: 0,
      verticalSymmetric: 0,
      top: null,
      bottom: null,
      upwardShifting: null
    },

    customDeclarations: null

  },

  SVG_Icon: {

    default: {

      width: null,
      height: 1rem,

      spacing: {
        leftWhenGoingFirst: null,
        rightWhenGoingLast: null,
        beforeLabel: 0.4rem,
        afterLabel: 0.5rem,

        horizontalSymmetricWhenLone: null

      },

      customDeclarations: null

    },

    specials: {}

  }

}
