Button-SmallGeometry--YDF = {

  rootElement: {
    minimalWidth: 4rem
    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    })
  },

  prependedSVG_Icon: {

    standard: {
      width: null,
      height: 0.8rem,
      spacing: {
        left: 0.6rem,
        top: 0.25rem,
        bottom: 0.25rem
      }
    },

    specials: {}
  },

  label: {
    text: {
      size: 0.9rem,
      lineSpacing: 0.1rem,
      lineHeight: null
    },
    spacing: {
      left: 0.6rem,
      right: 0.6rem,
      top: 0.2rem,
      bottom: 0.2rem,
      upwardShifting: 0.05rem,
      afterPrependedIcon: 0.4rem
    }
  },

  appendedSVG_Icon: {

    standard: {
      width: null,
      height: 0.8rem,
      spacing: {
        left: 0.5rem,
        right: 0.6rem,
        top: 0.25rem,
        bottom: 0.25rem
      }
    },

    specials: {}
  },

  loneSVG_Icon: {

    standard: {
      width: null
      height: 1rem,
      spacing: {
        top: 0.25rem,
        bottom: 0.25rem
      }
    }

  }
}
