Button-SmallGeometry--YDF = {

  rootElement: {
    minimalWidth: 4rem
    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    })
  },

  prependedSVG_Icon: {
    width: 1rem,
    height: 1rem,
    spacing: {
      top: 0.25rem,
      bottom: 0.25rem,
      left: 0.25rem
    }
  },

  label: {
    text: {
      size: 0.9rem,
      lineSpacing: 0.1rem,
      lineHeight: null
    },
    spacing: {
      left: 0.6rem,
      right: 0.6rem,
      top: 0.2rem,
      bottom: 0.2rem,
      upwardShifting: null,
      afterPrependedIcon: 0.4rem
    }
  },

  prependedSVG_Icon: {
    width: 1rem,
    height: 1rem,
    spacing: {
      top: 0.25rem,
      bottom: 0.25rem,
      left: 0.25rem
    }
  },

  loneSVG_Icon: {
    width: 1rem
    height: 1rem
  }
}
