Button-LinkLikeGeometry--YDF = {

  rootElement: {
    minimalWidth: null,
    borders: null
  },

  label: {
    text: {
      size: 1rem,
      lineSpacing: 0.1rem,
      lineHeight: null
    },
    spacing: {
      left: null,
      right: null,
      top: null,
      upwardShifting: null
    }
  },

  SVG_Icon: {

    standard: {
      width: null,
      height: 1rem,
      spacing: {
        top: 0.25rem,
        bottom: 0.25rem,
        beforeLabel: 0.4rem,
        afterLabel: 0.5rem,
        leftWhenGoingFirst: null,
        rightWhenGoingLast: null
      }
    },

    specials: {
      Button-SVG_Icon__Menu__ThreeDots__Horizontal: {
        width: 1rem
      }
    }
  }
}
