AdmonitionBlock-RegularTheme-NoticeDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.content.borderColor
    },

    background: {
      color: JQueryUI_BaseTheme.content.background,
      image: null
    },

    customDeclarations: null

  },

  mainContent: {

    font: {
      weight: null,
      color: #666666
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.content.iconsColor,
    customDeclarations: null
  },

  title: {

    text: {
      fontWeight: null,
      color: JQueryUI_BaseTheme.content.fontColor
    },

    customDeclarations: null

  },

  dismissingButton: {

    difaultState: {

      iconColor: ShadesOfGray__39ColorsW3C_Palette[16],
      shadow: null,

      customDeclarations: null

    },

    hoverState: {

      iconColor: ShadesOfGray__39ColorsW3C_Palette[20],
      shadow: null,

      customDeclarations: null

    },


    focusState: {

      iconColor: ShadesOfGray__39ColorsW3C_Palette[22],
      shadow: null,

      customDeclarations: null

    },

    activeState: {

      iconColor: ShadesOfGray__39ColorsW3C_Palette[24],
      shadow: null,

      customDeclarations: null

    }

  },

}
