AdmonitionBlock-RegularTheme-QuestionDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: YDF_ColorPalette.deepPurple.slightlyDark
    },

    background: {
      color: YDF_ColorPalette.deepPurple.pastelLight,
      image: null
    },

    customDeclarations: null

  },

  mainContent: {

    font: {
      weight: null,
      color: YDF_ColorPalette.deepPurple.slightlyDark
    },

    customDeclarations: null

  },

  SVG_Icon: {
    color: YDF_ColorPalette.deepPurple.slightlyDark,
    customDeclarations: null
  },

  title: {

    text: {
      fontWeight: null,
      color: YDF_ColorPalette.deepPurple.mediumDark
    },

    customDeclarations: null

  },

  dismissingButton: {

    difaultState: {

      iconColor: YDF_ColorPalette.deepPurple.slightlyDark,
      shadow: null,

      customDeclarations: null

    },

    hoverState: {

      iconColor: YDF_ColorPalette.deepPurple.pastelLight,
      shadow: null,

      customDeclarations: null

    },


    focusState: {

      iconColor: YDF_ColorPalette.deepPurple.pastelLight,
      shadow: null,

      customDeclarations: null

    },

    activeState: {

      iconColor: YDF_ColorPalette.deepPurple.pastelLight,
      shadow: null,

      customDeclarations: null

    }

  },

  typographyAssimilation: {
    heading2: {
      text: {
        color: YDF_ColorPalette.deepPurple.dark
      }
    },
    heading3: {
      text: {
        color: YDF_ColorPalette.deepPurple.mediumDark
      }
    },
    heading4: {
      text: {
        color: YDF_ColorPalette.deepPurple.slightlyDark
      }
    },
    heading5: {
      text: {
        color: YDF_ColorPalette.deepPurple.slightlyDark
      }
    },
    heading6: {
      text: {
        color: YDF_ColorPalette.deepPurple.slightlyDark
      }
    },
    paragraph: {
      text: {
        color: YDF_ColorPalette.deepPurple.mediumDark
      }
    }
  }

}
