mixin SigningIn--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19.1")&attributes(attributes)
    path(
      d="M5.3 1.83v4.8l1.41 1.06V3.24h3.25V1.83H5.3zM6.71 15.86V11.41L5.3 12.48v4.79h4.66v-1.41H6.71zM6.71 10.4l.87-.66c.13-.1.13-.29 0-.38l-.87-.66L5.3 7.63l-1.03-.78s-.09-.05-.14-.05c-.12 0-.24.1-.24.24v1.07c0 .13-.11.24-.24.24H.24a.24.24 0 0 0-.24.24v1.91c0 .13.11.24.24.24h3.4c.13 0 .24.11.24.24v1.07c0 .14.12.24.24.24.05 0 .1-.01.14-.05l1.03-.78 1.41-1.07ZM19.38 2.09l-.48-.14-.4-.12L12.3.04a1.04 1.04 0 0 0-1.33 1.01v17.01a1.05 1.05 0 0 0 1.33 1.01l6.2-1.79.4-.12.48-.14a.86.86 0 0 0 .62-.83V2.91a.87.87 0 0 0-.62-.83Zm-6.66 8.3V8.72c0-.11.09-.2.2-.2h.65c.11 0 .2.09.2.2v1.67a.2.2 0 0 1-.2.2h-.65a.2.2 0 0 1-.2-.2Z"
      style="stroke-width:0"
    )
