mixin SigningOut--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19.1")&attributes(attributes)
    path(
      d="m19.04 10.4.87-.66c.13-.1.13-.29 0-.38l-.87-.66-1.41-1.07-1.03-.78s-.09-.05-.14-.05c-.12 0-.24.1-.24.24v1.07c0 .13-.11.24-.24.24h-3.4a.24.24 0 0 0-.24.24v1.91c0 .13.11.24.24.24h3.4c.13 0 .24.11.24.24v1.07c0 .14.12.24.24.24.05 0 .1-.01.14-.05l1.03-.78 1.41-1.07ZM.62 17.02l.48.14.4.12 6.2 1.79a1.04 1.04 0 0 0 1.33-1.01V1.05A1.05 1.05 0 0 0 7.7.04L1.5 1.83l-.4.12-.48.14a.86.86 0 0 0-.62.83V16.2c0 .38.25.72.62.83Zm6.66-8.3v1.67a.2.2 0 0 1-.2.2h-.65a.2.2 0 0 1-.2-.2V8.72c0-.11.09-.2.2-.2h.65c.11 0 .2.09.2.2ZM13.29 12.44v3.42h-3.25v1.41h4.66V11.75h-1.41v.69zM14.7 3.26V1.83h-4.66v1.41h3.25v4.12h1.41v-4.1z"
      style="stroke-width:0"
    )
