mixin ClosingButton--YDF

  button.ClosingButton--YDF(
    type="button"
  )&attributes(attributes)

    +MultiplicationSign__Boxed__Filled--YDF_Icon.ClosingButton--YDF-Icon

    span.ClosingButton--YDF-Label Close
