mixin Checklist__Deleting--YDF_Icon

  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.58 20")&attributes(attributes)

    path(
      d="M6.86 1.52c.26 0 .48-.21.48-.48S7.13.56 6.86.56s-.48.21-.48.48.21.48.48.48Z"
      style="fill:none;"
    )

    path(
      d="M7.44 16.4H1.47a.32.32 0 0 1-.32-.32V3.54c0-.18.15-.32.32-.32h1.62c-.02-.1-.03-.21-.03-.32v-.91H1.63C.73 1.99 0 2.71 0 3.61v12.77C0 17.27.73 18 1.62 18h6.1a4.5 4.5 0 0 1-.28-1.52v-.08ZM13.72 3.61c0-.9-.73-1.62-1.62-1.62h-1.43v.91c0 .11-.01.22-.03.32h1.62c.18 0 .32.15.32.32v8.5c.4.06.79.15 1.14.31V3.61ZM4.59 3.87h4.54c.54 0 .97-.44.97-.97v-.97a.97.97 0 0 0-.97-.97H7.9A1.05 1.05 0 0 0 5.82.95H4.59a.97.97 0 0 0-.97.97v.97c0 .54.44.97.97.97ZM6.86.57c.26 0 .48.21.48.48s-.21.48-.48.48-.48-.21-.48-.48.21-.48.48-.48Z"
    )

    path(
      d="m3.99 7.56.42-.41L5.56 6l-.42-.42-1.15 1.15L3.26 6l-.42.41 1.15 1.15zM5.14 8.58 3.99 9.73 3.26 9l-.42.42 1.15 1.15.42-.42L5.56 9l-.42-.42zM3.26 12l-.42.42 1.15 1.15.42-.42L5.56 12l-.42-.42-1.15 1.15-.73-.73zM6 6.5h4.87v.82H6zM6 9.51h4.87v.82H6zM9.83 12.53H6v.82h2.72c.32-.33.7-.6 1.11-.82ZM12.08 13a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm2.34 4.22H9.74a.24.24 0 0 1-.24-.24v-.96c0-.13.11-.24.24-.24h4.68c.13 0 .24.11.24.24v.96c0 .13-.11.24-.24.24Z"
    )
