-

  const codeViewerYDF_ComponentLocalization__japanese = {
    actionBar: { codeCopyingButton: { label: "コードをコピー" } },
    tabsFlow: { accessibilityGuidance: "各ファイルのソースコードのタブ" },
    tab: { languageKeyLabel: "言語" }
  };
