Snackbar-ErrorDecoration--YDF = {

  rootElement: {

    background: {
      color: JQueryUI_BaseTheme.error.borderColor
    },

    shadow: {
      blurRadius: 8px,
      YOffset: 2px,
      color: rgba(black, 0.25)
    }

  },

  icon: {
    color: JQueryUI_BaseTheme.error.iconsColor
  },

  message: {
    text: { color: JQueryUI_BaseTheme.error.fontColor }
  }

}
