mixin ZoomingOut__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M19.72 18.42l-5.64-5.67a8.07 8.07 0 001-1.67l.06-.16.18-.44c0-.06 0-.13.05-.19s.1-.29.14-.44a.29.29 0 010-.09 8.18 8.18 0 00.23-1.87A7.89 7.89 0 007.89 0 8.14 8.14 0 006 .22h-.11l-.35.14-.24.08-.38.14-.22.09A8.07 8.07 0 003 1.68 7.34 7.34 0 001.69 3 7.44 7.44 0 001 4.11q-.15.27-.27.54a2.44 2.44 0 01-.1.24c0 .12-.09.24-.14.36s0 .17-.08.26-.08.24-.11.37v.15A7.73 7.73 0 000 7.87a7.88 7.88 0 007.87 7.9 8 8 0 001.91-.24h.06l.43-.13.2-.06c.13 0 .25-.1.38-.15l.22-.09a3.61 3.61 0 00.44-.22l.14-.06a8.55 8.55 0 001.09-.72l5.65 5.66a.9.9 0 00.66.28.94.94 0 00.67-.27 1 1 0 000-1.35zM13.8 7.89a5.92 5.92 0 01-1.13 3.46 6 6 0 01-4.8 2.45A5.93 5.93 0 012 7.87a5.82 5.82 0 011.1-3.45 6 6 0 011.33-1.33A5.86 5.86 0 017.89 2a5.93 5.93 0 015.91 5.89z")
    path(d="M3.94 7.06V8.7a.49.49 0 00.49.49h6.9a.49.49 0 00.49-.49V7.07a.49.49 0 00-.5-.49H4.44a.49.49 0 00-.5.48z")
