extends ../../../../../PagesTemplates/RegularWebPage

block append Metadata

  -
    HTML_PAGE_TITLE = "Typography testing";
    styleSheetsURIs = [ "./Typography.test.css" ]


block append Requirements

  include ../../../../../Components


block append PageContent

  .Layout

    .Showcase

      .TypographyTesting-Heading1 見出し段階１ La titolo de la unua nivelo
      .TypographyTesting-Heading2 見出し段階２ La titolo de la dua nivelo
      .TypographyTesting-Heading3 見出し段階３ La titolo de la tria nivelo
      .TypographyTesting-Heading4 見出し段階４ La titolo de la kvarobla nivelo
      .TypographyTesting-Heading5 見出し段階５ La titolo de la kvina nivelo. ĉar testado devas esti pli aŭtentika.
      .TypographyTesting-Heading6 見出し段階６ La titolo de la sesa nivelo. ĉar testado devas esti pli aŭtentika.

    .Showcase

      .TypographyTesting-Heading1 見出し段階１
      .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo

      .TypographyTesting-Heading2 見出し段階２
      .TypographyTesting-Subheading2 副見出し段階２ La subteksto de la dua nivelo

      .TypographyTesting-Heading3 見出し段階３
      .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo

      .TypographyTesting-Heading4 見出し段階４
      .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo

      .TypographyTesting-Heading5 見出し段階５
      .TypographyTesting-Subheading5 副見出し段階５ La subtitolo de la kvina nivelo

      .TypographyTesting-Heading6 見出し段階６
      .TypographyTesting-Subheading6 副見出し段階６ La subtitolo de la sesa nivelo. テストの為にもっと書かないと。ĉar testado devas esti pli aŭtentika.

    //-
      .Showcase

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo
          .TypographyTesting-Heading5 見出し段階５
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo
          .TypographyTesting-Heading5 見出し段階５
          .TypographyTesting-Subheading5 副見出し段階５ La subtitolo de la kvina nivelo
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo
          .TypographyTesting-Heading5 見出し段階５
          .TypographyTesting-Subheading5 副見出し段階５ La subtitolo de la kvina nivelo
          .TypographyTesting-Heading6 見出し段階６
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo
          .TypographyTesting-Heading5 見出し段階５
          .TypographyTesting-Subheading5 副見出し段階５ La subtitolo de la kvina nivelo
          .TypographyTesting-Heading6 見出し段階６
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して

        .Showcase-Subsection
          .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
          .TypographyTesting-Heading2 見出し段階２
          .TypographyTesting-Subheading2 副見出し段階２ La subtitolo de la dua nivelo
          .TypographyTesting-Heading3 見出し段階３
          .TypographyTesting-Subheading3 副見出し段階３ La subtitolo de la tria nivelo
          .TypographyTesting-Heading4 見出し段階４
          .TypographyTesting-Subheading4 副見出し段階４ La subtitolo de la kvarobla nivelo
          .TypographyTesting-Heading5 見出し段階５
          .TypographyTesting-Subheading5 副見出し段階５ La subtitolo de la kvina nivelo
          .TypographyTesting-Heading6 見出し段階６
          .TypographyTesting-Subheading6 副見出し段階６ La subtitolo de la sesa nivelo
          p.TypographyTesting-Paragraph.
            初めて槙さんで誤解作物ちょっと所有をするます風ある基礎それか記憶をというお経験ならでませますて、その場合はどこか通り気を達して


      .Showcase

        .TypographyTesting-Heading1 見出し段階１
          .TypographyTesting-Subheading1 副見出し段階１ La subtitolo de la unua nivelo
        .TypographyTesting-Abstract.
          無論昔が解人はけっしてその指導たうくらいでつけ込むば下さらありには談判違いですうて、少しにも進みらしいますますで。心で出たのはおそらくほかを単にだでん。
          どうも嘉納さんを乱暴個人多少お話にするべき人この事業私か相当をというお脱却たななないと
        p.TypographyTesting-Paragraph.
          この今度は何か
          #[a.TypographyTesting-Link(href="#" target="_blank" rel="nofollow") #{textOverflowToleranceText}漢字も要る]
          本意に駈けて

      .Showcase

        .Showcase-Subsection

          .TypographyTesting-Heading1 見出し段階１

          +ImprovedList({ type: ImprovedList.Types.ordered })
            +ImprovedListItem.
              たとい当時が損害帰りもまあそのお話したただってに威張っけれども得るまいをも賞翫参りますたて、こうにもするたうですた。双方をしましものはようやく生涯が初めてたでで。
            +ImprovedListItem
              | もう岡田さんがお話し校長必ず学問に書いです兄その礼それか研究をというお危くうないたたて、その今もどこかごまかし大勢を尊ぶて、
              +ImprovedList({ type: ImprovedList.Types.ordered })
                +ImprovedListItem.
                  たとい当時が損害帰りもまあそのお話したただってに威張っけれども得るまいをも賞翫参りますたて、こうにもするたうですた。双方をしましものはようやく生涯が初めてたでで。
                +ImprovedListItem
                  | もう岡田さんがお話し校長必ず学問に書いです兄その礼それか研究をというお危くうないたたて、その今もどこかごまかし大勢を尊ぶて、

        .Showcase-Subsection
          +ImprovedList({ type: ImprovedList.Types.unordered })
            +ImprovedListItem.
              たとい当時が損害帰りもまあそのお話したただってに威張っけれども得るまいをも賞翫参りますたて、こうにもするたうですた。双方をしましものはようやく生涯が初めてたでで。
            +ImprovedListItem
              | もう岡田さんがお話し校長必ず学問に書いです兄その礼それか研究をというお危くうないたたて、その今もどこかごまかし大勢を尊ぶて、
              +ImprovedList({ type: ImprovedList.Types.unordered })
                +ImprovedListItem.
                  たとい当時が損害帰りもまあそのお話したただってに威張っけれども得るまいをも賞翫参りますたて、こうにもするたうですた。双方をしましものはようやく生涯が初めてたでで。
                +ImprovedListItem
                  | もう岡田さんがお話し校長必ず学問に書いです兄その礼それか研究をというお危くうないたたて、その今もどこかごまかし大勢を尊ぶて、
