whenTargetGoingJustAfterIt(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "whenTargetGoingJustAfterIt",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      targetElementSelector: {
        type: DataTypes.string,
        required: true
      },
      contextSelector: {
        type: DataTypes.string,
        required: false
      },
      referenceElementSelector: {
        type: DataTypes.string,
        defaultValue: selector()
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  referenceElementSelector = isNull(compoundParameter.contextSelector) ?\
      compoundParameter.referenceElementSelector :\
      compoundParameter.contextSelector + " " + compoundParameter.referenceElementSelector


  /{referenceElementSelector} + {compoundParameter.targetElementSelector}

    {block}
