extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "Top page | YDF: Yamato Daiwa Frontend";

    HTML_PageMetaData = {
      description: "Yamato Daiwa Frontend (YDF) - the toolkit for the frontend development with Pug and Stylus pre-processors.",
      author: "Sole proprietorship 'Yamato Daiwa' Takeshi Tokugawa"
    };

    FAVICON_URI = "@MustBeInRoot/favicon.ico"

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Pages/TopPage" ];


block append PageContent

  div OK
