extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ja";
    HTML_PAGE_TITLE = "トップ | YDF: Yamato Daiwa Frontend";

    HTML_PageMetaData = {
      description: "Yamato Daiwa Frontend (YDF) は「Pug」と「Stylus」プリプロセッサ中心フロントエンドウエブ開発専用のライブラリである。",
      author: "個人事業主「徳川武」、屋号：やまとダイワ"
    };

    FAVICON_URI = "@MustBeInRoot/favicon.ico"

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Pages/TopPage" ];


block append PageContent

  div OK
