SingleLineTextElementOverflowSafety(compoundParameter = {}, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "SingleLineTextElementOverflowSafety",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      displayEllipsis: {
        type: DataTypes.boolean,
        defaultValue: false
      },
      supportCrossAxisCenteredFlexChild: {
        type: DataTypes.boolean,
        defaultValue: false
      },
      lineHeight: {
        type: DataTypes.dimensionalAmount DataTypes.dimensionlessAmount,
        required: false
      },
      verticalSymmetricPaddings: {
        type: DataTypes.dimensionalAmount,
        required: false
      }
    },
    restParameters: restParameters__MUST_NOT_BE
  })


  overflow hidden
  white-space nowrap


  if isTrue(compoundParameter.displayEllipsis)

    text-overflow ellipsis

  else

    text-overflow clip


  if isTrue(compoundParameter.supportCrossAxisCenteredFlexChild)

    max-width 100%


  applyIfNotNull({ line-height: compoundParameter.lineHeight })


  if isNotNull(compoundParameter.verticalSymmetricPaddings)

    padding-top: compoundParameter.verticalSymmetricPaddings
    padding-bottom: compoundParameter.verticalSymmetricPaddings
