CompoundControlShell-RegularDecoration--YDF = {

  label: {
    text: {
      weight: bold,
      color: JQueryUI_BaseTheme.clickableElements.borderColor
    }
  },

  guidance: {
    text: {
      weight: null,
      color: ShadesOfGray__39ColorsW3C_Palette[16]
    }
  },

  errorMessage: {
    text: {
      weight: bold,
      color: JQueryUI_BaseTheme.error.iconsColor
    }
  }
}
