extends ../../../../PagesTemplates/RegularWebPageTemplate.pug


block append Requirements

  include ../../../../GUI_Components.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "Snackbar Component Testing"
      },
      stylesSheetsURIs: [ "@StylesAndComponentsTesting/GUI_Components/Snackbar/Snackbar.test" ],
      scriptsURIs: {
        atEndOfBody: [ "@StylesAndComponentsTesting/GUI_Components/Snackbar/Snackbar.test" ]
      }
    });



block append PageContent

  //-
    +Snackbar--YDF(
      {
        textOrHTML: "Sample",
        decorativeVariation: Snackbar__YDF.DecorativeVariations.success,
        position: Snackbar__YDF.Positions.topMiddle
      },
      {
        hidden: false
      }
    )

  button#SNACKBAR_DISPLAYING_BUTTON(
    type="button"
  ) Display Snackbar
