-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    top: {
      tableOfContentsTitle: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      tableOfContentsTitle: "Основная библиотека",

      components: {
        tableOfContentsTitle: "GUI компоненты",
        badge: { tableOfContentsTitle: "Badge (Значок)" },
        controls: {
          buttons: {
            tableOfContentsTitle: "Кнопки",
            plain: { tableOfContentsTitle: "Button (Простая)" }
          },
          tableOfContentsTitle: "Управляющие"
        }
      }

    },

    frameworksAdaptations: {
      tableOfContentsTitle: "Frameworks adaptations"
    }

  };
