-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    topPage: {
      tableOfContentsTitle: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      tableOfContentsTitle: "Основная библиотека"

    },

    frameworksAdaptations: {
      tableOfContentsTitle: "Frameworks adaptations"
    }

  };
