-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    top: {
      $heading: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      $heading: "Основная библиотека",

      markup: {

        $heading: "Pug-разметка",

        functionality: {

          $heading: "Функциональность",

          inlineJavaScript: {

            $heading: "Внутренний JavaScript",

            YDEE_Integration: {
              $heading: "Интеграция с YDEE"
            },

            functionsAndClasses: {
              $heading: "Функции и классы"
            },

            assets: { $heading: "Ассеты" }

          },

          pugMixins: {
            $heading: "Pug-примеси",
            dummies: { $heading: "<code>WideDummy</code> и <code>HighDummy</code>" },
            SVG_Icons: { $heading: "SVG-иконки" },
            yamatoDaiwaInformationDesign: { $heading: "Информационный дизайн «Ямато Дайва»" }
          },

          pagesTemplates: { $heading: "Шаблоны страниц" },

          usageOnServerSide: { $heading: "Использование на серверной стороне" }

        }
      },

      styles: {

        $heading: "Стили",

        assets: {

          $heading: "Ассеты",

          fundamentalConstantsAndEnums: {
            $heading: "Фундаментальные константы и перечисления"
          },

          colors: {

            $heading: "Цвета",

            PracticalColorCoordinateSystem: {
              $heading: "Палитра PCCS (<code>PracticalColorCoordinateSystem</code>)"
            },

            ShadesOfGray__39ColorsW3C_Palette: {
              $heading: "Палитра 39 оттенков серого (<code>ShadesOfGray__39ColorsW3C_Palette</code>)"
            },

            YDF_ColorPalette: {
              $heading: "Палитра YDF (<code>YDF_ColorPalette</code>)"
            }

          }

        },

        kernel: {

          $heading: "Фундаментальная функциональность",

          YDF_Configuration: {
            $heading: "Конфигурация",
            fontsStacks: { $heading: "Стэки шрифтов" },
            textGeometry: { $heading: "Переменные размеров" },
            zIndexes: { $heading: "z-индексы" }
          },

          specificationsSchemas: { $heading: "Схемы спецификаций" },

          functions: {

            $heading: "Функции",

            typeCheckers: {
              $heading: "Проверка типов значений",
              strings: { $heading : "Строковые значения" },
              quantities: { $heading : "Величины" },
              booleans: { $heading : "Булевские значения" },
              nullables: { $heading : "Пустые значения" },
              others: { $heading : "Остальные" }
            },

            valueTransformers: { $heading: "Преобразователи значений" },

            strings: { $heading: "Работа со строками" },
            quantities: { $heading: "Работа с величинами" },
            objects: { $heading: "Работа с объектами" },
            arrays: { $heading: "Работа с массивами" },
            YDF_Arrays: { $heading: "Работа с YDF-массивами" },
            parametersValidation: { $heading: "Валидация параметров" },
            other: { $heading: "Другие функции" }
          },

          mixins: {
            $heading: "Утилитарные примеси",
            general: { $heading: "Общего назначения" },
            sizing: {
              $heading: "Задание размеров",
              width: { $heading: "Ширина" }
            },
            positioning: { $heading: "Позиционирование" },
            positionalRelationship: { $heading: "Взаимное позиционирование" },
            layout: { $heading: "Компоновка" },
            typography: { $heading: "Типографика" },
            other: { $heading: "Другие" }
          },

          stylesInitialization: { $heading: "Инициализация стилей" }

        },

        buildInPlugins: {
          $heading: "Плагины в комплекте",
          additionalColorPalettes: {
            $heading: "Дополнительные цветовые палитры"
          }
        }

      },

      components: {
        $heading: "GUI компоненты",
        admonitionBlock: { $heading: "<code>AdmonitionBlock</code> — Рамка с текстом" },
        controls: {
          $heading: "Управляющие",
          buttons: {
            $heading: "Кнопки"
          }
        }
      }

    },

    frameworksIntegrations: {
      $heading: "Адаптации сторонних фреймворков"
    },

    realiseNotes: {
      $heading: "Что нового"
    }

  };
