-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    top: {
      $tableOfContentsTitle: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    coreLibrary: {

      $tableOfContentsTitle: "Основная библиотека",

      markup: {

        $tableOfContentsTitle: "Pug-разметка",

        functionality: {

          $tableOfContentsTitle: "Функциональность",

          inlineJavaScript: {

            $tableOfContentsTitle: "Внутренний JavaScript",

            YDEE_Integration: {
              $tableOfContentsTitle: "Интеграция с YDEE"
            },

            functionsAndClasses: {
              $tableOfContentsTitle: "Функции и классы"
            },

            assets: { $tableOfContentsTitle: "Ассеты" }

          },

          pugMixins: {
            $tableOfContentsTitle: "Pug-примеси",
            dummies: { $tableOfContentsTitle: "<code>WideDummy</code> и <code>HighDummy</code>" },
            SVG_Icons: { $tableOfContentsTitle: "SVG-иконки" },
            yamatoDaiwaInformationDesign: { $tableOfContentsTitle: "Информационный дизайн «Ямато Дайва»" }
          },

          pagesTemplates: { $tableOfContentsTitle: "Шаблоны страниц" },

          usageOnServerSide: { $tableOfContentsTitle: "Использование на серверной стороне" }

        }
      },

      styles: {

        $tableOfContentsTitle: "Стили",

        assets: {

          $tableOfContentsTitle: "Ассеты",

          fundamentalConstantsAndEnums: {
            $tableOfContentsTitle: "Фундаментальные константы и перечисления"
          },

          colors: {

            PracticalColorCoordinateSystem: {
              $tableOfContentsTitle: "Палитра PCCS (<code>PracticalColorCoordinateSystem</code>)"
            },

            ShadesOfGray__39ColorsW3C_Palette: {
              $tableOfContentsTitle: "Палитра 39 оттенков серого (<code>ShadesOfGray__39ColorsW3C_Palette</code>)"
            },

            YDF_ColorPalette: {
              $tableOfContentsTitle: "Палитра YDF (<code>YDF_ColorPalette</code>)"
            }

          }

        },

        kernel: {

          $tableOfContentsTitle: "Фундаментальная функциональность",

          basicVariables: {
            $tableOfContentsTitle: "Базовые переменные",
            fontsStacks: { $tableOfContentsTitle: "Стэки шрифтов" },
            dimensions: { $tableOfContentsTitle: "Переменные размеров" },
            zIndexes: { $tableOfContentsTitle: "z-индексы" },
            BEM: { $tableOfContentsTitle: "БЭМ" }
          },

          functions: {

            $tableOfContentsTitle: "Функции",

            typeCheckers: {
              $tableOfContentsTitle: "Проверка типов значений",
              strings: { $tableOfContentsTitle : "Строковые значения" },
              quantities: { $tableOfContentsTitle : "Величины" }
            },

            strings: { $tableOfContentsTitle: "Работа со строками" },
            objects: { $tableOfContentsTitle: "Работа с объектами" },
            arrays: { $tableOfContentsTitle: "Работа с массивами" },
            parametersValidation: { $tableOfContentsTitle: "Валидация параметров" },
            other: { $tableOfContentsTitle: "Другие функции" }
          },

          mixins: {
            $tableOfContentsTitle: "Утилитарные примеси",
            general: { $tableOfContentsTitle: "Общего назначения" },
            sizing: {
              $tableOfContentsTitle: "Задание размеров",
              width: { $tableOfContentsTitle: "Ширина" }
            },
            positioning: { $tableOfContentsTitle: "Позиционирование" },
            positionalRelationship: { $tableOfContentsTitle: "Взаимное позиционирование" },
            layout: { $tableOfContentsTitle: "Компоновка" },
            typography: { $tableOfContentsTitle: "Типографика" },
            other: { $tableOfContentsTitle: "Другие" }
          },

          stylesInitialization: { $tableOfContentsTitle: "Инициализация стилей" },

        },

        buildInPlugins: {
          $tableOfContentsTitle: "Плагины в комплекте",
          additionalColorPalettes: {
            $tableOfContentsTitle: "Дополнительные цветовые палитры"
          }
        }

      },

      components: {
        $tableOfContentsTitle: "GUI компоненты",
        badge: { $tableOfContentsTitle: "Badge (Значок)" },
        controls: {
          buttons: {
            $tableOfContentsTitle: "Кнопки",
            plain: { $tableOfContentsTitle: "Button (Простая)" }
          },
          $tableOfContentsTitle: "Управляющие"
        }
      }

    },

    frameworksAdaptations: {
      $tableOfContentsTitle: "Адаптации сторонних фреймворков"
    },

    realiseNotes: {
      $tableOfContentsTitle: "Что нового"
    }

  };
