-

  const sharedExternalLinksRussianLocalization = {

    vue: {
      officialSite: {
        slots: "https://v3.ru.vuejs.org/ru/guide/component-slots.html"
      }
    },

    wikipedia: {
      Base64: "https://ru.wikipedia.org/wiki/Base64"
    },

    mdn: {
      HTML: {
        metaTags: "https://developer.mozilla.org/ru/docs/Web/HTML/Element/meta"
      },
      javaScript: {
        string: {
          ES6TemplateLiteral: "https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Template_literals"
        }
      }
    },

    jetBrains: {
      liveTemplates: "https://habr.com/ru/post/414813/"
    },

    YamatoDaiwaES_Extensions: {

      RawObjectDataProcessor: {
        PropertiesSpecification: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/RawObjectDataProcessor/RawObjectDataProcessor.md#propertiesspecification-and-related---object-properties-specification"
      }

    },

    YamatoDaiwaAutomation: {

      top: "https://automation.yamato-daiwa.com/Top/TopPage.russian.html",

      functionality: {
        staticPreview: {
          resourcesPointersResolving: "https://automation.yamato-daiwa.com/Functionality/MarkupProcessing/ResourcesPointersResolving/ResourcesPointersResolving.russian.html"
        }
      }

    }

  };
