TextBox-RegularGeometry--YDF = {

  rootElement: {
    minimalWidth: 120px
  },

  inputOrTextAreaElement: {
    borders: {
      thickness: { all: 1px },
      radius: { all: 3px }
    },
    paddings: {
      horizontalSymmetric: 0.5rem,
      verticalSymmetric: 0.45rem,
      upwardShifting: 1px
    },
    text: {
      size: 1rem,
      lineSpacing: 0.3rem,
      lineHeight: null
    }
  }
}
