extends ../../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  - styleSheetsURIs = [ "./Button.test.css" ]


block append Requirements

  include ../../../../../Components.pug


block append PageContent

  .ButtonsShowcasesFlow

    mixin ButtonsShowcase(propertiesObject)
      table.ButtonsShowcase
        caption= propertiesObject.caption
        thead
          tr
            th "button" tag
            th "a" tag
            th "input" tag
        tbody
          block


    +ButtonsShowcase({ caption: "Default options" })
      tr
        td: +Button--YDF({ label: "Teksto 本文"})
        td: +Button--YDF({ label: "Teksto 本文", URI: "#" })
        td
          +Button--YDF({
            label: "Teksto 本文",
            HTML_Type: Button.HTML_Types.inputButton
          })

    +ButtonsShowcase({ caption: "Geometric variations" })

      tr
        td: +Button--YDF({ label: "Teksto 本文" })
        td: +Button--YDF({ label: "Teksto 本文", URI: "#" })
        td
          +Button--YDF({
            label: "Teksto 本文",
            HTML_Type: Button.HTML_Types.inputButton
          })

      tr
        td
          +Button--YDF({
            label: "Teksto 本文",
            geometry: Button.GeometricVariations.small
          })
        td
          +Button--YDF({
            label: "Teksto 本文",
            URI: "#",
            geometry: Button.GeometricVariations.small
          })
        td
          +Button--YDF({
            label: "Teksto 本文",
            HTML_Type: Button.HTML_Types.inputButton,
            geometry: Button.GeometricVariations.small
          })

    +ButtonsShowcase({ caption: "Multiline safety test" })

      tr
        td: +Button--YDF({ label: "SuperHyperMegaExtraVeryLongLabelTryToBreakMeHaHaHaHaHaHaHaHa" })
        td: +Button--YDF({ label: "SuperHyperMegaExtraVeryLongLabelTryToBreakMeHaHaHaHaHaHaHaHa", URI: "#"})
        td
          +Button--YDF({
            label: "SuperHyperMegaExtraVeryLongLabelTryToBreakMeHaHaHaHaHaHaHaHa",
            HTML_Type: Button.HTML_Types.inputButton
          })

      tr
        td
          +Button--YDF({
            label: "SuperHyperMegaExtraVeryLongLabelTryToBreakMeHaHaHaHaHaHaHaHa",
            geometry: Button.GeometricVariations.small
          })
        td
          +Button--YDF({
            label: "SuperHyperMegaExtraVeryLongLabelTryToBreakMeHaHaHaHaHaHaHaHa",
            URI: "#",
            geometry: Button.GeometricVariations.small
          })
        td
          +Button--YDF({
            label: "SuperHyperMegaExtraVeryLongLabelTryToBreakMeHaHaHaHaHaHaHaHa",
            HTML_Type: Button.HTML_Types.inputButton,
            geometry: Button.GeometricVariations.small
          })

    +ButtonsShowcase({ caption: "Prepended icon" })

      tr
        td
          +Button--YDF
            +MagnifyingGlass--YDF_Icon.Button-PrependedSVG_Icon
            span.Button-Label Like us on FaceTube
        td
          +Button--YDF({ URI: "#" })
            +MagnifyingGlass--YDF_Icon.Button-PrependedSVG_Icon
            span.Button-Label Like us on FaceTube
        td Impossible

      tr
        td
          +Button--YDF({ geometry: Button.GeometricVariations.small })
            +MagnifyingGlass--YDF_Icon.Button-PrependedSVG_Icon
            span.Button-Label Like us on FaceTube
        td
          +Button--YDF({
            URI: "#",
            geometry: Button.GeometricVariations.small
          })
            +MagnifyingGlass--YDF_Icon.Button-PrependedSVG_Icon
            span.Button-Label Like us on FaceTube
        td Impossible

      +ButtonsShowcase({ caption: "Appended icon" })

        tr
          td
            +Button--YDF
              span.Button-Label Like us on FaceTube
              +MagnifyingGlass--YDF_Icon.Button-AppendedSVG_Icon
          td
            +Button--YDF({ URI: "#" })
              span.Button-Label Like us on FaceTube
              +MagnifyingGlass--YDF_Icon.Button-AppendedSVG_Icon
          td Impossible

        tr
          td
            +Button--YDF({ geometry: Button.GeometricVariations.small })
              span.Button-Label Like us on FaceTube
              +MagnifyingGlass--YDF_Icon.Button-AppendedSVG_Icon
          td
            +Button--YDF({
              URI: "#",
              geometry: Button.GeometricVariations.small
            })
              span.Button-Label Like us on FaceTube
              +MagnifyingGlass--YDF_Icon.Button-AppendedSVG_Icon
          td Impossible


        +ButtonsShowcase({ caption: "Lone SVG icon" })

          tr
            td
              +Button--YDF({ ARIA_Label: "Search" })
                +MagnifyingGlass--YDF_Icon.Button-LoneSVG_Icon
            td
              +Button--YDF({ URI: "#", ARIA_Label: "Search" })
                +MagnifyingGlass--YDF_Icon.Button-LoneSVG_Icon
            td Impossible

          tr
            td
              +Button--YDF({
                ARIA_Label: "Search",
                geometry: Button.GeometricVariations.small
              })
                +MagnifyingGlass--YDF_Icon.Button-LoneSVG_Icon
            td
              +Button--YDF({
                URI: "#",
                ARIA_Label: "Search",
                geometry: Button.GeometricVariations.small
              })
                +MagnifyingGlass--YDF_Icon.Button-LoneSVG_Icon
            td Impossible

    //-

      +ButtonsShowcase({ caption: "錠型" })
        td
          +Button({ capsuleShape: true }) 本文 Teksto
        td
          +Button({
            URI: "#",
            capsuleShape: true
          }) 本文 Teksto
        td
          +Button({
            label: "本文 Teksto",
            HTML_Type: Button.HTML_Types.inputButton,
            capsuleShape: true
          })

      +ButtonsShowcase({ caption: "強調配色" })
        td
          +Button({ decoration: Button.DecorativeVariations.accented }) 本文 Teksto
        td
          +Button({
            URI: "#",
            decoration: Button.DecorativeVariations.accented
          }) 本文 Teksto
        td
          +Button({
            label: "本文 Teksto",
            HTML_Type: Button.HTML_Types.inputButton,
            decoration: Button.DecorativeVariations.accented
          })

      +ButtonsShowcase({ caption: "ティックボックス振る舞い" })
        td: +Button({ toggled: true }) 入
        td 不可能
        td 不可能

      +ButtonsShowcase({ caption: "無効状態" })
        td
          +Button({ disabled: true }) 押せない
        td
          +Button({
            URI: "#",
            disabled: true
          }) 押せない
        td
          +Button({
            label: "押せない",
            HTML_Type: Button.HTML_Types.inputButton,
            disabled: true
          })
