extends ../../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  - styleSheetsURIs = [ "./Button.test.css" ]


block append Requirements

  include ../../../../../Components.pug


block append PageContent

  .ButtonsShowcasesFlow

    mixin ButtonsShowcase(propertiesObject)
      table.ButtonsShowcase
        caption= propertiesObject.caption
        thead
          tr
            th "button" tag
            th "a" tag
            th "input" tag
        tbody
          tr
            block

    +ButtonsShowcase({ caption: "Default options" })
      td: +Button--YDF({ label: "本文 Teksto" })
      td: +Button--YDF({ label: "本文 Teksto", URI: "#" })
      td
        +Button--YDF({
          label: "本文 Teksto",
          HTML_Type: Button.HTML_Types.inputButton
        })

    +ButtonsShowcase({ caption: "Small size" })
      td
        +Button--YDF({
          label: "本文 Teksto",
          geometry: Button.GeometricVariations.small
        })
      td
        +Button--YDF({
          label: "本文 Teksto",
          URI: "#",
          geometry: Button.GeometricVariations.small
        })
      td
        +Button--YDF({
          label: "本文 Teksto",
          HTML_Type: Button.HTML_Types.inputButton,
          geometry: Button.GeometricVariations.small
        })

    +ButtonsShowcase({ caption: "Multiline safety test" })
      td: +Button--YDF({ label: "Super hyper mega extra very log label"}).Button-NarrowWidth
      td: +Button--YDF({ label: "Super hyper mega extra very log label", URI: "#"}).Button-NarrowWidth
      td
        +Button--YDF({
          label: "Super hyper mega extra very log label",
          HTML_Type: Button.HTML_Types.inputButton
        }).Button-NarrowWidth

    +ButtonsShowcase({ caption: "Has prepended icon" })
      td: +Button--YDF({
        hasPrependedSVG_Icon: true
      })
        +MagnifyingGlass--YDF_Icon.Button-PrependedSVG_Icon
        span.Button-Label 良いね！
      td: +Button--YDF({
        URI: "#",
        hasPrependedSVG_Icon: true
      })
        +MagnifyingGlass--YDF_Icon.Button-PrependedSVG_Icon
        span.Button-Label 良いね！
      td 不可能

    +ButtonsShowcase({ caption: "単独アイコン有り" })
      td: +Button--YDF(aria-label="良いね！"): +MagnifyingGlass--YDF_Icon.Button-LoneSVG_Icon

      td: +Button--YDF({
        URI: "#"
      })(aria-label="良いね！"): +MagnifyingGlass--YDF_Icon.Button-LoneSVG_Icon
      td 不可能


    //-

      +ButtonsShowcase({ caption: "錠型" })
        td
          +Button({ capsuleShape: true }) 本文 Teksto
        td
          +Button({
            URI: "#",
            capsuleShape: true
          }) 本文 Teksto
        td
          +Button({
            label: "本文 Teksto",
            HTML_Type: Button.HTML_Types.inputButton,
            capsuleShape: true
          })

      +ButtonsShowcase({ caption: "強調配色" })
        td
          +Button({ decoration: Button.DecorativeVariations.accented }) 本文 Teksto
        td
          +Button({
            URI: "#",
            decoration: Button.DecorativeVariations.accented
          }) 本文 Teksto
        td
          +Button({
            label: "本文 Teksto",
            HTML_Type: Button.HTML_Types.inputButton,
            decoration: Button.DecorativeVariations.accented
          })

      +ButtonsShowcase({ caption: "ティックボックス振る舞い" })
        td: +Button({ toggled: true }) 入
        td 不可能
        td 不可能

      +ButtonsShowcase({ caption: "無効状態" })
        td
          +Button({ disabled: true }) 押せない
        td
          +Button({
            URI: "#",
            disabled: true
          }) 押せない
        td
          +Button({
            label: "押せない",
            HTML_Type: Button.HTML_Types.inputButton,
            disabled: true
          })
