/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Components/Badge/Badge-NoSingleLineGeometricModifier.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/Badge/Badge-NoSingleLineGeometricModifier.test.css `
    --include Styles
*/


@require "../../../../Functionality.styl"
@require "../../../../Components.styl"


provideBadgeYDF_Component(
  options: {
    geometricModifiers: {
      pillShape: true,
      singleLine: false
    }
  }
)
