-

  /* [ Theory ] Required for HTML validity */
  const HTML_PAGE_DEFAULT_LANGUAGE_SPECIFICATION__BCP47 = "en";

  const textOverflowSafetyTest = "OverflowTest:ÀÇĤfhjgpjklbĜiEstosTreMalfacileEnvolverLaVicoAbcdefghijklmnopqrstuvwxyza" +
          "bcdefgghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghi" +
          "jklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwx";

  const DummyImageURLs = {
    aspectRatio19x6: "https://dummyimage.com/960x540/626ffc/e6e6e6.png",
    aspectRatio4x3: "https://dummyimage.com/960x720/626ffc/e6e6e6.png",
    wideAndLow: "https://dummyimage.com/2000x100/626ffc/e6e6e6.png",
    highAndNarrow: "https://dummyimage.com/100x1000/626ffc/e6e6e6.png",
    small: "https://dummyimage.com/64x64/626ffc/e6e6e6.png"
  };


include Markup/InlineECMAScript/PugExtensions.generated.pug

-

  const {

    /* === Numbers ================================================================================================== */
    formatNumberWith4KetaKanji,
    isStringifiedNonNegativeIntegerOfRegularNotation,
    roundToSpecifiedNearestDecimalPlaceValue,
    separateEach3DigitsGroupWithComma,
    separateEach4DigitsGroupWithComma,

    /* === Strings ================================================================================================== */
    EscapeCharacters,
    latinCharacters__lowercase,
    latinCharacters__uppercase,
    SpaceCharacters,
    SpaceCharactersStringifiedHexCharactersForRegularExpressionWithUnicodeFlag,
    stringifiedDigits,
    areStringifiedDigitsOnly,
    capitalizeFirstCharacter,
    EmailAddress,
    getLastCharacter,
    getPositionsOfAllSubstringOccurrences,
    hasStringOnlySpecificCharacters,
    insertSubstring,
    insertSubstringIf,
    removeAllSpecifiedCharacters,
    removeLastCharacter,
    removeNonDigitsCharacters,
    removeNthCharacter,
    removeSpecificCharacterFromCertainPosition,
    replace2OrMoreSpacesTo1,
    replaceBrHTML_TagToNewLineEscapeSequence,
    replaceDoubleBackslashesWithForwardSlashes,
    reverseString,
    splitString,
    stringifyAndFormatArbitraryValue,
    trimSpaces,

    /* === Arrays ===================================================================================================== */
    addElementsToArray,
    getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne,
    getIndexesOfArrayElementsWhichSatisfiesThePredicate,
    getIndexOfArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne,
    getLastElementOfNonEmptyArray,
    removeArrayElementsByIndexes,
    removeArrayElementsByPredicates,
    replaceArrayElementsByIndexesImmutably,
    replaceArrayElementsByPredicates,
    twoDimensionalizeArray,

    /* === Random values generators ================================================================================= */
    getRandomArrayElement,
    getRandomBoolean,
    getRandomInteger,

    /* === Specialities for Pug ===================================================================================== */
    buildEmailLinkHREF_ArttributeValue,
    buildPhoneNumberLinkHREF_ArttributeValue
    // -----------------------------------------------------------------------------------------------------------------

  } = global.__PUG_EXTENSIONS_EXPORTS__;


include Markup/Assets/Dummies.pug
include Markup/Assets/SVG_Icons/SVG_Icons.pug

include Markup/BuildInPlugins/PrismJS_Integration.pug
include Markup/BuildInPlugins/YamatoDaiwaInformationDesign.pug
