/*!
 * @yamato-daiwa/frontend v2.0
 * (c) 2023 Yamato Daiwa Co., Ltd
 * Released under the MIT License.
 */

@require "Styles/01-Assets.styl"
@require "Styles/02-Kernel.styl"
@require "Styles/03-BuildInPlugins.styl"
