DataTypes = {
  dimensionalAmount: "DIMENSIONAL_AMOUNT"
  dimensionlessAmount: "DIMENSIONLESS_AMOUNT",
  string: "STRING",
  boolean: "BOOLEAN",
  object: "OBJECT",
  colorDefinition: "COLOR_DEFINITION"
}


NARROWEST_SCREEN_WIDTH_UNIT = 320px


Directions = {
  left: "LEFT",
  right: "RIGHT",
  top: "TOP",
  bottom: "BOTTOM"
}
