-

  const componentPropertiesSpecification = {

    typeName: "Properties",
    localizedDescriptiveHeading: "Свойства",

    propertiesSpecification: {

      key: {
        ...Badge__YDF.propertiesSpecification.key,
        localizedInterpretation: "Ключ (левая надпись)"
      },

      value: {
        ...Badge__YDF.propertiesSpecification.value,
        localizedInterpretation: "Значение (единственная либо правая надпись)"
      },

      theme: {
        ...Badge__YDF.propertiesSpecification.theme,
        localizedInterpretation: "Тема",
        defaultValue: "Badge__YDF.Themes.regular",
        allowedAlternatives: [
          ...Badge__YDF.propertiesSpecification.
                theme.
                allowedAlternatives.
                map(keyAndValuePair => keyAndValuePair.key),
          [
            { text: "(Любые, определённые через " },
            { code: "Badge__YDF.defineThemes()" },
            { text: ")" }
          ]
        ]
      },

      areThemesCSS_ClassesCommon: {
        ...Badge__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
        localizedInterpretation: "Являются ли CSS-классы тем общими для всех компонентов",
        defaultValue: "Badge__YDF.areThemesCSS_ClassesCommon"
      },

      geometricVariation: {
        ...Badge__YDF.propertiesSpecification.geometry,
        localizedInterpretation: "Геометрия (геометрическая вариация)",
        defaultValue: "Badge__YDF.GeometricVariations.regular",
        allowedAlternatives: [
          "Badge__YDF.GeometricVariations.regular",
          [
            { text: "(Любые, определённые через " },
            { code: "Badge__YDF.defineGeometricVariations()" },
            { text: ")" }
          ]
        ]
      },

      geometricModifiers: {
        ...Badge__YDF.propertiesSpecification.geometricModifiers,
        localizedInterpretation: "Геометрические модификаторы",
        type: "Array&lt;Badge__YDF.GeometricModifiers&gt;",
        allowedAlternatives: [
          "Badge__YDF.GeometricModifiers.pillShape",
          "Badge__YDF.GeometricModifiers.singleLine"
        ]
      },

      decorativeVariation: {
        ...Badge__YDF.propertiesSpecification.decoration,
        localizedInterpretation: "Декорация (декоративная вариация)",
        allowedAlternatives: [
          "Badge__YDF.DecorativeVariations.veryCatchyBright",
          "Badge__YDF.DecorativeVariations.catchyBright",
          "Badge__YDF.DecorativeVariations.modestlyCatchyBright",
          "Badge__YDF.DecorativeVariations.neutralBright",
          "Badge__YDF.DecorativeVariations.modestlyCalmingBright",
          "Badge__YDF.DecorativeVariations.calmingBright",
          "Badge__YDF.DecorativeVariations.achromaticBright",
          "Badge__YDF.DecorativeVariations.veryCatchyPastel",
          "Badge__YDF.DecorativeVariations.catchyPastel",
          "Badge__YDF.DecorativeVariations.modestlyCatchyPastel",
          "Badge__YDF.DecorativeVariations.neutralPastel",
          "Badge__YDF.DecorativeVariations.modestlyCalmingPastel",
          "Badge__YDF.DecorativeVariations.calmingPastel",
          "Badge__YDF.DecorativeVariations.achromaticPastel",
          [
            { text: "(Любые, определённые через " },
            { code: "Badge__YDF.defineDecorativeVariations()" },
            { text: ")" }
          ]
        ]
      },

      decorativeModifiers: {
        ...Badge__YDF.propertiesSpecification.decorativeModifiers,
        localizedInterpretation: "Декоративные модификаторы",
        type: "Array&lt;Badge__YDF.DecorativeModifiers&gt;",
        allowedAlternatives: [
          "Badge__YDF.DecorativeModifiers.bordersDisguising"
        ]
      },

      rootElementTag: {
        ...Badge__YDF.propertiesSpecification.rootElementTag,
        localizedInterpretation: "Тэг корневого элемента",
        defaultValue: "ARE_YDF_COMPONENTS_DECORATIONS_EXTERNAL_BY_DEFAULT || Badge__YDF.areDecorationsExternal"
      }

    }
  };
