mixin DefinableTerm--YDID
  if block
    dfn.DefinableTerm--YDID: block

mixin Term--YDID
  if block
    span.Term--YDID: block

mixin Term__Contrast--YDID
  if block
    span.Term__Contrast--YDID: block

mixin Keyword--YDID
  if block
    span.Keyword--YDID: block

mixin Keyword__Contrast--YDID
  if block
    span.Keyword__Contrast--YDID: block

mixin ImportantEntity--YDID
  if block
    span.ImportantEntity--YDID: block

mixin ImportantEntity__Math--YDID
  if block
    span.ImportantEntity__Math--YDID: block

mixin ImportantEntity__Code--YDID
  if block
    span.ImportantEntity__Code--YDID: block

mixin SecondaryEntity--YDID
  if block
    span.SecondaryEntity--YDID: block

mixin SecondaryEntity__Math--YDID
  if block
    span.SecondaryEntity__Math--YDID: block

mixin SecondaryEntity__Code--YDID
  if block
    span.SecondaryEntity__Code--YDID: block

mixin Keyphrase--YDID
  if block
    span.Keyphrase--YDID: block
