mixin DefinableTerm--YDID
  dfn.DefinableTerm--YDID: block


mixin Term--YDID
  i.Term--YDID: block

mixin Term__Contrast--YDID
  i.Term__Contrast--YDID: block


mixin Keyword--YDID
  em.Keyword--YDID: block

mixin Keyword__Contrast--YDID
  em.Keyword__Contrast--YDID: block


mixin ImportantEntity--YDID
  i.ImportantEntity--YDID: block

mixin ImportantEntity__Math--YDID
  i.ImportantEntity__Math--YDID: block

mixin ImportantEntity__Code--YDID
  code.ImportantEntity__Code--YDID: block


mixin SecondaryEntity--YDID
  i.SecondaryEntity--YDID: block

mixin SecondaryEntity__Math--YDID
  i.SecondaryEntity__Math--YDID: block

mixin SecondaryEntity__Code--YDID
  code.SecondaryEntity__Code--YDID: block


mixin Keyphrase--YDID
  strong.Keyphrase--YDID: block
