// === Execution
// stylus Tests/Styles/02-Kernel/02-Functions/01-ValueCheckers/isTrueIsFalse.test.styl --out Tests/Output/Styles/02-Kernel/02-Functions/01-ValueCheckers/isTrueIsFalse.test.css --include Styles


@require "01-Assets.styl"
@require "02-Kernel.styl"


definedVariable = true


if definedVariable

  p("Obviously, it will be printed to console.")


if undefinedVariable

  p("It will be printed too because 'typeof(undefinedVariable)' is 'ident' it means not falsy.")


// If you prefer 'undefinedVariable == true', it all right but '@yamato-daiwa/frontend' suggests 'isTrue' and 'isFalse'
// checkers
if (isTrue(undefinedVariable))

  p("It will not be printed because 'undefinedVariable' is not true.")
  error("Test has been failed.")


else if (isFalse(undefinedVariable))

  p("It will not be printed because 'undefinedVariable' is not false.")
  error("Test has been failed.")


else

  p("It will be printed if 'undefinedVariable' is neither true nor false")
