extends ../../../../../PagesTemplates/RegularWebPageTemplate.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "DateTimePicker Component Development"
      },
      stylesSheetsURIs: [ "@StylesAndComponentsTesting/Components/Controls/DateTimePicker/DateTimePicker.workbench" ]
    });


block append Requirements

  include ../../../../../GUI_Components.pug


block append PageContent

  .DateTimePickerWorkbench

    +DateTimePicker--YDF(
      {
        mode: DateTimePicker__YDF.Modes.dateWithTime,
        value: new Date().toISOString()
      },
      {
        expanded: true,
        activeMatrix: DateTimePicker__YDF.Matrices.days
      }
    )

    +DateTimePicker--YDF(
      {
        mode: DateTimePicker__YDF.Modes.dateWithTime,
        value: new Date().toISOString()
      },
      {
        expanded: true,
        activeMatrix: DateTimePicker__YDF.Matrices.months
      }
    )

    +DateTimePicker--YDF(
      {
        mode: DateTimePicker__YDF.Modes.dateWithTime,
        value: new Date().toISOString()
      },
      {
        expanded: true,
        activeMatrix: DateTimePicker__YDF.Matrices.years
      }
    )

    +DateTimePicker--YDF(
      {
        mode: DateTimePicker__YDF.Modes.dateWithTime,
        value: new Date().toISOString()
      },
      {
        expanded: true,
        activeMatrix: DateTimePicker__YDF.Matrices.hours
      }
    )

    +DateTimePicker--YDF(
      {
        mode: DateTimePicker__YDF.Modes.dateWithTime,
        value: new Date().toISOString()
      },
      {
        expanded: true,
        activeMatrix: DateTimePicker__YDF.Matrices.minutes
      }
    )
