@require "../../../../../../Functionality.styl"
@require "../../../../../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

provideModalDialogYDF_Component()
provideConfirmationModalDialogYDF_Component()
provideButtonYDF_Component()
