extends ../../../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "ConfirmationModalDialog Component Testing"
    styleSheetsURIs = [ "./ConfirmationModalDialog.test.css" ]
    scriptsURIs.endOfBody = [ "./ConfirmationModalDialog.test.js" ]


block append Requirements

  include ../../../../../../Components.pug


block append PageContent

  +ConfirmationModalDialog--YDF({
    title: "The question",
    question: "To be or not to be?"
  })
