include Components/CompactTableOfContents/CompactTableOfContents.pug
include Components/Controls/LanguageDropDownList/LanguageDropDownList.pug

include Components/Infographics/CallableExpressionScheme/CallableExpressionScheme.pug
include Components/Infographics/ObjectTypeAbstract/ObjectTypeAbstract.pug

include Components/ParameterMetadata/ParameterMetadata.pug
include Components/ProgrammaticEntityHeading/ProgrammaticEntityHeading.pug

include Components/TableLike/PropertyMetadata/PropertyMetadata.pug
