.Snackbar

  +ExclamationMark__Circled__Filled--Icon.Snackbar-Icon

  .Snackbar-Text

  button.Snackbar-DismissButton(
    type="button"
    aria-label= "dismiss"
  ): +MultiplicationSign__Boxed__Filled--Icon.Snackbar-DismissButton-Icon
