extends ../../../CompletePages/Components/AdmonitionBlock/_AdmonitionBlockGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Titles And Svg Icons");

    AdmonitionBlockGalleryOptions.
        renderSinglePartial(AdmonitionBlockGalleryOptions.Partials.titlesAndSVG_Icons).
        visuallyHideAllHeadings();
