-

  const singleImageViewerYDF_ComponentLocalization__english = {
    buttons: {
      fullScreenViewActivating: { label: "Full screen view" },
      fullScreenViewDeactivating: { label: "Close" },
      zoomingIn: { label: "Zoom in" },
      zoomingOut: { label: "Zoom out" },
      widthFitting: { label: "Fit width" },
      heightFitting: { label: "Fit height" },
      fitting: { label: "Fit" }
    }
  };
