/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/05-TypographyUtils/MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/05-TypographyUtils/MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Paragraph1

  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 17px })


.Paragraph2

  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({
    fontSize: 13px,
    lineHeight: 17px,
    doNotUsePseudoElements: true
  })


.Paragraph3

  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 1.4 })


.Paragraph4

  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 1rem, lineHeight: 1.5rem })


.Paragraph5

  MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 2rem, lineHeight: 1.5em })
