-
  const DataRetrievingFailedErrorLocalization__English = {
    progressStatusBadgesText: {
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting]: "Implementation waiting",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress]: "Implementation in progress",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting]: "Improvement waiting",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress]: "Improvement in progress",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting]: "Fixing waiting",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingInProgress]: "Fixing in progress",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.specificationClarification]: "Specification clarification",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.reviewWaiting]: "Review waiting",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.customerEvaluationWaiting]: "Customer evaluation waiting",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted]: "Accepted"
    }
  }
