-
  const staticPreviewAnywherePageLocalization__english = {
    get progressStatusBadgesText() {
      return {

        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationWaiting]: "Implementation waiting",
        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationInProgress]: "Implementation in progress",

        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.improvementWaiting]: "Improvement waiting",
        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.improvementInProgress]: "Improvement in progress",

        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.fixingWaiting]: "Fixing waiting",
        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.fixingInProgress]: "Fixing in progress",

        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.specificationClarification]: "Specification clarification",
        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.reviewWaiting]: "Review waiting",
        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.customerEvaluationWaiting]: "Customer evaluation waiting",
        [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted]: "Accepted"

      };
    }
  }
