@require "../../Functionality.styl"
@require "../../GUI_Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideBadgeYDF_Component()
provideLinkYDF_Component()


.StaticPreviewAnywherePage--YDF

  PRIMARY_COLOR = #ff9068
  ACCENTED_COLOR = #fd746c

  Centerer__CustomMinAndMaxWidths({ maximalWidth: 960px })
  padding 12px 10px 24px


  &-TopHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 32px,
      lineHeight: 36px,
      mustAllowWordsBreakingAnywhere: true
    })

    color ACCENTED_COLOR


  &-Navigation

    margin-top 12px


  &-SectionHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 28px,
      lineHeight: 32px,
      mustAllowWordsBreakingAnywhere: true
    })

    font-weight bold
    color ACCENTED_COLOR


  &-SubsectionHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 22px,
      lineHeight: 26px,
      mustAllowWordsBreakingAnywhere: true
    })

    font-weight bold
    color PRIMARY_COLOR


  &-PagesSubsubgroupHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 18px,
      lineHeight: 20px,
      mustAllowWordsBreakingAnywhere: true
    })

    font-weight bold
    color: W3C_39_ShadesOfGray--YDF[24]


  &-CardsFlow

    PositionalRelationship({
      definitions:\
        (".StaticPreviewAnywherePage--YDF-SectionHeading" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })\
        (".StaticPreviewAnywherePage--YDF-SubsectionHeading" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })
    })


  &-Card

    WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH = 500px

    WideScreensConfiguration()
      @media (min-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH)
        {block}

    NarrowScreensConfiguration()
      @media (max-width: WIDE_SCREENS_CONFIGURATION_MINIMAL_WIDTH - 1)
        {block}


    padding 6px
    box-shadow 0 0 4px 1px alpha(black, 0.25)

    retireFromElementWithSameSelector({ y: 8px })


    +WideScreensConfiguration()

      display flex
      align-items center


    +NarrowScreensConfiguration()

      display grid
      grid-template-columns auto minmax(0, 1fr)
      grid-template-rows auto 1fr

      align-items center
      column-gap 6px


    &-Title

      font-size 16px
      font-weight bold


      +WideScreensConfiguration()

        margin-left 12px


    &-Link

      retireFrom({ targetElementSelector: ".StaticPreviewAnywherePage--YDF-Card-Badge", x: 6px })


    ul

      li+li

        margin-top 4px


    table

      +WideScreensConfiguration()

        border-collapse separate


      +NarrowScreensConfiguration()

        display block

        grid-column span 2
        margin-top 6px


      tbody,
      tr

        +NarrowScreensConfiguration()

          display block


          +tr

            margin-top 6px


      th

        font-weight bold


        +WideScreensConfiguration()

          text-align right


        +NarrowScreensConfiguration()

          display block


      td

        +NarrowScreensConfiguration()

          display block

          margin-left 6px


          +td

            margin-top 4px
