@require "../../Functionality"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


.AnywherePage

  PRIMARY_COLOR = #ff9068
  ACCENTED_COLOR = #fd746c


  Centerer__CustomMinAndMaxWidths({ maximalWidth: 960px })
  padding 12px 10px 24px


  &-TopHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 32px,
      lineHeight: 36px,
      mustAllowWordsBreakingAnywhere: true
    })
    color ACCENTED_COLOR


  &-TopSubheading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 22px,
      lineHeight: 26px,
      mustAllowWordsBreakingAnywhere: true
    })
    font-weight bold
    color: ShadesOfGray__39ColorsW3C_Palette[24]

    retireFrom({ targetElementSelector: ".AnywherePage-TopHeading", y: 12px })


  &-PagesGroupHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 28px,
      lineHeight: 32px,
      mustAllowWordsBreakingAnywhere: true
    })
    font-weight bold
    color ACCENTED_COLOR

    retireFrom({ targetElementSelector: ".AnywherePage-TopHeading", y: 24px })
    retireFrom({ targetElementSelector: ".AnywherePage-TopSubheading", y: 18px })


  &-PagesSubgroupHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 22px,
      lineHeight: 26px,
      mustAllowWordsBreakingAnywhere: true
    })
    font-weight bold
    color PRIMARY_COLOR

    retireFrom({ targetElementSelector: ".AnywherePage-PagesGroupHeading", y: 6px })


  &-PagesSubsubgroupHeading

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 18px,
      lineHeight: 20px,
      mustAllowWordsBreakingAnywhere: true
    })

    font-weight bold
    color: ShadesOfGray__39ColorsW3C_Palette[24]

    retireFrom({ targetElementSelector: ".AnywherePage-PagesSubgroupHeading", y: 4px })


  // --- リンク -----------------------------------------------------------------------------------------------------------
  ProgressBadge()

    border-radius 10px
    padding 8px 12px
    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 14px,
      lineHeight: 16px,
      mustAllowWordsBreakingAnywhere: true
    })
    text-align center

    font-weight bold
    color white


    .AnywherePage-PageLink__ImplementationWaiting &

      background #ab2416


    .AnywherePage-PageLink__ImplementationInProgress &,
    .AnywherePage-PageLink__ImprovementInProgress &,
    .AnywherePage-PageLink__FixingInProgress &

      background #055c95


    .AnywherePage-PageLink__SpecificationClarification &,
    .AnywherePage-PageLink__ImprovementWaiting &,
    .AnywherePage-PageLink__FixingWaiting &,
    .AnywherePage-PageLink__ReviewWaiting &,
    .AnywherePage-PageLink__CustomerEvaluationWaiting &

      background #7f4e00


    .AnywherePage-PageLink__Accepted &

      background #006551


  PageLink-CommonSettings()

    display flex
    padding 8px 6px

    PositionalRelationship({
      definitions: (".AnywherePage-TopHeading" { retireFromIt: { y: 8px } })\
          (".AnywherePage-PagesGroupHeading" { retireFromIt: { y: 9px }, pushItFromSelf: { y: 16px } })\
          (".AnywherePage-PagesSubgroupHeading" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 12px } })\
          (".AnywherePage-PageSubsubgroupHeading" { retireFromIt: { y: 4px }, pushItFromSelf: { y: 8px } })
    })


  PageLinkText-CommonSettings()

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
      fontSize: 14px,
      lineHeight: 18px,
      mustAllowWordsBreakingAnywhere: true
    })

    color #0075c4


  &-PageLink

    PageLink-CommonSettings()
    align-items center


    &:hover

      background rgba(ACCENTED_COLOR, 0.1)
      transition background-color .5s


    &:active

      background rgba(ACCENTED_COLOR, 0.25)


    +whenTargetWithSameSelectorGoingJustAfterIt()

      border-top 1px solid lightgray


    &-ProgressBadge

      ProgressBadge()
      flex 0 0 120px


    &-Text

      margin-left 12px
      PageLinkText-CommonSettings()


  &-SinglePageRelatedLinksGroup

    PageLink-CommonSettings()
    align-items flex-start


    +whenItJustAfter({ targetElementSelector: ".AnywherePage-PageLink" })

      border-top 1px solid lightgray


    +whenTargetWithSameSelectorGoingJustAfterIt()

      border-top 1px solid lightgray


    +whenTargetGoingJustAfterIt({ targetElementSelector: ".AnywherePage-PageLink" })

      border-top 1px solid lightgray


    &-ProgressBadge

      ProgressBadge()
      flex 0 0 120px


    &-MainSection

      display flex
      flex-direction column
      align-items flex-start
      flex-grow 1
      margin-left 12px


    &-Heading

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 18px,
        lineHeight: 22px,
        mustAllowWordsBreakingAnywhere: true
      })

      font-weight bold
      color PRIMARY_COLOR


    &-Link

      cursor pointer
      PageLinkText-CommonSettings()

      retireFrom({ targetElementSelector: ".AnywherePage-SinglePageRelatedLinksGroup-Heading", y: 12px })
      retireFromElementWithSameSelector({ y: 6px })


      &:hover

        color rgba(ACCENTED_COLOR, 0.75)
        border-bottom-color rgba(ACCENTED_COLOR, 0.75)


      &:active

        color rgba(ACCENTED_COLOR, 0.5)
        border-bottom-color rgba(ACCENTED_COLOR, 0.5)
