extends ../../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "OverflowSafeSingleLineLabel component testing";
    styleSheetsURIs = [ "./OverflowSafeSingleLineLabel.test.css" ]


block append Requirements

  include ../../../../Components.pug


block append PageContent

  .Example1

    .Card
      .Card-Avatar
      +OverflowSafeSingleLineLabel.Card-FullNameLabel Gregg Sims
      +OverflowSafeSingleLineLabel.Card-OrganizationNameLabel Compubotics
      .Card-Description

    .Card
      .Card-Avatar
      +OverflowSafeSingleLineLabel.Card-FullNameLabel= textOverflowSafetyTest
      +OverflowSafeSingleLineLabel.Card-OrganizationNameLabel= textOverflowSafetyTest
      .Card-Description


  .Example2

    each emptyElement in Array(10)

      .Card
        .Card-Avatar
        +OverflowSafeSingleLineLabel.Card-FullNameLabel= textOverflowSafetyTest
        +OverflowSafeSingleLineLabel.Card-OrganizationNameLabel= textOverflowSafetyTest
        .Card-Description


