mixin BottomAppBar--YDF-MD(properties)

  -

    const {

      /** @type { string | undefined } */
      color

    } = properties ?? {};

  footer.BottomAppBar--YDF-MD&attributes(attributes)

    block
