paddingsSpecificationSchema = {

  all: {
    type: DataTypes.unit,
    required: false
  },

  horizontalSymmetric: {
    type: DataTypes.unit,
    required: false,
    incompatibleWith: "all"
  },
  left: {
    type: DataTypes.unit,
    required: false,
    incompatibleWith: "all" "horizontalSymmetric"
  },
  right: {
    type: DataTypes.unit,
    required: false,
    incompatibleWith: "all" "horizontalSymmetric"
  },

  verticalSymmetric: {
    type: DataTypes.unit,
    required: false,
    incompatibleWith: "all"
  },
  verticalUpwardShifting: {
    type: DataTypes.unit,
    required: false
  },
  top: {
    type: DataTypes.unit,
    required: false,
    incompatibleWith: "all" "verticalSymmetric"
  },
  bottom: {
    type: DataTypes.unit,
    required: false,
    incompatibleWith: "all" "verticalSymmetric"
  }
}


overridePaddingsSpecification(parametersObject, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: paddingsSpecificationSchema,
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "overridePaddingsSpecification"
  })

  return {
    all: parametersObject.all,
    horizontalSymmetric: parametersObject.horizontalSymmetric,
    verticalUpwardShifting: parametersObject.verticalUpwardShifting,
    verticalSymmetric: parametersObject.verticalSymmetric,
    top: parametersObject.top,
    bottom: parametersObject.bottom,
    left: parametersObject.left,
    right: parametersObject.right
  }


Paddings(parametersObject, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: paddingsSpecificationSchema,
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "Paddings"
  })

  leftPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    parametersObject.all, parametersObject.horizontalSymmetric, parametersObject.left
  ))

  rightPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    parametersObject.all, parametersObject.horizontalSymmetric, parametersObject.right
  ))

  topPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    parametersObject.all, parametersObject.verticalSymmetric, parametersObject.top
  ))

  bottomPadding = getFirstNonNullArrayElement(arrayConstructor__POLYFILL(
    parametersObject.all, parametersObject.verticalSymmetric, parametersObject.bottom
  ))


  if (isNotNull(parametersObject.verticalUpwardShifting) && isNotNull(topPadding)) {

    topPadding = buildCalcExpression(
      "${topPadding} - ${verticalUpwardShifting}",
      { topPadding: topPadding, verticalUpwardShifting: parametersObject.verticalUpwardShifting }
    )
  }

  applyIfNotNull({
    padding-left: leftPadding,
    padding-right: rightPadding,
    padding-top: topPadding,
    padding-bottom: bottomPadding
  })
