GridFlow = {
  ColumnsAligment: {
    start: "START",
    center: "CENTER",
    end: "END"
  },
  RowsAligment: {
    start: "START",
    center: "CENTER",
    end: "END"
  }
}


gridFlow(parametersObject, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: {
      isInline: {
        type: DataTypes.boolean,
        defaultValue: false
      },
      columnsSizing: {
        required: false
      },
      rowsSizing: {
        required: false
      },
      areasDefinitions: {
        required: false
      },
      rowsAligment: {
        required: false
      }
    },
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "gridFlow"
  })


  if isTrue(parametersObject.isInline)

    disiplay inline-grid

  else

    display grid


  applyIfNotNull({
    grid-template-columns: parametersObject.columnsSizing,
    grid-template-rows: parametersObject.rowsSizing,
    grid-template-areas: parametersObject.areasDefinitions
  })
