Sprite(parametersObject, restParameters__MUST_NOT_BE...)

  validateSingleParametersObject({
    targetObject: parametersObject,
    propertiesSpecification: {
      width: {
        type: DataTypes.unit,
        required: true
      },
      height: {
        type: DataTypes.unit,
        required: true
      },
      positiveX_Coordinate: {
        type: DataTypes.unit,
        required: false
      },
      positiveY_Coordinate: {
        type: DataTypes.unit,
        required: false
      }
    },
    restParameters: restParameters__MUST_NOT_BE,
    mixinOrFunctionName: "Sprite"
  })


  width: parametersObject.width
  height: parametersObject.height

  background-image: url(properties.spritesMapURL)

  // [ Theory ] Both brackets and colon are required
  background-position: -(parametersObject.positiveX_Coordinate)px (-(parametersObject.positiveY_Coordinate)px)
