.ModalDialog

  display grid
  place-items center

  FixedTranslucentDimLayer()


  &-Body

    display flex
    flex-direction column

    border-radius 5px
    Paddings({ horizontalSymmetric: 12px })

    background white


    /.ModalDialog__FullScreenGeometry &

      justify-self stretch
      align-self stretch


    /.ModalDialog__FillingOfScreenWithSmallGapGeometry &

      LEFT_OR_RIGHT_EQUAL_PADDINGS = 12px
      VERTICAL_SPACE_BETWEEN_MODAL_BORDER_AND_VIEWPORT_EDGE = 10px
      BORDER_RADIUS__NON_FULL_SCREEN_SIZING = 8px

      width "calc(100% - %s)" % LEFT_OR_RIGHT_EQUAL_PADDINGS
      height "calc(100% - 2*%s)" % VERTICAL_SPACE_BETWEEN_MODAL_BORDER_AND_VIEWPORT_EDGE
      border-radius BORDER_RADIUS__NON_FULL_SCREEN_SIZING


  &-Header

    display flex
    justify-content space-between
    align-items center
    column-gap 12px

    margin-top 6px


  &-Title

    MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 16px, lineHeight: 20px })

    font-weight bold
    color #123d52


  &-DismissingButton

    flex-shrink 0
