/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Arrays/arrayConstructor__POLYFILL.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Arrays/arrayConstructor__POLYFILL.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


borderRadiusSpecification = {
  all: null,
  topSideFillets: null,
  leftSideFillets: null,
}

p(borderRadiusSpecification.all borderRadiusSpecification.topSideFillets borderRadiusSpecification.leftSideFillets)

p(arrayConstructor__POLYFILL(borderRadiusSpecification.all, borderRadiusSpecification.topSideFillets, borderRadiusSpecification.leftSideFillets))


sample = ("one" 11 "ALPHA") ("two" 22 "BRAVO") ("three" 33 "CHARLIE")

p(sample)
p(keys(sample))
p(values(sample))
