/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Arrays/hasPrimitivesArraySpecifiedElement.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Arrays/hasPrimitivesArraySpecifiedElement.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


sample1 = "ALPHA" "BRAVO" "CHARLIE"

if isTrue(hasPrimitivesArraySpecifiedElement(sample1, "BRAVO")) && isFalse(hasPrimitivesArraySpecifiedElement(sample1, "DELTA"))

  p("✓ Basic functionality")

else

  error("✖ Basic functionality")


sample2 = "ALPHA"

if isTrue(hasPrimitivesArraySpecifiedElement(sample2, "ALPHA")) && isFalse(hasPrimitivesArraySpecifiedElement(sample2, "BRAVO"))

  p("✓ Single-element arrays support")

else

  error("✖ Single-element arrays support")
