/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Arrays/iterateAssociativeArray.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Arrays/iterateAssociativeArray.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


sample1 = (".Selector1" {  alpha: 1, bravo: "FOO" }) (".Selector2" {  alpha: 2, bravo: "BAR" })

iterateAssociativeArray(sample1, @(key, value) {
  p("Key: " + key);
  p("Value: " + value)
})

//for value, key in sample1
//
//  p("Key: " + key);
//  p("Value: " + value)

p("-----------------------------------------------------")

sample2 = (".Selector1" {  alpha: 1, bravo: "FOO" })

iterateAssociativeArray(sample2, @(key, value) {
  p("Key: " + key);
  p("Value: " + value)
})
