getLineHeightByFontSizeAndLineSpacing(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "getLineHeightByFontSizeAndLineSpacing",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      fontSize: {
        type: DataTypes.dimensionalAmount,
        required: true
      },
      lineSpacing: {
        type: DataTypes.dimensionalAmount,
        required: true
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  return buildCalcExpression(
    "${fontSize} + ${lineSpacing}",
    { fontSize: compoundParameter.fontSize, lineSpacing: compoundParameter.lineSpacing }
  )
