include Components.toc.pug


-

  localizedRouting.coreLibrary.$children.components.$sectioning = generatePageTableOfContents({
    markup: {
      $heading: "マークアップ",
      providing: { $heading: "APIにアクセスを確保" }
    },
    providingOfStyles: "スタイルを確保",
    themes: "テーマ",
    customization: "カストマイズ"
  });
