include Components.toc.pug


-

  localizedRouting.coreLibrary.$children.components.$sectioning = generatePageTableOfContents({
    providingOfMarkup: "Providing of Markup",
    markup: {
      $heading: "Markup",
      providing: { $heading: "Accessing to API" }
    },
    providingOfStyles: "Providing of Styles",
    themes: "Themes",
    customization: "Customization"
  });
