include Components.toc.pug


-

  localizedRouting.coreLibrary.$children.components.$sectioning = generatePageTableOfContents({
    markup: {
      $heading: "Разметка",
      providing: { $heading: "Получение доступа к API" }
    },
    providingOfStyles: { $heading: "Обеспечение стилей" },
    themes: { $heading: "Темы" },
    customization: { $heading: "Кастомизация" }
  });
