-

  const ButtonComponentPropertiesSpecification = {

    typeName: "Properties",

    propertiesSpecification: {

      ...Button__YDF.propertiesSpecification,

      HTML_Type: {
        ...Button__YDF.propertiesSpecification.HTML_Type,
        defaultValue: "Button__YDF.HTML_Types.regular"
      },

      theme: {
        ...Button__YDF.propertiesSpecification.theme,
        defaultValue: "Button__YDF.Themes.regular"
      },

      areThemesCSS_ClassesCommon: {
        ...Button__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
        defaultValue: "Button__YDF.areThemesCSS_ClassesCommon"
      },

      geometricVariation: {
        ...Button__YDF.propertiesSpecification.geometricVariation,
        defaultValue: "Button__YDF.GeometricVariations.regular"
      }

    }

  };
