-

  class ButtonGalleryOptions {

    static mustVisuallyHideTopHeading = false;

    static visuallyHideTopHeadingIf(condition) {
      ButtonGalleryOptions.mustVisuallyHideTopHeading = condition;
      return ButtonGalleryOptions;
    }


    static mustVisuallyHideAllHeadings = false;

    static visuallyHideAllHeadings() {
      ButtonGalleryOptions.mustVisuallyHideAllHeadings = true;
      ButtonGalleryOptions.mustVisuallyHideTopHeading = true;
      return ButtonGalleryOptions;
    }


    static Partials = {
      minimal: "MINIMAL",
      longLabels: "LONG_LABELS",
      prependedSVG_Icons: "PREPENDED_SVG_ICONS",
      appendedSVG_Icons: "APPENDED_SVG_ICONS",
      loneSVG_Icons: "LONE_SVG_ICONS",
      customIcons: "CUSTOM_ICONS",
      pillShapeGeometricModifier: "PILL_SHAPE_GEOMETRIC_MODIFIER",
      squareShapeGeometricModifier: "SQUARE_SHAPE_GEOMETRIC_MODIFIER",
      squareShapeUnlessOverflowedGeometricModifier: "SQUARE_SHAPE_GEOMETRIC_MODIFIER",
      singleLineGeometricModifier: "SINGLE_LINE_GEOMETRIC_MODIFIER",
      noLeftBorderAndRoundingsGeometricModifier: "NO_LEFT_BORDER_AND_ROUNDINGS_GEOMETRIC_MODIFIER",
      noRightBorderAndRoundingsGeometricModifier: "NO_RIGHT_BORDER_AND_ROUNDINGS_GEOMETRIC_MODIFIER",
      bordersDisguisingDecorativeModifier: "BORDERS_DISGUISING_DECORATIVE_MODIFIER",
      noBackgroundDecorativeModifier: "NO_BACKGROUND_DECORATIVE_MODIFIER",
      loadingPlaceholder: "LOADING_PLACEHOLDER"
    };

    static partialsRenderingFlags =
        Object.values(ButtonGalleryOptions.Partials).
        reduce(
          (objectWorkpiece, partialValue) => {
            objectWorkpiece[partialValue] = true;
            return objectWorkpiece;
          },
          {}
        );

    static renderSinglePartial(targetPartialValue) {

      for (const [ partialKey, partialValue ] of Object.entries(ButtonGalleryOptions.Partials)) {
        ButtonGalleryOptions.partialsRenderingFlags[partialValue] =
            ButtonGalleryOptions.Partials[partialKey] === targetPartialValue;
      }

      return ButtonGalleryOptions;

    }

    static get mustRenderGeometricModifiersSection() {
      return !!Object.entries(ButtonGalleryOptions.partialsRenderingFlags).
          filter(([partialKey]) => partialKey.includes("GEOMETRIC_MODIFIER")).
          find(([, mustRender]) => mustRender)
    }

    static get mustRenderDecorativeModifiersSection() {
      return !!Object.entries(ButtonGalleryOptions.partialsRenderingFlags).
          filter(([partialKey]) => partialKey.includes("DECORATIVE_MODIFIER")).
          find(([, mustRender]) => mustRender)
    }

  }
