mixin Star__Outlined--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19.05")&attributes(attributes)
    path(d="m10 4.84.89 2.74.38 1.17h4.11l-2.33 1.69-1 .73.38 1.17.89 2.74-2.33-1.69-1-.73-1 .73-2.33 1.69.89-2.74.38-1.17-1-.73L4.6 8.75h4.11l.38-1.17.89-2.74M10 0a.29.29 0 0 0-.28.2L7.5 7.05H.3c-.29 0-.41.37-.17.53l5.82 4.23-2.22 6.85a.3.3 0 0 0 .28.39c.06 0 .12-.02.17-.06L10 14.76l5.82 4.23a.3.3 0 0 0 .17.06.3.3 0 0 0 .28-.39l-2.22-6.85 5.82-4.23c.23-.17.11-.53-.17-.53h-7.2L10.28.2A.29.29 0 0 0 10 0Z")
