mixin Star__Plus__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19.05")&attributes(attributes)
    path(d="M10.03 14.78a4.98 4.98 0 0 1 6.21-4.56l3.63-2.64c.23-.17.11-.53-.17-.53h-7.2L10.28.2a.3.3 0 0 0-.56 0L7.5 7.05H.3c-.29 0-.41.37-.17.53l5.82 4.23-2.22 6.85c-.09.27.22.5.45.33L10 14.76l.03.02ZM18.4 15.13v-.63a.39.39 0 0 0-.38-.32h-1.7a.37.37 0 0 1-.27-.11.4.4 0 0 1-.11-.28v-1.74c0-.19-.13-.36-.31-.39H14.39a.4.4 0 0 0-.32.39v1.74a.4.4 0 0 1-.11.28.39.39 0 0 1-.27.11h-1.7a.39.39 0 0 0-.38.32V15.76c.03.18.19.32.38.32h1.7c.11 0 .2.04.27.11a.4.4 0 0 1 .11.28v1.58c0 .19.13.35.31.39H15.62a.4.4 0 0 0 .32-.39v-1.58a.4.4 0 0 1 .11-.28.39.39 0 0 1 .27-.11h1.7c.19 0 .35-.14.38-.32v-.63Z")
