mixin Star__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 19.05")&attributes(attributes)
    path(d="M19.7 7.05h-7.2L10.28.2a.3.3 0 0 0-.56 0L7.5 7.05H.3c-.29 0-.41.37-.17.53l5.82 4.23-2.22 6.85c-.09.27.22.5.45.33L10 14.76l5.82 4.23c.23.17.54-.06.45-.33l-2.22-6.85 5.82-4.23c.23-.17.11-.53-.17-.53Z")
