/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/06-Arrays/getLengthOfPrimitivesArray.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/06-Arrays/getLengthOfPrimitivesArray.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


sample = "ALPHA"

p(length(sample)); // => 5 (For V0.54.8)
p(getLengthOfPrimitivesArray(sample)); // => 1

sample2 = "ALPHA" "BRAVO"

p(length(sample2)); // => 2 (For V0.54.8)
p(getLengthOfPrimitivesArray(sample2)); // => 2
