provideCallableExpressionSchemeAndRelatedComponentStyles()

  .CallableExpressionScheme

    &-TechnicalNameRow,
    &-ClosingBracket

      font-family Consolas, monaco, Meiryo UI, monospace
      MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 1.2rem, lineHeight: 1.4rem })

      font-weight bold
      color ShadesOfGray__39ColorsW3C_Palette[12]


    &-LocalizedDescriptiveHeading

      Paddings({ horizontalSymmetric: 1rem })
      MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 1rem, lineHeight: 1.2rem })
      color ShadesOfGray__39ColorsW3C_Palette[20]

      margin-top 0.2rem


  //  &-GridFlow
  //
  //    display grid
  //    grid-template-columns repeat(auto-fill, minmax(280px, 1fr));
  //    gap 6px
  //
  //    EqualLeftAndRightPaddings(8px)
  //
  //    font-size 13px
  //
  //
  //    PositionalRelationship({
  //      definitions:\
  //          (".CallableExpressionScheme-FunctionNameRow" { retireFromIt: { y: 6px } })\
  //          (".CallableExpressionScheme-FunctionNameLocalizedInterpretation" { retireFromIt: { y: 8px } })
  //    })
  //
  //
  //  &-ClosingBracketRow
  //
  //    display grid
  //    grid-template-columns auto minmax(0, 1fr)
  //    align-items baseline
  //    grid-column-gap 4px
  //
  //
  //    retireFrom({ targetElementSelector: ".CallableExpressionScheme-GridFlow", y: 6px })
  //
  //
  //  &-ReturnValue
  //
  //    font-family Consolas__SmoothJapaneseSymbols--FontsStack
  //    font-weight bold
  //    color ShadeOfGray__12--W3C_Palette
  //
  //
  //  &-UsedTypesGridFlow
  //
  //    display grid
  //    grid-template-columns repeat(auto-fill, minmax(280px, 1fr));
  //    gap 6px
  //
  //    retireFrom({ targetElementSelector: ".CallableExpressionScheme-ClosingBracketRow", y: 8px })
  //
  //
  //.FunctionParameterAbstract
  //
  //  display grid
  //  grid-template-columns auto minmax(0, 1fr)
  //  grid-gap 6px 12px
  //  align-items start
  //
  //  border-width 1px
  //  border-radius 3px
  //  padding 6px 10px
  //
  //  border-style solid
  //  border-color: JQueryUI_BaseTheme.content.borders
  //  color: JQueryUI_BaseTheme.content.font
  //
  //
  //  &-HeaderRow
  //
  //    grid-column-start span 2
  //
  //    display flex
  //    align-items center
  //
  //
  //  &-Title
  //
  //    font-size 13px
  //    font-weight bold
  //    color ShadeOfGray__18--W3C_Palette
  //
  //
  //  &-RequirementBadge
  //
  //    margin-left 6px
  //
  //
  //  &-HeaderCell
  //
  //    text-align right
  //
  //    color ShadeOfGray__20--W3C_Palette
  //
  //
  //  &-LocalizedName
  //
  //    MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 17px })
  //    color ShadeOfGray__14--W3C_Palette
  //
  //
  //  &-Type
  //
  //    font-family Consolas__SmoothJapaneseSymbols--FontsStack
  //    MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 17px })
  //    font-weight bold
  //    color ImportantEntity--YDID_Color
  //
  //
  //    &-OneOfComposition
  //
  //      SQUARE_BRACKET_WIDTH = 5px
  //      HORIZONTAL_SPACE_BETWEEN_BRACKET_AND_ALTERNATIVES_FLOW = 6px
  //
  //
  //      LinearFlow({
  //        mainAxeDirection: Directions.bottom,
  //        constantSpaceBetweenItems: 4px
  //      })
  //
  //      position relative
  //
  //
  //      &:before
  //
  //        THICKNESS = 1px
  //
  //        content ""
  //        position absolute
  //        left 0
  //        top -(THICKNESS)
  //
  //        width SQUARE_BRACKET_WIDTH
  //        height 100%
  //
  //        border-top-width THICKNESS
  //        border-left-width THICKNESS
  //        border-bottom-width THICKNESS
  //        border-right-width 0
  //
  //        border-style solid
  //        border-color ShadeOfGray__16--W3C_Palette
  //
  //
  //      &-Alternative
  //
  //        margin-left SQUARE_BRACKET_WIDTH + HORIZONTAL_SPACE_BETWEEN_BRACKET_AND_ALTERNATIVES_FLOW
  //
  //
  //  &-GenericTechnicalName
  //
  //    font-family Consolas__SmoothJapaneseSymbols--FontsStack
  //    MultilineTextWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 1.1 })
