include CallableExpressionSchemeLocalization.english.pug


-

  class CallableExpressionScheme__YDF_DK {

    static localization = callableExpressionSchemeYDF_DK_ComponentLocalization__english;

  };
