CallableExpressionScheme--YDF_DK = {
  CSS_NAMESPACE: "CallableExpressionScheme--YDF_DK"
}


provideCallableExpressionYDF_DK_Component()

  .CallableExpressionScheme--YDF_DK

    &-TechnicalNameHeading

      font-family Consolas, monaco, monospace
      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 1.4rem,
        lineSpacing: 0.2rem,
        mustAllowWordsBreakingAnywhere: true
      })

      font-weight bold
      color: ShadesOfGray__39ColorsW3C_Palette[12]


    &-LocalizedDescriptiveHeading

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
        fontSize: 1.2rem,
        lineSpacing: 0.2rem,
        mustAllowWordsBreakingAnywhere: true
      })

      color: ShadesOfGray__39ColorsW3C_Palette[16]

      margin-top 0.1rem


    &-SignaturesFlow

      margin-top 16px


      >* + *

        margin-top 12px


    &-Signature

      &-Heading

        font-family "Arial Black", "Arial Bold", "Gadget", sans-serif
        applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 1.2rem, lineSpacing: 0.2rem })

        color: ShadesOfGray__39ColorsW3C_Palette[12]


      &-LocalizedDescriptiveHeading

        applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
          fontSize: 1.1rem,
          lineSpacing: 0.2rem,
          mustAllowWordsBreakingAnywhere: true
        })

        font-weight bold
        color: ShadesOfGray__39ColorsW3C_Palette[16]

        margin-top 0.1rem


    &-GenericExpressionLabel

      font-family Consolas, monaco, Meiryo UI, monospace


    &-ParametersAndReturnedValuesGroup

      display flex
      flex-wrap wrap
      align-items baseline

      retireFrom({ targetElementSelector: ".CallableExpressionScheme--YDF_DK-GenericExpressionLabel", y: 6px })


    &-Bracket

      font-family "Arial Black", "Arial Bold", "Gadget", sans-serif

      font-weight bold
      color: ShadesOfGray__39ColorsW3C_Palette[12]

      flex-shrink 0


      &__OneLine

        flex-grow 1
        flex-basis 100%


    &-GenericParameter

      &-Name

        font-family Consolas, monaco, Meiryo UI, monospace
        font-size 16px

        font-weight bold
        color: YDF_ColorPalette.red.mediumDark

        flex-shrink 0
        PositionalRelationship({
          definitions: (".CallableExpressionScheme--YDF_DK-Bracket" { retireFromIt: { x: 0.2rem }, pushItFromSelf: { x: 0.2rem } })
        })


      &-ExtendingNotation

        color: ShadesOfGray__39ColorsW3C_Palette[12]

        flex-shrink 0
        margin-left 0.5rem

        pushTargetFromSelf({ targetElementSelector: "CallableExpressionScheme--YDF_DK-GenericParameter-Name", y: 0.5rem })


      &-Comma

        color darkgoldenrod

        flex-shrink 0
        margin-left 0.5rem


    &-ParametersFlow

      display grid
      grid-template-columns repeat(auto-fill, minmax(250px, 1fr));
      gap 0.5rem

      border-left-width 2px
      padding-left 0.6rem

      border-left-style solid
      border-left-color: ShadesOfGray__39ColorsW3C_Palette[32]

      margin-top 0.4rem
      margin-left 0.2rem
      flex 1 1 100%


      >*:first-child:last-child

        grid-column 1 / -1


    &-ClosingBracket

      font-family "Arial Black", "Arial Bold", "Gadget", sans-serif

      font-weight bold
      color: ShadesOfGray__39ColorsW3C_Palette[12]

      flex-shrink 0
      retireFrom({ targetElementSelector: ".CallableExpressionScheme--YDF_DK-ParametersFlow", y: 6px })


    &-ReturnedValue

      font-family Consolas, monaco, Meiryo UI, monospace

      font-weight bold
      color darkred

      flex-shrink 0
      margin-left 4px


      /.CallableExpressionScheme--YDF_DK-ParametersFlow + .CallableExpressionScheme--YDF_DK-ClosingBracket + &

        margin-top 8px


    &-AppendixGridFlow

      display grid
      grid-template-columns repeat(auto-fill, minmax(250px, 1fr));
      gap 6px

      margin-top 0.4rem


      >*:first-child:last-child

        grid-column 1 / -1
