-

  const CallableExpressionScheme = {

    /* === Localization ============================================================================================= */
    localization: {},

    setLocalization(newLocalization) {
      this.localization = newLocalization;
    }

  }
