/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/07-OtherFunctions/computeTotalHeightByTextElementHeightSizingSpecification.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/07-OtherFunctions/computeTotalHeightByTextElementHeightSizingSpecification.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


log(computeTotalHeightByTextElementHeightSizingSpecification({
  type: TextElementHeightSizingTypes--YDF.natural,
  fontSize: 14px,
  lineHeight: 16px,
  borders: {
    top: 2px,
    bottom: 3px
  },
  paddings: { all: 4px }
}))
