/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/03-PositionalRelationship/whenTargetGoingJustAfterIt.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/03-PositionalRelationship/whenTargetGoingJustAfterIt.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Block1

  &-ChildA

    // ...


  &-ChildB

    +whenTargetGoingJustAfterIt({ targetElementSelector: ".Block-ChildA" })

      background gold


.Block2

  h2

    // ...


  p

    +whenTargetGoingJustAfterIt({ targetElementSelector: "h2", contextSelector: ".Block2", referenceElementSelector: "p" })

      background silver
