whenTargetWithSameSelectorGoingJustAfterIt(compoundParameter = {}, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "whenTargetWithSameSelectorGoingJustAfterIt",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      referenceElementSelector: {
        type: DataTypes.string,
        defaultValue: selector()
      },
      contextSelector: {
        type: DataTypes.string,
        required: false
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  referenceElementSelector = isNotNull(compoundParameter.contextSelector) ?\
      compoundParameter.contextSelector + " " + compoundParameter.referenceElementSelector :\
      compoundParameter.referenceElementSelector


  /{referenceElementSelector} + {compoundParameter.referenceElementSelector}

    {block}
