WidthSizing(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "WidthSizing",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: WidthSizingSpecificationSchema,
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  fixedWidth = compoundParameter.fixedWidth
  minimalWidth = compoundParameter.minimalWidth
  maximalWidth = compoundParameter.maximalWidth
  takeMaximumSpaceAsPossible = compoundParameter.takeMaximumSpaceAsPossible

  truncateOnOverflow = compoundParameter.truncateOnOverflow
  displayEllipsisOnOverflow = compoundParameter.displayEllipsisOnOverflow

  leftOrRightSymmetricBordersWidths = compoundParameter.leftOrRightSymmetricBordersWidths
  leftBorderWidth = compoundParameter.leftBorderWidth
  rightBorderWidth = compoundParameter.rightBorderWidth
  explicitBorderNoneDeclarationRequired = compoundParameter.explicitBorderNoneDeclarationRequired

  leftOrRightSymmetricPaddings = compoundParameter.leftOrRightSymmetricPaddings
  leftPadding = compoundParameter.leftPadding
  rightPadding = compoundParameter.rightPadding
  explicitPaddingZeroDeclarationRequired = compoundParameter.explicitPaddingZeroDeclarationRequired


  applyIfNotNull({
    width: fixedWidth,
    min-width: minimalWidth,
    max-width: maximalWidth
  })


  if isTrue(takeMaximumSpaceAsPossible)

    width 100%


  // --- Borders -------------------------------------------------------------------------------------------------------
  if isNull(leftOrRightSymmetricBordersWidths) && isNull(leftBorderWidth) &&\
      isNull(rightBorderWidth) && isTrue(explicitBorderNoneDeclarationRequired)

    border-left none
    border-right none

  else if isNotNull(leftOrRightSymmetricBordersWidths)

    border-left-width leftOrRightSymmetricBordersWidths
    border-right-width leftOrRightSymmetricBordersWidths

  else

    if isNotNull(leftBorderWidth)

      border-left-width leftBorderWidth

    else if isTrue(explicitBorderNoneDeclarationRequired)

      border-left none


    if isNotNull(rightBorderWidth)

      border-right-width rightBorderWidth

    else if isTrue(explicitBorderNoneDeclarationRequired)

      border-right none


  // --- Paddings ------------------------------------------------------------------------------------------------------
  if isNull(leftOrRightSymmetricPaddings) && isNull(leftPadding) &&\
      isNull(rightPadding) && isTrue(explicitPaddingZeroDeclarationRequired)

    padding-left 0
    padding-right 0

  else if isNotNull(leftOrRightSymmetricPaddings)

    padding-left leftOrRightSymmetricPaddings
    padding-right leftOrRightSymmetricPaddings

  else

    if isNotNull(leftPadding)

      padding-left leftPadding

    else if isTrue(explicitPaddingZeroDeclarationRequired)

      padding-left 0


    if isNotNull(rightPadding)

      padding-right rightPadding

    else if isTrue(explicitPaddingZeroDeclarationRequired)

      padding-right 0


  if isTrue(truncateOnOverflow)

    overflow hidden
    white-space nowrap


    if isTrue(displayEllipsisOnOverflow)

      text-overflow ellipsis

    else

      text-overflow clip


specifyWidthSizing(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "specifyWidthSizing",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: WidthSizingSpecificationSchema,
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })

  return {

    fixedWidth: compoundParameter.fixedWidth,
    minimalWidth: compoundParameter.minimalWidth,
    maximalWidth: compoundParameter.maximalWidth,
    takeMaximumSpaceAsPossible: compoundParameter.takeMaximumSpaceAsPossible,

    truncateOnOverflow: compoundParameter.truncateOnOverflow,
    displayEllipsisOnOverflow: compoundParameter.displayEllipsisOnOverflow,

    leftOrRightSymmetricBordersWidths: compoundParameter.leftOrRightSymmetricBordersWidths,
    leftBorderWidth: compoundParameter.leftBorderWidth,
    rightBorderWidth: compoundParameter.rightBorderWidth,
    explicitBorderNoneDeclarationRequired: compoundParameter.omitBorderNoneValue,

    leftOrRightSymmetricPaddings: compoundParameter.leftOrRightSymmetricPaddings,
    leftPadding: compoundParameter.leftPadding,
    rightPadding: compoundParameter.rightPadding,
    explicitPaddingZeroDeclarationRequired: compoundParameter.omitPaddingZeroDeclaration
  }
