-
  const compoundControlShellYDF_ComponentLocalization__english = {

    requirementBadges: {
      required: "Required",
      optional: "Optional"
    },

    sampleValidationErrorsMessages: [

      "The user name must have at least 3 characters. " +
      "Please input more characters.",

      "Inputted user name is including the following forbidden characters: \"$\", \"'\". " +
      "Please input the other user name without next characters: \"$\", \"&\", \"'\", \"\"\"."
    ],

    sampleAsynchronousValidationsStatuses: [
      {
        ID: "IN_PROGRESS",
        message: "Checking of the inputted user name for the availability ..."
      },
      {
        ID: "FINISHED_AND_VALID",
        message: "The user name is available"
      },
      {
        ID: "MALFUNCTION",
        message:
            "The malfunction has occurred during the checking of the user name for the availability. " +
            "If the internet connection has been lost, would you please to input the user name once again when the " +
                "internet connection will recover?" +
            "If the internet connection is fine, we are sorry, but it is the system failure. " +
            "Could you please to notify the customers support?"
      }
    ]

  };
