mixin SnackbarDemo(options)

  +Snackbar--YDF({
    decoration: Snackbar__YDF.DecorativeVariations.success,
    text: "Static preview works fine!"
  })

  //-
    button#DisplaySnackbarButton(
      type="button"
    ) Display snackbar
