extends ../../../PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../Components.pug
  include _BadgeDemo.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "Badge component testing";
    styleSheetsURIs = [ "./Badge.test.css" ]


block append PageContent

  //- <== [ Testing ] Comment out if need to display standard themes only ==============================================
  //-

    Badge__YDF.
        defineNewThemes([ "Cupertino" ]).
        defineNewGeometricVariations([ "Small" ]).
        defineNewDecorativeVariations([ "Glamour" ]);
  // ==> ===============================================================================================================

  .ComponentTestingPageContent

    +BadgeDemo
