extends ../../../PagesTemplates/RegularWebPage.pug


block append Requirements

  include ../../../Components.pug
  include _BadgeDemo.pug


block append Metadata

  - styleSheetsURIs = [ "./Badge.test.css" ]


block append PageContent

  .ComponentTestingPageContent

    +BadgeDemo
