include buildString.toc.pug


-

  localizedRouting.coreLibrary.$children.
      styles.$children.
      kernel.$children.
      functions.$children.
      strings.$children.
      buildString.$sectioning =

        generatePageTableOfContents(
          (() => {

            /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
            const localizedStrings = {

              interpolationMethodsComparison: {
                $heading: "文字列組み合わせ方法の比較",
                concatenation: { $heading: "ネイティブ連結" },
                sprintf: { $heading: "Sprintf （ネイティブ）" },
                buildString: { $heading: "<code>buildString</code> (YDF)" }
              }

            };

            return localizedStrings;

          })()
        );
