/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/03-Strings/buildString.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/03-Strings/buildString.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


p(buildString("Good morning, ${name}", {
  name: "Takeshi"
})) // => "Good morning, Takeshi"

p(buildString("Good morning, ${givenName} ${familyName}", {
  givenName: "Takeshi",
  familyName: "Tokugawa"
})) // => "Good morning, Takeshi Tokugawa"
