/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/03-Strings/capitalizeFirstLatinCharacter.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/03-Strings/capitalizeFirstLatinCharacter.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"

lowercaseSamples =\
  "alpha"\
  "bravo"\
  "charlie"\
  "delta"\
  "echo"\
  "foxtrot"\
  "golf"\
  "hotel"\
  "india"\
  "juliett"\
  "kilo"\
  "lima"\
  "mike"\
  "november"\
  "oscar"\
  "papa"\
  "quebec"\
  "romeo"\
  "sierra"\
  "tango"\
  "uniform"\
  "victor"\
  "whiskey"\
  "x-ray"\
  "yankee"\
  "zulu"

correspondingCapitalizedSamples =\
  "Alpha"\
  "Bravo"\
  "Charlie"\
  "Delta"\
  "Echo"\
  "Foxtrot"\
  "Golf"\
  "Hotel"\
  "India"\
  "Juliett"\
  "Kilo"\
  "Lima"\
  "Mike"\
  "November"\
  "Oscar"\
  "Papa"\
  "Quebec"\
  "Romeo"\
  "Sierra"\
  "Tango"\
  "Uniform"\
  "Victor"\
  "Whiskey"\
  "X-ray"\
  "Yankee"\
  "Zulu"


for sample, index in lowercaseSamples

  targetLatinCharacter = split("", sample)[0]

  testForEquality(
    "'" + targetLatinCharacter + "'" + " letter has been capitalized",
    capitalizeFirstLatinCharacter(sample),
    correspondingCapitalizedSamples[index]
  )
