-

  const AdmonitionBlockComponentPropertiesSpecification = {

      typeName: "Properties",

      propertiesSpecification: {

        ...AdmonitionBlock__YDF.propertiesSpecification,

        SVG_Icon: {
          ...AdmonitionBlock__YDF.propertiesSpecification.SVG_Icon,
          properties: null
        },

        theme: {
          ...AdmonitionBlock__YDF.propertiesSpecification.theme,
          defaultValue: "AdmonitionBlock__YDF.Themes.regular"
        },

        areThemesCSS_ClassesCommon: {
          ...AdmonitionBlock__YDF.propertiesSpecification.areThemesCSS_ClassesCommon,
          defaultValue: "AdmonitionBlock__YDF.areThemesCSS_ClassesCommon"
        },

        geometricVariation: {
          ...AdmonitionBlock__YDF.propertiesSpecification.geometricVariation,
          defaultValue: "AdmonitionBlock__YDF.GeometricVariations.regular"
        }

      },

      /** @param { Object<string, string> } localizedInterpretations */
      setPropertiesLocalizedInterpretations(localizedInterpretations) {
        for (const [propertyName, localizedInterpretation] of Object.entries(localizedInterpretations)) {
          this.propertiesSpecification[propertyName].localizedInterpretation = localizedInterpretation;
        }
      }

    };
