extends ../../../../../../node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "Simple form";

    styleSheetsURIs = [ "@Tests/Assemblies/ControlsGroups/Simple/Integrated/SimpleIntegratedForm" ]
    scriptsURIs.endOfBody = [ "@Tests/Assemblies/ControlsGroups/Simple/Integrated/SimpleIntegratedForm" ]


block append PageContent

  .SimpleFormPage#APPLICATION
