@require "../../../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../../../node_modules/@yamato-daiwa/frontend/Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

provideTextBoxYDF_Component()
provideCompoundControlShellYDF_Component()
provideButtonYDF_Component()


.SimpleFormPage

  display flex
  justify-content center
  align-items center

  height 100%



.SimpleForm

  min-width 280px
  max-width NARROWEST_SCREEN_WIDTH_UNIT
  width 100%


  &-Heading

    font-size 32px
    color: ShadesOfGray__39ColorsW3C_Palette[12]

    text-align center


  &-TextBox

    retireFrom({ targetElementSelector: ".SimpleForm-Heading", y: 16px })
    retireFromElementWithSameSelector({ y: 12px })


  &-Message

    applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 14px, lineSpacing: 4px })
    text-align right

    font-weight bold
    color: YDF_ColorPalette.red.mediumDark

    margin-top 16px


  &-Button

    placeToRight()

    retireFrom({
      definitions:\
          (".SimpleForm-TextBox" { y: 12px })\
          (".SimpleForm-Message" { y: 6px})
    })
