isNull(value)

  return typeof(value) == "null"


isNotNull(value)

  return typeof(value) != "null"


isString(value)

  return typeof(value) == "string"


isEmptyString(value)

  return typeof(value) == "string" && length(value) == 0


isNonEmptyString(value)

  return typeof(value) == "string" && length(value) > 0


isDimensionalOrDimensionlessAmount(value)

  return typeof(value) == "unit"


isDimensionalAmount(value)

  return typeof(value) == "unit" && isNonEmptyString(unit(value))


isDimensionlessAmount(value)

  return typeof(value) == "unit" && isEmptyString(unit(value))


isBoolean(value)

  return typeof(value) == "boolean"


isTrue(value)

  return value == true


isFalse(value)

  return value == false


isObject(value)

  return typeof(value) == "object"


isIdentifier(value)

  return typeof(value) == "ident"
