emptyStringToNull(value)

  return isEmptyString(value) ? null : value


nullToZero(value)

  return isNull(value) ? 0 : value


nullToEmptyString(value)

  return isNull(value) ? "" : value


nullToEmptyObject(value)

  return isNull(value) ? {} : value
