buildString(template, variables)

  workpiece = template

  for variableName, variableValue in variables

    // [ Theory ] Before use the 'variableValue' in 'replace' it's required to convert it to string
    workpiece = replace("\${" + variableName + "}", "" + variableValue, workpiece)

  return workpiece


capitalizeFirstCharacter(targetString)

  if length(targetString) == 0

    return targetString


  firstCharacter = substr(targetString, 0, 1)
  capitalizedFirstCharacter = ""

  if firstCharacter == "a"

    capitalizedFirstCharacter = "A"

  else if firstCharacter == "e"

    capitalizedFirstCharacter = "E"

  else if firstCharacter == "i"

    capitalizedFirstCharacter = "I"

  else if firstCharacter == "s"

    capitalizedFirstCharacter = "S"

  else if firstCharacter == "w"

    capitalizedFirstCharacter = "W"


  return capitalizedFirstCharacter + slice(targetString, 1)
