buildString(template, variables)

  workpiece = template

  for variableName, variableValue in variables

    // [ Theory ] Before use the 'variableValue' in 'replace' it's required to convert it to string
    workpiece = replace("\${" + variableName + "}", "" + variableValue, workpiece)

  return workpiece
