arrayConstructor__POLYFILL(elements...)

  accumulatingArray = elements[0]

  for element, interationNumber in elements

    if interationNumber > 0

      push(accumulatingArray, element)

  return accumulatingArray


getStringsOrNumbersArrayLength(targetArray)

  return targetArray[0] == targetArray && isNull(targetArray[1]) ? 1 : length(targetArray)


iterate2DimensionalArray(targetArray, iterator)

  areAllChildrenElementsHas1Length(_targetArray)

    allChildrenElementsHas1Length = true

    for value in _targetArray

      if getStringsOrNumbersArrayLength(value) != 1

        return false

    return true


  if areAllChildrenElementsHas1Length(targetArray)

    iterator(targetArray, 0)

  else

    for nestedArray, index in targetArray

      iterator(nestedArray, index)


iterateAssociativeArray(targetArray, iterator)

  areAllChildrenElementsHas1Length(_targetArray)

    allChildrenElementsHas1Length = true

    for value in _targetArray

      if getStringsOrNumbersArrayLength(value) != 1

        return false

    return true

  if areAllChildrenElementsHas1Length(targetArray)

    iterator(targetArray[0], targetArray[1])

  else

    for entire, index in targetArray

      iterator(entire[0], entire[1])


hasStringsOrNumbersArraySpecifiedElement(targetArray, element)

  for _element in targetArray

    if _element == element

      return true

  return false


getFirstNonNullArrayElement(targetArray)

  for element in targetArray

    if isNotNull(element)

      return element


  return targetArray[length(targetArray) - 1]
