CupertinoTheme--JQueryUI = {

  basicBorderRadius: 3px,

  headerAndToolbars: {
    background: linear-gradient(#F2F8FC, #DFEEF7),
    borderColor: #aed0ea,
    fontColor: #222222,
    iconsColor: #444444
  },

  content: {
    background: linear-gradient(#FAFBFC, #F4F6F8),
    borderColor: #dddddd,
    fontColor: #362b36,
    iconsColor: #444444
  },

  clickableElements: {

    defaultState: {
      background: linear-gradient(to bottom, #e5f2fb 0%, #e5f2fb 50%, #d8ecf9 51%, #f5fafe 100%),
      borderColor: #aed0ea,
      fontColor: #2779aa,
      iconsColor: #73A9D0
    },

    hoverState: {
      background: linear-gradient(to bottom, #eff7fd 0%, #eff7fd 50%, #e5f1fb 51%, #f5fafe 100%),
      borderColor: #74b2e2,
      fontColor: #0070a3,
      iconsColor: #73A9D0
    },

    activeState: {
      background: linear-gradient(to bottom, #62bcea 0%, #62bcea 50%, #38ace4 51%, #77c5ed 100%),
      borderColor: #2694e8,
      fontColor: #ffffff,
      iconsColor: #73A9D0
    }
  },

  error: {
    background: #cd0a0a,
    borderColor: #cd0a0a,
    fontColor: white,
    iconsColor: white
  },

  warning: {
    background: #ffef8f,
    borderColor: #f9dd34,
    fontColor: #363636,
    iconsColor: #f9dd34
  },

  // --- Extensions ----------------------------------------------------------------------------------------------------
  success: {
    background: spin(#fef1ec, 130deg),
    borderColor: spin(#cd0a0a, 130deg),
    fontColor: spin(#cd0a0a, 130deg),
    iconsColor: spin(#cc0000, 130deg)
  },

  info: {
    background: spin(#fef1ec, 180deg),
    borderColor: spin(#cd0a0a, 180deg),
    fontColor: spin(#cd0a0a, 180deg),
    iconsColor: spin(#cc0000, 180deg)
  },

  question: {
    background: spin(#fef1ec, 130deg),
    borderColor: spin(#cd0a0a, 130deg),
    fontColor: spin(#cd0a0a, 130deg),
    iconsColor: spin(#cc0000, 130deg)
  }
}
