/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/06-RestUtils/Sprite.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/06-RestUtils/Sprite.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


.Test

  Sprite({
    spritesMapURL: "Example/Path",
     width: 30px,
     height: 140px,
     positiveX_Coordinate: 5,
     positiveY_Coordinate: 10
  })
