// https=//www.w3schools.com/colors/colors_shades.asp
ShadeOfGray__0--W3C_Palette = #000000
ShadeOfGray__1--W3C_Palette = #080808
ShadeOfGray__2--W3C_Palette = #101010
ShadeOfGray__3--W3C_Palette = #181818
ShadeOfGray__4--W3C_Palette = #202020
ShadeOfGray__5--W3C_Palette = #282828
ShadeOfGray__6--W3C_Palette = #303030
ShadeOfGray__7--W3C_Palette = #383838
ShadeOfGray__8--W3C_Palette = #404040
ShadeOfGray__9--W3C_Palette = #484848
ShadeOfGray__10--W3C_Palette = #505050
ShadeOfGray__11--W3C_Palette = #585858
ShadeOfGray__12--W3C_Palette = #606060
ShadeOfGray__13--W3C_Palette = #686868
ShadeOfGray__14--W3C_Palette = #696969
ShadeOfGray__15--W3C_Palette = #707070
ShadeOfGray__16--W3C_Palette = #787878
ShadeOfGray__17--W3C_Palette = #808080
ShadeOfGray__18--W3C_Palette = #888888
ShadeOfGray__19--W3C_Palette = #909090
ShadeOfGray__20--W3C_Palette = #989898
ShadeOfGray__21--W3C_Palette = #A0A0A0
ShadeOfGray__22--W3C_Palette = #A8A8A8
ShadeOfGray__23--W3C_Palette = #A9A9A9
ShadeOfGray__24--W3C_Palette = #B0B0B0
ShadeOfGray__25--W3C_Palette = #B8B8B8
ShadeOfGray__26--W3C_Palette = #BEBEBE
ShadeOfGray__27--W3C_Palette = #C0C0C0
ShadeOfGray__28--W3C_Palette = #C8C8C8
ShadeOfGray__29--W3C_Palette = #D0D0D0
ShadeOfGray__30--W3C_Palette = #D3D3D3
ShadeOfGray__31--W3C_Palette = #D8D8D8
ShadeOfGray__32--W3C_Palette = #DCDCDC
ShadeOfGray__33--W3C_Palette = #E0E0E0
ShadeOfGray__34--W3C_Palette = #E8E8E8
ShadeOfGray__35--W3C_Palette = #F0F0F0
ShadeOfGray__36--W3C_Palette = #F5F5F5
ShadeOfGray__37--W3C_Palette = #F8F8F8
ShadeOfGray__38--W3C_Palette = #FFFFFF
