SingleImageViewer--YDF = {

  CSS_Namespace: "SingleImageViewer--YDF",

  defaultProperties: {

    positionalRelationship: {
      withTypographyElements: {
        mainPreset: {
          typographyDefinition: null,
          spacingDefinitions: {
            paragraph: { whenItJustBefore: 12px, whenItJustAfter: 16px }
          }
        }
      }
    }
  }
}


provideSingleImageViewerYDF_Component(preset = SingleImageViewer--YDF.defaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  .SingleImageViewer--YDF

    &-Image

      display block
      max-width 100%

      margin-left auto
      margin-right auto


    &-Caption

      Paddings({ horizontalSymmetric: 12px })
      MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineHeight: 1.3 })

      color: ShadesOfGray__39ColorsW3C_Palette[14]

      margin-top 8px


    &-InformationSourceReference

      margin-top 6px


    &-OperationingGuidance

      display none
      MultiLineTextElementOverflowSafetyWithoutExtraSpaceCausedByLineHeight({ fontSize: 12px, lineHeight: 1.3 })
      text-align center

      color: ShadesOfGray__39ColorsW3C_Palette[18]

      margin-top 6px


  providePositionalRelationshipWithTypographyElements({
    presets: properties.positionalRelationship.withTypographyElements,
    componentRootClass: SingleImageViewer--YDF.CSS_Namespace
  })
