SingleImageViewer--YDF = {

  CSS_NAMESPACE: "SingleImageViewer--YDF",

  defaultProperties: {

    positionalRelationship: {
      withTypographyElements: {
        mainPreset: {
          typographyDefinition: null,
          spacingDefinitions: {
            paragraph: { whenItJustBefore: 12px, whenItJustAfter: 16px }
          }
        }
      }
    }
  }
}


provideSingleImageViewerYDF_Component(preset = SingleImageViewer--YDF.defaultProperties, overridings = {})

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  .SingleImageViewer--YDF

    border 1px solid ShadesOfGray__39ColorsW3C_Palette[32]
    padding 10px


    &-SizingAndDefaultBackgroundProvidingContainer

      display block

      margin-left auto
      margin-right auto

      background aliceblue


    &-Image

      display block
      width 100%


    &-Caption

      Paddings({
        horizontalSymmetric: 8px
        top: 8px
      })

      border-top 1px solid ShadesOfGray__39ColorsW3C_Palette[32]

      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 13px, lineSpacing: 4px })

      color: ShadesOfGray__39ColorsW3C_Palette[14]

      margin-top 8px


    &-OperationingGuidance

      display none
      applyTextGeometryWithoutExtraSpaceCausedByLineHeight({ fontSize: 12px, lineSpacing: 4px })
      text-align center

      color: ShadesOfGray__39ColorsW3C_Palette[18]

      margin-top 6px
