mixin SingleImageViewer--YDF(properties)

  -
    const {
      imageURI,
      imageAlternateText
    } = properties;


  figure.SingleImageViewer--YDF&attributes(attributes)

    img.SingleImageViewer--YDF-Image(
      src= imageURI
      alt= imageAlternateText
    )

    if block
      figcaption.SingleImageViewer--YDF-Caption
        block

    .SingleImageViewer--YDF-OperationingGuidance 拡大するには画像にクリック・タップして下さい
