//- TODO Correct the relative path to "node_modules" and remove this comment
extends RELATIVE/PATH/TO/node_modules/@yamato-daiwa/frontend/PagesTemplates/RegularWebPage.pug


block append PageContent

  .${NAME}

    .${NAME}-UpperFixedContentSlot
    
      //- TODO Fill this slot with header, navigation ribbon, etc. and remove this comment
      
      block UpperFixedContentSlot


    .${NAME}-DynamicContent

      block DynamicContent
