/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/deeplyCloneAndOverrideObject.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/deeplyCloneAndOverrideObject.test.css `
    --include Styles
*/

@require "01-Assets.styl"
@require "02-Kernel.styl"


operand1 = {
  alpha: {
    bravo: "FOO",
    charlie: "BAR"
  }
}

operand2 = {
  alpha: {
    bravo: null,
    delta: "BAZ"
  },
  echo: "HOGE"
}

result = deeplyCloneAndOverrideObject(operand1, operand2)

result.alpha.bravo = "FUGA"


testForEquality(
  "'alpha.bravo' has been changed on result.",
  result.alpha.bravo,
  "FUGA"
)

testForEquality(
  "'alpha.bravo' has not changed on operand 1.",
  operand1.alpha.bravo,
  "FOO"
)
