/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/getObjectNonNullValuesCount.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/getObjectNonNullValuesCount.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


themes = {
  redmond: {}
  sunny: null
}

testForEquality(
  "Oject has totaly 2 values",
  length(values(themes)),
  2
)

testForEquality(
  "Oject has one non-null value",
  getObjectNonNullValuesCount(themes),
  1
)
