/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/getObjectValueByDotSeparatedPathSafely.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/getObjectValueByDotSeparatedPathSafely.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


sample = {
  alpha: "FOO",
  bravo: {
    charlie: "BAR"
  }
}


testForEquality(
  "Correct value for key of 1st level",
  getObjectValueByDotSeparatedPathSafely(sample, "alpha"),
  "FOO"
)

testForEquality(
  "Correct value for key of 2nd level",
  getObjectValueByDotSeparatedPathSafely(sample, "bravo.charlie"),
  "BAR"
)

testForEquality(
  "Null has been returned for non-exiting value of 1st level",
  getObjectValueByDotSeparatedPathSafely(sample, "delta"),
  null
)

testForEquality(
  "Null has been returned for non-exiting value of 2nd level herewith 1st level value is existing",
  getObjectValueByDotSeparatedPathSafely(sample, "bravo.golf"),
  null
)

testForEquality(
  "Null has been returned for non-exiting value of 2nd level herewith 1st level value is not existing too",
  getObjectValueByDotSeparatedPathSafely(sample, "hotel.echo"),
  null
)
