/* === Execution
stylus Tests/Source/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/overrideObject.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/02-Functions/05-Objects/overrideObject.test.styl.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


// In this case, "overrideObject" is equivalent to "merge"/"extend"
sample1 = {
  alpha: "FOO",
  charlie: {
    delta: "BAR"
  }
}

overridings1 = {
  alpha: null,
  bravo: "BAZ"
}

//mergingResult1 = merge(sample1, overridings1)
mergingResult1 = overrideObject(sample1, overridings1)

p(sample1)
log(sample1)

p(overridings1)
log(overridings1)

p(mergingResult1)
log(mergingResult1)


p("===================================================================================================================")
// In this case, "overrideObject" gives different result to "merge"/"extend"
sample2 = {
  alpha: {
    bravo: "FOO",
    charlie: {
      delta: "BAR",
      golf: "BAZ"
    }
  }
}

overridings2 = {
  alpha: {
    bravo: "HOGE"
  }
}


//mergingResult2 = merge(sample2, overridings2)
mergingResult2 = overrideObject(sample2, overridings2)

p(sample2)
log(sample2)

p(overridings2)
log(overridings2)

p(mergingResult2)
log(mergingResult2)
