extends ../../../../../CompletePages/Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title("Long Labels");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.longLabels).
        visuallyHideAllHeadings();
