@require "../../../../Functionality.styl"
@require "../../../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

provideTypography()

provideCompoundControlShellYDF_Component()
provideTextBoxYDF_Component()


.TextBoxComponentTestingPage

  padding 12px 16px

  Centerer({ maximalWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT })


  &-HTML_TypeShowcase

    display grid
    grid-template-columns auto minmax(0, 1fr)
    gap 6px 12px
    align-items center

    PositionalRelationship({
      definitions: (".Heading2" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })
    })


    dt

      text-align right
      font-weight bold


  &-TextBoxesVerticalFlow

    display flex
    flex-direction column
    row-gap 16px

    PositionalRelationship({
      definitions: (".Heading2" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })
    })


  &-TextBox

    PositionalRelationship({
      definitions: (".Heading2" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })
    })
