-

  const CompactTableOfContents__YDF_DK = {


    /* === Localization ============================================================================================= */
    localization: {
      buttons: {
        displayChildrenSections: { accessibilityGuidance: "Display the children sections of this section" },
        hiderChildrenSections: { accessibilityGuidance: "Hide the children sections of this section" },
      }
    },

    setLocalization(newLocalization) {
      this.localization = newLocalization;
    }

  }
