CompactTableOfContents--YDF_DK = {

  CSS_NAMESPACE: "CompactTableOfContents--YDF_DK",

  defaultProperties: {

    link: {
      normalState: {
        textColor: W3C_39_ShadesOfGray--YDF[12]
      },
      hoverState: {
        backgroundColor: W3C_39_ShadesOfGray--YDF[34]
      },
      focusState: {
        shadowColor: W3C_39_ShadesOfGray--YDF[16]
      },
      activeState: {
        backgroundColor: W3C_39_ShadesOfGray--YDF[32]
      },
      selectedState: {
        textColor: white,
        backgroundColor: W3C_39_ShadesOfGray--YDF[12]
      }
    },

    title: {
      textColor: W3C_39_ShadesOfGray--YDF[12]
    },

    collapsingToggle: {
      normalState: {
        backgroundColor: W3C_39_ShadesOfGray--YDF[24]
      },
      hoverState: {
        backgroundColor: W3C_39_ShadesOfGray--YDF[16]
      },
      focusState: {
        shadowColor: YDF_ColorPalette.amber.mediumLight
      },
      activeState: {
        backgroundColor: YDF_ColorPalette.amber.bright
      }
    }

  }

}

provideCompactTableOfContentsComponent(
  preset = CompactTableOfContents--YDF_DK.defaultProperties,
  overridings = {}
)

  properties = deeplyCloneAndOverrideObject(preset, overridings)


  .CompactTableOfContents--YDF_DK

    &-Item

      retireFromElementWithSameSelector({ y: 6px })


      &:has(.CompactTableOfContents--YDF_DK-Item-CollapsingToggle)

        display grid
        grid-template-areas "COLLAPSING_TOGGLE LINK_OR_TITLE" "CHILD_LIST CHILD_LIST"
        grid-template-columns auto minmax(0, 1fr)
        column-gap 6px

        align-items center


      &-Link

        display block

        border-radius 8px
        Paddings({
          horizontalSymmetric: 8px,
          verticalSymmetric: 4px
        })

        applyTextGeometryWithoutExtraSpaceCausedByLineHeight({
          fontSize: 14px,
          lineSpacing: 4px,
          mustAllowWordsBreakingAnywhere: true,
          mustApplyNegativeMarginsToRootElement: true
        })

        color: properties.link.normalState.textColor

        grid-area LINK_OR_TITLE


        &:hover

          background-color: properties.link.hoverState.backgroundColor


        &:focus

          box-shadow: inset 0 0 0 2px properties.link.focusState.shadowColor


        &:active

          background-color: properties.link.activeState.backgroundColor


        &__Current

          color: properties.link.selectedState.textColor
          background-color: properties.link.selectedState.backgroundColor

          pointer-events none


        code

          font-family Consolas, monaco, monospace

          font-weight bold


      &-Title

        font-weight bold
        color: properties.title.textColor


      &-CollapsingToggle

        ButtonLikeElementsPrimer()

        display inline-flex
        border-radius 50px

        grid-area COLLAPSING_TOGGLE
        align-self center

        cursor pointer


        &:focus

          box-shadow: 0 0 3px 4px properties.collapsingToggle.focusState.shadowColor


        &-Icon

          height 20px

          fill: properties.collapsingToggle.normalState.backgroundColor


          ../:hover &

            fill: properties.collapsingToggle.hoverState.backgroundColor


          ../:active &

            fill: properties.collapsingToggle.activeState.backgroundColor


      >.CompactTableOfContents--YDF_DK

        padding-left 4px

        grid-area CHILD_LIST
        margin-top 6px
