Red__Base--MaterialDesignColor = #f44336

Red__P50--MaterialDesignColor = #ffebee
Red__P100--MaterialDesignColor = #ffcdd2
Red__P200--MaterialDesignColor = #ef9a9a
Red__P300--MaterialDesignColor = #e57373
Red__P400--MaterialDesignColor = #ef5350
Red__P500--MaterialDesignColor = #f44336
Red__P600--MaterialDesignColor = #e53935
Red__P700--MaterialDesignColor = #d32f2f
Red__P800--MaterialDesignColor = #c62828
Red__P900--MaterialDesignColor = #b71c1c

Red__A100--MaterialDesignColor = #ff8a80
Red__A200--MaterialDesignColor = #ff5252
Red__A400--MaterialDesignColor = #ff1744
Red__A700--MaterialDesignColor = #d50000


Pink__Base--MaterialDesignColor = #E91E63

Pink__P50--MaterialDesignColor = #FCE4EC
Pink__P100--MaterialDesignColor = #F8BBD0
Pink__P200--MaterialDesignColor = #F48FB1
Pink__P300--MaterialDesignColor = #F06292
Pink__P400--MaterialDesignColor = #EC407A
Pink__P500--MaterialDesignColor = #E91E63
Pink__P600--MaterialDesignColor = #D81B60
Pink__P700--MaterialDesignColor = #C2185B
Pink__P800--MaterialDesignColor = #AD1457
Pink__P900--MaterialDesignColor = #880E4F

Pink-A100--MaterialDesignColor = #FF80AB
Pink-A200--MaterialDesignColor = #FF4081
Pink-A400--MaterialDesignColor = #F50057
Pink-A700--MaterialDesignColor = #C51162


Purple__Base--MaterialDesignColor = #9C27B0

Purple__P50--MaterialDesignColor = #F3E5F5
Purple__P100--MaterialDesignColor = #E1BEE7
Purple__P200--MaterialDesignColor = #CE93D8
Purple__P300--MaterialDesignColor = #BA68C8
Purple__P400--MaterialDesignColor = #AB47BC
Purple__P500--MaterialDesignColor = #9C27B0
Purple__P600--MaterialDesignColor = #8E24AA
Purple__P700--MaterialDesignColor = #7B1FA2
Purple__P800--MaterialDesignColor = #6A1B9A
Purple__P900--MaterialDesignColor = #4A148C

Purple__A100--MaterialDesignColor = #EA80FC
Purple__A200--MaterialDesignColor = #E040FB
Purple__A400--MaterialDesignColor = #D500F9
Purple__A700--MaterialDesignColor = #AA00FF


DeepPurple__Base--MaterialDesignColor = #673AB7

DeepPurple__P50--MaterialDesignColor = #EDE7F6
DeepPurple__P100--MaterialDesignColor = #D1C4E9
DeepPurple__P200--MaterialDesignColor = #B39DDB
DeepPurple__P300--MaterialDesignColor = #9575CD
DeepPurple__P400--MaterialDesignColor = #7E57C2
DeepPurple__P500--MaterialDesignColor = #673AB7
DeepPurple__P600--MaterialDesignColor = #5E35B1
DeepPurple__P700--MaterialDesignColor = #512DA8
DeepPurple__P800--MaterialDesignColor = #4527A0
DeepPurple__P900--MaterialDesignColor = #311B92

DeepPurple__A100--MaterialDesignColor = #B388FF
DeepPurple__A200--MaterialDesignColor = #7C4DFF
DeepPurple__A400--MaterialDesignColor = #651FFF
DeepPurple__A700--MaterialDesignColor = #6200EA


Indigo__Base--MaterialDesignColor = #3F51B5

Indigo__P50--MaterialDesignColor = #E8EAF6
Indigo__P100--MaterialDesignColor = #C5CAE9
Indigo__P200--MaterialDesignColor = #9FA8DA
Indigo__P300--MaterialDesignColor = #7986CB
Indigo__P400--MaterialDesignColor = #5C6BC0
Indigo__P500--MaterialDesignColor = #3F51B5
Indigo__P600--MaterialDesignColor = #3949AB
Indigo__P700--MaterialDesignColor = #303F9F
Indigo__P800--MaterialDesignColor = #283593
Indigo__P900--MaterialDesignColor = #1A237E

Indigo__A100--MaterialDesignColor = #8C9EFF
Indigo__A200--MaterialDesignColor = #536DFE
Indigo__A400--MaterialDesignColor = #3D5AFE
Indigo__A700--MaterialDesignColor = #304FFE


Blue__Base--MaterialDesignColor = #2196F3

Blue__P50--MaterialDesignColor = #E3F2FD
Blue__P100--MaterialDesignColor = #BBDEFB
Blue__P200--MaterialDesignColor = #90CAF9
Blue__P300--MaterialDesignColor = #64B5F6
Blue__P400--MaterialDesignColor = #42A5F5
Blue__P500--MaterialDesignColor = #2196F3
Blue__P600--MaterialDesignColor = #1E88E5
Blue__P700--MaterialDesignColor = #1976D2
Blue__P800--MaterialDesignColor = #1565C0
Blue__P900--MaterialDesignColor = #0D47A1

Blue__A100--MaterialDesignColor = #82B1FF
Blue__A200--MaterialDesignColor = #448AFF
Blue__A400--MaterialDesignColor = #2979FF
Blue__A700--MaterialDesignColor = #2962FF


LightBlue__Base--MaterialDesignColor = #03A9F4

LightBlue__P50--MaterialDesignColor = #E1F5FE
LightBlue__P100--MaterialDesignColor = #B3E5FC
LightBlue__P200--MaterialDesignColor = #81D4FA
LightBlue__P300--MaterialDesignColor = #4FC3F7
LightBlue__P400--MaterialDesignColor = #29B6F6
LightBlue__P500--MaterialDesignColor = #03A9F4
LightBlue__P600--MaterialDesignColor = #039BE5
LightBlue__P700--MaterialDesignColor = #0288D1
LightBlue__P800--MaterialDesignColor = #0277BD
LightBlue__P900--MaterialDesignColor = #01579B

LightBlue__A100--MaterialDesignColor = #80D8FF
LightBlue__A200--MaterialDesignColor = #40C4FF
LightBlue__A400--MaterialDesignColor = #00B0FF
LightBlue__A700--MaterialDesignColor = #0091EA


Cyan__Base--MaterialDesignColor = #00BCD4

Cyan__P50--MaterialDesignColor = #E0F7FA
Cyan__P100--MaterialDesignColor = #B2EBF2
Cyan__P200--MaterialDesignColor = #80DEEA
Cyan__P300--MaterialDesignColor = #4DD0E1
Cyan__P400--MaterialDesignColor = #26C6DA
Cyan__P500--MaterialDesignColor = #00BCD4
Cyan__P600--MaterialDesignColor = #00ACC1
Cyan__P700--MaterialDesignColor = #0097A7
Cyan__P800--MaterialDesignColor = #00838F
Cyan__P900--MaterialDesignColor = #006064

Cyan__A100--MaterialDesignColor = #84FFFF
Cyan__A200--MaterialDesignColor = #18FFFF
Cyan__A400--MaterialDesignColor = #00E5FF
Cyan__A700--MaterialDesignColor = #00B8D4


Teal__Base--MaterialDesignColor = #009688

Teal__P50--MaterialDesignColor = #E0F2F1
Teal__P100--MaterialDesignColor = #B2DFDB
Teal__P200--MaterialDesignColor = #80CBC4
Teal__P300--MaterialDesignColor = #4DB6AC
Teal__P400--MaterialDesignColor = #26A69A
Teal__P500--MaterialDesignColor = #009688
Teal__P600--MaterialDesignColor = #00897B
Teal__P700--MaterialDesignColor = #00796B
Teal__P800--MaterialDesignColor = #00695C
Teal__P900--MaterialDesignColor = #004D40

Teal__A100--MaterialDesignColor = #A7FFEB
Teal__A200--MaterialDesignColor = #64FFDA
Teal__A400--MaterialDesignColor = #1DE9B6
Teal__A700--MaterialDesignColor = #00BFA5


Green__Base--MaterialDesignColor = #4CAF50

Green__P50--MaterialDesignColor = #E8F5E9
Green__P100--MaterialDesignColor = #C8E6C9
Green__P200--MaterialDesignColor = #A5D6A7
Green__P300--MaterialDesignColor = #81C784
Green__P400--MaterialDesignColor = #66BB6A
Green__P500--MaterialDesignColor = #4CAF50
Green__P600--MaterialDesignColor = #43A047
Green__P700--MaterialDesignColor = #388E3C
Green__P800--MaterialDesignColor = #2E7D32
Green__P900--MaterialDesignColor = #1B5E20

Green__A100--MaterialDesignColor = #B9F6CA
Green__A200--MaterialDesignColor = #69F0AE
Green__A400--MaterialDesignColor = #00E676
Green__A700--MaterialDesignColor = #00C853


LightGreen__Base--MaterialDesignColor = #8BC34A

LightGreen__P50--MaterialDesignColor = #F1F8E9
LightGreen__P100--MaterialDesignColor = #DCEDC8
LightGreen__P200--MaterialDesignColor = #C5E1A5
LightGreen__P300--MaterialDesignColor = #AED581
LightGreen__P400--MaterialDesignColor = #9CCC65
LightGreen__P500--MaterialDesignColor = #8BC34A
LightGreen__P600--MaterialDesignColor = #7CB342
LightGreen__P700--MaterialDesignColor = #689F38
LightGreen__P800--MaterialDesignColor = #558B2F
LightGreen__P900--MaterialDesignColor = #33691E

LightGreen__A100--MaterialDesignColor = #CCFF90
LightGreen__A200--MaterialDesignColor = #B2FF59
LightGreen__A400--MaterialDesignColor = #76FF03
LightGreen__A700--MaterialDesignColor = #64DD17


Lime-Base--MaterialDesignColor = #CDDC39

Lime__P50--MaterialDesignColor = #F9FBE7
Lime__P100--MaterialDesignColor = #F0F4C3
Lime__P200--MaterialDesignColor = #E6EE9C
Lime__P300--MaterialDesignColor = #DCE775
Lime__P400--MaterialDesignColor = #D4E157
Lime__P500--MaterialDesignColor = #CDDC39
Lime__P600--MaterialDesignColor = #C0CA33
Lime__P700--MaterialDesignColor = #AFB42B
Lime__P800--MaterialDesignColor = #9E9D24
Lime__P900--MaterialDesignColor = #827717

Lime__A100--MaterialDesignColor = #F4FF81
Lime__A200--MaterialDesignColor = #EEFF41
Lime__A400--MaterialDesignColor = #C6FF00
Lime__A700--MaterialDesignColor = #AEEA00


Yellow__Base--MaterialDesignColor = #FFEB3B

Yellow__P50--MaterialDesignColor = #FFFDE7
Yellow__P100--MaterialDesignColor = #FFF9C4
Yellow__P200--MaterialDesignColor = #FFF59D
Yellow__P300--MaterialDesignColor = #FFF176
Yellow__P400--MaterialDesignColor = #FFEE58
Yellow__P500--MaterialDesignColor = #FFEB3B
Yellow__P600--MaterialDesignColor = #FDD835
Yellow__P700--MaterialDesignColor = #FBC02D
Yellow__P800--MaterialDesignColor = #F9A825
Yellow__P900--MaterialDesignColor = #F57F17

Yellow__A100--MaterialDesignColor = #FFFF8D
Yellow__A200--MaterialDesignColor = #FFFF00
Yellow__A400--MaterialDesignColor = #FFEA00
Yellow__A700--MaterialDesignColor = #FFD600


Amber-Base--MaterialDesignColor = #FFC107

Amber__P50--MaterialDesignColor = #FFF8E1
Amber__P100--MaterialDesignColor = #FFECB3
Amber__P200--MaterialDesignColor = #FFE082
Amber__P300--MaterialDesignColor = #FFD54F
Amber__P400--MaterialDesignColor = #FFCA28
Amber__P500--MaterialDesignColor = #FFC107
Amber__P600--MaterialDesignColor = #FFB300
Amber__P700--MaterialDesignColor = #FFA000
Amber__P800--MaterialDesignColor = #FF8F00
Amber__P900--MaterialDesignColor = #FF6F00

Amber__A100--MaterialDesignColor = #FFE57F
Amber__A200--MaterialDesignColor = #FFD740
Amber__A400--MaterialDesignColor = #FFC400
Amber__A700--MaterialDesignColor = #FFAB00


Orange__Base--MaterialDesignColor = #FF9800

Orange__P50--MaterialDesignColor = #FFF3E0
Orange__P100--MaterialDesignColor = #FFE0B2
Orange__P200--MaterialDesignColor = #FFCC80
Orange__P300--MaterialDesignColor = #FFB74D
Orange__P400--MaterialDesignColor = #FFA726
Orange__P500--MaterialDesignColor = #FF9800
Orange__P600--MaterialDesignColor = #FB8C00
Orange__P700--MaterialDesignColor = #F57C00
Orange__P800--MaterialDesignColor = #EF6C00
Orange__P900--MaterialDesignColor = #E65100

Orange__A100--MaterialDesignColor = #FFD180
Orange__A200--MaterialDesignColor = #FFAB40
Orange__A400--MaterialDesignColor = #FF9100
Orange__A700--MaterialDesignColor = #FF6D00


DeepOrange__Base--MaterialDesignColor = #FF5722

DeepOrange__P50--MaterialDesignColor = #FBE9E7
DeepOrange__P100--MaterialDesignColor = #FFCCBC
DeepOrange__P200--MaterialDesignColor = #FFAB91
DeepOrange__P300--MaterialDesignColor = #FF8A65
DeepOrange__P400--MaterialDesignColor = #FF7043
DeepOrange__P500--MaterialDesignColor = #FF5722
DeepOrange__P600--MaterialDesignColor = #F4511E
DeepOrange__P700--MaterialDesignColor = #E64A19
DeepOrange__P800--MaterialDesignColor = #D84315
DeepOrange__P900--MaterialDesignColor = #BF360C

DeepOrange__A100--MaterialDesignColor = #FF9E80
DeepOrange__A200--MaterialDesignColor = #FF6E40
DeepOrange__A400--MaterialDesignColor = #FF3D00
DeepOrange__A700--MaterialDesignColor = #DD2C00


Brown__Base--MaterialDesignColor = #795548

Brown__P50--MaterialDesignColor = #EFEBE9
Brown__P100--MaterialDesignColor = #D7CCC8
Brown__P200--MaterialDesignColor = #BCAAA4
Brown__P300--MaterialDesignColor = #A1887F
Brown__P400--MaterialDesignColor = #8D6E63
Brown__P500--MaterialDesignColor = #795548
Brown__P600--MaterialDesignColor = #6D4C41
Brown__P700--MaterialDesignColor = #5D4037
Brown__P800--MaterialDesignColor = #4E342E
Brown__P900--MaterialDesignColor = #3E2723


Grey__Base--MaterialDesignColor = #9E9E9E

Grey__P50--MaterialDesignColor = #FAFAFA
Grey__P100--MaterialDesignColor = #F5F5F5
Grey__P200--MaterialDesignColor = #EEEEEE
Grey__P300--MaterialDesignColor = #E0E0E0
Grey__P400--MaterialDesignColor = #BDBDBD
Grey__P500--MaterialDesignColor = #9E9E9E
Grey__P600--MaterialDesignColor = #757575
Grey__P700--MaterialDesignColor = #616161
Grey__P800--MaterialDesignColor = #424242
Grey__P900--MaterialDesignColor = #212121


BlueGrey__Base--MaterialDesignColor = #607D8B

BlueGrey__P50--MaterialDesignColor = #ECEFF1
BlueGrey__P100--MaterialDesignColor = #CFD8DC
BlueGrey__P200--MaterialDesignColor = #B0BEC5
BlueGrey__P300--MaterialDesignColor = #90A4AE
BlueGrey__P400--MaterialDesignColor = #78909C
BlueGrey__P500--MaterialDesignColor = #607D8B
BlueGrey__P600--MaterialDesignColor = #546E7A
BlueGrey__P700--MaterialDesignColor = #455A64
BlueGrey__P800--MaterialDesignColor = #37474F
BlueGrey__P900--MaterialDesignColor = #263238
