/* === Execution
stylus Tests/05-Typography/Typography.test.styl `
    --out Tests/Build/05-Typography/Typography.test.css `
    --include Styles
*/


@require "../../Styles/01-Assets.styl"
@require "../../Styles/02-Kernel.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideTypography(overridings: { prefix: "TypographyTesting" })

//provideWordWithFuriganaComponent()

//provideImprovedListComponent()


.Layout

  display flex
  flex-direction column
  row-gap 24px

  min-width NARROWEST_SCREEN_WIDTH_UNIT
  max-width 3*NARROWEST_SCREEN_WIDTH_UNIT

  border 2px solid cornflowerblue
  padding 6px 8px 12px

  margin-left auto
  margin-right auto


.Showcase

  border 1px solid TemporaryHighlighting.orange.o75
  padding 2px 4px 6px


  &-Subsection

    border 1px solid TemporaryHighlighting.orange.o75
    padding 4px 4px 6px

    retireFromElementWithSameSelector({ y: 12px })
