/* === Execution
stylus Tests/05-Typography/Typography.test.styl `
    --out Tests/Build/05-Typography/Typography.test.css `
    --include Styles
*/


@require "../../Styles/01-Assets.styl"
@require "../../Styles/02-Kernel.styl"
@require "../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideTypography(overridings: { CSS_NamespacePrefix: "TypographyTesting" })

//provideWordWithFuriganaComponent()

provideImprovedListYDF_Component()


.TypographyTesting

  display flex
  flex-direction column
  row-gap 24px

  Centerer({ minimalWidth: NARROWEST_SCREEN_WIDTH_UNIT, maximalWidth: 3*NARROWEST_SCREEN_WIDTH_UNIT })

  padding 12px 16px



  &-Frame
    border 2px solid cornflowerblue
    padding 6px 8px 12px


.Showcase

  border 1px solid TemporaryHighlighting.orange.o75
  padding 2px 4px 6px


  &-Subsection

    border 1px solid TemporaryHighlighting.orange.o75
    padding 4px 4px 6px

    retireFromElementWithSameSelector({ y: 12px })
