CompoundControlShell.TextBox--YDF(

  :label="label"
  :guidance="guidance"
  :required="required"
  :mustDisplayAppropriateBadgeIfInputIsRequired="mustDisplayAppropriateBadgeIfInputIsRequired"
  :mustDisplayAppropriateBadgeIfInputIsOptional="mustDisplayAppropriateBadgeIfInputIsOptional"
  :coreElementHTML_ID="inputOrTextareaElementHTML_ID"
  :labelElementHTML_ID="labelElementHTML_ID"

  :invalidInputHighlightingIfAnyValidationErrorsMessages="invalidInputHighlightingIfAnyValidationErrorsMessages"
  :validValueHighlightingIfNoValidationErrorsMessages="validInputHighlightingIfAnyErrorsMessages"

  :validationErrorsMessages="validatablePayload.validationErrorsMessages"
  :class="rootElementModifiersCSS_Classes"

  :theme="compoundControlShellTheme"
  :areThemesExternal="areThemesExternal"
  :geometry="compoundControlShellGeometricVariation"
  :decoration="compoundControlShellDecorativeVariation"

)

  textarea.TextBox--YDF-InputOrTextAreaElement(
    v-if="multiline"
    v-model="rawInput"
    :placeholder="placeholder"
    :readonly="readonly"
    :disabled="disabled"
    :required="required"
    :minlength="minimalCharactersCount"
    :maxlength="maximalCharactersCount"
    :id="inputOrTextareaElementHTML_ID"
    :aria-label="accessibilityGuidance"
    :aria-labelledby="externalLabelHTML_ID"
    @input="$event => { onInput($event.target.value) }"
    @blur="$event => { onBlur($event.target.value) } "
    @keydown="$event => { onKeyDown($event.target.value) } "
    :ref="INPUT_OR_TEXT_AREA_ELEMENT_VUE_REFERENCE_ID"
  )

  //- [ Bundler bug ] The `v-else` is being compiled to `v-else="v-else"`
  input.TextBox--YDF-InputOrTextAreaElement(
    v-else-if="!multiline"
    :type="HTML_Type"
    v-model="rawInput"
    :placeholder="placeholder"
    :readonly="readonly"
    :disabled="disabled"
    :required="required"
    :minlength="minimalCharactersCount"
    :maxlength="maximalCharactersCount"
    :min="minimalNumericValue"
    :max="maximalNumericValue"
    :id="inputOrTextareaElementHTML_ID"
    :aria-label="accessibilityGuidance"
    :aria-labelledby="externalLabelHTML_ID"
    @input="$event => { onInput($event.target.value) }"
    @blur="$event => { onBlur($event.target.value) } "
    @keydown="$event => { onKeyDown($event.target.value) } "
    :ref="INPUT_OR_TEXT_AREA_ELEMENT_VUE_REFERENCE_ID"
  )
