CompoundControlShell.TextBox(
  :label="label"
  :guidance="guidance"
  :required="required"
  :displayAppropriateBadgeIfInputIsRequired="displayAppropriateBadgeIfInputIsRequired"
  :displayAppropriateBadgeIfInputIsOptional="displayAppropriateBadgeIfInputIsOptional"
  :mustActivateAppropriateHighlightIfAnyErrorsMessages="mustActivateAppropriateHighlightIfAnyErrorsMessages"
  :errorsMessages="validatablePayload.validationErrorsMessages"
  :class="rootElementModifiersCSS_Classes"
  :coreElementHTML_ID="inputOrTextareaElementHTML_ID"
)

  input.TextBox-InputOrTextareaElement(
    :type="HTML_Type"
    v-model="rawInput"
    :required="required"
    :aria-labelledby="externalLabelHTML_ID"
    :aria-label="ARIA_Label"
    :placeholder="placeholder"
    @input="$event => { onInput($event.target.value); }"
    @blur="$event => { onBlur($event.target.value); } "
    @keydown="onKeyDown"
    :readonly="readonly"
    :disabled="disabled"
    :minlength="minimalCharactersCount"
    :maxlength="maximalCharactersCount"
    :min="minimalNumericValue"
    :max="maximalNumericValue"
    :ref="INPUT_ELEMENT_OR_AUTORESIZABLE_TEXTAREA_COMPONENT_VUE_REFERENCE_ID"
    :id="inputOrTextareaElementHTML_ID"
  )
