applyIfNotZero(keyAndValuePairs)

  if isObject(keyAndValuePairs)

    for key, value in keyAndValuePairs

      if value != 0

        if typeof(value) == "string"

          {key}: unquote(value)

        else

          {key}: value
