extends ../../PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  - HTML_PAGE_TITLE = "@yamato-daiwa/frontend testing"


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  +PageLink__ImplementationInProgress(
    "./Styles/02-Kernel/03-Mixins/02-HeightSizing/textBoxLikeElementsHeightSizing.test.html"
  ) textBoxLikeElementsHeightSizing


  h2.AnywherePage-PagesGroupHeading Typography

  +PageLink__ImplementationInProgress("./Styles/02-Kernel/05-Typography/Typography.test.html") Typography

  h2.AnywherePage-PagesGroupHeading Components

  h3.AnywherePage-PagesSubgroupHeading Documentation

  +PagesLinksGroup__ImplementationInProgress({
    label: "CodeViewer",
    linksData: [
      { label: "Testing", URI: "./Components/Documentation/CodeViewer/CodeViewer.test.html" },
      { label: "Development", URI: "./Components/Documentation/CodeViewer/CodeViewer.development.html" }
    ]
  })


  h3.AnywherePage-PagesSubgroupHeading Other

  +PageLink__ImplementationInProgress(
    "./Components/OverflowSafeSingleLineLabel/OverflowSafeSingleLineLabel.test.html"
  ) OverflowSafeSingleLineLabel
