extends ../../PagesTemplates/StaticPreviewAnywherePageTemplate.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: "Tests"
      }
    });


block append TableOfContents

  h1.AnywherePage-TopHeading Tests

  +PageLink({
    label: "Typography",
    URI: "./05-Typography/Typography.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })


  h2.AnywherePage-PagesGroupHeading Components

  +PageLink({
    label: "ConfirmationModalDialog",
    URI: "./GUI_Components/Controls/ModalDialogs/Confirmation/ConfirmationModalDialog.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "DateTimePicker",
    URI: "@StylesAndComponentsTesting/GUI_Components/Controls/DateTimePicker/DateTimePicker.workbench",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "ImagesCropper",
    URI: "./GUI_Components/Controls/ImagesCropper/ImagesCropper.workbench.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "NumberBox",
    URI: "@StylesAndComponentsTesting/GUI_Components/Controls/NumberBox/NumberBox.test",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "Pagination",
    URI: "./GUI_Components/Controls/Pagination/Pagination.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "RadioButtonsGroup",
    URI: "@StylesAndComponentsTesting/GUI_Components/Controls/RadioButtonsGroup/RadioButtonsGroup.test",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "Snackbar",
    URI: "Components/Snackbar/Snackbar.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
