provideClosingButtonYDF_Component()

  .ClosingButton--YDF

    ButtonLikeElementsPrimer()

    display flex
    flex-direction column
    align-items center

    Paddings({
      horizontalSymmetric: 8px,
      verticalSymmetric: 6px
    })

    cursor pointer


    &__RegularDecoration

      &:focus

        outline outline 3px solid #007fff


    &__LightForegroundDecoration

      &:focus

        outline: outline 3px solid YDF_ColorPalette.amber.mediumDark


    &-Icon

      height 24px
      flex-shrink 0


      /.ClosingButton--YDF__RegularDecoration &

        fill: JQueryUI_BaseTheme.clickableElements.defaultState.iconsColor


      /.ClosingButton--YDF__LightForegroundDecoration &

        fill white


      /.ClosingButton--YDF__LightForegroundDecoration:hover &

        opacity 0.8


      /.ClosingButton--YDF__LightForegroundDecoration:active &

        opacity 0.5


    &-Label

      font-size 12px
      font-weight bold
      user-select none

      flex-shrink 0
      margin-top 4px


      /.ClosingButton--YDF__RegularDecoration &

        color: JQueryUI_BaseTheme.clickableElements.defaultState.fontColor


      /.ClosingButton--YDF__LightForegroundDecoration &

        color: white


      /.ClosingButton--YDF__LightForegroundDecoration:hover &

        opacity 0.8


      /.ClosingButton--YDF__LightForegroundDecoration:active &

        opacity 0.5
