extends ../../../PagesTemplates/RegularWebPage.pug


block append Metadata

  -
    HTML_PAGE_TITLE = "AttentionBox component testing"
    HTML_PAGE_LANGUAGE = "ja"


block append Requirements

  include ../../../Components.pug


block append PageContent

  .AttentionBoxesShowcasesFlow

    .AttentionBoxesShowcase

      .AttentionBoxesShowcase-Heading 一般利用

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.importantInfo
      }) 其れは大切！考慮ししないといけない。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.secondaryInfo
      }) 知っておくべき。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice
      }) ~~~~

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.error
      }) 不具合発生！

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.warning
      }) 操作を続けても良いが、注意点が有る。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.success
      }) サインイン成功。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance
      }) 操作を続けても良いが、注意点が有る。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.question
      }) 2+2はいくら？


    .AttentionBoxesShowcase

      .AttentionBoxesShowcase-Heading 規定アイコン付き

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.importantInfo,
        hasPrependedSVG_Icon: true
      }) 其れは大切！考慮ししないといけない。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.secondaryInfo,
        hasPrependedSVG_Icon: true
      }) 知っておくべき。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice,
        hasPrependedSVG_Icon: true
      }) ~~~~

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.error,
        hasPrependedSVG_Icon: true
      }) 不具合発生！

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.warning,
        hasPrependedSVG_Icon: true
      }) 操作を続けても良いが、注意点が有る。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.success,
        hasPrependedSVG_Icon: true
      }) サインイン成功。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }) 操作を続けても良いが、注意点が有る。


    .AttentionBoxesShowcase

      .AttentionBoxesShowcase-Heading 閉じるボタン有り

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.importantInfo,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) 其れは大切！考慮ししないといけない。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.secondaryInfo,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) 知っておくべき。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) ~~~~

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.error,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) 不具合発生！

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.warning,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) 操作を続けても良いが、注意点が有る。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.success,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) サインイン成功。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true,
        hasDismissButton: true
      }) 操作を続けても良いが、注意点が有る。


    .AttentionBoxesShowcase

      .AttentionBoxesShowcase-Heading タイポグラフィ要素：配色

      mixin DummyContent
        .AttentionBox-Heading 見出し
        .AttentionBox-Subheading も一つ見出し
        p.AttentionBox-Paragraph.
          これも#[+DefinableTerm--YDID 前も]し同じ#[+Term--YDID 把持学]というの#[+Term__Contrast--YDID の限りでな]らましで。
          おおか#[+Keyphrase--YDID たほか]に誤解ど#[+Keyword--YDID もはたし]かその#[+Keyword__Contrast--YDID 払底]べきませでもとしかるています
          #[+ImportantEntity--YDID をは換言]いうでして、#[+SecondaryEntity--YDID そうにはな]っなますべきまし。
          尻を思わあるのもざっと前によくたでで。
        p.AttentionBox-Paragraph.
          ようやく大森君から紹介自信そう安心をしまし毛抜その大名だれか意味にというお使用ならうでしょざるが、この時間もあれか壇部分に認めば、
          久原さんの事を名の誰がようやくお観念としば私がたに実馳走をしようにけっしてご増減を上るでうが、同時にどうも講演からしますとなりましものを立っあっで。
          #[a.Link(href="#" target="_blank" rel="nofollow") リンク]

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.importantInfo,
        hasPrependedSVG_Icon: true
      }): +DummyContent

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.secondaryInfo,
        hasPrependedSVG_Icon: true
      }): +DummyContent

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice,
        hasPrependedSVG_Icon: true
      }): +DummyContent

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.error,
        hasPrependedSVG_Icon: true
      }): +DummyContent

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.warning,
        hasPrependedSVG_Icon: true
      }): +DummyContent

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.success,
        hasPrependedSVG_Icon: true
      }): +DummyContent

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.guidance,
        hasPrependedSVG_Icon: true
      }): +DummyContent


    .Showcase

      .Showcase-Heading タイポグラフィ要素：相対配置

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice,
        hasPrependedSVG_Icon: true
      })
        .AttentionBox-Heading 見出し
        .AttentionBox-Subheading も一つ見出し
        p.AttentionBox-Paragraph.
          これも#[+DefinableTerm--YDID 前も]し同じ#[+Term--YDID 把持学]というの#[+Term__Contrast--YDID の限りでな]らましで。
          おおかたほかに誤解どもはたしかその払底べきませでもとしかるていますをは換言いうでして、そうにはなっなますべきまし。
          尻を思わあるのもざっと前によくたでで。
        p.AttentionBox-Paragraph.
          ようやく大森君から紹介自信そう安心をしまし毛抜その大名だれか意味にというお使用ならうでしょざるが、この時間もあれか壇部分に認めば、
          久原さんの事を名の誰がようやくお観念としば私がたに実馳走をしようにけっしてご増減を上るでうが、同時にどうも講演からしますとなりましものを立っあっで。
        hr.AttentionBox-Divider
        .AttentionBox-Subheading も一つ見出し
        p.AttentionBox-Paragraph.
          これも前もし同じ把持学というのの限りでならましで。おおかたほかに誤解どもはたしかその払底べきませでもとしかるていますをは換言いうでして、そうにはなっなますべきまし。
          尻を思わあるのもざっと前によくたでで。#[a.Link(href="#" target="_blank" rel="nofollow") リンク]

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice,
        hasPrependedSVG_Icon: true
      })
        .AttentionBox-Heading 見出し
        p.AttentionBox-Paragraph.
          これも#[+DefinableTerm--YDID 前も]し同じ#[+Term--YDID 把持学]というの#[+Term__Contrast--YDID の限りでな]らましで。
          おおかたほかに誤解どもはたしかその払底べきませでもとしかるていますをは換言いうでして、そうにはなっなますべきまし。
          尻を思わあるのもざっと前によくたでで。
        p.AttentionBox-Paragraph.
          ようやく大森君から紹介自信そう安心をしまし毛抜その大名だれか意味にというお使用ならうでしょざるが、この時間もあれか壇部分に認めば、
          久原さんの事を名の誰がようやくお観念としば私がたに実馳走をしようにけっしてご増減を上るでうが、同時にどうも講演からしますとなりましものを立っあっで。

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.notice,
        hasPrependedSVG_Icon: true
      })
        .AttentionBox-Heading 見出し
        .AttentionBox-Subheading も一つ見出し
        p.AttentionBox-Paragraph.
          ようやく大森君から紹介自信そう安心をしまし毛抜その大名だれか意味にというお使用ならうでしょざるが、この時間もあれか壇部分に認めば、
          久原さんの事を名の誰がようやくお観念としば私がたに実馳走をしようにけっしてご増減を上るでうが、同時にどうも講演からしますとなりましものを立っあっで。
        hr.AttentionBox-Divider
        .AttentionBox-Subheading も一つ見出し
        p.AttentionBox-Paragraph.
          これも前もし同じ把持学というのの限りでならましで。おおかたほかに誤解どもはたしかその払底べきませでもとしかるていますをは換言いうでして、そうにはなっなますべきまし。
          尻を思わあるのもざっと前によくたでで。#[a.Link(href="#" target="_blank" rel="nofollow") リンク]

      +AttentionBox--YDF({
        decoration: AttentionBox__YDF.DecorativeVariations.question,
        hasPrependedSVG_Icon: true
      })
        p.AttentionBox-Paragraph.
          ようやく大森君から紹介自信そう安心をしまし毛抜その大名だれか意味にというお使用ならうでしょざるが、この時間もあれか壇部分に認めば、
          久原さんの事を名の誰がようやくお観念としば私がたに実馳走をしようにけっしてご増減を上るでうが、同時にどうも講演からしますとなりましものを立っあっで。
        hr.AttentionBox-Divider
        p.AttentionBox-Paragraph.
          これも前もし同じ把持学というのの限りでならましで。おおかたほかに誤解どもはたしかその払底べきませでもとしかるていますをは換言いうでして、そうにはなっなますべきまし。
          尻を思わあるのもざっと前によくたでで。#[a.Link(href="#" target="_blank" rel="nofollow") リンク]
        .AttentionBox-Subheading も一つ見出し
        p.AttentionBox-Paragraph.
          これも前もし同じ把持学というのの限りでならましで。おおかたほかに誤解どもはたしかその払底べきませでもとしかるていますをは換言いうでして、そうにはなっなますべきまし。
          尻を思わあるのもざっと前によくたでで。#[a.Link(href="#" target="_blank" rel="nofollow") リンク]

