/* === Independent execution
stylus Tests/Components/AttentionBox/AttentionBox.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/AttentionBox/AttentionBox.test.css `
    --include Styles
*/


@require "../../../Functionality.styl"
@require "../../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()

provideTypography()

provideAttentionBoxYDF_Component()


.AttentionBoxComponentTesting

  padding 12px 16px

  Centerer({ maximalWidth: 2*NARROWEST_SCREEN_WIDTH_UNIT })


  &-AttentionBoxesFlow

    PositionalRelationship({
      definitions:\
          (".Heading2" { retireFromIt: { y: 8px }, pushItFromSelf: { y: 16px } })\
          (".Heading3" { retireFromIt: { y: 8px } })
    })


    >* + *

      margin-top 6px
