@require "../../../Functionality.styl"
@require "../../../Components.styl"


CrossBrowserStylesReset()
InitialGlobalCSS_Rules()


provideAttentionBoxComponent--YDF()


.AttentionBoxesShowcasesFlow

  display flex
  flex-direction column
  row-gap 32px

  Centerer()
  padding 12px 16px


.AttentionBoxesShowcase

  display flex
  flex-direction column
  row-gap 12px


  &-Heading

    Heading2--YDF()
