mixin ExclamationMarkIcon__Triangled__Outlined
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17.35")&attributes(attributes)
    path(d="M10 3l7.4 12.82H2.6L10 3m0-3L0 17.32h20L10 0z")
    path(d="M8.87 12.79h2.26v2.26H8.87zM8.87 6.85h2.26v4.19H8.87z")
