mixin ExclamationMarkIcon__Rectangled__Filled
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M0 0v20h20V0zm11.09 15.58H8.83v-2.26h2.26zm.08-4.51H8.83V4.42h2.34z")
