mixin ExclamationMarkIcon__Octagoned__Filled
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M14.14 0H5.86L0 5.86v8.28L5.86 20h8.28L20 14.14V5.86zm-3.05 15.58H8.83v-2.26h2.26zm.08-4.51H8.83V4.42h2.34z")
