include Components/Controls/Buttons/ClosingButtonLocalization.japanese.pug
include Components/Controls/Buttons/HamburgerMenuButtonLocalization.japanese.pug
include Components/Controls/CompoundControlShellLocalization.japanese.pug
include Components/Controls/FilesUploaderLocalization.japanese.pug
include Components/Controls/SnackbarLocalization.japanese.pug

include Components/Viewers/CodeViewerLocalization.japanese.pug
include Components/Viewers/SingleImageViewerLocalization.japanese.pug

include Components/Typography/QuestionAndAnswerBoxLocalization.japanese.pug

include Components/AttentionBoxLocalization.japanese.pug
