include Components/AttentionBoxLocalization.japanese.pug
include Components/CodeViewerLocalization.japanese.pug
include Components/CompoundControlShellLocalization.japanese.pug
include Components/FilesUploaderLocalization.japanese.pug
include Components/HamburgerMenuButtonLocalization.japanese.pug
include Components/QuestionAndAnswerBoxLocalization.japanese.pug
include Components/SingleImageViewerLocalization.japanese.pug
