-
  const StaticPreviewAnywherePageLocalization__Japanese = {
    progressStatusBadgesText: {
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting]: "実装待機",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress]: "実装中",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting]: "改良待機",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress]: "改良中",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting]: "修正待機",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingInProgress]: "修正中",

      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.specificationClarification]: "仕様確認中",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.reviewWaiting]: "校閲待機",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.customerEvaluationWaiting]: "評価中",
      [StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted]: "承諾済み"
    }
  }
