-
  const staticPreviewAnywherePageLocalization__japanese = {
    progressStatusBadgesText: {

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationWaiting]: "実装待機",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.implementationInProgress]: "実装中",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.improvementWaiting]: "改良待機",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.improvementInProgress]: "改良中",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.fixingWaiting]: "修正待機",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.fixingInProgress]: "修正中",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.specificationClarification]: "仕様確認中",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.reviewWaiting]: "校閲待機",
      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.customerEvaluationWaiting]: "評価中",

      [StaticPreviewAnywherePage__YDF.PageDevelopmentProgressStatuses.accepted]: "承諾済み"

    }
  }
