
// === Execution
// stylus Tests/Styles/02-Kernel/03-Mixins/01-Sizing/01-WidthSizing/TableCellWidthSizing.test.styl --out Tests/Output/Styles/02-Kernel/03-Mixins/01-Sizing/01-WidthSizing/TableCellWidthSizing.test.css --include Styles

@require "../../../../../../../../Functionality.styl"


.TableCell1

  TableCellWidthSizing({
    fixedTotalWidth: 220px,
    leftBorderWidth: 1px,
    leftPadding: 6px,
    rightPadding: 8px,
    rightBorderWidth: 2px
  })


.TableCell2-1

  TableCellWidthSizing({
    fixedContentWidth: 120px,
    leftBorderWidth: 1px,
    leftPadding: 6px,
    rightPadding: 8px,
    rightBorderWidth: 2px
  })


.TableCell2-2

  TableCellWidthSizing({
    fixedContentWidth: 10ch,
    leftBorderWidth: 1px,
    leftPadding: 0.75rem,
    rightPadding: 0.45rem,
    rightBorderWidth: 2px
  })


.TableCell3

  TableCellWidthSizing({
    contentMinimalWidth: 120px,
    contentMaximalWidth: 140px,
    leftBorderWidth: 1px,
    leftPadding: 6px,
    rightPadding: 8px,
    rightBorderWidth: 2px
  })
