extends ../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  - HTML_PAGE_TITLE = "Tests";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  +PageLink({
    label: "CallableExpressionScheme",
    URI: "@Tests/Infographics/CallableExpressionScheme/CallableExpressionScheme.test.pug",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
