extends RELATIVE/PATH/TO/node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  -
    HTML_PAGE_LANGUAGE = "en"; // TODO Set up your language's code
    HTML_PAGE_TITLE = "XXXXX　Static preview - index page"; // Edit the page title


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  //- TODO Edit or delete optional subheading
  .AnywherePage-TopSubheading The best application for XXXXX

  //-

      TODO Edit the table of content (initially 1-2 pages will be enough if the project just started)
      Progress  statuses:

        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementInProgress
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingInProgress
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.specificationClarification
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.reviewWaiting
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.customerEvaluationWaiting
        StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted

  h2.AnywherePage-PagesGroupHeading Open pages

  +PageLink({
    label: "Top page",
    URI: "TopPage.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationWaiting
  })

  h3.AnywherePage-PagesSubgroupHeading About

  +PageLink({
    label: "Profile",
    URI: "About/Profile.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })

  +PageLink({
    label: "History",
    URI: "About/History.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.improvementWaiting
  })

  +PageLink({
    label: "President's greeting",
    URI: "About/President_sGreeting",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.fixingWaiting
  })


  //-
    .AnywherePage-PagesSubgroupHeading 商品

    +PageLink__FixingWaiting("./Open/Products/AudioDevices.html") 音楽

    +PageLink__FixingInProgress("./Open/Products/VideoDevises.html") 動画

    +PageLink__SpecificationClarification("./Open/Products/PersonalComputers.html") パソコン

    +PageLink__ReviewWaiting("./Open/Products/Peripheral.html") 周辺機器

    +PageLink__CustomerEvaluationWaiting("./Open/Products/Books.html") 本

    +PageLink__Accepted("./Open/HomeAppliance.html") 家電機器


    .AnywherePage-PagesGroupHeading 管理画面
    .AnywherePage-PagesSubgroupHeading トップページ
    .AnywherePage-PageSubsubgroupHeading トップページ

    +PagesLinksGroup__ImplementationWaiting({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__ImplementationInProgress({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })


    +PagesLinksGroup__ImprovementWaiting({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__ImprovementInProgress({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__FixingWaiting({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__FixingInProgress({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__SpecificationClarification({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__ReviewWaiting({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__CustomerEvaluationWaiting({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })

    +PagesLinksGroup__Accepted({
      label: "御知らせ管理",
      linksData: [
        {
          label: "知らせが未だ無い状態",
          URI: "./Admin/Notifications/NotificationManagement-NoNotifications"
        },
        {
          label: "知らせはページネーションの一ページ未満状態",
          URI: "./Admin/Notifications/NotificationManagement-IncompletePaginationPage"
        },
        {
          label: "知らせはページネーションの複数ページ有り状態",
          URI: "./Admin/Notifications/NotificationManagement-MultiplePaginationPages"
        }
      ]
    })
