-

  const HTML_PAGES_TITLE_POSTFIX = " - Yamato Daiwa Frontend (YDF)";

  function buildHTML_PageTitle(dynamicPart) {
    return `${ dynamicPart }${ HTML_PAGES_TITLE_POSTFIX }`;
  }

  RegularWebPageTemplate__YDF.configure({
    metadata: {
      author: "Copyright (c) 2023-present, Yamato Daiwa Co., Ltd."
    },
    faviconURI: "@MustBeInPublicRoot/favicon",
    scriptsURIs: {
      atEndOfBody: [ "$CommonLogic" ]
    }
  });
