mixin Folder__Person__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16")&attributes(attributes)
    path(d="M18 2h-8L8 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 1.99 2h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2Zm-5.35 3.29c1.01 0 1.84.83 1.84 1.84s-.83 1.84-1.84 1.84-1.84-.83-1.84-1.84.83-1.84 1.84-1.84Zm3.68 7.35H8.98v-.52c0-.74.44-1.41 1.12-1.7a6.4 6.4 0 0 1 5.12 0c.68.29 1.12.96 1.12 1.7v.52Z")
