mixin Folder__MultiplicationSign__Filled--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17.9")&attributes(attributes)
    path(d="M12.52 10.42A6.16 6.16 0 0 1 20 9.46V4a2 2 0 0 0-2-2h-8L8 0H2A2 2 0 0 0 .01 2v12A2 2 0 0 0 2 16h8.83a6.17 6.17 0 0 1 1.69-5.58Z")
    path(d="M18.13 14.79 20 12.92l-1.25-1.25-1.87 1.87-1.87-1.87-1.24 1.25 1.87 1.87L14.42 16l-.65.66 1.24 1.24 1.87-1.87 1.87 1.87L20 16.66l-.96-.96-.91-.91z")
