provideLanguageDropDownListYDF_DK_Component(customization = {})

  properties = deeplyCloneAndOverrideObject(
    {

      borderColor: ShadesOfGray__39ColorsW3C_Palette[16]
      textColor: white,
      backgroundColor: ShadesOfGray__39ColorsW3C_Palette[24],

      stateDependent: {
        hover: {
          backgroundColor: ShadesOfGray__39ColorsW3C_Palette[26]
        },
        focus: {
          shadowColor: black
        },
        active: {
          textColor: white,
          backgroundColor: ShadesOfGray__39ColorsW3C_Palette[26]
        }
      }

    },
    customization
  )


  .LanguageDropDownList--YDF_DK

    position relative


    // === Reusables ===================================================================================================
    &-CountryFlagPlaceholder

      height 1rem
      aspect-ratio 3/2

      background-color white


    &-CountryFlag

      height 1rem

      flex-shrink 0


    // === Others ======================================================================================================
    &-CurrentlySelectedOption

      display flex
      align-items center

      border-width 1px
      border-radius 3px
      padding 8px 12px

      border-style solid
      border-color: properties.borderColor
      background-color: properties.backgroundColor

      cursor pointer


      &:hover

        background-color: properties.stateDependent.hover.backgroundColor


      &:focus

        box-shadow: 0 0 4px 2px properties.stateDependent.focus.shadowColor
        outline none


      &:active

        background-color: properties.stateDependent.active.backgroundColor


      &-Label

        font-size 1rem

        font-weight bold
        color: properties.textColor

        margin-left 0.8rem


        ../:active &

          color: properties.stateDependent.active.textColor


    &-ListBox

      width 100%
      border-radius 3px

      background-color white
      box-shadow 0 0 4px 4px alpha(black, 0.25)

      position absolute
      bottom 0
      transform translateY(100%)
      z-index: ZIndexes.floatingBelowModalsComponents


      &__Hidden

        display none


      &-Item

        a

          display flex
          align-items center

          padding 8px 12px
          font-size 1rem


          ../:not(.LanguageDropDownList--YDF_DK-ListBox-Item__Selected) a

            background-color: properties.backgroundColor
            color: properties.textColor

            cursor pointer


            &:hover

              background-color: properties.stateDependent.hover.backgroundColor


            &:focus

              box-shadow: inset 0 0 0 2px properties.stateDependent.focus.shadowColor


            &:active

              background-color: properties.stateDependent.active.backgroundColor


          /.LanguageDropDownList--YDF_DK-ListBox-Item__Selected a

            font-weight bold
            background-color: properties.stateDependent.active.backgroundColor
            color: properties.stateDependent.active.textColor

            pointer-events none


          /.LanguageDropDownList--YDF_DK-ListBox-Item:active a

            color: properties.stateDependent.active.textColor


        &-Label

          font-size 1rem

          margin-left 0.8rem
