extends ../../../../../CompletePages/GUI_Components/Controls/Buttons/Plain/_ButtonGalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_PageTitle("No Right Border And Roundings Geometric Modifier");

    ButtonGalleryOptions.
        renderSinglePartial(ButtonGalleryOptions.Partials.noRightBorderAndRoundingsGeometricModifier).
        visuallyHideAllHeadings();
