buildBEM_ClassName(compoundParameter, restParameters__MUST_NOT_BE...)

  validateObjectTypeParameter({
    mixinOrFunctionName: "buildBEM_Class",
    targetParameterNumber: 1,
    targetParameter: compoundParameter,
    schema: {
      block: {
        type: DataTypes.string,
        required: true,
        minimalCharactersCount: 1
      },
      element: {
        type: DataTypes.string,
        required: false,
        minimalCharactersCount: 1
      },
      modifier: {
        type: DataTypes.string,
        required: false,
        minimalCharactersCount: 1
      },
      elementSeparator: {
        type: DataTypes.string,
        defaultValue: "__"
      },
      modifierSeparator: {
        type: DataTypes.string,
        defaultValue: "_"
      }
    },
    followingParametersWhichMustNotBe: restParameters__MUST_NOT_BE
  })


  outputBEM_Class = compoundParameter.block


  if isNotNull(compoundParameter.element)

    outputBEM_Class = outputBEM_Class + compoundParameter.elementSeparator + compoundParameter.element


  if isNotNull(compoundParameter.modifier)

    outputBEM_Class = outputBEM_Class + compoundParameter.modifierSeparator + compoundParameter.modifier


  return outputBEM_Class
