include Components/CallableExpressionSchemeLocalization.japanese.pug
include Components/LanguageDropDownListLocalization.japanese.pug
include Components/ObjectTypeAbstractLocalization.japanese.pug
include Components/ParameterMetadataLocalization.japanese.pug
include Components/PropertyMetadataLocalization.japanese.pug
