/* === Execution
stylus Tests/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/01-Sizing/02-Height/TextElementHeightSizing.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Styles/02-Kernel/03-UtilityMixins/01-Sizing/02-Height/TableCellWidthSizing.test.css `
    --include Styles
*/


@require "01-Assets.styl"
@require "02-Kernel.styl"


// Single-line element natural sizing (applicable to buttons, badges etc.)
.Example1

  TextElementHeightSizing({
    type: TextElementHeightSizingTypes.natural,
    topOrBottomSymmetricBordersWidths: 1px,
    explicitBorderNoneDeclarationRequired: true,
    topOrBottomSymmetricPaddings: 6px,
    paddingsOffset: 1px,
    explicitPaddingZeroDeclarationRequired: true,
    fontSize: 14px
  })


// Same, with no paddings and borders
.Example1-1

  TextElementHeightSizing({
    type: TextElementHeightSizingTypes.natural,
    explicitBorderNoneDeclarationRequired: true,
    explicitPaddingZeroDeclarationRequired: true,
    fontSize: 14px
  })


// Single-line element fixed sizing
.Example2

  TextElementHeightSizing({
    type: TextElementHeightSizingTypes.fixed,
    fixedHeight: 60px,
    topOrBottomSymmetricBordersWidths: 1px,
    explicitBorderNoneDeclarationRequired: true,
    explicitPaddingZeroDeclarationRequired: true
  })
