include QuestionAndAnswerBoxLocalization.english.pug


-

  class QuestionAndAnswerBox__YDF {

    static Types = {
      question: "QUESTION",
      objection: "OBJECTION",
      criticism: "CRITICISM"
    }

    static localization = questionAndAnswerBoxYDF_ComponentLocalization__english;

    static counterForID_Generating = 0;

    static generateComponentID() {
      QuestionAndAnswerBox__YDF.counterForID_Generating++;
      return `QUESTION_AND_ANSWER_BOX--YDF-${ QuestionAndAnswerBox__YDF.counterForID_Generating }`;
    }

  }
