BlockingLoadingOverlay--YDF = {

  defaultProperties: {
    backgroundColor:  rgba(black, 0.5),
    loadingIndicatorColor: ShadesOfGray__39ColorsW3C_Palette[6]
  }

}


provideBlockingLoadingOverlayYDF_Component(
  preset = BlockingLoadingOverlay--YDF.defaultProperties,
  overrides = {}
)

  properties = deeplyCloneAndOverrideObject(preset, overrides)


  .BlockingLoadingOverlay--YDF

    position fixed
    top 0
    left 0
    z-index: YDF_Configuration.zIndexes.blockingOverlay

    width 100%
    height 100%

    display flex
    justify-content center
    align-items center

    background: properties.backgroundColor
    cursor not-allowed


    &[hidden]

      display none


    &-LoadingIndicator

      LoadingIndicator--YDF-setCustomColor(
        LoadingIndicator--YDF.Types.variableWidthArcSpinner, properties.loadingIndicatorColor
      )


BlockingLoadingOverlay--YDF-setCustomColorOfInnerLoadingIndicator(type, COLOR)

  .BlockingLoadingOverlay--YDF-LoadingIndicator

    LoadingIndicator--YDF-setCustomColor(type, COLOR)
