doctype html

include ../Functionality.pug


block Metadata

  -
    let HTML_PAGE_LANGUAGE = HTML_PAGE_DEFAULT_LANGUAGE_SPECIFICATION__BCP47;
    let HTML_PAGE_TITLE = "Untitled";
    let HTML_PageMetaData = {
      description: undefined,
      keywords: undefined,
      author: undefined
    };
    let FAVICON_URI = undefined;
    let PAGE_AMP_VERSION_URI = undefined

    let styleSheetsURIs = []
    let scriptsURIs = {
      endOfHead: [],
      endOfBody: []
    }


block Data

block Requirements


html(lang= HTML_PAGE_LANGUAGE)

  block ViewingOptions

  head

    block HeadBegin

    title= HTML_PAGE_TITLE

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    if HTML_PageMetaData.description
      meta(name="description" content= HTML_PageMetaData.description)

    if HTML_PageMetaData.keywords
      meta(name="keywords" content= HTML_PageMetaData.keywords)

    if HTML_PageMetaData.author
      meta(name="author" content= HTML_PageMetaData.author)

    if FAVICON_URI
      link(rel="icon" type="image/x-icon" href= FAVICON_URI)
      link(rel="shortcut icon" type="image/x-icon" href= FAVICON_URI)

    if PAGE_AMP_VERSION_URI
      link(rel="amphtml" href= PAGE_AMP_VERSION_URI)


    block StylesLinks

      each styleSheetURI in styleSheetsURIs

        link(href= styleSheetURI rel="stylesheet")


    block HeadScriptsLinks

      each scriptURI in scriptsURIs.endOfHead

        script(src= scriptURI)


  body

    block PageContent

    block EndBodyContent


    block EndBodyScriptsLinks

      each scriptURI in scriptsURIs.endOfBody

        script(src= scriptURI)
