@require "01-Assets/BasicConstants.styl"

// === FontStacks ======================================================================================================
@require "01-Assets/FontStacks/Common/SansSerif.styl"
@require "01-Assets/FontStacks/Common/Serif.styl"
@require "01-Assets/FontStacks/Common/Monospace.styl"
@require "01-Assets/FontStacks/Common/OtherFontStacks.styl"
@require "01-Assets/FontStacks/Japanese/JapaneseFontStacks.styl"

// === Colors ==========================================================================================================
@require "01-Assets/Colors/ShadesOfGray"
@require "01-Assets/Colors/MaterialDesign"
@require "01-Assets/Colors/TemporaryHighlighting"
