mixin FittingByHeight--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M20 20V0H0v20h20Zm-1-1H1V1h17.99v17.99Z")
    path(d="M9.54 2.77v14.46l-2.66-2.66-.65.66L10 19l3.77-3.77-.65-.66-2.66 2.66V2.77l2.66 2.66.65-.66L10 1 6.23 4.77l.65.66 2.66-2.66z")
