mixin FittingWithin--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M0 0v20h20V0H0Zm1 1h17.99v17.99H1V1Z")
    path(d="M3.12 16.23v-3.75h-.93v5.33h5.33v-.93H3.77l5.06-5.05-.66-.66-5.05 5.06zM16.23 16.88h-3.76v.93h5.34v-5.33h-.93v3.75l-5.05-5.06-.66.66 5.06 5.05zM17.81 7.53V2.19h-5.34v.93h3.76l-5.06 5.05.66.66 5.05-5.06v3.76h.93zM3.77 3.12h3.75v-.93H2.19v5.34h.93V3.77l5.05 5.06.66-.66-5.06-5.05z")
