mixin Shrinkage--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M0 0v20h20V0H0Zm1 1h17.99v17.99H1V1Z")
    path(d="M7.91 12.75v3.75h.93v-5.33H3.51v.93h3.75l-5.05 5.05.65.66 5.05-5.06zM11.18 3.5v5.33h5.33V7.9h-3.75l5.06-5.05-.66-.66-5.05 5.06V3.5h-.93z")
