include Bell/BellIcon__Filled.pug

//- --- Brackets -------------------------------------------------------------------------------------------------------
include Brackets/CurlyBracketIcon__Closing.pug
include Brackets/CurlyBracketIcon__Opening.pug
include Brackets/RoundBracketIcon__Closing.pug
include Brackets/RoundBracketIcon__Opening.pug
include Brackets/SquareBracketIcon__Closing.pug
include Brackets/SquareBracketIcon__Opening.pug

//- --- Checkmark ------------------------------------------------------------------------------------------------------
include Checkmark/CheckboxIcon__Checked.pug
include Checkmark/CheckboxIcon__Unchecked.pug
include Checkmark/CheckmarkIcon__Circled__Filled.pug
include Checkmark/CheckmarkIcon__Circled__Outlined.pug

//- --- Exclamation mark -----------------------------------------------------------------------------------------------
include ExclamationMark/ExclamationMarkIcon__Circled__Filled.pug
include ExclamationMark/ExclamationMarkIcon__Circled__Outlined.pug
include ExclamationMark/ExclamationMarkIcon__Octagoned__Filled.pug
include ExclamationMark/ExclamationMarkIcon__Octagoned__Outlined.pug
include ExclamationMark/ExclamationMarkIcon__Rectangled__Filled.pug
include ExclamationMark/ExclamationMarkIcon__Rectangled__Outlined.pug
include ExclamationMark/ExclamationMarkIcon__Triangled__Filled.pug
include ExclamationMark/ExclamationMarkIcon__Triangled__Outlined.pug

include Filtering/FilteringIcon__Outlined.pug

include HamburgerMenu/HamburgerMenuIcon.pug

//- --- Info sign ------------------------------------------------------------------------------------------------------
include InfoSign/InfoSignIcon__Circled__Filled.pug
include InfoSign/InfoSignIcon__Circled__Outlined.pug

//- --- Magnifying Glass -----------------------------------------------------------------------------------------------
include MagnifyingGlass/MagnifyingGlassIcon.pug
include MagnifyingGlass/ZoomingInIcon__Filled.pug
include MagnifyingGlass/ZoomingInIcon__Outlined.pug
include MagnifyingGlass/ZoomingOutIcon__Filled.pug
include MagnifyingGlass/ZoomingOutIcon__Outlined.pug

//- --- Mail -----------------------------------------------------------------------------------------------------------
include Mail/MailIcon__Filled.pug
include Mail/MailIcon__Outlined.pug

//- --- Menu -----------------------------------------------------------------------------------------------------------
include Menu/MenuIcon__ThreeDots__Horizontal.pug
include Menu/MenuIcon__ThreeDots__Horizontal__Circled__Filled.pug
include Menu/MenuIcon__ThreeDots__Horizontal__Circled__Outlined.pug
include Menu/MenuIcon__ThreeDots__Vertical.pug
include Menu/MenuIcon__ThreeDots__Vertical__Circled__Filled.pug
include Menu/MenuIcon__ThreeDots__Vertical__Circled__Outlined.pug

//- --- Multiplication sign --------------------------------------------------------------------------------------------
include MultiplicationSign/MultiplicationSignIcon.pug
include MultiplicationSign/MultiplicationSignIcon__Bold.pug
include MultiplicationSign/MultiplicationSignIcon__Boxed__Filled.pug
include MultiplicationSign/MultiplicationSignIcon__Boxed__Outlined.pug
include MultiplicationSign/MultiplicationSignIcon__Octagoned__Filled.pug
include MultiplicationSign/MultiplicationSignIcon__Octagoned__Outlined.pug

//- --- Pencil ---------------------------------------------------------------------------------------------------------
include Pencil/PencilIcon__Boxed__Filled.pug
include Pencil/PencilIcon__Boxed__Outlined.pug
include Pencil/PencilIcon__Circled__Filled.pug
include Pencil/PencilIcon__Circled__Outlined.pug
include Pencil/PencilIcon__Filled.pug
include Pencil/PencilIcon__Outlined.pug
include Pencil/PencilWithLockIcon__Filled.pug
include Pencil/PencilWithLockIcon__Outlined.pug
include Pencil/PencilWithPlusSignIcon__Filled.pug
include Pencil/PencilWithPlusSignIcon__Outlined.pug

//- --- Phone ----------------------------------------------------------------------------------------------------------
include Phone/PhoneIcon__Filled.pug
include Phone/PhoneIcon__Outlined.pug
include Phone/TelephoneIcon__Filled.pug

//- --- Question mark --------------------------------------------------------------------------------------------------
include QuestionMark/QuestionMarkIcon__Circled__Filled.pug
include QuestionMark/QuestionMarkIcon__Circled__Outlined.pug

//- --- Trash can ------------------------------------------------------------------------------------------------------
include TrashCan/TrashCanIcon__Filled.pug
include TrashCan/TrashCanIcon__Outlined.pug
