AttentionBox__WarningDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.warning.borderColor
    },
    background: {
      image: null,
      color: JQueryUI_BaseTheme.warning.background
    }
  },

  mainSection: {
    font: {
      weight: null,
      color: #914823
    }
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.warning.iconsColor
  },


  heading: {
    font: {
      weight: bold,
      color: #A15223
    }
  },

  subheading: {
    font: {
      weight: null,
      color: #BA6E3A
    }
  },

  paragraph: {
    font: {
      color: #914823
    }
  },

  divider: {
    color: #E79B68
  },

  dismissButton: {
    defaultState: {
      background: #D96500,
      shadow: null
    },
    hoverState: {
      background: #FFB27D,
      shadow: null
    },
    tabbedState: {
      background: null,
      shadow: 0 0 0 4px #CCCCCC
    },
    activeState: {
      background: #AA5F26,
      shadow: null
    }
  },

  yamatoDaiwaInformationDesign: {
    importantEntity: { font: { color: null } },
    secondaryEntity: { font: { color: null } },
    definableTerm: { font: { color: null } },
    term: { font: { color: null } },
    term__contrast: { font: { color: null } },
    keyword: { font: { color: null } },
    keyword__contrast: { font: { color: null } }
  }
}
