AttentionBox__ErrorDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.error.borderColor
    },
    background: {
      image: null,
      color: JQueryUI_BaseTheme.error.background
    }
  },

  mainSection: {
    font: {
      weight: null,
      color: #8E222B
    }
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.error.iconsColor
  },


  heading: {
    font: {
      weight: bold,
      color: #981E24
    }
  },

  subheading: {
    font: {
      weight: null,
      color: #B23F49
    }
  },

  paragraph: {
    font: {
      color: #8E222B
    }
  },

  divider: {
    color: #D4818E
  },

  dismissButton: {
    defaultState: {
      background: #CC0000,
      shadow: null
    },
    hoverState: {
      background: #FF9494,
      shadow: null
    },
    tabbedState: {
      background: null,
      shadow: 0 0 0 4px #CCCCCC
    },
    activeState: {
      background: #931D1D,
      shadow: null
    }
  },

  yamatoDaiwaInformationDesign: {
    importantEntity: { font: { color: null } },
    secondaryEntity: { font: { color: null } },
    definableTerm: { font: { color: null } },
    term: { font: { color: null } },
    term__contrast: { font: { color: null } },
    keyword: { font: { color: null } },
    keyword__contrast: { font: { color: null } }
  }
}
