AttentionBox__GuidanceDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.info.borderColor
    },
    background: {
      image: null,
      color: JQueryUI_BaseTheme.info.background
    }
  },

  mainSection: {
    font: {
      weight: null,
      color: #54BEBD
    }
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.info.iconsColor
  },


  heading: {
    font: {
      weight: bold,
      color: #2D8E8A
    }
  },

  subheading: {
    font: {
      weight: null,
      color: #54BEBD
    }
  },

  paragraph: {
    font: {
      color: #398C8A
    }
  },

  divider: {
    color: #7CC9CA
  },

  dismissButton: {
    defaultState: {
      background: #00CCC5,
      shadow: null
    },
    hoverState: {
      background: #48F9EC,
      shadow: null
    },
    tabbedState: {
      background: null,
      shadow: 0 0 0 4px #CCCCCC
    },
    activeState: {
      background: #1D938D,
      shadow: null
    }
  },

  yamatoDaiwaInformationDesign: {
    importantEntity: { font: { color: null } },
    secondaryEntity: { font: { color: null } },
    definableTerm: { font: { color: null } },
    term: { font: { color: null } },
    term__contrast: { font: { color: null } },
    keyword: { font: { color: null } },
    keyword__contrast: { font: { color: null } }
  }
}
