AttentionBox__SecondaryInfoDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: #FCBA7B
    },
    background: {
      image: linear-gradient(to bottom, #FACB9F 0%, #F8C291 50%, #FCBA7B 100%),
      color: null
    }
  },

  mainSection: {
    font: {
      weight: null,
      color: #854222
    }
  },

  SVG_Icon: {
    color: darken(#FCBA7B, 40%)
  },


  heading: {
    font: {
      weight: bold,
      color: #9E4F23
    }
  },

  subheading: {
    font: {
      weight: null,
      color: #B05721
    }
  },

  paragraph: {
    font: {
      color: #854222
    }
  },

  divider: {
    color: #CA7B45
  },

  dismissButton: {
    defaultState: {
      background: #E46C00,
      shadow: null
    },
    hoverState: {
      background: #FF9A55,
      shadow: null
    },
    tabbedState: {
      background: null,
      shadow: 0 0 0 4px #E6E6E6
    },
    activeState: {
      background: #966236,
      shadow: null
    }
  },

  yamatoDaiwaInformationDesign: {
    importantEntity: { font: { color: null } },
    secondaryEntity: { font: { color: null } },
    definableTerm: { font: { color: null } },
    term: { font: { color: null } },
    term__contrast: { font: { color: null } },
    keyword: { font: { color: null } },
    keyword__contrast: { font: { color: null } }
  }
}
