AttentionBox__QuestionDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.question.borderColor
    },
    background: {
      image: null,
      color: JQueryUI_BaseTheme.question.background
    }
  },

  mainSection: {
    font: {
      weight: null,
      color: JQueryUI_BaseTheme.question.fontColor
    }
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.question.iconsColor
  },


  heading: {
    font: {
      weight: bold,
      color: #345778
    }
  },

  subheading: {
    font: {
      weight: null,
      color: #4F77A6
    }
  },

  paragraph: {
    font: {
      color: #345778
    }
  },

  divider: {
    color: #8AABCB
  },

  dismissButton: {
    defaultState: {
      background: #00CCC5,
      shadow: null
    },
    hoverState: {
      background: #48F9EC,
      shadow: null
    },
    tabbedState: {
      background: null,
      shadow: 0 0 0 4px #CCCCCC
    },
    activeState: {
      background: #1D938D,
      shadow: null
    }
  },

  yamatoDaiwaInformationDesign: {
    importantEntity: { font: { color: null } },
    secondaryEntity: { font: { color: null } },
    definableTerm: { font: { color: null } },
    term: { font: { color: null } },
    term__contrast: { font: { color: null } },
    keyword: { font: { color: null } },
    keyword__contrast: { font: { color: null } }
  }
}
