AttentionBox-ImportantInfoDecoration--YDF = {

  rootElement: {
    borders: {
      style: solid,
      color: #d4887a
    },
    background: {
      image: linear-gradient(to bottom, #e0a69d 0%, #d59a8f 50%, #d4887a 100%),
      color: null
    }
  },

  mainSection: {
    font: {
      weight: null,
      color: #613A32
    }
  },

  SVG_Icon: {
    color: darken(#d4887a, 40%)
  },


  heading: {
    font: {
      weight: bold,
      color: #613A32
    }
  },

  subheading: {
    font: {
      weight: null,
      color: #86534C
    }
  },

  paragraph: {
    font: {
      color: #613A32
    }
  },

  divider: {
    color: #B56862
  },

  dismissButton: {
    defaultState: {
      background: #984232,
      shadow: null
    },
    hoverState: {
      background: #CE766F,
      shadow: null
    },
    tabbedState: {
      background: null,
      shadow: 0 0 0 4px #E6E6E6
    },
    activeState: {
      background: #683D37,
      shadow: null
    }
  },

  yamatoDaiwaInformationDesign: {
    importantEntity: { font: { color: #920000 } },
    secondaryEntity: { font: { color: #986500 } },
    definableTerm: { font: { color: #168200 } },
    term: { font: { color: null } },
    term__contrast: { font: { color: null } },
    keyword: { font: { color: null } },
    keyword__contrast: { font: { color: null } }
  }
}
