AttentionBox-RegularTheme-NoticeDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: JQueryUI_BaseTheme.content.borderColor
    },

    background: {
      color: JQueryUI_BaseTheme.content.background,
      image: null
    }

  },

  mainContent: {
    font: {
      weight: null,
      color: #666666
    }
  },

  SVG_Icon: {
    color: JQueryUI_BaseTheme.content.iconsColor
  },

  title: {
    text: {
      fontWeight: null,
      color: JQueryUI_BaseTheme.content.fontColor
    }
  },

  dismissingButton: {

    background: {
      color: YDF_ColorPalette.mint.pastelLight,
      shadow: null
    },

    stateDependent: {

      hover: {
        background: {
          color: YDF_ColorPalette.mint.pastelLight,
          shadow: null
        }
      },

      focus: {
        background: {
          color: YDF_ColorPalette.mint.pastelLight,
          shadow: null
        }
      },

      active: {
        background: {
          color: YDF_ColorPalette.mint.pastelLight,
          shadow: null
        }
      }

    }

  }

}
