AttentionBox-RegularTheme-WarningDecoration--YDF = {

  rootElement: {

    borders: {
      style: solid,
      color: YDF_ColorPalette.amber.slightlyDark
    },

    background: {
      color: YDF_ColorPalette.amber.pastelLight,
      image: null
    }

  },

  mainContent: {
    font: {
      weight: null,
      color: YDF_ColorPalette.amber.slightlyDark
    }
  },

  SVG_Icon: {
    color: YDF_ColorPalette.amber.slightlyDark
  },

  title: {
    text: {
      fontWeight: null,
      color: YDF_ColorPalette.amber.mediumDark
    }
  },

  dismissingButton: {

    background: {
      color: YDF_ColorPalette.amber.slightlyDark,
      shadow: null
    },

    stateDependent: {

      hover: {
        background: {
          color: YDF_ColorPalette.amber.pastelLight,
          shadow: null
        }
      },

      focus: {
        background: {
          color: YDF_ColorPalette.amber.pastelLight,
          shadow: null
        }
      },

      active: {
        background: {
          color: YDF_ColorPalette.amber.pastelLight,
          shadow: null
        }
      }

    }

  },

  typographyAssimilation: {
    heading2: {
      text: {
        color: YDF_ColorPalette.amber.dark
      }
    },
    heading3: {
      text: {
        color: YDF_ColorPalette.amber.mediumDark
      }
    },
    heading4: {
      text: {
        color: YDF_ColorPalette.amber.slightlyDark
      }
    },
    heading5: {
      text: {
        color: YDF_ColorPalette.amber.slightlyDark
      }
    },
    heading6: {
      text: {
        color: YDF_ColorPalette.amber.slightlyDark
      }
    },
    paragraph: {
      text: {
        color: YDF_ColorPalette.amber.mediumDark
      }
    }
  }

}
