extends _${COMPONENT_NAME}GalleryPage.template.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.metadata.title = generateHTML_Page_Title();
    ${COMPONENT_NAME}GalleryOptions.visuallyHideTopHeadingIf(__IS_PRODUCTION_BUILDING_MODE__)
