extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  -
    HTML_PAGE_LANGUAGE = "en";
    HTML_PAGE_TITLE = "YDF Vue - index page";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  h2.AnywherePage-PagesGroupHeading Components

  +PageLink({
    label: "Badge",
    URI: "@Tests/Components/Badge/Badge.test",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })


  h3.AnywherePage-PagesSubgroupHeading Controls

  +PageLink({
    label: "TextBox",
    URI: "Components/Controls/TextBox/TextBox.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  h4.AnywherePage-PagesSubsubgroupHeading Buttons

  +PageLink({
    label: "Plain",
    URI: "Components/Controls/Buttons/Plain/Button.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })

  h4.AnywherePage-PagesSubsubgroupHeading Other

  +PageLink({
    label: "OverflowSafeSingleLineLabel",
    URI: "Components/OverflowSafeSingleLineLabel/OverflowSafeSingleLineLabel.test.html",
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.accepted
  })
