@require "../../../../node_modules/@yamato-daiwa/frontend/Functionality.styl"
@require "../../../../node_modules/@yamato-daiwa/frontend/Components.styl"


badgeComponentDefaultPropertiesOverriding = {};

// <==  [ Testing ] Comment out if need to display standard themes only
//badgeComponentDefaultPropertiesOverriding = {
//  themes: {
//    regular: {
//      geometricVariations: {
//        small: deeplyCloneAndOverrideObject(
//          Badge-RegularGeometry--YDF,
//          {
//            SVG_Icon: { height: 0.8em },
//            keyLabel: { text: { size: 0.8em } },
//            valueLabel: { text: { size: 0.8em } }
//          }
//        )
//      },
//      decorativeVariations: {
//
//      }
//    }
//  }
//}
// ==> =================================================================================================================

provideBadgeYDF_Component(
  overridings: badgeComponentDefaultPropertiesOverriding
)


@require "../../../Galleries/Components/Badge/BadgeGallery.styl"
