mixin IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance(properties)

  -

    const {
      imageURI,
      target,
      relatedTableOfContentsMetadata
    } = properties;

    let target__pluralForm__accusativeCase;

    switch (target) {
      case "function": {
        target__pluralForm__accusativeCase = "function invocation expression"
      }
    }


  //- ━━━ Quick input in IntelliJ IDEA family of IDEs ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  +Heading--YDF({
    level: 2,
    text: relatedTableOfContentsMetadata.$heading,
    HTML_ID: relatedTableOfContentsMetadata.$anchor
  }).Article-Heading2

  +SingleImageViewer--YDF({
    imageURI: imageURI,
    imageAlternateText: "Quick input in IntelliJ IDEA family IDEs using the &quot;Live templates&quot; functionality."
  })

  p.Article-Paragraph.
    Using the functionality of
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.liveTemplates }) Live templates]
      in the
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.intelliJ_IDEA_FamilyIDEs }) IntelliJ IDEA]
      family #[+Term--YDID IDEs] allows you to input code such as the #[+Term--YDID #{ target__pluralForm__accusativeCase }]
      quickly.
    To get the #[+Term--YDID Live templates] of the #[+ImportantEntity--YDID YDF] library, installation of the
      #[+Link--YDF({ unendorsedExternalURI: sharedExternalLinks.jetBrains.YDF_Plugin }) official plugin]
      of this library is required.


  //- ─── Steps for using the Live templates ───────────────────────────────────────────────────────────────────────────
  +Heading--YDF({
    level: 3,
    text: relatedTableOfContentsMetadata.$children.steps.$heading,
    HTML_ID: relatedTableOfContentsMetadata.$children.steps.$anchor
  }).Article-Heading3

  p.Article-Paragraph.
    If you have not used #[+Term--YDID Live templates] before, do not worry if the instructions below are too complicated.
    Once you have developed the habit of using #[+Term--YDID Live templates] (similar to the habit of using keyboard
      shortcuts), the following operations will take a matter of seconds.

  block


mixin ThisPageHasNotBeenCheckedByNativeSpeakersYetWarning

  +AdmonitionBlock--YDF({
    title: "Review by English Native Speakers Is Required",
    SVG_Icon: true,
    decorativeVariation: AdmonitionBlock__YDF.DecorativeVariations.warning
  }).
    This page has not been edited by the English native speakers yet.
    We are sorry for the non-perfect English language.


include ReusableFragments/Components/AdmonitionBlock-ReusableFragments.english.pug
