-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      tableOfContentsTitle: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      tableOfContentsTitle: "Core library"

    },

    frameworksAdaptations: {
      tableOfContentsTitle: "Frameworks adaptations"
    }

  };
