-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    top: {
      $tableOfContentsTitle: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      $tableOfContentsTitle: "Core library",

      markup: {

        $tableOfContentsTitle: "Pug markup",

        functionality: {

          $tableOfContentsTitle: "Functionality",

          inlineJavaScript: {

            $tableOfContentsTitle: "Inline JavaScript",

            YDEE_Integration: {
              $tableOfContentsTitle: "YDEE Integration"
            },

            functionsAndClasses: {
              $tableOfContentsTitle: "Functions and classes"
            },

            assets: { $tableOfContentsTitle: "Assets" }

          },

          pugMixins: {
            $tableOfContentsTitle: "Pug mixins",
            dummies: { $tableOfContentsTitle: "<code>WideDummy</code> and <code>HighDummy</code>" },
            SVG_Icons: { $tableOfContentsTitle: "SVG icons" },
            yamatoDaiwaInformationDesign: { $tableOfContentsTitle: "Yamato Daiwa information design" }
          },

          pagesTemplates: { $tableOfContentsTitle: "Pages templates" },

          usageOnServerSide: { $tableOfContentsTitle: "Usage on server side" }

        }
      },

      styles: {

        $tableOfContentsTitle: "Styles",

        assets: {

          $tableOfContentsTitle: "Assets",

          fundamentalConstantsAndEnums: {
            $tableOfContentsTitle: "Fundamental constants and enumerations"
          },

          colors: {

            PracticalColorCoordinateSystem: {
              $tableOfContentsTitle: "PCCS palette (<code>PracticalColorCoordinateSystem</code>)"
            },

            ShadesOfGray__39ColorsW3C_Palette: {
              $tableOfContentsTitle: "39 shades of gray palette (<code>ShadesOfGray__39ColorsW3C_Palette</code>)"
            },

            YDF_ColorPalette: {
              $tableOfContentsTitle: "<code>YDF_ColorPalette</code>"
            }

          }

        },

        kernel: {

          $tableOfContentsTitle: "Kernel",

          basicVariables: {
            $tableOfContentsTitle: "Basic variables",
            fontsStacks: { $tableOfContentsTitle: "Font stacks" },
            dimensions: { $tableOfContentsTitle: "Dimensions" },
            zIndexes: { $tableOfContentsTitle: "Z-Indexes" },
            BEM: { $tableOfContentsTitle: "BEM" }
          },

          functions: {

            $tableOfContentsTitle: "Functions",

            typeCheckers: {
              $tableOfContentsTitle: "Values types checkers",
              strings: { $tableOfContentsTitle: "Strings" },
              quantities: { $tableOfContentsTitle: "Quantities" }
            },
            strings: { $tableOfContentsTitle: "Working with strings" },
            objects: { $tableOfContentsTitle: "Working with object" },
            arrays: { $tableOfContentsTitle: "Working with arrays" },
            parametersValidation: { $tableOfContentsTitle: "Parameters validation" },
            other: { $tableOfContentsTitle: "Other functions" }
          },

          mixins: {
            $tableOfContentsTitle: "Mixins",
            general: { $tableOfContentsTitle: "General" },
            sizing: {
              $tableOfContentsTitle: "Sizing",
              width: { $tableOfContentsTitle: "Width" }
            },
            positioning: { $tableOfContentsTitle: "Positioning" },
            positionalRelationship: { $tableOfContentsTitle: "Positional relationship" },
            layout: { $tableOfContentsTitle: "Layout" },
            typography: { $tableOfContentsTitle: "Typography" },
            other: { $tableOfContentsTitle: "Other" }
          },

          stylesInitialization: { $tableOfContentsTitle: "Styles initialization" }

        },

        buildInPlugins: {
          $tableOfContentsTitle: "Built-in plugins",
          additionalColorPalettes: {
            $tableOfContentsTitle: "Additional color pallets"
          }
        }

      },

      components: {
        $tableOfContentsTitle: "GUI Components",
        badge: { $tableOfContentsTitle: "Badge" },
        controls: {
          buttons: {
            $tableOfContentsTitle: "Buttons",
            plain: { $tableOfContentsTitle: "Button (Plain)" }
          },
          $tableOfContentsTitle: "Controls"
        }
      }

    },

    frameworksAdaptations: {
      $tableOfContentsTitle: "Frameworks adaptations"
    },

    realiseNotes: {
      $tableOfContentsTitle: "Realise notes"
    }

  };
