-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    top: {
      tableOfContentsTitle: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      tableOfContentsTitle: "Core library",

      components: {
        tableOfContentsTitle: "GUI Components",
        badge: { tableOfContentsTitle: "Badge" },
        controls: {
          buttons: {
            tableOfContentsTitle: "Buttons",
            plain: { tableOfContentsTitle: "Button (Plain)" }
          },
          tableOfContentsTitle: "Controls"
        }
      }

    },

    frameworksAdaptations: {
      tableOfContentsTitle: "Frameworks adaptations"
    }

  };
