-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    top: {
      $heading: "Top",
      URI: "@All/index"
    },

    coreLibrary: {

      $heading: "Core library",

      markup: {

        $heading: "Pug markup",

        functionality: {

          $heading: "Functionality",

          inlineJavaScript: {

            $heading: "Inline JavaScript",

            YDEE_Integration: {
              $heading: "YDEE Integration"
            },

            functionsAndClasses: {
              $heading: "Functions and classes"
            },

            assets: { $heading: "Assets" }

          },

          pugMixins: {
            $heading: "Pug mixins",
            dummies: { $heading: "<code>WideDummy</code> and <code>HighDummy</code>" },
            SVG_Icons: { $heading: "SVG icons" },
            yamatoDaiwaInformationDesign: { $heading: "Yamato Daiwa information design" }
          },

          pagesTemplates: { $heading: "Pages templates" },

          usageOnServerSide: { $heading: "Usage on server side" }

        }
      },

      styles: {

        $heading: "Styles",

        assets: {

          $heading: "Assets",

          fundamentalConstantsAndEnums: {
            $heading: "Fundamental constants and enumerations"
          },

          colors: {

            $heading: "Colors",

            PracticalColorCoordinateSystem: {
              $heading: "PCCS palette (<code>PracticalColorCoordinateSystem</code>)"
            },

            ShadesOfGray__39ColorsW3C_Palette: {
              $heading: "39 shades of gray palette (<code>ShadesOfGray__39ColorsW3C_Palette</code>)"
            },

            YDF_ColorPalette: {
              $heading: "<code>YDF_ColorPalette</code>"
            }

          }

        },

        kernel: {

          $heading: "Kernel",

          YDF_Configuration: {
            $heading: "Configuration",
            fontsStacks: { $heading: "Font stacks" },
            textGeometry: { $heading: "Dimensions" },
            zIndexes: { $heading: "Z-Indexes" }
          },

          specificationsSchemas: { $heading: "Specifications schemas" },

          functions: {

            $heading: "Functions",

            typeCheckers: {
              $heading: "Values types checkers",
              strings: { $heading: "Strings" },
              quantities: { $heading: "Quantities" },
              booleans: { $heading : "Boolean values" },
              nullables: { $heading: "Nullables" },
              others: { $heading: "Others" }
            },

            valueTransformers: { $heading: "Value transformers" },

            strings: { $heading: "Working with strings" },
            quantities: { $heading: "Working with quantities" },
            objects: { $heading: "Working with objects" },
            arrays: { $heading: "Working with arrays" },
            YDF_Arrays: { $heading: "Working with YDF arrays" },
            parametersValidation: { $heading: "Parameters validation" },
            other: { $heading: "Other functions" }
          },

          mixins: {
            $heading: "Mixins",
            general: { $heading: "General" },
            sizing: {
              $heading: "Sizing",
              width: { $heading: "Width" }
            },
            positioning: { $heading: "Positioning" },
            positionalRelationship: { $heading: "Positional relationship" },
            layout: { $heading: "Layout" },
            typography: { $heading: "Typography" },
            other: { $heading: "Other" }
          },

          stylesInitialization: { $heading: "Styles initialization" }

        },

        buildInPlugins: {
          $heading: "Built-in plugins",
          additionalColorPalettes: {
            $heading: "Additional color pallets"
          }
        }

      },

      components: {
        $heading: "GUI Components",
        admonitionBlock: { $heading: "AdmonitionBlock" },
        controls: {
          $heading: "Controls",
          buttons: {
            $heading: "Buttons"
          }
        }
      }

    },

    frameworksIntegrations: {
      $heading: "Frameworks adaptations"
    },

    realiseNotes: {
      $heading: "Realise notes"
    }

  };
