-

  const sharedExternalLinksEnglishLocalization = {

    wikipedia: {
      math: {
        euler_sNumber: "https://en.wikipedia.org/wiki/E_(mathematical_constant)"
      }
    },

    mdn: {
      array: {
        unshift: "https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/unshift"
      }
    },

    jetBrains: {
      liveTemplates: "https://www.jetbrains.com/help/idea/using-live-templates.html"
    },

    YamatoDaiwaES_Extensions: {

      RawObjectDataProcessor: {
        PropertiesSpecification: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/RawObjectDataProcessor/RawObjectDataProcessor.md#subtype-and-dependent-properties"
      }

    }

  };
