mixin Person__Plus--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 17.1")&attributes(attributes)
    path(d="M0 7.22h7.43v1.8H0z")
    path(d="M2.82 4.4h1.8v7.43h-1.8zM13.48 8.4a4.2 4.2 0 1 0 0-8.4 4.2 4.2 0 0 0 0 8.4ZM20 17.1v-2.83a4.77 4.77 0 0 0-4.76-4.76h-3.53a4.77 4.77 0 0 0-4.76 4.76v2.83h13.04Z")
