mixin Person--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.78 20")&attributes(attributes)
    path(d="M17.31 15.51a8.8 8.8 0 0 0-4.19-3.89 7.37 7.37 0 0 1-8.48 0c-2.1.9-3.4 2.49-4.18 3.89C-.59 17.37.23 20 2.04 20h13.68c1.81 0 2.63-2.63 1.58-4.49Z")
    circle(cx="8.89" cy="5.6" r="5.6")
