MAIN_SANS_SERIF_FONT_STACK =\
    system-ui,\
    -apple-system,\
    BlinkMacSystemFont,\
    Segoe UI,\
    Roboto,\
    Helvetica Neue,\
    Arial,\
    Noto Sans,\
    Liberation Sans,\
    sans-serif,\
    Apple Color Emoji,\
    Segoe UI Emoji,\
    Segoe UI Symbol,\
    Noto Color Emoji

MAIN_SERIF_FONT_STACK =\
    TimesNewRoman,\
    Times New Roman,\
    Times,\
    Baskerville,\
    Georgia,\
    serif

MAIN_MONOSPACED_FONT_STACK=\
    Lucida Console,\
    Lucida Sans Typewriter,\
    monaco,\
    Bitstream Vera Sans Mono,\
    monospace


MAIN_FONT_STACK ?= MAIN_SANS_SERIF_FONT_STACK
BASIC_FONT_SIZE ?= 14px
BASIC_LINE_HEIGHT ?= 1

BASIC_FONT_SIZE_IN_MULTILINE_TEXT_BLOCKS ?= 14px
BASIC_LINE_HEIGHT_IN_MULTILINE_TEXT_BLOCKS ?= 1.4


ZIndexes = {
  floatingNotifications: 60,
  blockingOverlay: 50,
  floatingAboveModalsComponents: 40,
  modalsUnderlay: 30,
  floatingBelowModalsComponents: 20,
  drawers: 10,
  lowermostLayer: 0
}


BEM_ELEMENT_SEPARATOR ?= "__"
BEM_MODIFIER_SEPARATOR ?= "_"
