@require "01-BasicVariables/01-FontsStacks.styl"
@require "01-BasicVariables/02-TextGeometry.styl"


ZIndexes = {
  floatingNotifications: 60,
  blockingOverlay: 50,
  floatingAboveModalsComponents: 40,
  modalsUnderlay: 30,
  floatingBelowModalsComponents: 20,
  drawers: 10,
  lowermostLayer: 0
}


BEM_ELEMENT_SEPARATOR ?= "__"
BEM_MODIFIER_SEPARATOR ?= "_"
