@require "0N-SpecificationsSchemas/00-BordersSizingSpecificationSchema.styl"
@require "0N-SpecificationsSchemas/01-PaddingsSpecificationSchema.styl"
@require "0N-SpecificationsSchemas/02-WidthSizingSpecificationSchema.styl"
@require "0N-SpecificationsSchemas/03-TextElementHeightSizingSpecificationSchema.styl"
