@require "01-ValueCheckers/isDimensionalOrDimensionlessQuantity.styl"
@require "01-ValueCheckers/isDimensionalQuantity.styl"
@require "01-ValueCheckers/isDimensionlessQuantity.styl"
@require "01-ValueCheckers/isEmptyString.styl"
@require "01-ValueCheckers/isNonEmptyString.styl"
@require "01-ValueCheckers/isNotNull.styl"
@require "01-ValueCheckers/isNull.styl"
@require "01-ValueCheckers/isString.styl"
@require "01-ValueCheckers/01-Strings/isEmptyString.styl"
@require "01-ValueCheckers/01-Strings/isNonEmptyString.styl"
@require "01-ValueCheckers/01-Strings/isString.styl"

@require "01-ValueCheckers/02-Quantities/isDimensionalOrDimensionlessQuantity.styl"
@require "01-ValueCheckers/02-Quantities/isDimensionalQuantity.styl"
@require "01-ValueCheckers/02-Quantities/isDimensionlessQuantity.styl"
@require "01-ValueCheckers/04-Nullables/isNotNull.styl"
@require "01-ValueCheckers/04-Nullables/isNull.styl"


isNaturalNumber(value)

  return isDimensionlessQuantity(value) && match('^\d+$', "" + value) == value && value != 0


isBoolean(value)

  return typeof(value) == "boolean"


isTrue(value)

  return value == true


isFalse(value)

  return value == false


isObject(value)

  return typeof(value) == "object"


isIdentifier(value)

  return typeof(value) == "ident"


isCalcExpression(value)

  return typeof(value) == "literal" && match("^calc\("   "" + value) != null


isFunction(value)

  return typeof(value) == "function"
