@require "04-Quantities/appendUnit.styl";
@require "04-Quantities/computeExtraSpaceCausedByLineHeightAtTopOrBottom.styl";
@require "04-Quantities/computeTotalHeightByTextElementHeightSizingSpecification.styl";
@require "04-Quantities/getLineHeightByFontSizeAndLineSpacing.styl";
@require "04-Quantities/getLineSpacingByFontSizeAndLineHeight.styl";
@require "04-Quantities/removeUnitFromAmount.styl";
