mixin Button-Abstract

  p.Article-Paragraph.
    Кнопка имеет репутацию простейшего #[+Term--YDID GUI-компонента], с которого обычно начинают изучение
      #[+Term--YDID UI/UX-фреймворков].
    Однако, несмотря на свой неприметный вид прямоугольника с надписью, этот компонент очень обманчив своей простотой.

  p.Article-Paragraph.
    Его вид могу принимают целых #[+ImportantEntity--YDID 3] #[+Term--YDID HTML-тэга]:
      #[+ImportantEntity__Code--YDID button], #[+ImportantEntity__Code--YDID input], наконец часто вид кнопки придаёт
       элементу #[+ImportantEntity__Code--YDID a].
    При работе с каждым из этих #[+Term--YDID тэгов] свои особенности.
    Например иметь вложенные тэги могут иметь #[+Keyword--YDID только]
      #[+ImportantEntity__Code--YDID button] и #[+ImportantEntity__Code--YDID a], а #[+Term--YDID аттрибут]
      #[+ImportantEntity__Code--YDID disabled] может быть добавлен только для #[+ImportantEntity__Code--YDID button]
      и #[+ImportantEntity__Code--YDID input].

  p.Article-Paragraph.
    Что же со стилями?
    Да, поменять цвет обводки или фона несложно, но по мере приближения к созданию реальных сайтов и приложений
      количество переменных в уравнении резко возрастает.
    Во-первых, будучи элементом управления, кнопка имеет множество состояний: #[+ImportantEntity__Code--YDID hover],
      #[+ImportantEntity__Code--YDID focus], #[+ImportantEntity__Code--YDID active],
      #[+ImportantEntity__Code--YDID disabled], и все эти состояния должны быть визуально различимы для каждой
      #[+Term--YDID темы] (тут даже неважно, темы в понимании #[+ImportantEntity--YDID YDF] или нет).
    А если надпись на кнопке не помещается?
    А если нужно добавить к надписи SVG-иконку?
    А у всех иконок разные размеры, да ещё и поля в SVG-холсте!
    А если нужно, чтобы кнопка была квадратной, когда на ней одна иконка без надписи?
    (Хотя мы не рекомендуем иконки без надписей в силу того что они могут быть непонятны пользователями с малым опытом,
      не всегда удаётся переубедить заказчика добавить надпись).
    Учёт всех этих «если» даст довольно объёмный CSS-код.

  p.Article-Paragraph.
    Со своей стороны, мы как разработчики этой библиотеки сделали всё возможное, чтобы инкапсулировать от Вас эти
      сложности в понятный API.
    Тем не менее, в определённых ситуациях (например, когда Вы создаёте HTML-форму), от Вас потребуется понимаете
      этих особенностей.
