mixin Map__Clock--YDF_Icon
  svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")&attributes(attributes)
    path(d="M1.66 5.43v.03h-.01V6.5l-.07 9.18 4.27-2.49.09-10.25-2.38 1.39-1.9 1.1zM16.61 9.67l.06-6.6-.69.4-.79.46-2.8 1.63-.04 4.26a5.27 5.27 0 0 1 4.26-.14Z" fill="none")
    path(d="m18.19 10.65.04-4.39V0l-1.56.92-2.23 1.31-2.81 1.64L6.76.33l-1.64.95-1.98 1.2-2.06 1.23-1 .6v1.96L0 14.02v4.23l1.58-.94 2.01-1.2 3-1.75 3.08 2.24a5.36 5.36 0 1 0 8.53-5.96ZM5.86 13.19l-4.28 2.49.08-9.18V5.44l1.89-1.1 2.38-1.39-.09 10.25Zm6.54-7.63 2.8-1.63.79-.46.69-.41-.06 6.61a5.27 5.27 0 0 0-4.26.14l.04-4.26Zm2.25 13.15a4.06 4.06 0 0 1 0-8.12 4.13 4.13 0 0 1 4.06 4.07 4.06 4.06 0 0 1-4.06 4.06Z")
    path(d="m15.98 15.26-.95-.56v-2.8h-1.04v3.33l1.01.61 1.91 1.14.52-.85-1.45-.87z")
