PracticalColorCoordinateSystem = {
  vivid: {
    purplishRed1: #B5184F,
    red2: #CD1F42,
    yellowishRed3: #DD3737,
    reddishOrange4: #E55125,
    orange5: #E66D00,
    yellowishOrange6: #F29500,
    reddishYellow7: #EEAC00,
    yellow8: #E2C500,
    greenishYellow9: #C8BB00,
    yellowGreen10: #A4B300,
    yellowishGreen11: #4AA315,
    green12: #009A55,
    bluishGreen13: #008C69,
    blueGreen14: #007E77,
    blueGreen15: #007C8C,
    geenishBlue16: #006B93,
    blue17: #005A91,
    blue18: #00569C,
    purplishBlue19: #00509D,
    violet20: #474798,
    bluishPurple21: #663E8C,
    purple22: #793580,
    reddishPurple23: #892C71,
    redPurple24: #AB2664
  },
  bright: {
    purplishRed1: #D75674,
    red2: #F15D69,
    yellowishRed3: #F16056,
    reddishOrange4: #F7774D,
    orange5: #FB8D3D,
    yellowishOrange6: #FBA52F,
    reddishYellow7: #F9BB2B,
    yellow8: #F2D324,
    greenishYellow9: #D9C81B,
    yellowGreen10: #B7BF19,
    yellowishGreen11: #76BB4C,
    green12: #00B275,
    bluishGreen13: #00A583,
    blueGreen14: #00A39B,
    blueGreen15: #0094A1,
    geenishBlue16: #008FB3,
    blue17: #007DAF,
    blue18: #1979BA,
    purplishBlue19: #4D73BB,
    violet20: #716BB6,
    bluishPurple21: #8B63AC,
    purple22: #9C5DA0,
    reddishPurple23: #AB5792,
    redPurple24: #CC5C87
  },
  strong: {
    purplishRed1: #C13547,
    red2: #C43931,
    yellowishRed3: #C7512C,
    reddishOrange4: #D1691B,
    orange5: #DB8B08,
    yellowishOrange6: #D6A104,
    reddishYellow7: #D2B700,
    yellow8: #BBB500,
    greenishYellow9: #9AA400,
    yellowGreen10: #1A9700,
    yellowishGreen11: #008A52,
    green12: #008365,
    bluishGreen13: #007B75,
    blueGreen14: #007783,
    blueGreen15: #006A8B,
    geenishBlue16: #00608E,
    blue17: #005692,
    blue18: #254290,
    purplishBlue19: #4B488E,
    violet20: #614184,
    bluishPurple21: #753A7A,
    purple22: #8D3978,
    reddishPurple23: #A03663,
    redPurple24: #B13658
  },
  deep: {
    purplishRed1: #9F1B34,
    red2: #A21E1B,
    yellowishRed3: #A53B1B,
    reddishOrange4: #A84E0E,
    orange5: #AA6600,
    yellowishOrange6: #A77B00,
    reddishYellow7: #A48F00,
    yellow8: #918E00,
    greenishYellow9: #717D00,
    yellowGreen10: #147600,
    yellowishGreen11: #006F3E,
    green12: #00694E,
    bluishGreen13: #00625C,
    blueGreen14: #005E69,
    blueGreen15: #00526F,
    geenishBlue16: #004972,
    blue17: #004075,
    blue18: #1A3374,
    purplishBlue19: #343472,
    violet20: #482D69,
    bluishPurple21: #5A265F,
    purple22: #70245F,
    reddishPurple23: #811F4C,
    redPurple24: #901E43
  },
  light: {
    purplishRed1: #F28C8E,
    red2: #F89285,
    yellowishRed3: #FF9E7D,
    reddishOrange4: #FDAA73,
    orange5: #FCB869,
    yellowishOrange6: #F4C668,
    reddishYellow7: #EDD267,
    yellow8: #DCD064,
    greenishYellow9: #CACA61,
    yellowGreen10: #83C96A,
    yellowishGreen11: #73C89C,
    green12: #58BA9D,
    bluishGreen13: #3FABA4,
    blueGreen14: #48ACB5,
    blueGreen15: #52A6BF,
    geenishBlue16: #5B9AC0,
    blue17: #6591C0,
    blue18: #7683BF,
    purplishBlue19: #8E87BE,
    violet20: #9E83B6,
    bluishPurple21: #AC7EAE,
    purple22: #C381AB,
    reddishPurple23: #D98295,
    redPurple24: #E68792
  },
  soft: {
    purplishRed1: #C8787A,
    red2: #CF7E74,
    yellowishRed3: #D5896F,
    reddishOrange4: #D59369,
    orange5: #D59F62,
    yellowishOrange6: #D1AB63,
    reddishYellow7: #CCB664,
    yellow8: #BDB362,
    greenishYellow9: #AEAD5F,
    yellowGreen10: #76AB63,
    yellowishGreen11: #66A986,
    green12: #57A28C,
    bluishGreen13: #499B95,
    blueGreen14: #49969D,
    blueGreen15: #498A9E,
    geenishBlue16: #517F9C,
    blue17: #58779A,
    blue18: #646C9A,
    purplishBlue19: #756F99,
    violet20: #816C93,
    bluishPurple21: #8B698D,
    purple22: #9E6D8F,
    reddishPurple23: #AE6F85,
    redPurple24: #BB7481
  },
  dull: {
    purplishRed1: #9D5456,
    red2: #A35950,
    yellowishRed3: #A9634C,
    reddishOrange4: #A96D46,
    orange5: #A9783F,
    yellowishOrange6: #A58440,
    reddishYellow7: #A18E40,
    yellow8: #948C3E,
    greenishYellow9: #85863C,
    yellowGreen10: #50843F,
    yellowishGreen11: #418261,
    green12: #2E7C66,
    bluishGreen13: #1C7570,
    blueGreen14: #1D6F76,
    blueGreen15: #1F6578,
    geenishBlue16: #2A5B76,
    blue17: #345474,
    blue18: #414A73,
    purplishBlue19: #514D72,
    violet20: #5C4A6D,
    bluishPurple21: #664768,
    purple22: #764A69,
    reddishPurple23: #854C60,
    redPurple24: #91505C
  },
  dark: {
    purplishRed1: #642A2E,
    red2: #6A2E28,
    yellowishRed3: #6F3826,
    reddishOrange4: #704020,
    orange5: #704B1A,
    yellowishOrange6: #6E551B,
    reddishYellow7: #6B5E1B,
    yellow8: #615C19,
    greenishYellow9: #535617,
    yellowGreen10: #235318,
    yellowishGreen11: #185138,
    green12: #0B4B3C,
    bluishGreen13: #004542,
    blueGreen14: #00464C,
    blueGreen15: #004252,
    geenishBlue16: #0A3A50,
    blue17: #14344E,
    blue18: #212B4E,
    purplishBlue19: #312E4D,
    violet20: #3A2C49,
    bluishPurple21: #422944,
    purple22: #512C46,
    reddishPurple23: #5D2D3F,
    redPurple24: #612C37
  },
  pale: {
    purplishRed1: #E9B8B8,
    red2: #E9B8B1,
    yellowishRed3: #E9BAAA,
    reddishOrange4: #ECC3AA,
    orange5: #EFCCAA,
    yellowishOrange6: #EFD7AF,
    reddishYellow7: #EFE0B5,
    yellow8: #E4DBAF,
    greenishYellow9: #D8D5A8,
    yellowGreen10: #B5D3A7,
    yellowishGreen11: #A5CEB6,
    green12: #A1CEBF,
    bluishGreen13: #9ECDC9,
    blueGreen14: #A2CED2,
    blueGreen15: #A5CAD7,
    geenishBlue16: #A7BFD2,
    blue17: #A8B7CD,
    blue18: #AEB1CC,
    purplishBlue19: #B7B3CC,
    violet20: #BEB1C8,
    bluishPurple21: #C4AFC4,
    purple22: #D1B5C8,
    reddishPurple23: #DEBBC6,
    redPurple24: #E4BAC0
  },
  lightGrayish: {
    purplishRed1: #BDA2A2,
    red2: #BDA29E,
    yellowishRed3: #BDA39A,
    reddishOrange4: #C2AB9D,
    orange5: #C7B3A0,
    yellowishOrange6: #C4B59E,
    reddishYellow7: #C0B69B,
    yellow8: #BDB79B,
    greenishYellow9: #BAB89B,
    yellowGreen10: #A1B498,
    yellowishGreen11: #95AFA0,
    green12: #92AFA5,
    bluishGreen13: #90AEAB,
    blueGreen14: #93AFB2,
    blueGreen15: #95ACB5,
    geenishBlue16: #94A3AF,
    blue17: #929CAA,
    blue18: #9698AA,
    purplishBlue19: #9C99A9,
    violet20: #A198A6,
    bluishPurple21: #A497A4,
    purple22: #AF9DA9,
    reddishPurple23: #B9A3AA,
    redPurple24: #BBA3A6
  },
  grayish: {
    purplishRed1: #6F5858,
    red2: #6F5855,
    yellowishRed3: #6F5951,
    reddishOrange4: #735F54,
    orange5: #776656,
    yellowishOrange6: #746853,
    reddishYellow7: #716951,
    yellow8: #6E6A51,
    greenishYellow9: #6C6A51,
    yellowGreen10: #5C6D54,
    yellowishGreen11: #576E61,
    green12: #556E66,
    bluishGreen13: #536E6C,
    blueGreen14: #4F686B,
    blueGreen15: #4C6068,
    geenishBlue16: #4B5863,
    blue17: #4A525E,
    blue18: #4D4F5E,
    purplishBlue19: #52505E,
    violet20: #564F5C,
    bluishPurple21: #5A4E5A,
    purple22: #63535D,
    reddishPurple23: #6C585E,
    redPurple24: #6E585B
  },
  darkGrayish: {
    purplishRed1: #3D2F2F,
    red2: #3D2F2D,
    yellowishRed3: #3D2F2B,
    reddishOrange4: #42352E,
    orange5: #463B30,
    yellowishOrange6: #443C2E,
    reddishYellow7: #423C2D,
    yellow8: #403D2D,
    greenishYellow9: #3E3D2D,
    yellowGreen10: #2F3A2A,
    yellowishGreen11: #27362E,
    green12: #263631,
    bluishGreen13: #253634,
    blueGreen14: #263638,
    blueGreen15: #273439,
    geenishBlue16: #262E35,
    blue17: #242931,
    blue18: #262731,
    purplishBlue19: #292830,
    violet20: #2C282F,
    bluishPurple21: #2E272E,
    purple22: #352B32,
    reddishPurple23: #3C2F33,
    redPurple24: #3D2F31
  },
  white: #f1f1f1,
  lightGray8_5: #d6d6d6,
  lightGray7_5: #bbbbbb,
  mediumGray6_5: #a1a1a1,
  mediumGray5_5: #878787,
  mediumGray4_5: #6d6d6d,
  darkGray3_5: #545454,
  darkGray2_5: #3c3c3c,
  black: #272727
}
