TemporarySemitransparentHighlighting--YDF = {

  red: {
    opacity10Percent: rgba(red, 0.1),
    opacity25Percent: rgba(red, 0.25),
    opacity50Percent: rgba(red, 0.50),
    opacity75Percent: rgba(red, 0.75)
  },

  orange: {
    opacity10Percent: rgba(orange, 0.1),
    opacity25Percent: rgba(orange, 0.25),
    opacity50Percent: rgba(orange, 0.50),
    opacity75Percent: rgba(orange, 0.75)
  },

  yellow: {
    opacity10Percent: rgba(yellow, 0.1),
    opacity25Percent: rgba(yellow, 0.25),
    opacity50Percent: rgba(yellow, 0.50),
    opacity75Percent: rgba(yellow, 0.75)
  },

  green: {
    opacity10Percent: rgba(green, 0.1),
    opacity25Percent: rgba(green, 0.25),
    opacity50Percent: rgba(green, 0.50),
    opacity75Percent: rgba(green, 0.75)
  },

  cyan: {
    opacity10Percent: rgba(cyan, 0.1),
    opacity25Percent: rgba(cyan, 0.25),
    opacity50Percent: rgba(cyan, 0.50),
    opacity75Percent: rgba(cyan, 0.75)
  },

  blue: {
    opacity10Percent: rgba(blue, 0.1),
    opacity25Percent: rgba(blue, 0.25),
    opacity50Percent: rgba(blue, 0.50),
    opacity75Percent: rgba(blue, 0.75)
  },

  magenta: {
    opacity10Percent: rgba(magenta, 0.1),
    opacity25Percent: rgba(magenta, 0.25),
    opacity50Percent: rgba(magenta, 0.50),
    opacity75Percent: rgba(magenta, 0.75)
  },

  purple: {
    opacity10Percent: rgba(purple, 0.1),
    opacity25Percent: rgba(purple, 0.25),
    opacity50Percent: rgba(purple, 0.50),
    opacity75Percent: rgba(purple, 0.75)
  }

}
