TemporaryHighlighting = {
  red: {
    o10: rgba(red, 0.1),
    o25: rgba(red, 0.25),
    o50: rgba(red, 0.50),
    o75: rgba(red, 0.75)
  },
  orange: {
    o10: rgba(orange, 0.1),
    o25: rgba(orange, 0.25),
    o50: rgba(orange, 0.50),
    o75: rgba(orange, 0.75)
  },
  yellow: {
    o10: rgba(yellow, 0.1),
    o25: rgba(yellow, 0.25),
    o50: rgba(yellow, 0.50),
    o75: rgba(yellow, 0.75)
  },
  green: {
    o10: rgba(green, 0.1),
    o25: rgba(green, 0.25),
    o50: rgba(green, 0.50),
    o75: rgba(green, 0.75)
  },
  cyan: {
    o10: rgba(cyan, 0.1),
    o25: rgba(cyan, 0.25),
    o50: rgba(cyan, 0.50),
    o75: rgba(cyan, 0.75)
  },
  blue: {
    o10: rgba(blue, 0.1),
    o25: rgba(blue, 0.25),
    o50: rgba(blue, 0.50),
    o75: rgba(blue, 0.75)
  },
  magenta: {
    o10: rgba(magenta, 0.1),
    o25: rgba(magenta, 0.25),
    o50: rgba(magenta, 0.50),
    o75: rgba(magenta, 0.75)
  },
  purple: {
    o10: rgba(purple, 0.1),
    o25: rgba(purple, 0.25),
    o50: rgba(purple, 0.50),
    o75: rgba(purple, 0.75)
  }
}
