-

  const compoundControlShellYDF_ComponentLocalization__russian = {

    requirementBadges: {
      required: "Обязательное поле",
      optional: "Необязательное поле"
    },

    sampleValidationErrorsMessages: [

      "Имя пользователя должно содержать хотя бы 3 символа. " +
      "Пожалуйста, введите больше символов.",

      "Введённое имя пользователя содержит следующие недопустимые символы: \"$\", \"'\". " +
      "Пожалуйста, введите другое имя пользователя без следующих символов: \"$\", \"&\", \"'\", \"\"\"."
    ],

    sampleAsynchronousValidationsStatuses: [
      {
        ID: "IN_PROGRESS",
        message: "Проверка имени пользователя на доступность ..."
      },
      {
        ID: "FINISHED_AND_VALID",
        message: "Введённое имя пользователя доступно."
      },
      {
        ID: "MALFUNCTION",
        message:
            "Произошла неполадка при проверке имени пользователя на доступность. " +
            "Если произошел обрыв интернет-соединения, но просим Вас ввести имя пользователя ещё раз, когда соединение" +
                " восстановится. " +
            "Если же с интернет-соединением всё нормально, то приносим свои извинения за неполадки в системе. " +
            "Не могли бы Вы оповестить об этом службу поддержки?"
      }
    ]

  };
