-

  const DropDownListYDF_ComponentLocalization__russian = {
    button: { accessibilityGuidance: "Показать либо скрыть список вариантов для выбора" },
    listBox: { accessibilityGuidance: "Варианты выбора" }
  };
