-

  const filesUploaderYDF_ComponentLocalization__russian = {
    uploadSingleFileByDragAndDropGuidance: "Переместите Ваши файлы сюда",
    buttons: {
      filePicking: { label: "Выбрать файл" },
      fileDeleting: { label: "Удалить файл" }
    }
  };
