-

  const filesUploaderYDF_ComponentLocalization__russian = {

    processingsStatusesTable: {
      headers: {
        fileName: "File Name",
        status: "Status"
      }
    },

    uploadSingleFileByDragAndDropGuidance: "Upload",

    buttons: {
      filePicking: {
        buildLabel: ({ areMultipleFileAllowed }) => `Select file${ areMultipleFileAllowed ? "s" : "" }`
      }
    },

    singleImagePreviewer: {
      image: { alternatingText: "Uploaded image preview" },
      deletingButton: {
        label: "Delete",
        accessibilityGuidance: "Delete the image"
      }
    }

  };
