formatObject(targetObject)

  // 〔 Theory 〕 Just 'currentTabbingMultiplier = currentTabbingMultiplier + 1' will be lost once 'incrementTabbing' complete.
  currentTabbingMultiplier = { value: 1 };


  insertTabbing()

    tabbing = ""

    if currentTabbingMultiplier.value == 0

      return tabbing


    for loopCounter in (1..currentTabbingMultiplier.value)

      tabbing = tabbing + "  "


    return tabbing


  incrementTabbing()

    currentTabbingMultiplier.value = currentTabbingMultiplier.value + 1


  insertIncrementedTabbing()

    incrementTabbing()
    return insertTabbing()


  decrementTabbing()

    currentTabbingMultiplier.value = currentTabbingMultiplier.value - 1


  insertDecrementedTabbing()

    decrementTabbing()
    return insertTabbing()


  formatDepthLevel(targetObject)

    accumulatingString = "{\n";

    lastKey = keys(targetObject)[getStringsOrNumbersArrayLength(keys(targetObject)) - 1]

    for key, value in targetObject

      if isObject(value)

        accumulatingString = accumulatingString + insertTabbing() + key + ": "
        incrementTabbing()
        accumulatingString = accumulatingString + formatDepthLevel(value)

      else

        accumulatingString = accumulatingString + insertTabbing() + key + ": " + value


      if key != lastKey

        accumulatingString = accumulatingString + ",\n"


    return accumulatingString = accumulatingString + "\n" + insertDecrementedTabbing() + "}"


  formatDepthLevel(targetObject)
