// This function could give different result to native "merge"/"extends".
// Check the tests and documentation for details
overrideObject(targetObject, overridings)

  if targetObject == null

    return overridings


  for key, value in overridings

    targetObject[key] = typeof(value) == "object" ? overrideObject(targetObject[key], value) : value

  return targetObject
