FilesUploader-RegularTheme-RegularGeometry--YDF = {

  rootElement: {
    customDeclarations: null
  },

  dragAndDropArea: {

    borders: specifyBordersSizing({
      thickness: { all: 1px },
      radius: { all: 3px }
    }),

    paddings: specifyPaddings({
      horizontalSymmetric: 1.2rem,
      verticalSymmetric: 1rem
    }),

    spacing: {
      afterFilePickingButton: 0.6rem
    },

    customDeclarations: null,

    children: {

      SVG_Icon: {
        width: null,
        height: 3rem
      },

      guidance: {

        text: {
          size: 1em,
          lineSpacing: 0.2,
          lineHeight: null
        },

        spacing: {
          top: 1rem
        }

      }

    }

  }

}
