/* === Execution
stylus Tests/CompiledCodeCheckOnly/Components/Button/Plain/Button.test.styl `
    --out Tests/Build/CompiledCodeCheckOnly/Components/Button/Plain/Button.test.css `
    --include Styles
*/


@require "../../../../../Functionality.styl"
@require "../../../../../Components.styl"


provideButtonYDF_Component()
